{
  "swagger": "2.0",
  "info": {
    "version": "220318",
    "title": "PlayFab Multiplayer API",
    "description": "API methods for managing multiplayer servers. API methods for managing parties. The lobby service helps players group together to play multiplayer games. It is often used as a rendezvous point for players to share connection information.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Match/CancelAllMatchmakingTicketsForPlayer": {
      "post": {
        "operationId": "CancelAllMatchmakingTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel all active tickets the player is a member of in a given queue.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelallmatchmakingticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelAllMatchmakingTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelAllMatchmakingTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cancels all tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the title crashes for instance) and want to \"reset\". The Entity field is optional if the caller is a player and defaults to that player. Players may not cancel tickets for other people. The Entity field is required if the caller is a server (authenticated as the title).",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelAllServerBackfillTicketsForPlayer": {
      "post": {
        "operationId": "CancelAllServerBackfillTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel all active backfill tickets the player is a member of in a given queue.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelallserverbackfillticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelAllServerBackfillTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelAllServerBackfillTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cancels all backfill tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the server crashes for instance) and want to \"reset\".",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelMatchmakingTicket": {
      "post": {
        "operationId": "CancelMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a matchmaking ticket.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelmatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers and ticket members can cancel a ticket. The ticket can be in five different states when it is cancelled. 1: the ticket is waiting for members to join it, and it has not started matching. If the ticket is cancelled at this stage, it will never match. 2: the ticket is matching. If the ticket is cancelled, it will stop matching. 3: the ticket is matched. A matched ticket cannot be cancelled. 4: the ticket is already cancelled and nothing happens. 5: the ticket is waiting for a server. If the ticket is cancelled, server allocation will be stopped. A server may still be allocated due to a race condition, but that will not be reflected in the ticket. There may be race conditions between the ticket getting matched and the client making a cancellation request. The client must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket because players must consent to enter matchmaking again. Create a new ticket instead.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingPlayerHasNotJoinedTicket",
          "MatchmakingQueueNotFound",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelServerBackfillTicket": {
      "post": {
        "operationId": "CancelServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a server backfill ticket.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelserverbackfillticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers can cancel a backfill ticket. The ticket can be in three different states when it is cancelled. 1: the ticket is matching. If the ticket is cancelled, it will stop matching. 2: the ticket is matched. A matched ticket cannot be cancelled. 3: the ticket is already cancelled and nothing happens. There may be race conditions between the ticket getting matched and the server making a cancellation request. The server must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket. Create a new ticket instead.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateMatchmakingTicket": {
      "post": {
        "operationId": "CreateMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a client.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/creatematchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The client specifies the creator's attributes and optionally a list of other users to match with.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateServerBackfillTicket": {
      "post": {
        "operationId": "CreateServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a backfill matchmaking ticket as a server. A backfill ticket represents an ongoing game. The matchmaking service automatically starts matching the backfill ticket against other matchmaking tickets. Backfill tickets cannot match with other backfill tickets.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/createserverbackfillticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members, their teams and their attributes, and the server details if applicable.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateServerMatchmakingTicket": {
      "post": {
        "operationId": "CreateServerMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a server. The matchmaking service automatically starts matching the ticket against other matchmaking tickets.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/createservermatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members and their attributes.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetMatch": {
      "post": {
        "operationId": "GetMatch",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a match.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getmatch"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "When matchmaking has successfully matched together a collection of tickets, it produces a 'match' with an Id. The match contains all of the players that were matched together, and their team assigments. Only servers and ticket members can get the match.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingMatchNotFound",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetMatchmakingTicket": {
      "post": {
        "operationId": "GetMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking ticket by ticket Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getmatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the invited players, their attributes if they have joined, the ticket status, the match Id when applicable, etc. Only servers, the ticket creator and the invited players can get the ticket.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetQueueStatistics": {
      "post": {
        "operationId": "GetQueueStatistics",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get the statistics for a queue.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getqueuestatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetQueueStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetQueueStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the matchmaking statistics for a queue. These include the number of players matching and the statistics related to the time to match statistics in seconds (average and percentiles). Statistics are refreshed once every 5 minutes. Servers can access all statistics no matter what the ClientStatisticsVisibility is configured to. Clients can access statistics according to the ClientStatisticsVisibility. Client requests are forbidden if all visibility fields are false.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetServerBackfillTicket": {
      "post": {
        "operationId": "GetServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking backfill ticket by ticket Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getserverbackfillticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the players, their attributes, their teams, the ticket status, the match Id and the server details when applicable, etc. Only servers can get the ticket.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/JoinMatchmakingTicket": {
      "post": {
        "operationId": "JoinMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Join a matchmaking ticket.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/joinmatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JoinMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Add the player to a matchmaking ticket and specify all of its matchmaking attributes. Players can join a ticket if and only if their EntityKeys are already listed in the ticket's Members list. The matchmaking service automatically starts matching the ticket against other matchmaking tickets once all players have joined the ticket. It is not possible to join a ticket once it has started matching.",
        "x-ms-docs-errors": [
          "MatchmakingAlreadyJoinedTicket",
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/ListMatchmakingTicketsForPlayer": {
      "post": {
        "operationId": "ListMatchmakingTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "List all matchmaking ticket Ids the user is a member of.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/listmatchmakingticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMatchmakingTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMatchmakingTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If the caller is a title, the EntityKey in the request is required. If the caller is a player, then it is optional. If it is provided it must match the caller's entity.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/ListServerBackfillTicketsForPlayer": {
      "post": {
        "operationId": "ListServerBackfillTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "List all server backfill ticket Ids the user is a member of.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/listserverbackfillticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListServerBackfillTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListServerBackfillTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "List all server backfill ticket Ids the user is a member of.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/SubscribeToMatchmakingResource": {
      "post": {
        "operationId": "SubscribeToMatchmakingResource",
        "tags": [
          "Matchmaking"
        ],
        "description": "Subscribe to match resource notifications.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/subscribetomatchmakingresource"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscribeToMatchResourceRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SubscribeToMatchResourceResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Subscribe to match resource notifications. Match subscriptions have two types; MatchInvite and MatchTicketStatusChange",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized",
          "PubSubConnectionHandleInvalid",
          "PubSubConnectionNotFoundForEntity",
          "PubSubSubscriptionLimitExceeded"
        ]
      }
    },
    "/Match/UnsubscribeFromMatchmakingResource": {
      "post": {
        "operationId": "UnsubscribeFromMatchmakingResource",
        "tags": [
          "Matchmaking"
        ],
        "description": "Unsubscribe from match resource notifications.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/unsubscribefrommatchmakingresource"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UnsubscribeFromMatchResourceRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UnsubscribeFromMatchResourceResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Unsubscribe from a Match resource's notifications. For MatchInvite, players are expected to unsubscribe once they can no longer accept invites. For MatchTicketStatusChange, players are expected to unsusbcribe once the ticket has reached a canceled or matched state.",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized",
          "PubSubConnectionHandleInvalid",
          "PubSubConnectionNotFoundForEntity"
        ]
      }
    },
    "/MultiplayerServer/CreateRemoteUser": {
      "post": {
        "operationId": "CreateRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createremoteuser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateRemoteUserResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteCertificate": {
      "post": {
        "operationId": "DeleteCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletecertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteRemoteUser": {
      "post": {
        "operationId": "DeleteRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deleteremoteuser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerDetails": {
      "post": {
        "operationId": "GetMultiplayerServerDetails",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server session details for a build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getmultiplayerserverdetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerDetailsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server session details for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerLogs": {
      "post": {
        "operationId": "GetMultiplayerServerLogs",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server logs after a server has terminated.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getmultiplayerserverlogs"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerLogsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerLogsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerSessionLogsBySessionId": {
      "post": {
        "operationId": "GetMultiplayerSessionLogsBySessionId",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server logs after a server has terminated.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getmultiplayersessionlogsbysessionid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerSessionLogsBySessionIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerLogsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GetRemoteLoginEndpoint",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getremoteloginendpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetRemoteLoginEndpointResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListArchivedMultiplayerServers": {
      "post": {
        "operationId": "ListArchivedMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists archived multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listarchivedmultiplayerservers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of archived multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildAliases": {
      "post": {
        "operationId": "ListBuildAliases",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists details of all build aliases for a title. Accepts tokens for title and if game client access is enabled, allows game client to request list of builds with player entity token.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listbuildaliases"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildAliasesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListBuildAliasesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildSummariesV2": {
      "post": {
        "operationId": "ListBuildSummariesV2",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists summarized details of all multiplayer server builds for a title. Accepts tokens for title and if game client access is enabled, allows game client to request list of builds with player entity token.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listbuildsummariesv2"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListBuildSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListCertificateSummaries": {
      "post": {
        "operationId": "ListCertificateSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game certificates for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listcertificatesummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificateSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListCertificateSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game certificates for a title.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListMultiplayerServers": {
      "post": {
        "operationId": "ListMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listmultiplayerservers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListPartyQosServers": {
      "post": {
        "operationId": "ListPartyQosServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers for party.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listpartyqosservers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListPartyQosServersRequest"
          }
        ],
        "security": [
          {
            "None": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListPartyQosServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers for party.",
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListQosServersForTitle": {
      "post": {
        "operationId": "ListQosServersForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers for the title. By default, servers are only returned for regions where a Multiplayer Servers build has been deployed.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listqosserversfortitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListQosServersForTitleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers for a title.",
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListVirtualMachineSummaries": {
      "post": {
        "operationId": "ListVirtualMachineSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists virtual machines for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listvirtualmachinesummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualMachineSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListVirtualMachineSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of virtual machines for a title.",
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RequestMultiplayerServer": {
      "post": {
        "operationId": "RequestMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Request a multiplayer server session. Accepts tokens for title and if game client access is enabled, allows game client to request a server with player entity token.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/requestmultiplayerserver"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RequestMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RequestMultiplayerServerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Requests a multiplayer server session from a particular build in any of the given preferred regions.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable",
          "RequestMultiplayerServersThrottledFromRateLimiter"
        ]
      }
    },
    "/MultiplayerServer/ShutdownMultiplayerServer": {
      "post": {
        "operationId": "ShutdownMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Shuts down a multiplayer server session.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/shutdownmultiplayerserver"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ShutdownMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes the shutdown callback from the GSDK and terminates the multiplayer server session. The callback in the GSDK will allow for graceful shutdown with a 15 minute timeoutIf graceful shutdown has not been completed before 15 minutes have elapsed, the multiplayer server session will be forcefully terminated on it's own.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/UploadCertificate": {
      "post": {
        "operationId": "UploadCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Uploads a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/uploadcertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UploadCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Uploads a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/ListCertificateSummaries"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "integer"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical PlayFab error code",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Description for the PlayFab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      },
      "required": [
        "code",
        "errorCode"
      ]
    },
    "AzureRegion": {
      "type": "string",
      "enum": [
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CentralUs",
        "EastAsia",
        "EastUs",
        "EastUs2",
        "JapanEast",
        "JapanWest",
        "NorthCentralUs",
        "NorthEurope",
        "SouthCentralUs",
        "SoutheastAsia",
        "WestEurope",
        "WestUs",
        "SouthAfricaNorth",
        "WestCentralUs",
        "KoreaCentral",
        "FranceCentral",
        "WestUs2",
        "CentralIndia",
        "UaeNorth",
        "UkSouth"
      ]
    },
    "AzureVmSize": {
      "type": "string",
      "enum": [
        "Standard_A1",
        "Standard_A2",
        "Standard_A3",
        "Standard_A4",
        "Standard_A1_v2",
        "Standard_A2_v2",
        "Standard_A4_v2",
        "Standard_A8_v2",
        "Standard_D1_v2",
        "Standard_D2_v2",
        "Standard_D3_v2",
        "Standard_D4_v2",
        "Standard_D5_v2",
        "Standard_D2_v3",
        "Standard_D4_v3",
        "Standard_D8_v3",
        "Standard_D16_v3",
        "Standard_F1",
        "Standard_F2",
        "Standard_F4",
        "Standard_F8",
        "Standard_F16",
        "Standard_F2s_v2",
        "Standard_F4s_v2",
        "Standard_F8s_v2",
        "Standard_F16s_v2",
        "Standard_D2as_v4",
        "Standard_D4as_v4",
        "Standard_D8as_v4",
        "Standard_D16as_v4",
        "Standard_D2a_v4",
        "Standard_D4a_v4",
        "Standard_D8a_v4",
        "Standard_D16a_v4",
        "Standard_E2a_v4",
        "Standard_E4a_v4",
        "Standard_E8a_v4",
        "Standard_E16a_v4",
        "Standard_E2as_v4",
        "Standard_E4as_v4",
        "Standard_E8as_v4",
        "Standard_E16as_v4",
        "Standard_D2s_v3",
        "Standard_D4s_v3",
        "Standard_D8s_v3",
        "Standard_D16s_v3",
        "Standard_DS1_v2",
        "Standard_DS2_v2",
        "Standard_DS3_v2",
        "Standard_DS4_v2",
        "Standard_DS5_v2",
        "Standard_NC4as_T4_v3",
        "Standard_D2d_v4",
        "Standard_D4d_v4",
        "Standard_D8d_v4",
        "Standard_D16d_v4",
        "Standard_D2ds_v4",
        "Standard_D4ds_v4",
        "Standard_D8ds_v4",
        "Standard_D16ds_v4",
        "Standard_HB120_16rs_v3",
        "Standard_HB120_32rs_v3",
        "Standard_HB120_64rs_v3",
        "Standard_HB120_96rs_v3",
        "Standard_HB120rs_v3"
      ]
    },
    "BuildAliasDetailsResponse": {
      "type": "object",
      "properties": {
        "AliasId": {
          "description": "The guid string alias Id of the alias to be created or updated.",
          "type": "string"
        },
        "AliasName": {
          "description": "The alias name.",
          "type": "string"
        },
        "BuildSelectionCriteria": {
          "description": "Array of build selection criteria.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildSelectionCriterion"
          },
          "x-isclass": true
        }
      },
      "example": {
        "AliasId": "21781fa8-096d-4d9c-b699-75433d579285",
        "AliasName": "AliasName",
        "BuildSelectionCriteria": [
          {
            "BuildWeightDistribution": {
              "53781fa8-006d-4e9c-b733-57433d579285": 1
            }
          }
        ]
      }
    },
    "BuildAliasParams": {
      "type": "object",
      "properties": {
        "AliasId": {
          "description": "The guid string alias ID to use for the request.",
          "type": "string"
        }
      },
      "required": [
        "AliasId"
      ]
    },
    "BuildRegion": {
      "type": "object",
      "properties": {
        "CurrentServerStats": {
          "$ref": "#/definitions/CurrentServerStats",
          "description": "The current multiplayer server stats for the region.",
          "type": "object",
          "x-isclass": true
        },
        "DynamicStandbySettings": {
          "$ref": "#/definitions/DynamicStandbySettings",
          "description": "Optional settings to control dynamic adjustment of standby target",
          "type": "object",
          "x-isclass": true
        },
        "IsAssetReplicationComplete": {
          "description": "Whether the game assets provided for the build have been replicated to this region.",
          "type": "boolean"
        },
        "MaxServers": {
          "description": "The maximum number of multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "MultiplayerServerCountPerVm": {
          "description": "Regional override for the number of multiplayer servers to host on a single VM of the build.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The build region.",
          "type": "string"
        },
        "ScheduledStandbySettings": {
          "$ref": "#/definitions/ScheduledStandbySettings",
          "description": "Optional settings to set the standby target to specified values during the supplied schedules",
          "type": "object",
          "x-isclass": true
        },
        "StandbyServers": {
          "description": "The target number of standby multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Status": {
          "description": "The status of multiplayer servers in the build region. Valid values are - Unknown, Initialized, Deploying, Deployed, Unhealthy, Deleting, Deleted.",
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "Regional override for the VM size the build was created on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "MaxServers",
        "StandbyServers",
        "IsAssetReplicationComplete"
      ]
    },
    "BuildSelectionCriterion": {
      "type": "object",
      "properties": {
        "BuildWeightDistribution": {
          "description": "Dictionary of build ids and their respective weights for distribution of allocation requests.",
          "type": "object",
          "x-actualtype": "uint32"
        }
      },
      "example": {
        "BuildWeightDistribution": {
          "53781fa8-006d-4e9c-b733-57433d579285": 1
        }
      }
    },
    "BuildSummary": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        },
        "RegionConfigurations": {
          "description": "The configuration and status for each region in the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        }
      }
    },
    "CancelAllMatchmakingTicketsForPlayerRequest": {
      "description": "Cancels all tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the title crashes for instance) and want to \"reset\". The Entity field is optional if the caller is a player and defaults to that player. Players may not cancel tickets for other people. The Entity field is required if the caller is a server (authenticated as the title).",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key of the player whose tickets should be canceled.",
          "type": "object",
          "x-isclass": true
        },
        "QueueName": {
          "description": "The name of the queue from which a player's tickets should be canceled.",
          "type": "string"
        }
      },
      "required": [
        "QueueName"
      ],
      "example": {
        "Entity": {
          "Id": "123123123",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "QueueName": "custom123"
      }
    },
    "CancelAllMatchmakingTicketsForPlayerResult": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "CancelAllServerBackfillTicketsForPlayerRequest": {
      "description": "Cancels all backfill tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the server crashes for instance) and want to \"reset\".",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key of the player whose backfill tickets should be canceled.",
          "type": "object",
          "x-isclass": true
        },
        "QueueName": {
          "description": "The name of the queue from which a player's backfill tickets should be canceled.",
          "type": "string"
        }
      },
      "required": [
        "Entity",
        "QueueName"
      ],
      "example": {
        "Entity": {
          "Id": "123123123",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "QueueName": "custom123"
      }
    },
    "CancelAllServerBackfillTicketsForPlayerResult": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "CancellationReason": {
      "type": "string",
      "enum": [
        "Requested",
        "Internal",
        "Timeout"
      ]
    },
    "CancelMatchmakingTicketRequest": {
      "description": "Only servers and ticket members can cancel a ticket. The ticket can be in five different states when it is cancelled. 1: the ticket is waiting for members to join it, and it has not started matching. If the ticket is cancelled at this stage, it will never match. 2: the ticket is matching. If the ticket is cancelled, it will stop matching. 3: the ticket is matched. A matched ticket cannot be cancelled. 4: the ticket is already cancelled and nothing happens. 5: the ticket is waiting for a server. If the ticket is cancelled, server allocation will be stopped. A server may still be allocated due to a race condition, but that will not be reflected in the ticket. There may be race conditions between the ticket getting matched and the client making a cancellation request. The client must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket because players must consent to enter matchmaking again. Create a new ticket instead.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "QueueName": {
          "description": "The name of the queue the ticket is in.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123"
      }
    },
    "CancelMatchmakingTicketResult": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "CancelServerBackfillTicketRequest": {
      "description": "Only servers can cancel a backfill ticket. The ticket can be in three different states when it is cancelled. 1: the ticket is matching. If the ticket is cancelled, it will stop matching. 2: the ticket is matched. A matched ticket cannot be cancelled. 3: the ticket is already cancelled and nothing happens. There may be race conditions between the ticket getting matched and the server making a cancellation request. The server must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket. Create a new ticket instead.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "QueueName": {
          "description": "The name of the queue the ticket is in.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123"
      }
    },
    "CancelServerBackfillTicketResult": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "Base64EncodedValue": {
          "description": "Base64 encoded string contents of the certificate.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the certificate. This is used to reference certificates in build configurations.",
          "type": "string"
        },
        "Password": {
          "description": "If required for your PFX certificate, use this field to provide a password that will be used to install the certificate on the container.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "Base64EncodedValue"
      ]
    },
    "CertificateSummary": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the certificate.",
          "type": "string"
        },
        "Thumbprint": {
          "description": "The thumbprint for the certificate.",
          "type": "string"
        }
      }
    },
    "ConnectedPlayer": {
      "type": "object",
      "properties": {
        "PlayerId": {
          "description": "The player ID of the player connected to the multiplayer server.",
          "type": "string"
        }
      }
    },
    "CreateMatchmakingTicketRequest": {
      "description": "The client specifies the creator's attributes and optionally a list of other users to match with.",
      "type": "object",
      "properties": {
        "Creator": {
          "$ref": "#/definitions/MatchmakingPlayer",
          "description": "The User who created this ticket.",
          "type": "object",
          "x-isclass": true
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "MembersToMatchWith": {
          "description": "A list of Entity Keys of other users to match with.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "QueueName": {
          "description": "The Id of a match queue.",
          "type": "string"
        }
      },
      "required": [
        "Creator",
        "GiveUpAfterSeconds",
        "QueueName"
      ],
      "example": {
        "Creator": {},
        "MembersToMatchWith": [],
        "GiveUpAfterSeconds": 100,
        "QueueName": "custom123"
      }
    },
    "CreateMatchmakingTicketResult": {
      "type": "object",
      "properties": {
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
      }
    },
    "CreateRemoteUserRequest": {
      "description": "Creates a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of to create the remote user for.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "ExpirationTime": {
          "description": "The expiration time for the remote user created. Defaults to expiring in one day if not specified.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of virtual machine to create the remote user for.",
          "type": "string"
        },
        "Username": {
          "description": "The username to create the remote user with.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID the multiplayer server is located on.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId",
        "Username"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "VmId": "VmID1",
        "Username": "AUsername",
        "ExpirationTime": "2014-04-07T09:04:28"
      }
    },
    "CreateRemoteUserResponse": {
      "type": "object",
      "properties": {
        "ExpirationTime": {
          "description": "The expiration time for the remote user created.",
          "type": "string"
        },
        "Password": {
          "description": "The generated password for the remote user that was created.",
          "type": "string"
        },
        "Username": {
          "description": "The username for the remote user that was created.",
          "type": "string"
        }
      }
    },
    "CreateServerBackfillTicketRequest": {
      "description": "The server specifies all the members, their teams and their attributes, and the server details if applicable.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Members": {
          "description": "The users who will be part of this ticket, along with their team assignments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayerWithTeamAssignment"
          },
          "x-isclass": true
        },
        "QueueName": {
          "description": "The Id of a match queue.",
          "type": "string"
        },
        "ServerDetails": {
          "$ref": "#/definitions/ServerDetails",
          "description": "The details of the server the members are connected to.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Members",
        "GiveUpAfterSeconds",
        "QueueName"
      ],
      "example": {
        "Members": [],
        "GiveUpAfterSeconds": 100,
        "ServerDetails": {
          "IPV4Address": "10.250.24.54",
          "Ports": [
            {
              "Name": "PortName",
              "Num": 1243
            }
          ],
          "Region": "WestUS",
          "Fqdn": "vm.azure.cloudapp.net"
        },
        "QueueName": "custom123"
      }
    },
    "CreateServerBackfillTicketResult": {
      "type": "object",
      "properties": {
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
      }
    },
    "CreateServerMatchmakingTicketRequest": {
      "description": "The server specifies all the members and their attributes.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Members": {
          "description": "The users who will be part of this ticket.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayer"
          },
          "x-isclass": true
        },
        "QueueName": {
          "description": "The Id of a match queue.",
          "type": "string"
        }
      },
      "required": [
        "Members",
        "GiveUpAfterSeconds",
        "QueueName"
      ],
      "example": {
        "Members": [
          null
        ],
        "GiveUpAfterSeconds": 100,
        "QueueName": "custom123"
      }
    },
    "CurrentServerStats": {
      "type": "object",
      "properties": {
        "Active": {
          "description": "The number of active multiplayer servers.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Propping": {
          "description": "The number of multiplayer servers still downloading game resources (such as assets).",
          "type": "number",
          "x-actualtype": "int32"
        },
        "StandingBy": {
          "description": "The number of standingby multiplayer servers.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Total": {
          "description": "The total number of multiplayer servers.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Active",
        "StandingBy",
        "Propping",
        "Total"
      ]
    },
    "DeleteCertificateRequest": {
      "description": "Deletes a multiplayer server game certificate.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "The name of the certificate.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "GameCertificate1"
      }
    },
    "DeleteRemoteUserRequest": {
      "description": "Deletes a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server where the remote user is to delete.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of the multiplayer server where the remote user is to delete.",
          "type": "string"
        },
        "Username": {
          "description": "The username of the remote user to delete.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID the multiplayer server is located on.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId",
        "Username"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "VmId": "VmID1",
        "Username": "AUsername"
      }
    },
    "DynamicStandbySettings": {
      "type": "object",
      "properties": {
        "DynamicFloorMultiplierThresholds": {
          "description": "List of auto standing by trigger values and corresponding standing by multiplier. Defaults to 1.5X at 50%, 3X at 25%, and 4X at 5%",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DynamicStandbyThreshold"
          },
          "x-isclass": true
        },
        "IsEnabled": {
          "description": "When true, dynamic standby will be enabled",
          "type": "boolean"
        },
        "RampDownSeconds": {
          "description": "The time it takes to reduce target standing by to configured floor value after an increase. Defaults to 30 minutes",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "IsEnabled"
      ]
    },
    "DynamicStandbyThreshold": {
      "type": "object",
      "properties": {
        "Multiplier": {
          "description": "When the trigger threshold is reached, multiply by this value",
          "type": "number",
          "x-actualtype": "double"
        },
        "TriggerThresholdPercentage": {
          "description": "The multiplier will be applied when the actual standby divided by target standby floor is less than this value",
          "type": "number",
          "x-actualtype": "double"
        }
      },
      "required": [
        "TriggerThresholdPercentage",
        "Multiplier"
      ]
    },
    "EmptyResponse": {
      "type": "object",
      "properties": {}
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://docs.microsoft.com/gaming/playfab/features/data/entities/available-built-in-entity-types",
          "type": "string"
        }
      },
      "required": [
        "Id"
      ]
    },
    "GetMatchmakingTicketRequest": {
      "description": "The ticket includes the invited players, their attributes if they have joined, the ticket status, the match Id when applicable, etc. Only servers, the ticket creator and the invited players can get the ticket.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EscapeObject": {
          "description": "Determines whether the matchmaking attributes will be returned as an escaped JSON string or as an un-escaped JSON object.",
          "type": "boolean"
        },
        "QueueName": {
          "description": "The name of the queue to find a match for.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName",
        "EscapeObject"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123"
      }
    },
    "GetMatchmakingTicketResult": {
      "type": "object",
      "properties": {
        "CancellationReasonString": {
          "description": "The reason why the current ticket was canceled. This field is only set if the ticket is in canceled state.",
          "type": "string"
        },
        "ChangeNumber": {
          "description": "Change number used for differentiating older matchmaking status updates from newer ones.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "Created": {
          "description": "The server date and time at which ticket was created.",
          "type": "string"
        },
        "Creator": {
          "$ref": "#/definitions/EntityKey",
          "description": "The Creator's entity key.",
          "type": "object",
          "x-isclass": true
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        },
        "Members": {
          "description": "A list of Users that have joined this ticket.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayer"
          },
          "x-isclass": true
        },
        "MembersToMatchWith": {
          "description": "A list of PlayFab Ids of Users to match with.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "QueueName": {
          "description": "The Id of a match queue.",
          "type": "string"
        },
        "Status": {
          "description": "The current ticket status. Possible values are: WaitingForPlayers, WaitingForMatch, WaitingForServer, Canceled and Matched.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName",
        "Created",
        "Status",
        "GiveUpAfterSeconds",
        "Members",
        "Creator"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123",
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "Created": "2016-08-23T12:33:14",
        "Status": "Matched",
        "GiveUpAfterSeconds": 100,
        "MembersToMatchWith": [
          {
            "Id": "456456456",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          }
        ],
        "Members": [],
        "Creator": {
          "Id": "123123123",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "ChangeNumber": 10
      }
    },
    "GetMatchRequest": {
      "description": "When matchmaking has successfully matched together a collection of tickets, it produces a 'match' with an Id. The match contains all of the players that were matched together, and their team assigments. Only servers and ticket members can get the match.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EscapeObject": {
          "description": "Determines whether the matchmaking attributes will be returned as an escaped JSON string or as an un-escaped JSON object.",
          "type": "boolean"
        },
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        },
        "QueueName": {
          "description": "The name of the queue to join.",
          "type": "string"
        },
        "ReturnMemberAttributes": {
          "description": "Determines whether the matchmaking attributes for each user should be returned in the response for match request.",
          "type": "boolean"
        }
      },
      "required": [
        "MatchId",
        "QueueName",
        "EscapeObject",
        "ReturnMemberAttributes"
      ],
      "example": {
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "QueueName": "custom123"
      }
    },
    "GetMatchResult": {
      "type": "object",
      "properties": {
        "ArrangementString": {
          "description": "A string that is used by players that are matched together to join an arranged lobby.",
          "type": "string"
        },
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        },
        "Members": {
          "description": "A list of Users that are matched together, along with their team assignments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayerWithTeamAssignment"
          },
          "x-isclass": true
        },
        "RegionPreferences": {
          "description": "A list of regions that the match could be played in sorted by preference. This value is only set if the queue has a region selection rule.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ServerDetails": {
          "$ref": "#/definitions/ServerDetails",
          "description": "The details of the server that the match has been allocated to.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "MatchId",
        "Members"
      ],
      "example": {
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "Members": [],
        "RegionPreferences": [
          "Region1",
          "Region2"
        ],
        "ServerDetails": {
          "IPV4Address": "10.250.24.54",
          "Ports": [
            {
              "Name": "PortName",
              "Num": 1243
            }
          ],
          "Region": "WestUS",
          "Fqdn": "vm.azure.cloudapp.net"
        },
        "ArrangementString": "1:bd7a3abe-b740-4b2a-81e2-b0ae212ee91b|1337|title_player_account!123|1624579200|mv1:GAKac7ryTQNk5EF8D9wwKfwUjijLxc/+gQc+iV5Ke9Y="
      }
    },
    "GetMultiplayerServerDetailsRequest": {
      "description": "Gets multiplayer server session details for a build in a specific region.",
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server to get details for.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer server is located in to get details for.",
          "type": "string"
        },
        "SessionId": {
          "description": "The title generated guid string session ID of the multiplayer server to get details for. This is to keep track of multiplayer server sessions.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "SessionId",
        "Region"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
        "Region": "SouthCentralUs"
      }
    },
    "GetMultiplayerServerDetailsResponse": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The identity of the build in which the server was allocated.",
          "type": "string"
        },
        "ConnectedPlayers": {
          "description": "The connected players in the multiplayer server.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "FQDN": {
          "description": "The fully qualified domain name of the virtual machine that is hosting this multiplayer server.",
          "type": "string"
        },
        "IPV4Address": {
          "description": "The IPv4 address of the virtual machine that is hosting this multiplayer server.",
          "type": "string"
        },
        "LastStateTransitionTime": {
          "description": "The time (UTC) at which a change in the multiplayer server state was observed.",
          "type": "string"
        },
        "Ports": {
          "description": "The ports the multiplayer server uses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer server is located in.",
          "type": "string"
        },
        "ServerId": {
          "description": "The string server ID of the multiplayer server generated by PlayFab.",
          "type": "string"
        },
        "SessionId": {
          "description": "The guid string session ID of the multiplayer server.",
          "type": "string"
        },
        "State": {
          "description": "The state of the multiplayer server.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID that the multiplayer server is located on.",
          "type": "string"
        }
      },
      "example": {
        "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
        "ServerId": "AMultiplayerGameServer",
        "VmId": "VmID1",
        "IPV4Address": "10.250.24.54",
        "FQDN": "vmId1.azure.cloudapp.net",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "Region": "SouthCentralUs",
        "State": "Active",
        "ConnectedPlayers": [
          {
            "PlayerId": "10931352888739351331"
          },
          {
            "PlayerId": "10271352123739051532"
          }
        ],
        "BuildId": "4da1a0f6-7e36-430c-a264-723ff6a605de"
      }
    },
    "GetMultiplayerServerLogsRequest": {
      "description": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "ServerId": {
          "description": "The server ID of multiplayer server to get logs for.",
          "type": "string"
        }
      },
      "required": [
        "ServerId"
      ],
      "example": {
        "ServerId": "SomeServerId"
      }
    },
    "GetMultiplayerServerLogsResponse": {
      "type": "object",
      "properties": {
        "LogDownloadUrl": {
          "description": "URL for logs download.",
          "type": "string"
        }
      },
      "example": {
        "LogDownloadUrl": "TheLogDownloadUrl"
      }
    },
    "GetMultiplayerSessionLogsBySessionIdRequest": {
      "description": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "SessionId": {
          "description": "The server ID of multiplayer server to get logs for.",
          "type": "string"
        }
      },
      "required": [
        "SessionId"
      ],
      "example": {
        "SessionId": "92e29db9-4004-4349-9a1f-b70ac01bdc08"
      }
    },
    "GetQueueStatisticsRequest": {
      "description": "Returns the matchmaking statistics for a queue. These include the number of players matching and the statistics related to the time to match statistics in seconds (average and percentiles). Statistics are refreshed once every 5 minutes. Servers can access all statistics no matter what the ClientStatisticsVisibility is configured to. Clients can access statistics according to the ClientStatisticsVisibility. Client requests are forbidden if all visibility fields are false.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "QueueName": {
          "description": "The name of the queue.",
          "type": "string"
        }
      },
      "required": [
        "QueueName"
      ],
      "example": {
        "QueueName": "custom123"
      }
    },
    "GetQueueStatisticsResult": {
      "type": "object",
      "properties": {
        "NumberOfPlayersMatching": {
          "description": "The current number of players in the matchmaking queue, who are waiting to be matched.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "TimeToMatchStatisticsInSeconds": {
          "$ref": "#/definitions/Statistics",
          "description": "Statistics representing the time (in seconds) it takes for tickets to find a match.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "NumberOfPlayersMatching": 563,
        "TimeToMatchStatisticsInSeconds": {
          "Average": 2.2,
          "Percentile50": 2.1,
          "Percentile90": 2.21,
          "Percentile99": 3
        }
      }
    },
    "GetRemoteLoginEndpointRequest": {
      "description": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build in a specific region.",
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server to get remote login information for.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of the multiplayer server to get remote login information for.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID the multiplayer server is located on.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "VmId": "VmID1"
      }
    },
    "GetRemoteLoginEndpointResponse": {
      "type": "object",
      "properties": {
        "IPV4Address": {
          "description": "The remote login IPV4 address of multiplayer server.",
          "type": "string"
        },
        "Port": {
          "description": "The remote login port of multiplayer server.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Port"
      ],
      "example": {
        "IPV4Address": "10.250.24.54",
        "Port": 1234
      }
    },
    "GetServerBackfillTicketRequest": {
      "description": "The ticket includes the players, their attributes, their teams, the ticket status, the match Id and the server details when applicable, etc. Only servers can get the ticket.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EscapeObject": {
          "description": "Determines whether the matchmaking attributes will be returned as an escaped JSON string or as an un-escaped JSON object.",
          "type": "boolean"
        },
        "QueueName": {
          "description": "The name of the queue to find a match for.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName",
        "EscapeObject"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123"
      }
    },
    "GetServerBackfillTicketResult": {
      "type": "object",
      "properties": {
        "CancellationReasonString": {
          "description": "The reason why the current ticket was canceled. This field is only set if the ticket is in canceled state.",
          "type": "string"
        },
        "Created": {
          "description": "The server date and time at which ticket was created.",
          "type": "string"
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        },
        "Members": {
          "description": "A list of Users that are part of this ticket, along with their team assignments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayerWithTeamAssignment"
          },
          "x-isclass": true
        },
        "QueueName": {
          "description": "The Id of a match queue.",
          "type": "string"
        },
        "ServerDetails": {
          "$ref": "#/definitions/ServerDetails",
          "description": "The details of the server the members are connected to.",
          "type": "object",
          "x-isclass": true
        },
        "Status": {
          "description": "The current ticket status. Possible values are: WaitingForMatch, Canceled and Matched.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName",
        "Created",
        "Status",
        "GiveUpAfterSeconds",
        "Members",
        "ServerDetails"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123",
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "Created": "2016-08-23T12:33:14",
        "Status": "Matched",
        "GiveUpAfterSeconds": 100,
        "Members": [],
        "ServerDetails": {
          "IPV4Address": "10.250.24.54",
          "Ports": [
            {
[...]
