{
  "swagger": "2.0",
  "info": {
    "version": "220311",
    "title": "PlayFab Admin API",
    "description": "APIs for managing title configurations, uploaded Game Server code executables, and user data",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Admin/AbortTaskInstance": {
      "post": {
        "operationId": "AbortTaskInstance",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Abort an ongoing task instance.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/aborttaskinstance"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AbortTaskInstanceRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "If the task instance has already completed, there will be no-op.",
        "x-seeAlso": [
          "Admin/GetActionsOnPlayersInSegmentTaskInstance",
          "Admin/GetCloudScriptTaskInstance",
          "Admin/GetTaskInstances",
          "Admin/RunTask"
        ],
        "x-pf-docs-errors": [
          "TaskInstanceNotFound"
        ]
      }
    },
    "/Admin/AddLocalizedNews": {
      "post": {
        "operationId": "AddLocalizedNews",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Update news item to include localized version",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/addlocalizednews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddLocalizedNewsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddLocalizedNewsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-pf-docs-errors": [
          "TitleNewsDuplicateLanguage",
          "TitleNewsInvalidLanguage",
          "TitleNewsNotFound"
        ]
      }
    },
    "/Admin/AddNews": {
      "post": {
        "operationId": "AddNews",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Adds a new news item to the title's news feed",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/addnews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddNewsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddNewsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-pf-docs-errors": [
          "TitleNewsItemCountLimitExceeded"
        ]
      }
    },
    "/Admin/AddPlayerTag": {
      "post": {
        "operationId": "AddPlayerTag",
        "tags": [
          "PlayStream"
        ],
        "description": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/playstream/addplayertag"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddPlayerTagRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddPlayerTagResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API will trigger a player_tag_added event and add a tag with the given TagName and PlayFabID to the corresponding player profile. TagName can be used for segmentation and it is limited to 256 characters. Also there is a limit on the number of tags a title can have.",
        "x-seeAlso": [
          "Admin/GetPlayerTags",
          "Admin/RemovePlayerTag"
        ],
        "x-pf-docs-errors": [
          "PlayerTagCountLimitExceeded"
        ]
      }
    },
    "/Admin/AddUserVirtualCurrency": {
      "post": {
        "operationId": "AddUserVirtualCurrency",
        "tags": [
          "Player Item Management"
        ],
        "description": "Increments the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-item-management/adduservirtualcurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/SubtractUserVirtualCurrency"
        ],
        "x-pf-docs-errors": [
          "InvalidVirtualCurrency",
          "VirtualCurrencyCurrentlyUnavailable"
        ]
      }
    },
    "/Admin/AddVirtualCurrencyTypes": {
      "post": {
        "operationId": "AddVirtualCurrencyTypes",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Adds one or more virtual currencies to the set defined for the title. Virtual Currencies have a maximum value of 2,147,483,647 when granted to a player. Any value over that will be discarded.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/addvirtualcurrencytypes"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddVirtualCurrencyTypesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BlankResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This operation is additive. Any new currencies defined in the array will be added to the set of those available for the title, while any CurrencyCode identifiers matching existing ones in the game will be overwritten with the new values.",
        "x-seeAlso": [
          "Admin/ListVirtualCurrencyTypes",
          "Admin/RemoveVirtualCurrencyTypes"
        ],
        "x-pf-docs-errors": [
          "InvalidVirtualCurrencyCode",
          "VirtualCurrencyCodeExists",
          "VirtualCurrencyCountLimitExceeded"
        ]
      }
    },
    "/Admin/BanUsers": {
      "post": {
        "operationId": "BanUsers",
        "tags": [
          "Account Management"
        ],
        "description": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/banusers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BanUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BanUsersResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "The existence of each user will not be verified. When banning by IP or MAC address, multiple players may be affected, so use this feature with caution. Returns information about the new bans.",
        "x-seeAlso": [
          "Admin/GetUserBans",
          "Admin/RevokeAllBansForUser",
          "Admin/RevokeBans",
          "Admin/UpdateBans"
        ]
      }
    },
    "/Admin/CheckLimitedEditionItemAvailability": {
      "post": {
        "operationId": "CheckLimitedEditionItemAvailability",
        "tags": [
          "Player Item Management"
        ],
        "description": "Checks the global count for the limited edition item.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-item-management/checklimitededitionitemavailability"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CheckLimitedEditionItemAvailabilityRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CheckLimitedEditionItemAvailabilityResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This returns the total number of these items available.",
        "x-seeAlso": [
          "Admin/IncrementLimitedEditionItemAvailability"
        ]
      }
    },
    "/Admin/CreateActionsOnPlayersInSegmentTask": {
      "post": {
        "operationId": "CreateActionsOnPlayersInSegmentTask",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Create an ActionsOnPlayersInSegment task, which iterates through all players in a segment to execute action.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/createactionsonplayersinsegmenttask"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateActionsOnPlayerSegmentTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateTaskResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Task name is unique within a title. Using a task name that's already taken will cause a name conflict error. Too many create-task requests within a short time will cause a create conflict error.",
        "x-seeAlso": [
          "Admin/CreateCloudScriptTask",
          "Admin/DeleteTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ],
        "x-pf-docs-errors": [
          "InvalidScheduledTaskName",
          "InvalidTaskSchedule",
          "ScheduledTaskCreateConflict",
          "ScheduledTaskNameConflict"
        ]
      }
    },
    "/Admin/CreateCloudScriptTask": {
      "post": {
        "operationId": "CreateCloudScriptTask",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Create a CloudScript task, which can run a CloudScript on a schedule.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/createcloudscripttask"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateCloudScriptTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateTaskResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Task name is unique within a title. Using a task name that's already taken will cause a name conflict error. Too many create-task requests within a short time will cause a create conflict error.",
        "x-seeAlso": [
          "Admin/CreateActionsOnPlayersInSegmentTask",
          "Admin/DeleteTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ],
        "x-pf-docs-errors": [
          "InvalidScheduledTaskName",
          "InvalidTaskSchedule",
          "ScheduledTaskCreateConflict",
          "ScheduledTaskNameConflict"
        ]
      }
    },
    "/Admin/CreateInsightsScheduledScalingTask": {
      "post": {
        "operationId": "CreateInsightsScheduledScalingTask",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Create a Insights Scheduled Scaling task, which can scale Insights Performance Units on a schedule",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/createinsightsscheduledscalingtask"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateInsightsScheduledScalingTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateTaskResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Task name is unique within a title. Using a task name that's already taken will cause a name conflict error. Too many create-task requests within a short time will cause a create conflict error.",
        "x-seeAlso": [
          "Admin/CreateActionsOnPlayersInSegmentTask",
          "Admin/DeleteTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ],
        "x-pf-docs-errors": [
          "InvalidScheduledTaskName",
          "InvalidTaskSchedule",
          "ScheduledTaskCreateConflict",
          "ScheduledTaskNameConflict",
          "TitleNotOnUpdatedPricingPlan"
        ]
      }
    },
    "/Admin/CreateOpenIdConnection": {
      "post": {
        "operationId": "CreateOpenIdConnection",
        "tags": [
          "Authentication"
        ],
        "description": "Registers a relationship between a title and an Open ID Connect provider.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/createopenidconnection"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateOpenIdConnectionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/DeleteOpenIdConnection",
          "Admin/ListOpenIdConnection",
          "Admin/UpdateOpenIdConnection"
        ],
        "x-pf-docs-errors": [
          "ValueAlreadyExists"
        ]
      }
    },
    "/Admin/CreatePlayerSharedSecret": {
      "post": {
        "operationId": "CreatePlayerSharedSecret",
        "tags": [
          "Authentication"
        ],
        "description": "Creates a new Player Shared Secret Key. It may take up to 5 minutes for this key to become generally available after this API returns.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/createplayersharedsecret"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreatePlayerSharedSecretRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreatePlayerSharedSecretResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Player Shared Secret Keys are used for the call to Client/GetTitlePublicKey, which exchanges the shared secret for an RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header.",
        "x-seeAlso": [
          "Admin/GetPlayerSharedSecrets",
          "Admin/UpdatePlayerSharedSecret"
        ]
      }
    },
    "/Admin/CreatePlayerStatisticDefinition": {
      "post": {
        "operationId": "CreatePlayerStatisticDefinition",
        "tags": [
          "Player Data Management"
        ],
        "description": "Adds a new player statistic configuration to the title, optionally allowing the developer to specify a reset interval and an aggregation method.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/createplayerstatisticdefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreatePlayerStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreatePlayerStatisticDefinitionResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. The ResetInterval enables automatically resetting leaderboards on a specified interval. Upon reset, the statistic updates to a new version with no values (effectively removing all players from the leaderboard). The previous version's statistic values are also archived for retrieval, if needed (see GetPlayerStatisticVersions). Statistics not created via a call to CreatePlayerStatisticDefinition by default have a VersionChangeInterval of Never, meaning they do not reset on a schedule, but they can be set to do so via a call to UpdatePlayerStatisticDefinition. Once a statistic has been reset (sometimes referred to as versioned or incremented), the now-previous version can still be written to for up a short, pre-defined period (currently 10 seconds), to prevent issues with levels completing around the time of the reset. Also, once reset, the historical statistics for players in the title may be retrieved using the URL specified in the version information (GetPlayerStatisticVersions). The AggregationMethod determines what action is taken when a new statistic value is submitted - always update with the new value (Last), use the highest of the old and new values (Max), use the smallest (Min), or add them together (Sum).",
        "x-seeAlso": [
          "Admin/GetPlayerStatisticDefinitions",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ],
        "x-pf-docs-errors": [
          "StatisticCountLimitExceeded",
          "StatisticNameConflict"
        ]
      }
    },
    "/Admin/CreateSegment": {
      "post": {
        "operationId": "CreateSegment",
        "tags": [
          "Segments"
        ],
        "description": "Creates a new player segment by defining the conditions on player properties. Also, create actions to target the player segments for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/segments/createsegment"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateSegmentResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Send all the segment details part of CreateSegmentRequest",
        "x-pf-docs-errors": [
          "InvalidSegment",
          "NameNotAvailable",
          "SegmentManagementInvalidInput",
          "SegmentManagementInvalidSegmentId",
          "SegmentManagementInvalidSegmentName",
          "SegmentManagementNoExpressionTree",
          "SegmentManagementSegmentCountOverLimit",
          "SegmentManagementTriggerActionCountOverLimit",
          "UnknownError"
        ]
      }
    },
    "/Admin/DeleteContent": {
      "post": {
        "operationId": "DeleteContent",
        "tags": [
          "Content"
        ],
        "description": "Delete a content file from the title. When deleting a file that does not exist, it returns success.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/content/deletecontent"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteContentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BlankResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Client/GetContentDownloadUrl",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ]
      }
    },
    "/Admin/DeleteMasterPlayerAccount": {
      "post": {
        "operationId": "DeleteMasterPlayerAccount",
        "tags": [
          "Account Management"
        ],
        "description": "Removes a master player account entirely from all titles and deletes all associated data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/deletemasterplayeraccount"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteMasterPlayerAccountRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteMasterPlayerAccountResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Deletes all data associated with the master player account, including data from all titles the player has played, such as statistics, custom data, inventory, purchases, virtual currency balances, characters, group memberships, publisher data, credential data, account linkages, friends list and PlayStream event history. Removes the player from all leaderboards and player search indexes. Note, this API queues the player for deletion and returns a receipt immediately. Record the receipt ID for future reference. It may take some time before all player data is fully deleted. Upon completion of the deletion, an email will be sent to the notification email address configured for the title confirming the deletion. Until the player data is fully deleted, attempts to recreate the player with the same user account in the same title will fail with the 'AccountDeleted' error. It is highly recommended to know the impact of the deletion by calling GetPlayedTitleList, before calling this API.",
        "x-seeAlso": [
          "Admin/GetPlayedTitleList"
        ]
      }
    },
    "/Admin/DeleteMembershipSubscription": {
      "post": {
        "operationId": "DeleteMembershipSubscription",
        "tags": [
          "Account Management"
        ],
        "description": "Deletes a player's subscription",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/deletemembershipsubscription"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteMembershipSubscriptionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteMembershipSubscriptionResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API lets developers delete a membership subscription.",
        "x-pf-docs-errors": [
          "MembershipNotFound"
        ]
      }
    },
    "/Admin/DeleteOpenIdConnection": {
      "post": {
        "operationId": "DeleteOpenIdConnection",
        "tags": [
          "Authentication"
        ],
        "description": "Removes a relationship between a title and an OpenID Connect provider.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/deleteopenidconnection"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteOpenIdConnectionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/CreateOpenIdConnection",
          "Admin/ListOpenIdConnection",
          "Admin/UpdateOpenIdConnection"
        ]
      }
    },
    "/Admin/DeletePlayer": {
      "post": {
        "operationId": "DeletePlayer",
        "tags": [
          "Account Management"
        ],
        "description": "Removes a user's player account from a title and deletes all associated data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/deleteplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeletePlayerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeletePlayerResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Deletes all data associated with the player, including statistics, custom data, inventory, purchases, virtual currency balances, characters and shared group memberships. Removes the player from all leaderboards and player search indexes. Does not delete PlayStream event history associated with the player. Does not delete the publisher user account that created the player in the title nor associated data such as username, password, email address, account linkages, or friends list. Note, this API queues the player for deletion and returns immediately. It may take several minutes or more before all player data is fully deleted. Until the player data is fully deleted, attempts to recreate the player with the same user account in the same title will fail with the 'AccountDeleted' error."
      }
    },
    "/Admin/DeletePlayerSharedSecret": {
      "post": {
        "operationId": "DeletePlayerSharedSecret",
        "tags": [
          "Authentication"
        ],
        "description": "Deletes an existing Player Shared Secret Key. It may take up to 5 minutes for this delete to be reflected after this API returns.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/deleteplayersharedsecret"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeletePlayerSharedSecretRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeletePlayerSharedSecretResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Player Shared Secret Keys are used for the call to Client/GetTitlePublicKey, which exchanges the shared secret for an RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header.",
        "x-seeAlso": [
          "Admin/CreatePlayerSharedSecret",
          "Admin/GetPlayerSharedSecrets",
          "Admin/UpdatePlayerSharedSecret"
        ]
      }
    },
    "/Admin/DeleteSegment": {
      "post": {
        "operationId": "DeleteSegment",
        "tags": [
          "Segments"
        ],
        "description": "Deletes an existing player segment and its associated action(s) for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/segments/deletesegment"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteSegmentsResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Send segment id planning to delete part of DeleteSegmentRequest object",
        "x-pf-docs-errors": [
          "SegmentManagementInvalidSegmentId",
          "UnknownError"
        ]
      }
    },
    "/Admin/DeleteStore": {
      "post": {
        "operationId": "DeleteStore",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Deletes an existing virtual item store",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/deletestore"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStoreRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteStoreResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This non-reversible operation will permanently delete the requested store.",
        "x-seeAlso": [
          "Admin/GetStoreItems",
          "Admin/SetStoreItems",
          "Admin/UpdateStoreItems"
        ],
        "x-pf-docs-errors": [
          "CatalogNotConfigured",
          "StoreNotFound"
        ]
      }
    },
    "/Admin/DeleteTask": {
      "post": {
        "operationId": "DeleteTask",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Delete a task.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/deletetask"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteTaskRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "After a task is deleted, for tracking purposes, the task instances belonging to this task will still remain. They will become orphaned and does not belongs to any task. Executions of any in-progress task instances will continue. If the task specified does not exist, the deletion is considered a success.",
        "x-seeAlso": [
          "Admin/CreateActionsOnPlayersInSegmentTask",
          "Admin/CreateCloudScriptAzureFunctionsTask",
          "Admin/CreateCloudScriptTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ]
      }
    },
    "/Admin/DeleteTitle": {
      "post": {
        "operationId": "DeleteTitle",
        "tags": [
          "Account Management"
        ],
        "description": "Permanently deletes a title and all associated configuration",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/deletetitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteTitleRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteTitleResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Deletes all data associated with the title, including catalog, virtual currencies, leaderboard statistics, Cloud Script revisions, segment definitions, event rules, tasks, add-ons, secret keys, data encryption keys, and permission policies. Removes the title from its studio and removes all associated developer roles and permissions. Does not delete PlayStream event history associated with the title. Note, this API queues the title for deletion and returns immediately. It may take several hours or more before all title data is fully deleted. All player accounts in the title must be deleted before deleting the title. If any player accounts exist, the API will return a 'TitleContainsUserAccounts' error. Until the title data is fully deleted, attempts to call APIs with the title will fail with the 'TitleDeleted' error.",
        "x-seeAlso": [
          "Admin/DeletePlayer"
        ],
        "x-pf-docs-errors": [
          "TitleContainsUserAccounts"
        ]
      }
    },
    "/Admin/DeleteTitleDataOverride": {
      "post": {
        "operationId": "DeleteTitleDataOverride",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Deletes a specified set of title data overrides.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/deletetitledataoverride"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteTitleDataOverrideRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteTitleDataOverrideResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API method is designed to delete specified title data overrides associated with the given label.",
        "x-pf-docs-errors": [
          "TitleDataOverrideNotFound"
        ]
      }
    },
    "/Admin/ExportMasterPlayerData": {
      "post": {
        "operationId": "ExportMasterPlayerData",
        "tags": [
          "Account Management"
        ],
        "description": "Exports all associated data of a master player account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/exportmasterplayerdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExportMasterPlayerDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExportMasterPlayerDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Exports all data associated with the master player account, including data from all titles the player has played, such as statistics, custom data, inventory, purchases, virtual currency balances, characters, group memberships, publisher data, credential data, account linkages, friends list and PlayStream event history. Note, this API queues the player for export and returns a receipt immediately. Record the receipt ID for future reference. It may take some time before the export is available for download. Upon completion of the export, an email containing the URL to download the export dump will be sent to the notification email address configured for the title.",
        "x-pf-docs-errors": [
          "EmailAddressNotAvailable"
        ]
      }
    },
    "/Admin/GetActionsOnPlayersInSegmentTaskInstance": {
      "post": {
        "operationId": "GetActionsOnPlayersInSegmentTaskInstance",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Get information about a ActionsOnPlayersInSegment task instance.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/getactionsonplayersinsegmenttaskinstance"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTaskInstanceRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetActionsOnPlayersInSegmentTaskInstanceResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "The result includes detail information that's specific to an ActionsOnPlayersInSegment task. To get a list of task instances with generic basic information, use GetTaskInstances.",
        "x-seeAlso": [
          "Admin/AbortTaskInstance",
          "Admin/GetCloudScriptAzureFunctionsTaskInstance",
          "Admin/GetCloudScriptTaskInstance",
          "Admin/GetTaskInstances",
          "Admin/RunTask"
        ],
        "x-pf-docs-errors": [
          "TaskInstanceNotFound"
        ]
      }
    },
    "/Admin/GetAllSegments": {
      "post": {
        "operationId": "GetAllSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/playstream/getallsegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAllSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAllSegmentsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Request has no paramaters.",
        "x-seeAlso": [
          "Admin/GetPlayersInSegment"
        ]
      }
    },
    "/Admin/GetCatalogItems": {
      "post": {
        "operationId": "GetCatalogItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/getcatalogitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCatalogItemsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/SetCatalogItems",
          "Admin/UpdateCatalogItems"
        ]
      }
    },
    "/Admin/GetCloudScriptRevision": {
      "post": {
        "operationId": "GetCloudScriptRevision",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Gets the contents and information of a specific Cloud Script revision.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/server-side-cloud-script/getcloudscriptrevision"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCloudScriptRevisionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCloudScriptRevisionResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-pf-docs-errors": [
          "RevisionNotFound",
          "VersionNotFound"
        ]
      }
    },
    "/Admin/GetCloudScriptTaskInstance": {
      "post": {
        "operationId": "GetCloudScriptTaskInstance",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Get detail information about a CloudScript task instance.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/getcloudscripttaskinstance"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTaskInstanceRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCloudScriptTaskInstanceResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "The result includes detail information that's specific to a CloudScript task. Only CloudScript tasks configured as \"Run Cloud Script function once\" will be retrieved. To get a list of task instances by task, status, or time range, use GetTaskInstances.",
        "x-seeAlso": [
          "Admin/AbortTaskInstance",
          "Admin/GetActionsOnPlayersInSegmentTaskInstance",
          "Admin/GetCloudScriptAzureFunctionsTaskInstance",
          "Admin/GetTaskInstances",
          "Admin/RunTask"
        ],
        "x-pf-docs-errors": [
          "TaskInstanceNotFound"
        ]
      }
    },
    "/Admin/GetCloudScriptVersions": {
      "post": {
        "operationId": "GetCloudScriptVersions",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Lists all the current cloud script versions. For each version, information about the current published and latest revisions is also listed.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/server-side-cloud-script/getcloudscriptversions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCloudScriptVersionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCloudScriptVersionsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        }
      }
    },
    "/Admin/GetContentList": {
      "post": {
        "operationId": "GetContentList",
        "tags": [
          "Content"
        ],
        "description": "List all contents of the title and get statistics such as size",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/content/getcontentlist"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContentListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContentListResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentUploadUrl"
        ],
        "x-pf-docs-errors": [
          "ContentS3OriginBucketNotConfigured"
        ]
      }
    },
    "/Admin/GetContentUploadUrl": {
      "post": {
        "operationId": "GetContentUploadUrl",
        "tags": [
          "Content"
        ],
        "description": "Retrieves the pre-signed URL for uploading a content file. A subsequent HTTP PUT to the returned URL uploads the content. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/content/getcontentuploadurl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContentUploadUrlRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContentUploadUrlResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentList"
        ],
        "x-pf-docs-errors": [
          "BillingInformationRequired",
          "ContentQuotaExceeded",
          "NotAuthorized"
        ]
      }
    },
    "/Admin/GetDataReport": {
      "post": {
        "operationId": "GetDataReport",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a download URL for the requested report",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getdatareport"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDataReportRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDataReportResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Gets the download URL for the requested report data (in CSV form). The reports available through this API call are those available in the Game Manager, in the Analytics->Reports tab.",
        "x-pf-docs-errors": [
          "InvalidReportDate",
          "ReportNotAvailable"
        ]
      }
    },
    "/Admin/GetMatchmakerGameInfo": {
      "post": {
        "operationId": "GetMatchmakerGameInfo",
        "tags": [
          "Matchmaking"
        ],
        "description": "Retrieves the details for a specific completed session, including links to standard out and standard error logs",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/matchmaking/getmatchmakergameinfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakerGameInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakerGameInfoResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/GetMatchmakerGameModes",
          "Admin/ModifyMatchmakerGameModes"
        ],
        "x-pf-docs-errors": [
          "GameNotFound"
        ]
      }
    },
    "/Admin/GetMatchmakerGameModes": {
      "post": {
        "operationId": "GetMatchmakerGameModes",
        "tags": [
          "Matchmaking"
        ],
        "description": "Retrieves the details of defined game modes for the specified game server executable",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/matchmaking/getmatchmakergamemodes"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakerGameModesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakerGameModesResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "These details are used by the PlayFab matchmaking service to determine if an existing Game Server Instance has room for additional users, and by the PlayFab game server management service to determine when a new Game Server Host should be created in order to prevent excess load on existing Hosts.",
        "x-seeAlso": [
          "Admin/GetMatchmakerGameInfo",
          "Admin/ModifyMatchmakerGameModes"
        ]
      }
    },
    "/Admin/GetPlayedTitleList": {
      "post": {
        "operationId": "GetPlayedTitleList",
        "tags": [
          "Account Management"
        ],
        "description": "Get the list of titles that the player has played",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/getplayedtitlelist"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayedTitleListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayedTitleListResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Useful for identifying titles of which the player's data will be deleted by DeleteMasterPlayer.",
        "x-seeAlso": [
          "Admin/DeleteMasterPlayerAccount"
        ]
      }
    },
    "/Admin/GetPlayerIdFromAuthToken": {
      "post": {
        "operationId": "GetPlayerIdFromAuthToken",
        "tags": [
          "Account Management"
        ],
        "description": "Gets a player's ID from an auth token.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/getplayeridfromauthtoken"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerIdFromAuthTokenRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerIdFromAuthTokenResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Gets a player ID from an auth token. The token expires after 30 minutes and cannot be used to look up a player when expired.",
        "x-pf-docs-errors": [
          "AuthTokenDoesNotExist"
        ]
      }
    },
    "/Admin/GetPlayerProfile": {
      "post": {
        "operationId": "GetPlayerProfile",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/getplayerprofile"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerProfileResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-pf-docs-errors": [
          "PlayerNotInGame"
        ]
      }
    },
    "/Admin/GetPlayerSegments": {
      "post": {
        "operationId": "GetPlayerSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/playstream/getplayersegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayersSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerSegmentsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/GetAllSegments"
        ],
        "x-pf-docs-errors": [
          "SegmentNotFound"
        ]
      }
    },
    "/Admin/GetPlayerSharedSecrets": {
      "post": {
        "operationId": "GetPlayerSharedSecrets",
        "tags": [
          "Authentication"
        ],
        "description": "Returns all Player Shared Secret Keys including disabled and expired.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/getplayersharedsecrets"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerSharedSecretsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerSharedSecretsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Player Shared Secret Keys are used for the call to Client/GetTitlePublicKey, which exchanges the shared secret for an RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header.",
        "x-seeAlso": [
          "Admin/CreatePlayerSharedSecret",
          "Admin/UpdatePlayerSharedSecret"
        ]
      }
    },
    "/Admin/GetPlayersInSegment": {
      "post": {
        "operationId": "GetPlayersInSegment",
        "tags": [
          "PlayStream"
        ],
        "description": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation. NOTE: This API is limited to being called 30 times in one minute. You will be returned an error if you exceed this threshold.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/playstream/getplayersinsegment"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayersInSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayersInSegmentResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Initial request must contain at least a Segment ID. Subsequent requests must contain the Segment ID as well as the Continuation Token. Failure to send the Continuation Token will result in a new player segment list being generated. Each time the Continuation Token is passed in the length of the Total Seconds to Live is refreshed. If too much time passes between requests to the point that a subsequent request is past the Total Seconds to Live an error will be returned and paging will be terminated. This API is resource intensive and should not be used in scenarios which might generate high request volumes. Only one request to this API at a time should be made per title. Concurrent requests to the API may be rejected with the APIConcurrentRequestLimitExceeded error.",
        "x-seeAlso": [
          "Admin/GetAllSegments"
        ],
        "x-pf-docs-errors": [
          "ExpiredContinuationToken",
          "GetPlayersInSegmentRateLimitExceeded",
          "InvalidContinuationToken",
          "InvalidSearchTerm",
          "InvalidSegment",
          "SegmentNotFound"
        ]
      }
    },
    "/Admin/GetPlayerStatisticDefinitions": {
      "post": {
        "operationId": "GetPlayerStatisticDefinitions",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the configuration information for all player statistics defined in the title, regardless of whether they have a reset interval.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getplayerstatisticdefinitions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerStatisticDefinitionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerStatisticDefinitionsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-responseDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. The ResetInterval defines the period of time at which the leaderboard for the statistic will automatically reset. Upon reset, the statistic updates to a new version with no values (effectively removing all players from the leaderboard). The previous version's statistic values are also archived for retrieval, if needed (see GetPlayerStatisticVersions). Statistics not created via a call to CreatePlayerStatisticDefinition by default have a VersionChangeInterval of Never, meaning they do not reset on a schedule, but they can be set to do so via a call to UpdatePlayerStatisticDefinition. Once a statistic has been reset (sometimes referred to as versioned or incremented), the previous version can still be written to for up a short, pre-defined period (currently 10 seconds), to prevent issues with levels completing around the time of the reset. Also, once reset, the historical statistics for players in the title may be retrieved using the URL specified in the version information (GetPlayerStatisticVersions). The AggregationMethod defines what action is taken when a new statistic value is submitted - always update with the new value (Last), use the highest of the old and new values (Max), use the smallest (Min), or add them together (Sum).",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ]
      }
    },
    "/Admin/GetPlayerStatisticVersions": {
      "post": {
        "operationId": "GetPlayerStatisticVersions",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the information on the available versions of the specified statistic.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getplayerstatisticversions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerStatisticVersionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerStatisticVersionsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-responseDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. The information returned in the results defines the state of a specific version of a statistic, including when it was or will become the currently active version, when it will (or did) become a previous version, and its archival state if it is no longer the active version. For a statistic which has been reset, once the archival status is Complete, the full set of statistics for all players in the leaderboard for that version may be retrieved via the ArchiveDownloadUrl. Statistics which have not been reset (incremented/versioned) will only have a single version which is not scheduled to reset.",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Admin/GetPlayerStatisticDefinitions",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ],
        "x-pf-docs-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Admin/GetPlayerTags": {
      "post": {
        "operationId": "GetPlayerTags",
        "tags": [
          "PlayStream"
        ],
        "description": "Get all tags with a given Namespace (optional) from a player profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/playstream/getplayertags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerTagsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerTagsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API will return a list of canonical tags which includes both namespace and tag's name. If namespace is not provided, the result is a list of all canonical tags. TagName can be used for segmentation and Namespace is limited to 128 characters.",
        "x-seeAlso": [
          "Admin/AddPlayerTag",
          "Admin/RemovePlayerTag"
        ]
      }
    },
    "/Admin/GetPolicy": {
      "post": {
        "operationId": "GetPolicy",
        "tags": [
          "Authentication"
        ],
        "description": "Gets the requested policy.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/getpolicy"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPolicyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPolicyResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Views the requested policy. Today, the only supported policy is 'ApiPolicy'.",
        "x-seeAlso": [
          "Admin/UpdatePolicy"
        ]
      }
    },
    "/Admin/GetPublisherData": {
      "post": {
        "operationId": "GetPublisherData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom publisher settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/getpublisherdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPublisherDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPublisherDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API is designed to return publisher-specific values which can be read, but not written to, by the client. This data is shared across all titles assigned to a particular publisher, and can be used for cross-game coordination. Only titles assigned to a publisher can use this API. For more information email helloplayfab@microsoft.com. This AdminAPI call for getting title data guarantees no delay in between update and retrieval of newly set data.",
        "x-seeAlso": [
          "Admin/SetPublisherData"
        ],
        "x-pf-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Admin/GetRandomResultTables": {
      "post": {
        "operationId": "GetRandomResultTables",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the random drop table configuration for the title",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/getrandomresulttables"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRandomResultTablesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetRandomResultTablesResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/UpdateRandomResultTables"
        ]
      }
    },
    "/Admin/GetSegments": {
      "post": {
        "operationId": "GetSegments",
        "tags": [
          "Segments"
        ],
        "description": "Get detail information of a segment and its associated definition(s) and action(s) for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/segments/getsegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSegmentsResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Send segment filter details part of GetSegmentsRequest object",
        "x-pf-docs-errors": [
          "GetSegmentsRateLimitExceeded",
          "UnknownError"
        ]
      }
    },
    "/Admin/GetStoreItems": {
      "post": {
        "operationId": "GetStoreItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the set of items defined for the specified store, including all prices defined",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/getstoreitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStoreItemsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStoreItemsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "A store contains an array of references to items defined in the catalog, along with the prices for the item, in both real world and virtual currencies. These prices act as an override to any prices defined in the catalog. In this way, the base definitions of the items may be defined in the catalog, with all associated properties, while the pricing can be set for each store, as needed. This allows for subsets of goods to be defined for different purposes (in order to simplify showing some, but not all catalog items to users, based upon different characteristics), along with unique prices. Note that all prices defined in the catalog and store definitions for the item are considered valid, and that a compromised client can be made to send a request for an item based upon any of these definitions. If no price is specified in the store for an item, the price set in the catalog should be displayed to the user.",
        "x-seeAlso": [
          "Admin/DeleteStore",
          "Admin/SetStoreItems",
          "Admin/UpdateStoreItems"
        ],
        "x-pf-docs-errors": [
          "CatalogNotConfigured",
          "StoreNotFound"
        ]
      }
    },
    "/Admin/GetTaskInstances": {
      "post": {
        "operationId": "GetTaskInstances",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Query for task instances by task, status, or time range.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/gettaskinstances"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTaskInstancesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTaskInstancesResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Only the most recent 100 task instances are returned, ordered by start time descending. The results are generic basic information for task instances. To get detail information specific to each task type, use Get*TaskInstance based on its corresponding task type.",
        "x-seeAlso": [
          "Admin/AbortTaskInstance",
          "Admin/GetActionsOnPlayersInSegmentTaskInstance",
          "Admin/GetCloudScriptAzureFunctionsTaskInstance",
          "Admin/GetCloudScriptTaskInstance",
          "Admin/RunTask"
        ],
        "x-pf-docs-errors": [
          "TaskNotFound"
        ]
      }
    },
    "/Admin/GetTasks": {
      "post": {
        "operationId": "GetTasks",
        "tags": [
          "ScheduledTask"
        ],
        "description": "Get definition information on a specified task or all tasks within a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/scheduledtask/gettasks"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTasksRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTasksResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/CreateCloudScriptAzureFunctionsTask",
          "Admin/CreateCloudScriptTask",
          "Admin/DeleteTask",
          "Admin/GetTasks",
          "Admin/RunTask",
          "Admin/UpdateTask"
        ]
      }
    },
    "/Admin/GetTitleData": {
      "post": {
        "operationId": "GetTitleData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom title settings which can be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/gettitledata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API method is designed to return title specific values which can be read by the client. For example, a developer could choose to store values which modify the user experience, such as enemy spawn rates, weapon strengths, movement speeds, etc. This allows a developer to update the title without the need to create, test, and ship a new build. If an override label is specified in the request, the overrides are applied automatically and returned with the title data. Note that due to caching, there may up to a minute delay in between updating title data and a query returning the newest value.",
        "x-seeAlso": [
          "Admin/SetTitleData"
        ]
      }
    },
    "/Admin/GetTitleInternalData": {
      "post": {
        "operationId": "GetTitleInternalData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom title settings which cannot be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/gettitleinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API method is designed to return title specific values which are accessible only by the server. These values can be used to tweak settings used by game servers and Cloud Scripts without the need to update and re-deploy. Note that due to caching, there may up to a minute delay in between updating title data and this query returning the newest value.",
        "x-seeAlso": [
          "Admin/SetTitleInternalData"
        ]
      }
    },
    "/Admin/GetUserAccountInfo": {
      "post": {
        "operationId": "GetUserAccountInfo",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the relevant details for a specified user, based upon a match against a supplied unique identifier",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/getuseraccountinfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LookupUserAccountInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LookupUserAccountInfoResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-seeAlso": [
          "Admin/GetUserInventory"
        ],
        "x-pf-docs-errors": [
          "TitleNotActivated"
        ]
      }
    },
    "/Admin/GetUserBans": {
      "post": {
        "operationId": "GetUserBans",
        "tags": [
          "Account Management"
        ],
        "description": "Gets all bans for a user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/getuserbans"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserBansRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserBansResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Get all bans for a user, including inactive and expired bans. ",
        "x-seeAlso": [
          "Admin/BanUsers",
          "Admin/RevokeAllBansForUser",
          "Admin/RevokeBans",
          "Admin/UpdateBans"
        ],
        "x-pf-docs-errors": [
          "UserisNotValid"
        ]
      }
    },
    "/Admin/GetUserData": {
      "post": {
        "operationId": "GetUserData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getuserdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Admin/GetUserInternalData",
          "Admin/GetUserReadOnlyData",
          "Admin/UpdateUserData",
          "Admin/UpdateUserInternalData",
          "Admin/UpdateUserReadOnlyData"
        ]
      }
    },
    "/Admin/GetUserInternalData": {
      "post": {
        "operationId": "GetUserInternalData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getuserinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Admin/GetUserData",
          "Admin/GetUserReadOnlyData",
          "Admin/UpdateUserData",
          "Admin/UpdateUserInternalData",
          "Admin/UpdateUserReadOnlyData"
        ]
      }
    },
    "/Admin/GetUserInventory": {
      "post": {
        "operationId": "GetUserInventory",
        "tags": [
          "Player Item Management"
        ],
        "description": "Retrieves the specified user's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-item-management/getuserinventory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserInventoryRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserInventoryResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "All items currently in the user inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included. There can be a delay of up to a half a second for inventory changes to be reflected in the GetUserInventory API response.",
        "x-seeAlso": [
          "Admin/GetUserAccountInfo"
        ]
      }
    },
    "/Admin/GetUserPublisherData": {
      "post": {
        "operationId": "GetUserPublisherData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getuserpublisherdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Admin/GetUserPublisherInternalData",
          "Admin/GetUserPublisherReadOnlyData",
          "Admin/UpdateUserPublisherData",
          "Admin/UpdateUserPublisherInternalData",
          "Admin/UpdateUserPublisherReadOnlyData"
        ]
      }
    },
    "/Admin/GetUserPublisherInternalData": {
      "post": {
        "operationId": "GetUserPublisherInternalData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getuserpublisherinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Admin/GetUserPublisherData",
          "Admin/GetUserPublisherReadOnlyData",
          "Admin/UpdateUserPublisherData",
          "Admin/UpdateUserPublisherInternalData",
          "Admin/UpdateUserPublisherReadOnlyData"
        ]
      }
    },
    "/Admin/GetUserPublisherReadOnlyData": {
      "post": {
        "operationId": "GetUserPublisherReadOnlyData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getuserpublisherreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Admin/GetUserPublisherData",
          "Admin/GetUserPublisherInternalData",
          "Admin/UpdateUserPublisherData",
          "Admin/UpdateUserPublisherInternalData",
          "Admin/UpdateUserPublisherReadOnlyData"
        ]
      }
    },
    "/Admin/GetUserReadOnlyData": {
      "post": {
        "operationId": "GetUserReadOnlyData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/getuserreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Admin/GetUserData",
          "Admin/GetUserInternalData",
          "Admin/UpdateUserData",
          "Admin/UpdateUserInternalData",
          "Admin/UpdateUserReadOnlyData"
        ]
      }
    },
    "/Admin/GrantItemsToUsers": {
      "post": {
        "operationId": "GrantItemsToUsers",
        "tags": [
          "Player Item Management"
        ],
        "description": "Adds the specified items to the specified user inventories",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-item-management/grantitemstousers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantItemsToUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantItemsToUsersResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This function directly adds inventory items to user inventories. As a result of this operations, the user will not be charged any transaction fee, regardless of the inventory item catalog definition. Please note that the processing time for inventory grants and purchases increases fractionally the more items are in the inventory, and the more items are in the grant/purchase operation.",
        "x-responseDetails": "Please note that the order of the items in the response may not match the order of items in the request.",
        "x-pf-docs-errors": [
          "CatalogNotConfigured"
        ]
      }
    },
    "/Admin/IncrementLimitedEditionItemAvailability": {
      "post": {
        "operationId": "IncrementLimitedEditionItemAvailability",
        "tags": [
          "Player Item Management"
        ],
        "description": "Increases the global count for the given scarce resource.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-item-management/incrementlimitededitionitemavailability"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IncrementLimitedEditionItemAvailabilityRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/IncrementLimitedEditionItemAvailabilityResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This operation will increment the global counter for the number of these items available. This number cannot be decremented, except by actual grants.",
        "x-seeAlso": [
          "Admin/CheckLimitedEditionItemAvailability"
        ],
        "x-pf-docs-errors": [
          "RequestAlreadyRunning"
        ]
      }
    },
    "/Admin/IncrementPlayerStatisticVersion": {
      "post": {
        "operationId": "IncrementPlayerStatisticVersion",
        "tags": [
          "Player Data Management"
        ],
        "description": "Resets the indicated statistic, removing all player entries for it and backing up the old values.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/incrementplayerstatisticversion"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IncrementPlayerStatisticVersionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/IncrementPlayerStatisticVersionResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Statistics are numeric values, with each statistic in the title also generating a leaderboard. When this call is made on a given statistic, this forces a reset of that statistic. Upon reset, the statistic updates to a new version with no values (effectively removing all players from the leaderboard). The previous version's statistic values are also archived for retrieval, if needed (see GetPlayerStatisticVersions). Statistics not created via a call to CreatePlayerStatisticDefinition by default have a VersionChangeInterval of Never, meaning they do not reset on a schedule, but they can be set to do so via a call to UpdatePlayerStatisticDefinition. Once a statistic has been reset (sometimes referred to as versioned or incremented), the now-previous version can still be written to for up a short, pre-defined period (currently 10 seconds), to prevent issues with levels completing around the time of the reset. Also, once reset, the historical statistics for players in the title may be retrieved using the URL specified in the version information (GetPlayerStatisticVersions).",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Admin/GetPlayerStatisticDefinitions",
          "Client/GetPlayerStatistics",
          "Server/GetPlayerStatistics",
          "Admin/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics",
          "Server/UpdatePlayerStatistics"
        ],
        "x-pf-docs-errors": [
          "StatisticNotFound",
          "StatisticUpdateInProgress",
          "StatisticVersionIncrementRateExceeded"
        ]
      }
    },
    "/Admin/ListOpenIdConnection": {
      "post": {
        "operationId": "ListOpenIdConnection",
        "tags": [
          "Authentication"
        ],
        "description": "Retrieves a list of all Open ID Connect providers registered to a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/authentication/listopenidconnection"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListOpenIdConnectionRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListOpenIdConnectionResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/CreateOpenIdConnection",
          "Admin/DeleteOpenIdConnection",
          "Admin/UpdateOpenIdConnection"
        ]
      }
    },
    "/Admin/ListVirtualCurrencyTypes": {
      "post": {
        "operationId": "ListVirtualCurrencyTypes",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retuns the list of all defined virtual currencies for the title",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/listvirtualcurrencytypes"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualCurrencyTypesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListVirtualCurrencyTypesResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/AddVirtualCurrencyTypes",
          "Admin/RemoveVirtualCurrencyTypes"
        ]
      }
    },
    "/Admin/ModifyServerBuild": {
      "post": {
        "operationId": "ModifyServerBuild",
        "tags": [
          "Custom Server Management"
        ],
        "description": "Updates the build details for the specified game server executable",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/custom-server-management/modifyserverbuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ModifyServerBuildRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ModifyServerBuildResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-seeAlso": [
          "Admin/AddServerBuild",
          "Admin/GetServerBuildInfo",
          "Admin/ListServerBuilds",
          "Admin/RemoveServerBuild"
        ],
        "x-pf-docs-errors": [
          "BuildNotAvailable",
          "BuildNotFound",
          "GameServerHostCountLimitExceeded"
        ]
      }
    },
    "/Admin/RefundPurchase": {
      "post": {
        "operationId": "RefundPurchase",
        "tags": [
          "Player Data Management"
        ],
        "description": "Attempts to process an order refund through the original real money payment provider.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/player-data-management/refundpurchase"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RefundPurchaseRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RefundPurchaseResponse"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        }
      }
    },
    "/Admin/RemovePlayerTag": {
      "post": {
        "operationId": "RemovePlayerTag",
        "tags": [
          "PlayStream"
        ],
        "description": "Remove a given tag from a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/playstream/removeplayertag"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemovePlayerTagRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RemovePlayerTagResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "This API will trigger a player_tag_removed event and remove a tag with the given TagName and PlayFabID from the corresponding player profile. TagName can be used for segmentation and it is limited to 256 characters",
        "x-seeAlso": [
          "Admin/AddPlayerTag",
          "Admin/GetPlayerTags"
        ]
      }
    },
    "/Admin/RemoveVirtualCurrencyTypes": {
      "post": {
        "operationId": "RemoveVirtualCurrencyTypes",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Removes one or more virtual currencies from the set defined for the title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/title-wide-data-management/removevirtualcurrencytypes"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveVirtualCurrencyTypesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BlankResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Virtual currencies to be removed cannot have entries in any catalog nor store for the title. Note that this operation will not remove player balances for the removed currencies; if a deleted currency is recreated at any point, user balances will be in an undefined state.",
        "x-seeAlso": [
          "Admin/AddVirtualCurrencyTypes",
          "Admin/ListVirtualCurrencyTypes"
        ],
        "x-pf-docs-errors": [
          "InvalidVirtualCurrencyCode",
          "VirtualCurrencyCannotBeDeleted"
        ]
      }
    },
    "/Admin/ResetCharacterStatistics": {
      "post": {
        "operationId": "ResetCharacterStatistics",
        "tags": [
          "Characters"
        ],
        "description": "Completely removes all statistics for the specified character, for the current game",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/characters/resetcharacterstatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResetCharacterStatisticsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ResetCharacterStatisticsResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Note that this action cannot be un-done. All statistics for this character will be deleted, removing the user from all leaderboards for the game."
      }
    },
    "/Admin/ResetPassword": {
      "post": {
        "operationId": "ResetPassword",
        "tags": [
          "Account Management"
        ],
        "description": "Reset a player's password for a given title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/admin/account-management/resetpassword"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResetPasswordRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ResetPasswordResult"
          },
          "default": {
            "$ref": "#/responses/ApiError"
          }
        },
        "x-requestDetails": "Resets a player's password taking in a new password based and validating the user based off of a token sent to the playerto their email. The token expires after 30 minutes.",
        "x-pf-docs-errors": [
          "AuthTokenAlreadyUsedToResetPassword",
          "AuthTokenDoesNotExist",
[...]
