{
  "swagger": "2.0",
  "info": {
    "version": "250117",
    "title": "PlayFab Client API",
    "description": "APIs which provide the full range of PlayFab features available to the client - authentication, account and data management, inventory, friends, matchmaking, reporting, and platform-specific functionality",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Client/AcceptTrade": {
      "post": {
        "operationId": "AcceptTrade",
        "tags": [
          "Trading"
        ],
        "description": "Accepts an open trade (one that has not yet been accepted or cancelled), if the locally signed-in player is in the allowed player list for the trade, or it is open to all players. If the call is successful, the offered and accepted items will be swapped between the two players' inventories.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/trading/accepttrade"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AcceptTradeRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AcceptTradeResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/CancelTrade",
          "Client/GetPlayerTrades",
          "Client/GetTradeStatus",
          "Client/OpenTrade"
        ],
        "x-ms-docs-errors": [
          "TradeAcceptedCatalogItemInvalid",
          "TradeAcceptedItemsMismatch",
          "TradeAcceptingUserNotAllowed",
          "TradeAllowedUsersInvalid",
          "TradeAlreadyFilled",
          "TradeCancelled",
          "TradeDoesNotExist",
          "TradeInventoryItemDoesNotExist",
          "TradeInventoryItemExpired",
          "TradeInventoryItemInvalidStatus",
          "TradeInventoryItemIsAssignedToCharacter",
          "TradeInventoryItemIsBundle",
          "TradeInventoryItemIsConsumed",
          "TradeInventoryItemIsNotTradable",
          "TradeInventoryItemIsStackable",
          "TradeStatusNotValidForAccepting",
          "TradeWaitForStatusTimeout"
        ]
      }
    },
    "/Client/AddFriend": {
      "post": {
        "operationId": "AddFriend",
        "tags": [
          "Friend List Management"
        ],
        "description": "Adds the PlayFab user, based upon a match against a supplied unique identifier, to the friend list of the local user. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/friend-list-management/addfriend"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddFriendRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddFriendResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/GetFriendsList",
          "Client/SetFriendTags"
        ],
        "x-ms-docs-errors": [
          "UsersAlreadyFriends"
        ]
      }
    },
    "/Client/AddGenericID": {
      "post": {
        "operationId": "AddGenericID",
        "tags": [
          "Account Management"
        ],
        "description": "Adds the specified generic service identifier to the player's PlayFab account. This is designed to allow for a PlayFab ID lookup of any arbitrary service identifier a title wants to add. This identifier should never be used as authentication credentials, as the intent is that it is easily accessible by other players.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/addgenericid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddGenericIDRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddGenericIDResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/GetPlayFabIDsFromGenericIDs",
          "Client/RemoveGenericID"
        ],
        "x-ms-docs-errors": [
          "IdentifierAlreadyClaimed"
        ]
      }
    },
    "/Client/AddOrUpdateContactEmail": {
      "post": {
        "operationId": "AddOrUpdateContactEmail",
        "tags": [
          "Account Management"
        ],
        "description": "Adds or updates a contact email to the player's profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/addorupdatecontactemail"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddOrUpdateContactEmailRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddOrUpdateContactEmailResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API adds a contact email to the player's profile. If the player's profile already contains a contact email, it will update the contact email to the email address specified."
      }
    },
    "/Client/AddSharedGroupMembers": {
      "post": {
        "operationId": "AddSharedGroupMembers",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/shared-group-data/addsharedgroupmembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddSharedGroupMembersRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddSharedGroupMembersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "UserAlreadyAdded"
        ]
      }
    },
    "/Client/AddUsernamePassword": {
      "post": {
        "operationId": "AddUsernamePassword",
        "tags": [
          "Account Management"
        ],
        "description": "Adds playfab username/password auth to an existing account created via an anonymous auth method, e.g. automatic device ID login.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/addusernamepassword"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddUsernamePasswordRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddUsernamePasswordResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Each account must have a unique username and email address in the PlayFab service. Once created, the account may be associated with additional accounts (Steam, Facebook, Game Center, etc.), allowing for added social network lists and achievements systems. This can also be used to provide a recovery method if the user loses their original means of access.",
        "x-seeAlso": [
          "Client/LoginWithEmailAddress",
          "Client/LoginWithPlayFab"
        ],
        "x-ms-docs-errors": [
          "AccountAlreadyLinked",
          "EmailAddressNotAvailable",
          "InvalidEmailAddress",
          "InvalidPassword",
          "InvalidUsername",
          "UsernameNotAvailable"
        ]
      }
    },
    "/Client/AddUserVirtualCurrency": {
      "post": {
        "operationId": "AddUserVirtualCurrency",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Increments the user's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/adduservirtualcurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API must be enabled for use as an option in the game manager website. It is disabled by default.",
        "x-seeAlso": [
          "Client/SubtractUserVirtualCurrency"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "InvalidVirtualCurrency",
          "VirtualCurrencyCurrentlyUnavailable"
        ]
      }
    },
    "/Client/AndroidDevicePushNotificationRegistration": {
      "post": {
        "operationId": "AndroidDevicePushNotificationRegistration",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Registers the Android device to receive push notifications",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/platform-specific-methods/androiddevicepushnotificationregistration"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AndroidDevicePushNotificationRegistrationRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AndroidDevicePushNotificationRegistrationResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "More information can be found on configuring your game for the Google Cloud Messaging service in the Google developer documentation, here: http://developer.android.com/google/gcm/client.html. The steps to configure and send Push Notifications is described in the PlayFab tutorials, here: https://docs.microsoft.com/gaming/playfab/features/engagement/push-notifications/quickstart.",
        "x-ms-docs-errors": [
          "NoPushNotificationARNForTitle",
          "PushServiceError"
        ]
      }
    },
    "/Client/AttributeInstall": {
      "post": {
        "operationId": "AttributeInstall",
        "tags": [
          "Advertising"
        ],
        "description": "Attributes an install for advertisment.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/advertising/attributeinstall"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AttributeInstallRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttributeInstallResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If you have an ad attribution partner enabled, this will post an install to their service to track the device. It uses the given device id to match based on clicks on ads.",
        "x-ms-docs-errors": [
          "NoPartnerEnabled"
        ]
      }
    },
    "/Client/CancelTrade": {
      "post": {
        "operationId": "CancelTrade",
        "tags": [
          "Trading"
        ],
        "description": "Cancels an open trade (one that has not yet been accepted or cancelled). Note that only the player who created the trade can cancel it via this API call, to prevent griefing of the trade system (cancelling trades in order to prevent other players from accepting them, for trades that can be claimed by more than one player).",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/trading/canceltrade"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelTradeRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelTradeResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/AcceptTrade",
          "Client/GetPlayerTrades",
          "Client/GetTradeStatus",
          "Client/OpenTrade"
        ],
        "x-ms-docs-errors": [
          "TradeAlreadyFilled",
          "TradeCancelled",
          "TradeDoesNotExist",
          "TradeStatusNotValidForCancelling",
          "TradeWaitForStatusTimeout"
        ]
      }
    },
    "/Client/ConfirmPurchase": {
      "post": {
        "operationId": "ConfirmPurchase",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Confirms with the payment provider that the purchase was approved (if applicable) and adjusts inventory and virtual currency balances as appropriate",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/confirmpurchase"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConfirmPurchaseRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConfirmPurchaseResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The final step in the purchasing process, this API finalizes the purchase with the payment provider, where applicable, adding virtual goods to the player inventory (including random drop table resolution and recursive addition of bundled items) and adjusting virtual currency balances for funds used or added. Note that this is a pull operation, and should be polled regularly when a purchase is in progress. Please note that the processing time for inventory grants and purchases increases fractionally the more items are in the inventory, and the more items are in the grant/purchase operation.",
        "x-responseDetails": "When the FailedByPaymentProvider error is returned, it's important to check the ProviderErrorCode, ProviderErrorMessage, and ProviderErrorDetails to understand the specific reason the payment was rejected, as in some rare cases, this may mean that the provider hasn't completed some operation required to finalize the purchase.",
        "x-seeAlso": [
          "Client/PayForPurchase",
          "Client/StartPurchase"
        ],
        "x-ms-docs-errors": [
          "FailedByPaymentProvider",
          "PurchaseDoesNotExist"
        ]
      }
    },
    "/Client/ConsumeItem": {
      "post": {
        "operationId": "ConsumeItem",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/consumeitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumeItemRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumeItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "InvalidItemProperties",
          "ItemNotFound",
          "NoRemainingUses"
        ]
      }
    },
    "/Client/ConsumeMicrosoftStoreEntitlements": {
      "post": {
        "operationId": "ConsumeMicrosoftStoreEntitlements",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Grants the player's current entitlements from Microsoft Store's Collection API",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/platform-specific-methods/consumemicrosoftstoreentitlements"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumeMicrosoftStoreEntitlementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumeMicrosoftStoreEntitlementsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "ItemNotFound"
        ]
      }
    },
    "/Client/ConsumePS5Entitlements": {
      "post": {
        "operationId": "ConsumePS5Entitlements",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Checks for any new consumable entitlements. If any are found, they are consumed (if they're consumables) and added as PlayFab items",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/platform-specific-methods/consumeps5entitlements"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumePS5EntitlementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumePS5EntitlementsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "ItemNotFound"
        ]
      }
    },
    "/Client/ConsumePSNEntitlements": {
      "post": {
        "operationId": "ConsumePSNEntitlements",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Checks for any new consumable entitlements. If any are found, they are consumed and added as PlayFab items",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/platform-specific-methods/consumepsnentitlements"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumePSNEntitlementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumePSNEntitlementsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "ExpiredAuthToken",
          "FailedToGetEntitlements",
          "PSNInaccessible"
        ]
      }
    },
    "/Client/ConsumeXboxEntitlements": {
      "post": {
        "operationId": "ConsumeXboxEntitlements",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Grants the player's current entitlements from Xbox Live, consuming all availble items in Xbox and granting them to the player's PlayFab inventory. This call is idempotent and will not grant previously granted items to the player.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/platform-specific-methods/consumexboxentitlements"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumeXboxEntitlementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumeXboxEntitlementsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/LoginWithXbox"
        ],
        "x-ms-docs-errors": [
          "ExpiredXboxLiveToken",
          "InvalidXboxLiveToken",
          "XboxInaccessible",
          "XboxRejectedXSTSExchangeRequest",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Client/CreateSharedGroup": {
      "post": {
        "operationId": "CreateSharedGroup",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. Upon creation, the current user will be the only member of the group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/shared-group-data/createsharedgroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateSharedGroupResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If SharedGroupId is specified, the service will attempt to create a group with that identifier, and will return an error if it is already in use. If no SharedGroupId is specified, a random identifier will be assigned.",
        "x-ms-docs-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Client/ExecuteCloudScript": {
      "post": {
        "operationId": "ExecuteCloudScript",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Executes a CloudScript function, with the 'currentPlayerId' set to the PlayFab ID of the authenticated player. The PlayFab ID is the entity ID of the player's master_player_account entity.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/server-side-cloud-script/executecloudscript"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteCloudScriptRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExecuteCloudScriptResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "JavascriptException",
          "TitleDeleted"
        ]
      }
    },
    "/Client/GetAccountInfo": {
      "post": {
        "operationId": "GetAccountInfo",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the user's PlayFab account details",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getaccountinfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAccountInfoRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAccountInfoResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "This API retrieves details regarding the player in the PlayFab service. Note that when this call is used to retrieve data about another player (not the one signed into the local client), some data, such as Personally Identifying Information (PII), will be omitted for privacy reasons or to comply with the requirements of the platform belongs to. The user account returned will be based on the identifier provided in priority order: PlayFabId, Username, Email, then TitleDisplayName. If no identifier is specified, the currently signed in user's information will be returned."
      }
    },
    "/Client/GetAdPlacements": {
      "post": {
        "operationId": "GetAdPlacements",
        "tags": [
          "Advertising"
        ],
        "description": "Returns a list of ad placements and a reward for each",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/advertising/getadplacements"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAdPlacementsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAdPlacementsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of ad placements for the calling player. Each ad placement may include a reward if there was at least one valid reward for the player as well as the number of plays remaining and when the play count resets."
      }
    },
    "/Client/GetAllUsersCharacters": {
      "post": {
        "operationId": "GetAllUsersCharacters",
        "tags": [
          "Characters"
        ],
        "description": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/characters/getalluserscharacters"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListUsersCharactersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of every character that currently belongs to a user.",
        "x-seeAlso": [
          "Client/GetCharacterData"
        ]
      }
    },
    "/Client/GetCatalogItems": {
      "post": {
        "operationId": "GetCatalogItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/title-wide-data-management/getcatalogitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCatalogItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "If CatalogVersion is not specified, only inventory items associated with the most recent version of the catalog will be returned.",
        "x-seeAlso": [
          "Client/GetStoreItems",
          "Client/GetUserInventory"
        ]
      }
    },
    "/Client/GetCharacterData": {
      "post": {
        "operationId": "GetCharacterData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the character which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/character-data/getcharacterdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom character data will be returned.",
        "x-seeAlso": [
          "Client/GetCharacterReadOnlyData",
          "Client/GetUserData",
          "Client/UpdateCharacterData"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Client/GetCharacterInventory": {
      "post": {
        "operationId": "GetCharacterInventory",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Retrieves the specified character's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/getcharacterinventory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterInventoryRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterInventoryResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "All items currently in the character inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included. Also returns their virtual currency balances.",
        "x-seeAlso": [
          "Client/GetUserInventory"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Client/GetCharacterLeaderboard": {
      "post": {
        "operationId": "GetCharacterLeaderboard",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/characters/getcharacterleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterLeaderboardResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that the Position of the character in the results is for the overall leaderboard.",
        "x-seeAlso": [
          "Client/GetCharacterStatistics",
          "Client/GetLeaderboardAroundCharacter",
          "Client/UpdateCharacterStatistics"
        ]
      }
    },
    "/Client/GetCharacterReadOnlyData": {
      "post": {
        "operationId": "GetCharacterReadOnlyData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the character which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/character-data/getcharacterreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom character data will be returned.",
        "x-seeAlso": [
          "Client/GetCharacterData",
          "Client/GetUserData",
          "Client/UpdateCharacterData"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Client/GetCharacterStatistics": {
      "post": {
        "operationId": "GetCharacterStatistics",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves the details of all title-specific statistics for the user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/characters/getcharacterstatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterStatisticsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-seeAlso": [
          "Client/GetCharacterLeaderboard",
          "Client/GetLeaderboardAroundCharacter",
          "Client/GetLeaderboardForUserCharacters",
          "Client/UpdateCharacterStatistics"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Client/GetContentDownloadUrl": {
      "post": {
        "operationId": "GetContentDownloadUrl",
        "tags": [
          "Content"
        ],
        "description": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/content/getcontentdownloadurl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContentDownloadUrlRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContentDownloadUrlResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Server/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ],
        "x-ms-docs-errors": [
          "ContentS3OriginBucketNotConfigured"
        ]
      }
    },
    "/Client/GetFriendLeaderboard": {
      "post": {
        "operationId": "GetFriendLeaderboard",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked friends of the current player for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getfriendleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that the Position of the user in the results is for the overall leaderboard. If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired. If Xbox Live friends are included, make sure the access token from the previous LoginWithXbox call is still valid and not expired. ",
        "x-seeAlso": [
          "Client/GetFriendLeaderboardAroundPlayer",
          "Client/GetLeaderboard",
          "Client/GetLeaderboardAroundPlayer",
          "Client/GetUserStatistics"
        ],
        "x-ms-docs-errors": [
          "ExpiredXboxLiveToken",
          "FacebookAPIError",
          "InvalidXboxLiveToken",
          "LeaderboardVersionNotAvailable",
          "XboxInaccessible",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Client/GetFriendLeaderboardAroundPlayer": {
      "post": {
        "operationId": "GetFriendLeaderboardAroundPlayer",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked friends of the current player for the given statistic, centered on the requested PlayFab user. If PlayFabId is empty or null will return currently logged in user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getfriendleaderboardaroundplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendLeaderboardAroundPlayerRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetFriendLeaderboardAroundPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired. If Xbox Live friends are included, make sure the access token from the previous LoginWithXbox call is still valid and not expired. ",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboard",
          "Client/GetLeaderboardAroundPlayer",
          "Client/GetUserStatistics"
        ],
        "x-ms-docs-errors": [
          "ExpiredXboxLiveToken",
          "FacebookAPIError",
          "InvalidXboxLiveToken",
          "LeaderboardVersionNotAvailable",
          "XboxInaccessible",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Client/GetFriendsList": {
      "post": {
        "operationId": "GetFriendsList",
        "tags": [
          "Friend List Management"
        ],
        "description": "Retrieves the current friend list for the local user, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/friend-list-management/getfriendslist"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendsListRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetFriendsListResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "If any additional services are queried for the user's friends, those friends who also have a PlayFab account registered for the title will be returned in the results. For Facebook, user has to have logged into the title's Facebook app recently, and only friends who also plays this game will be included. Note: If the user authenticated with AuthenticationToken when calling LoginWithFacebook, instead of AcessToken, an empty list will be returned. For Xbox Live, user has to have logged into the Xbox Live recently, and only friends who also play this game will be included.",
        "x-seeAlso": [
          "Client/AddFriend",
          "Client/GetPlayerProfile",
          "Client/RemoveFriend"
        ],
        "x-ms-docs-errors": [
          "AccountNotFound",
          "ExpiredXboxLiveToken",
          "FacebookAPIError",
          "InvalidXboxLiveToken",
          "XboxInaccessible",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Client/GetLeaderboard": {
      "post": {
        "operationId": "GetLeaderboard",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note: the user's Position is relative to the overall leaderboard.",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboardAroundPlayer",
          "Client/GetUserStatistics"
        ],
        "x-ms-docs-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Client/GetLeaderboardAroundCharacter": {
      "post": {
        "operationId": "GetLeaderboardAroundCharacter",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of ranked characters for the given statistic, centered on the requested Character ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/characters/getleaderboardaroundcharacter"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundCharacterRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardAroundCharacterResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the character defaults to 0 when the character does not have the corresponding statistic.",
        "x-seeAlso": [
          "Client/GetCharacterLeaderboard",
          "Client/GetLeaderboard",
          "Client/UpdateCharacterStatistics"
        ]
      }
    },
    "/Client/GetLeaderboardAroundPlayer": {
      "post": {
        "operationId": "GetLeaderboardAroundPlayer",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked users for the given statistic, centered on the requested player. If PlayFabId is empty or null will return currently logged in user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getleaderboardaroundplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundPlayerRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardAroundPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.",
        "x-seeAlso": [
          "Client/GetFriendLeaderboard",
          "Client/GetLeaderboard",
          "Client/GetUserStatistics"
        ],
        "x-ms-docs-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Client/GetLeaderboardForUserCharacters": {
      "post": {
        "operationId": "GetLeaderboardForUserCharacters",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of all of the user's characters for the given statistic.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/characters/getleaderboardforusercharacters"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardForUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardForUsersCharactersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "NOTE: The position of the character in the results is relative to the other characters for that specific user. This mean the values will always be between 0 and one less than the number of characters returned regardless of the size of the actual leaderboard.",
        "x-seeAlso": [
          "Client/GetCharacterLeaderboard",
          "Client/GetLeaderboard",
          "Server/GetLeaderboardAroundUser"
        ]
      }
    },
    "/Client/GetPaymentToken": {
      "post": {
        "operationId": "GetPaymentToken",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ For payments flows where the provider requires playfab (the fulfiller) to initiate the transaction, but the client completes the rest of the flow. In the Xsolla case, the token returned here will be passed to Xsolla by the client to create a cart. Poll GetPurchase using the returned OrderId once you've completed the payment.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/getpaymenttoken"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPaymentTokenRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPaymentTokenResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/GetPurchase"
        ],
        "x-ms-docs-errors": [
          "InvalidPaymentProvider",
          "NoPartnerEnabled"
        ]
      }
    },
    "/Client/GetPhotonAuthenticationToken": {
      "post": {
        "operationId": "GetPhotonAuthenticationToken",
        "tags": [
          "Authentication"
        ],
        "description": "Gets a Photon custom authentication token that can be used to securely join the player into a Photon room. See https://docs.microsoft.com/gaming/playfab/features/multiplayer/photon/quickstart for more details.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/authentication/getphotonauthenticationtoken"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPhotonAuthenticationTokenRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPhotonAuthenticationTokenResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "PhotonApplicationNotAssociatedWithTitle",
          "PhotonApplicationNotFound",
          "PhotonNotEnabledForTitle"
        ]
      }
    },
    "/Client/GetPlayerCombinedInfo": {
      "post": {
        "operationId": "GetPlayerCombinedInfo",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves all of the user's different kinds of info.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayercombinedinfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerCombinedInfoRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerCombinedInfoResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Returns whatever info is requested in the response for the user. If no user is explicitly requested this defaults to the authenticated user. If the user is the same as the requester, PII (like email address, facebook id) is returned if available. Otherwise, only public information is returned. All parameters default to false.",
        "x-ms-docs-errors": [
          "RequestViewConstraintParamsNotAllowed"
        ]
      }
    },
    "/Client/GetPlayerProfile": {
      "post": {
        "operationId": "GetPlayerProfile",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayerprofile"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerProfileResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-ms-docs-errors": [
          "PlayerNotInGame",
          "RequestViewConstraintParamsNotAllowed"
        ]
      }
    },
    "/Client/GetPlayerSegments": {
      "post": {
        "operationId": "GetPlayerSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/playstream/getplayersegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerSegmentsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerSegmentsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Client/GetPlayerStatistics": {
      "post": {
        "operationId": "GetPlayerStatistics",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the indicated statistics (current version and values for all statistics, if none are specified), for the local player.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getplayerstatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerStatisticsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Client/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics"
        ]
      }
    },
    "/Client/GetPlayerStatisticVersions": {
      "post": {
        "operationId": "GetPlayerStatisticVersions",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the information on the available versions of the specified statistic.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getplayerstatisticversions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerStatisticVersionsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerStatisticVersionsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Client/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Client/UpdatePlayerStatistics"
        ],
        "x-ms-docs-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Client/GetPlayerTags": {
      "post": {
        "operationId": "GetPlayerTags",
        "tags": [
          "PlayStream"
        ],
        "description": "Get all tags with a given Namespace (optional) from a player profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/playstream/getplayertags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerTagsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerTagsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will return a list of canonical tags which includes both namespace and tag's name. If namespace is not provided, the result is a list of all canonical tags. TagName can be used for segmentation and Namespace is limited to 128 characters."
      }
    },
    "/Client/GetPlayerTrades": {
      "post": {
        "operationId": "GetPlayerTrades",
        "tags": [
          "Trading"
        ],
        "description": "Gets all trades the player has either opened or accepted, optionally filtered by trade status.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/trading/getplayertrades"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerTradesRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerTradesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/AcceptTrade",
          "Client/CancelTrade",
          "Client/GetTradeStatus",
          "Client/OpenTrade"
        ]
      }
    },
    "/Client/GetPlayFabIDsFromFacebookIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromFacebookIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Facebook identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromfacebookids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromFacebookIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromFacebookIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Facebook identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromFacebookInstantGamesIds": {
      "post": {
        "operationId": "GetPlayFabIDsFromFacebookInstantGamesIds",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Facebook Instant Game identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromfacebookinstantgamesids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromFacebookInstantGamesIdsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromFacebookInstantGamesIdsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Facebook Instant Game identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromGameCenterIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromGameCenterIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Game Center identifiers (referenced in the Game Center Programming Guide as the Player Identifier).",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromgamecenterids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromGameCenterIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromGameCenterIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Game Center identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromGenericIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromGenericIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of generic service identifiers. A generic identifier is the service name plus the service-specific ID for the player, as specified by the title when the generic identifier was added to the player account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromgenericids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromGenericIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromGenericIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For generic service identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-seeAlso": [
          "Client/AddGenericID",
          "Client/RemoveGenericID"
        ]
      }
    },
    "/Client/GetPlayFabIDsFromGoogleIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromGoogleIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Google identifiers. The Google identifiers are the IDs for the user accounts, available as \"id\" in the Google+ People API calls.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromgoogleids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromGoogleIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromGoogleIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Google identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromGooglePlayGamesPlayerIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromGooglePlayGamesPlayerIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Google Play Games identifiers. The Google Play Games identifiers are the IDs for the user accounts, available as \"playerId\" in the Google Play Games Services - Players API calls.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromgoogleplaygamesplayerids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromGooglePlayGamesPlayerIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromGooglePlayGamesPlayerIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Google Play Games identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromKongregateIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromKongregateIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Kongregate identifiers. The Kongregate identifiers are the IDs for the user accounts, available as \"user_id\" from the Kongregate API methods(ex: http://developers.kongregate.com/docs/client/getUserId).",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromkongregateids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromKongregateIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromKongregateIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Kongregate identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromNintendoServiceAccountIds": {
      "post": {
        "operationId": "GetPlayFabIDsFromNintendoServiceAccountIds",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Nintendo Service Account identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromnintendoserviceaccountids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromNintendoServiceAccountIdsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromNintendoServiceAccountIdsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Nintendo Service Account identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromNintendoSwitchDeviceIds": {
      "post": {
        "operationId": "GetPlayFabIDsFromNintendoSwitchDeviceIds",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Nintendo Switch Device identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromnintendoswitchdeviceids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromNintendoSwitchDeviceIdsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromNintendoSwitchDeviceIdsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Nintendo Switch identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromPSNAccountIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromPSNAccountIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of PlayStation :tm: Network identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfrompsnaccountids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromPSNAccountIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromPSNAccountIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For PlayStation :tm: Network identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-ms-trademark": {
          "description": "\"PlayStation\" is a registered trademark or trademark of Sony Interactive Entertainment Inc.",
          "type": "string"
        },
        "x-ms-docs-errors": [
          "InvalidPSNAuthCode"
        ]
      }
    },
    "/Client/GetPlayFabIDsFromPSNOnlineIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromPSNOnlineIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of PlayStation :tm: Network identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfrompsnonlineids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromPSNOnlineIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromPSNOnlineIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For PlayStation :tm: Network identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-ms-trademark": {
          "description": "\"PlayStation\" is a registered trademark or trademark of Sony Interactive Entertainment Inc.",
          "type": "string"
        },
        "x-ms-docs-errors": [
          "InvalidPSNAuthCode"
        ]
      }
    },
    "/Client/GetPlayFabIDsFromSteamIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromSteamIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Steam identifiers. The Steam identifiers are the profile IDs for the user accounts, available as SteamId in the Steamworks Community API calls.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromsteamids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromSteamIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromSteamIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Steam identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromSteamNames": {
      "post": {
        "operationId": "GetPlayFabIDsFromSteamNames",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Steam identifiers. The Steam identifiers are persona names.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromsteamnames"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromSteamNamesRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromSteamNamesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Steam identifiers which have not been linked to PlayFab accounts, or if the user has not logged in recently, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromTwitchIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromTwitchIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Twitch identifiers. The Twitch identifiers are the IDs for the user accounts, available as \"_id\" from the Twitch API methods (ex: https://github.com/justintv/Twitch-API/blob/master/v3_resources/users.md#get-usersuser).",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromtwitchids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromTwitchIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromTwitchIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Twitch identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPlayFabIDsFromXboxLiveIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromXboxLiveIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of XboxLive identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/getplayfabidsfromxboxliveids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromXboxLiveIDsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromXboxLiveIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For XboxLive identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Client/GetPublisherData": {
      "post": {
        "operationId": "GetPublisherData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom publisher settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/title-wide-data-management/getpublisherdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPublisherDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPublisherDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return publisher-specific values which can be read, but not written to, by the client. This data is shared across all titles assigned to a particular publisher, and can be used for cross-game coordination. Only titles assigned to a publisher can use this API. For more information email helloplayfab@microsoft.com. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Client/GetPurchase": {
      "post": {
        "operationId": "GetPurchase",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Retrieves a purchase along with its current PlayFab status. Returns inventory items from the purchase that are still active.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/getpurchase"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPurchaseRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPurchaseResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/StartPurchase"
        ],
        "x-ms-docs-errors": [
          "PurchaseDoesNotExist"
        ]
      }
    },
    "/Client/GetSharedGroupData": {
      "post": {
        "operationId": "GetSharedGroupData",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Retrieves data stored in a shared group object, as well as the list of members in the group. Non-members of the group may use this to retrieve group data, including membership, but they will not receive data for keys marked as private. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/shared-group-data/getsharedgroupdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSharedGroupDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSharedGroupDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Client/GetStoreItems": {
      "post": {
        "operationId": "GetStoreItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Retrieves the set of items defined for the specified store, including all prices defined",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/title-wide-data-management/getstoreitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStoreItemsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStoreItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "A store contains an array of references to items defined in one or more catalog versions of the game, along with the prices for the item, in both real world and virtual currencies. These prices act as an override to any prices defined in the catalog. In this way, the base definitions of the items may be defined in the catalog, with all associated properties, while the pricing can be set for each store, as needed. This allows for subsets of goods to be defined for different purposes (in order to simplify showing some, but not all catalog items to users, based upon different characteristics), along with unique prices. Note that all prices defined in the catalog and store definitions for the item are considered valid, and that a compromised client can be made to send a request for an item based upon any of these definitions. If no price is specified in the store for an item, the price set in the catalog should be displayed to the user.",
        "x-seeAlso": [
          "Client/GetCatalogItems"
        ],
        "x-ms-docs-errors": [
          "StoreNotFound"
        ]
      }
    },
    "/Client/GetTime": {
      "post": {
        "operationId": "GetTime",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the current server time",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/title-wide-data-management/gettime"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTimeRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTimeResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This query retrieves the current time from one of the servers in PlayFab. Please note that due to clock drift between servers, there is a potential variance of up to 5 seconds.",
        "x-responseDetails": "Time is always returned as Coordinated Universal Time (UTC).",
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Client/GetTitleData": {
      "post": {
        "operationId": "GetTitleData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom title settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/title-wide-data-management/gettitledata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return title specific values which can be read, but not written to, by the client. For example, a developer could choose to store values which modify the user experience, such as enemy spawn rates, weapon strengths, movement speeds, etc. This allows a developer to update the title without the need to create, test, and ship a new build. If the player belongs to an experiment variant that uses title data overrides, the overrides are applied automatically and returned with the title data. Note that there may up to a minute delay in between updating title data and this API call returning the newest value."
      }
    },
    "/Client/GetTitleNews": {
      "post": {
        "operationId": "GetTitleNews",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the title news feed, as configured in the developer portal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/title-wide-data-management/gettitlenews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleNewsRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleNewsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Client/GetTitlePublicKey": {
      "post": {
        "operationId": "GetTitlePublicKey",
        "tags": [
          "Authentication"
        ],
        "description": "Returns the title's base 64 encoded RSA CSP blob.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/authentication/gettitlepublickey"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitlePublicKeyRequest"
          }
        ],
        "security": [
          {
            "None": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitlePublicKeyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "An RSA CSP blob to be used to encrypt the payload of account creation requests when that API requires a signature header. For example if Client/LoginWithCustomId requires signature headers but the player does not have an account yet follow these steps: 1) Call Client/GetTitlePublicKey with one of the title's shared secrets. 2) Convert the Base64 encoded CSP blob to a byte array and create an RSA signing object. 3) Encrypt the UTF8 encoded JSON body of the registration request and place the Base64 encoded result into the EncryptedRequest and with the TitleId field, all other fields can be left empty when performing the API request. 4) Client receives authentication token as normal. Future requests to LoginWithCustomId will require the X-PlayFab-Signature header.",
        "x-ms-docs-errors": [
          "EncryptionKeyBroken",
          "InvalidSharedSecretKey",
          "NoSharedSecretKeyConfigured"
        ]
      }
    },
    "/Client/GetTradeStatus": {
      "post": {
        "operationId": "GetTradeStatus",
        "tags": [
          "Trading"
        ],
        "description": "Gets the current status of an existing trade.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/trading/gettradestatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTradeStatusRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTradeStatusResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/AcceptTrade",
          "Client/CancelTrade",
          "Client/GetPlayerTrades",
          "Client/OpenTrade"
        ],
        "x-ms-docs-errors": [
          "TradeDoesNotExist"
        ]
      }
    },
    "/Client/GetUserData": {
      "post": {
        "operationId": "GetUserData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getuserdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. Every time the data is updated via any source, the version counter is incremented. If the Version parameter is provided, then this call will only return data if the current version on the system is greater than the value provided. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Client/GetUserReadOnlyData",
          "Client/UpdateUserData"
        ]
      }
    },
    "/Client/GetUserInventory": {
      "post": {
        "operationId": "GetUserInventory",
        "tags": [
          "Player Item Management"
        ],
        "description": "_NOTE: This is a Legacy Economy API, and is in bugfix-only mode. All new Economy features are being developed only for version 2._ Retrieves the user's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-item-management/getuserinventory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserInventoryRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserInventoryResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "All items currently in the user inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included.",
        "x-seeAlso": [
          "Client/GetCatalogItems"
        ]
      }
    },
    "/Client/GetUserPublisherData": {
      "post": {
        "operationId": "GetUserPublisherData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getuserpublisherdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Client/GetUserPublisherReadOnlyData",
          "Client/UpdateUserPublisherData"
        ],
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Client/GetUserPublisherReadOnlyData": {
      "post": {
        "operationId": "GetUserPublisherReadOnlyData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getuserpublisherreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Client/GetUserPublisherData",
          "Client/UpdateUserPublisherData"
        ],
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Client/GetUserReadOnlyData": {
      "post": {
        "operationId": "GetUserReadOnlyData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/player-data-management/getuserreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. Every time the data is updated via any source, the version counter is incremented. If the Version parameter is provided, then this call will only return data if the current version on the system is greater than the value provided. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Client/GetUserData",
          "Client/UpdateUserData"
        ]
      }
    },
    "/Client/GrantCharacterToUser": {
      "post": {
        "operationId": "GrantCharacterToUser",
        "tags": [
          "Characters"
        ],
        "description": "Grants the specified character type to the user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/characters/grantcharactertouser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantCharacterToUserRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantCharacterToUserResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Grants a character to the user of the type specified by the item ID. The user must already have an instance of this item in their inventory in order to allow character creation. This item can come from a purchase or grant, which must be done before calling to create the character.",
        "x-ms-docs-errors": [
          "InvalidItemProperties",
          "ItemNotOwned"
        ]
      }
    },
    "/Client/LinkAndroidDeviceID": {
      "post": {
        "operationId": "LinkAndroidDeviceID",
        "tags": [
          "Account Management"
        ],
        "description": "Links the Android device identifier to the user's PlayFab account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/linkandroiddeviceid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkAndroidDeviceIDRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkAndroidDeviceIDResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/LoginWithAndroidDeviceID",
          "Client/UnlinkAndroidDeviceID"
        ],
        "x-ms-docs-errors": [
          "LinkedDeviceAlreadyClaimed"
        ]
      }
    },
    "/Client/LinkApple": {
      "post": {
        "operationId": "LinkApple",
        "tags": [
          "Account Management"
        ],
        "description": "Links the Apple account associated with the token to the user's PlayFab account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/linkapple"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkAppleRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/LoginWithApple",
          "Client/UnlinkApple"
        ],
        "x-ms-docs-errors": [
          "AppleNotEnabledForTitle",
          "InvalidIdentityProviderId",
          "LinkedIdentifierAlreadyClaimed",
          "TokenSigningKeyNotFound"
        ]
      }
    },
    "/Client/LinkCustomID": {
      "post": {
        "operationId": "LinkCustomID",
        "tags": [
          "Account Management"
        ],
        "description": "Links the custom identifier, generated by the title, to the user's PlayFab account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/client/account-management/linkcustomid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkCustomIDRequest"
          }
        ],
        "security": [
          {
            "SessionTicket": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkCustomIDResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Client/LoginWithCustomID",
          "Client/UnlinkCustomID"
        ],
        "x-ms-docs-errors": [
          "LinkedIdentifierAlreadyClaimed"
        ]
      }
    },
    "/Client/LinkFacebookAccount": {
      "post": {
        "operationId": "LinkFacebookAccount",
        "tags": [
          "Account Management"
        ],
[...]
