{
  "swagger": "2.0",
  "info": {
    "version": "210913",
    "title": "PlayFab CloudScript API",
    "description": "API methods for executing CloudScript using an Entity Profile",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/CloudScript/ExecuteEntityCloudScript": {
      "post": {
        "operationId": "ExecuteEntityCloudScript",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Cloud Script is one of PlayFab's most versatile features. It allows client code to request execution of any kind of custom server-side functionality you can implement, and it can be used in conjunction with virtually anything.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/executeentitycloudscript"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteEntityCloudScriptRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExecuteCloudScriptResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes CloudScript with the entity profile that is defined in the request.",
        "x-ms-docs-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "InvalidEntityType",
          "JavascriptException"
        ]
      }
    },
    "/CloudScript/ExecuteFunction": {
      "post": {
        "operationId": "ExecuteFunction",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Cloud Script is one of PlayFab's most versatile features. It allows client code to request execution of any kind of custom server-side functionality you can implement, and it can be used in conjunction with virtually anything.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/executefunction"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteFunctionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExecuteFunctionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes an Azure Function with the profile of the entity that is defined in the request.",
        "x-seeAlso": [
          "CloudScript/RegisterHttpFunction",
          "CloudScript/RegisterQueuedFunction"
        ],
        "x-ms-docs-errors": [
          "CloudScriptAzureFunctionsArgumentSizeExceeded",
          "CloudScriptAzureFunctionsExecutionTimeLimitExceeded",
          "CloudScriptAzureFunctionsHTTPRequestError",
          "CloudScriptAzureFunctionsQueueRequestError",
          "CloudScriptAzureFunctionsReturnSizeExceeded",
          "InvalidEntityType"
        ]
      }
    },
    "/CloudScript/ListFunctions": {
      "post": {
        "operationId": "ListFunctions",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Lists all currently registered Azure Functions for a given title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/listfunctions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListFunctionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListFunctionsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/ListHttpFunctions",
          "CloudScript/ListQueuedFunctions",
          "CloudScript/RegisterHttpFunction",
          "CloudScript/RegisterQueuedFunction"
        ]
      }
    },
    "/CloudScript/ListHttpFunctions": {
      "post": {
        "operationId": "ListHttpFunctions",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Lists all currently registered HTTP triggered Azure Functions for a given title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/listhttpfunctions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListFunctionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListHttpFunctionsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "A title can have many functions, ListHttpFunctions will return a list of all the currently registered HTTP triggered functions for a given title.",
        "x-seeAlso": [
          "CloudScript/ListFunctions",
          "CloudScript/ListQueuedFunctions",
          "CloudScript/RegisterHttpFunction"
        ]
      }
    },
    "/CloudScript/ListQueuedFunctions": {
      "post": {
        "operationId": "ListQueuedFunctions",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Lists all currently registered Queue triggered Azure Functions for a given title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/listqueuedfunctions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListFunctionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListQueuedFunctionsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/ListFunctions",
          "CloudScript/ListHttpFunctions",
          "CloudScript/RegisterQueuedFunction"
        ]
      }
    },
    "/CloudScript/PostFunctionResultForEntityTriggeredAction": {
      "post": {
        "operationId": "PostFunctionResultForEntityTriggeredAction",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Generate an entity PlayStream event for the provided function result.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/postfunctionresultforentitytriggeredaction"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PostFunctionResultForEntityTriggeredActionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/PostFunctionResultForFunctionExecution",
          "CloudScript/PostFunctionResultForPlayerTriggeredAction",
          "CloudScript/PostFunctionResultForScheduledTask"
        ]
      }
    },
    "/CloudScript/PostFunctionResultForFunctionExecution": {
      "post": {
        "operationId": "PostFunctionResultForFunctionExecution",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Generate an entity PlayStream event for the provided function result.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/postfunctionresultforfunctionexecution"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PostFunctionResultForFunctionExecutionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/PostFunctionResultForEntityTriggeredAction",
          "CloudScript/PostFunctionResultForPlayerTriggeredAction",
          "CloudScript/PostFunctionResultForScheduledTask"
        ]
      }
    },
    "/CloudScript/PostFunctionResultForPlayerTriggeredAction": {
      "post": {
        "operationId": "PostFunctionResultForPlayerTriggeredAction",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Generate a player PlayStream event for the provided function result.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/postfunctionresultforplayertriggeredaction"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PostFunctionResultForPlayerTriggeredActionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/PostFunctionResultForEntityTriggeredAction",
          "CloudScript/PostFunctionResultForFunctionExecution",
          "CloudScript/PostFunctionResultForScheduledTask"
        ]
      }
    },
    "/CloudScript/PostFunctionResultForScheduledTask": {
      "post": {
        "operationId": "PostFunctionResultForScheduledTask",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Generate a PlayStream event for the provided function result.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/postfunctionresultforscheduledtask"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PostFunctionResultForScheduledTaskRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/PostFunctionResultForEntityTriggeredAction",
          "CloudScript/PostFunctionResultForFunctionExecution",
          "CloudScript/PostFunctionResultForPlayerTriggeredAction"
        ]
      }
    },
    "/CloudScript/RegisterHttpFunction": {
      "post": {
        "operationId": "RegisterHttpFunction",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Registers an HTTP triggered Azure function with a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/registerhttpfunction"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RegisterHttpFunctionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/ExecuteFunction",
          "CloudScript/ListFunctions",
          "CloudScript/ListHttpFunctions",
          "CloudScript/RegisterQueuedFunction",
          "CloudScript/UnregisterFunction"
        ]
      }
    },
    "/CloudScript/RegisterQueuedFunction": {
      "post": {
        "operationId": "RegisterQueuedFunction",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Registers a queue triggered Azure Function with a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/registerqueuedfunction"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RegisterQueuedFunctionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "A title can have many functions, RegisterQueuedFunction associates a function name with a queue name and connection string.",
        "x-seeAlso": [
          "CloudScript/ExecuteFunction",
          "CloudScript/ListFunctions",
          "CloudScript/ListQueuedFunctions",
          "CloudScript/PostFunctionResultForEntityTriggeredAction",
          "CloudScript/PostFunctionResultForFunctionExecution",
          "CloudScript/PostFunctionResultForPlayerTriggeredAction",
          "CloudScript/PostFunctionResultForScheduledTask",
          "CloudScript/RegisterHttpFunction",
          "CloudScript/UnregisterFunction"
        ]
      }
    },
    "/CloudScript/UnregisterFunction": {
      "post": {
        "operationId": "UnregisterFunction",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Unregisters an Azure Function with a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/cloudscript/server-side-cloud-script/unregisterfunction"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UnregisterFunctionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "CloudScript/RegisterHttpFunction",
          "CloudScript/RegisterQueuedFunction"
        ],
        "x-ms-docs-errors": [
          "CloudScriptNotFound"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "integer"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical PlayFab error code",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Description for the PlayFab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      },
      "required": [
        "code",
        "errorCode"
      ]
    },
    "AdCampaignAttributionModel": {
      "type": "object",
      "properties": {
        "AttributedAt": {
          "description": "UTC time stamp of attribution",
          "type": "string"
        },
        "CampaignId": {
          "description": "Attribution campaign identifier",
          "type": "string"
        },
        "Platform": {
          "description": "Attribution network name",
          "type": "string"
        }
      },
      "required": [
        "AttributedAt"
      ]
    },
    "CloudScriptRevisionOption": {
      "type": "string",
      "enum": [
        "Live",
        "Latest",
        "Specific"
      ]
    },
    "ContactEmailInfoModel": {
      "type": "object",
      "properties": {
        "EmailAddress": {
          "description": "The email address",
          "type": "string"
        },
        "Name": {
          "description": "The name of the email info data",
          "type": "string"
        },
        "VerificationStatus": {
          "$ref": "#/definitions/EmailVerificationStatus",
          "description": "The verification status of the email",
          "type": "string",
          "x-isenum": true
        }
      }
    },
    "ContinentCode": {
      "type": "string",
      "enum": [
        "AF",
        "AN",
        "AS",
        "EU",
        "NA",
        "OC",
        "SA"
      ]
    },
    "CountryCode": {
      "type": "string",
      "enum": [
        "AF",
        "AX",
        "AL",
        "DZ",
        "AS",
        "AD",
        "AO",
        "AI",
        "AQ",
        "AG",
        "AR",
        "AM",
        "AW",
        "AU",
        "AT",
        "AZ",
        "BS",
        "BH",
        "BD",
        "BB",
        "BY",
        "BE",
        "BZ",
        "BJ",
        "BM",
        "BT",
        "BO",
        "BQ",
        "BA",
        "BW",
        "BV",
        "BR",
        "IO",
        "BN",
        "BG",
        "BF",
        "BI",
        "KH",
        "CM",
        "CA",
        "CV",
        "KY",
        "CF",
        "TD",
        "CL",
        "CN",
        "CX",
        "CC",
        "CO",
        "KM",
        "CG",
        "CD",
        "CK",
        "CR",
        "CI",
        "HR",
        "CU",
        "CW",
        "CY",
        "CZ",
        "DK",
        "DJ",
        "DM",
        "DO",
        "EC",
        "EG",
        "SV",
        "GQ",
        "ER",
        "EE",
        "ET",
        "FK",
        "FO",
        "FJ",
        "FI",
        "FR",
        "GF",
        "PF",
        "TF",
        "GA",
        "GM",
        "GE",
        "DE",
        "GH",
        "GI",
        "GR",
        "GL",
        "GD",
        "GP",
        "GU",
        "GT",
        "GG",
        "GN",
        "GW",
        "GY",
        "HT",
        "HM",
        "VA",
        "HN",
        "HK",
        "HU",
        "IS",
        "IN",
        "ID",
        "IR",
        "IQ",
        "IE",
        "IM",
        "IL",
        "IT",
        "JM",
        "JP",
        "JE",
        "JO",
        "KZ",
        "KE",
        "KI",
        "KP",
        "KR",
        "KW",
        "KG",
        "LA",
        "LV",
        "LB",
        "LS",
        "LR",
        "LY",
        "LI",
        "LT",
        "LU",
        "MO",
        "MK",
        "MG",
        "MW",
        "MY",
        "MV",
        "ML",
        "MT",
        "MH",
        "MQ",
        "MR",
        "MU",
        "YT",
        "MX",
        "FM",
        "MD",
        "MC",
        "MN",
        "ME",
        "MS",
        "MA",
        "MZ",
        "MM",
        "NA",
        "NR",
        "NP",
        "NL",
        "NC",
        "NZ",
        "NI",
        "NE",
        "NG",
        "NU",
        "NF",
        "MP",
        "NO",
        "OM",
        "PK",
        "PW",
        "PS",
        "PA",
        "PG",
        "PY",
        "PE",
        "PH",
        "PN",
        "PL",
        "PT",
        "PR",
        "QA",
        "RE",
        "RO",
        "RU",
        "RW",
        "BL",
        "SH",
        "KN",
        "LC",
        "MF",
        "PM",
        "VC",
        "WS",
        "SM",
        "ST",
        "SA",
        "SN",
        "RS",
        "SC",
        "SL",
        "SG",
        "SX",
        "SK",
        "SI",
        "SB",
        "SO",
        "ZA",
        "GS",
        "SS",
        "ES",
        "LK",
        "SD",
        "SR",
        "SJ",
        "SZ",
        "SE",
        "CH",
        "SY",
        "TW",
        "TJ",
        "TZ",
        "TH",
        "TL",
        "TG",
        "TK",
        "TO",
        "TT",
        "TN",
        "TR",
        "TM",
        "TC",
        "TV",
        "UG",
        "UA",
        "AE",
        "GB",
        "US",
        "UM",
        "UY",
        "UZ",
        "VU",
        "VE",
        "VN",
        "VG",
        "VI",
        "WF",
        "EH",
        "YE",
        "ZM",
        "ZW"
      ]
    },
    "EmailVerificationStatus": {
      "type": "string",
      "enum": [
        "Unverified",
        "Pending",
        "Confirmed"
      ]
    },
    "EmptyResult": {
      "type": "object",
      "properties": {}
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://docs.microsoft.com/gaming/playfab/features/data/entities/available-built-in-entity-types",
          "type": "string"
        }
      },
      "required": [
        "Id"
      ]
    },
    "ExecuteCloudScriptResult": {
      "type": "object",
      "properties": {
        "APIRequestsIssued": {
          "description": "Number of PlayFab API requests issued by the CloudScript function",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Error": {
          "$ref": "#/definitions/ScriptExecutionError",
          "description": "Information about the error, if any, that occurred during execution",
          "type": "object",
          "x-isclass": true
        },
        "ExecutionTimeSeconds": {
          "type": "number",
          "x-actualtype": "double"
        },
        "FunctionName": {
          "description": "The name of the function that executed",
          "type": "string"
        },
        "FunctionResult": {
          "description": "The object returned from the CloudScript function, if any",
          "type": "object"
        },
        "FunctionResultTooLarge": {
          "description": "Flag indicating if the FunctionResult was too large and was subsequently dropped from this event. This only occurs if the total event size is larger than 350KB.",
          "type": "boolean"
        },
        "HttpRequestsIssued": {
          "description": "Number of external HTTP requests issued by the CloudScript function",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Logs": {
          "description": "Entries logged during the function execution. These include both entries logged in the function code using log.info() and log.error() and error entries for API and HTTP request failures.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogStatement"
          },
          "x-isclass": true
        },
        "LogsTooLarge": {
          "description": "Flag indicating if the logs were too large and were subsequently dropped from this event. This only occurs if the total event size is larger than 350KB after the FunctionResult was removed.",
          "type": "boolean"
        },
        "MemoryConsumedBytes": {
          "type": "number",
          "x-actualtype": "uint32"
        },
        "ProcessorTimeSeconds": {
          "description": "Processor time consumed while executing the function. This does not include time spent waiting on API calls or HTTP requests.",
          "type": "number",
          "x-actualtype": "double"
        },
        "Revision": {
          "description": "The revision of the CloudScript that executed",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Revision",
        "ExecutionTimeSeconds",
        "ProcessorTimeSeconds",
        "MemoryConsumedBytes",
        "APIRequestsIssued",
        "HttpRequestsIssued"
      ],
      "example": {
        "Revision": 3,
        "FunctionResult": {
          "newScore": 25
        },
        "Logs": [
          {
            "Level": "Info",
            "Message": "Something normal happened",
            "Data": {
              "secondsAfterStart": 75
            }
          },
          {
            "Level": "Error",
            "Message": "Something unexpected happened"
          }
        ],
        "ExecutionTimeSeconds": 0.03670790046453476,
        "MemoryConsumedBytes": 38904,
        "APIRequestsIssued": 2
      }
    },
    "ExecuteEntityCloudScriptRequest": {
      "description": "Executes CloudScript with the entity profile that is defined in the request.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "FunctionName": {
          "description": "The name of the CloudScript function to execute",
          "type": "string"
        },
        "FunctionParameter": {
          "description": "Object that is passed in to the function as the first argument",
          "type": "object"
        },
        "GeneratePlayStreamEvent": {
          "description": "Generate a 'entity_executed_cloudscript' PlayStream event containing the results of the function execution and other contextual information. This event will show up in the PlayStream debugger console for the player in Game Manager.",
          "type": "boolean"
        },
        "RevisionSelection": {
          "$ref": "#/definitions/CloudScriptRevisionOption",
          "description": "Option for which revision of the CloudScript to execute. 'Latest' executes the most recently created revision, 'Live' executes the current live, published revision, and 'Specific' executes the specified revision. The default value is 'Specific', if the SpecificRevision parameter is specified, otherwise it is 'Live'.",
          "type": "string",
          "x-isenum": true
        },
        "SpecificRevision": {
          "description": "The specific revision to execute, when RevisionSelection is set to 'Specific'",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "FunctionName"
      ],
      "example": {
        "FunctionName": "levelCompleted",
        "FunctionParameter": {
          "level": 3,
          "points": 400
        },
        "RevisionSelection": "Live",
        "GeneratePlayStreamEvent": true,
        "Entity": {
          "Id": "aaa",
          "Type": "master_player_account",
          "TypeString": "master_player_account"
        }
      }
    },
    "ExecuteFunctionRequest": {
      "description": "Executes an Azure Function with the profile of the entity that is defined in the request.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "FunctionName": {
          "description": "The name of the CloudScript function to execute",
          "type": "string"
        },
        "FunctionParameter": {
          "description": "Object that is passed in to the function as the FunctionArgument field of the FunctionExecutionContext data structure",
          "type": "object"
        },
        "GeneratePlayStreamEvent": {
          "description": "Generate a 'entity_executed_cloudscript_function' PlayStream event containing the results of the function execution and other contextual information. This event will show up in the PlayStream debugger console for the player in Game Manager.",
          "type": "boolean"
        }
      },
      "required": [
        "FunctionName"
      ],
      "example": {
        "FunctionName": "LevelCompleted",
        "FunctionParameter": {
          "level": 3,
          "points": 400
        },
        "GeneratePlayStreamEvent": true,
        "Entity": {
          "Id": "aaa",
          "Type": "master_player_account",
          "TypeString": "master_player_account"
        }
      }
    },
    "ExecuteFunctionResult": {
      "type": "object",
      "properties": {
        "Error": {
          "$ref": "#/definitions/FunctionExecutionError",
          "description": "Error from the CloudScript Azure Function.",
          "type": "object",
          "x-isclass": true
        },
        "ExecutionTimeMilliseconds": {
          "description": "The amount of time the function took to execute",
          "type": "number",
          "x-actualtype": "int32"
        },
        "FunctionName": {
          "description": "The name of the function that executed",
          "type": "string"
        },
        "FunctionResult": {
          "description": "The object returned from the function, if any",
          "type": "object"
        },
        "FunctionResultTooLarge": {
          "description": "Flag indicating if the FunctionResult was too large and was subsequently dropped from this event.",
          "type": "boolean"
        }
      },
      "required": [
        "ExecutionTimeMilliseconds"
      ],
      "example": {
        "ExecutionTimeMilliseconds": 367,
        "FunctionName": "LevelCompleted",
        "FunctionResult": {
          "newScore": 25
        }
      }
    },
    "FunctionExecutionError": {
      "type": "object",
      "properties": {
        "Error": {
          "description": "Error code, such as CloudScriptAzureFunctionsExecutionTimeLimitExceeded, CloudScriptAzureFunctionsArgumentSizeExceeded, CloudScriptAzureFunctionsReturnSizeExceeded or CloudScriptAzureFunctionsHTTPRequestError",
          "type": "string"
        },
        "Message": {
          "description": "Details about the error",
          "type": "string"
        },
        "StackTrace": {
          "description": "Point during the execution of the function at which the error occurred, if any",
          "type": "string"
        }
      }
    },
    "FunctionModel": {
      "type": "object",
      "properties": {
        "FunctionAddress": {
          "description": "The address of the function.",
          "type": "string"
        },
        "FunctionName": {
          "description": "The name the function was registered under.",
          "type": "string"
        },
        "TriggerType": {
          "$ref": "#/definitions/TriggerType",
          "description": "The trigger type for the function.",
          "type": "string"
        }
      }
    },
    "HttpFunctionModel": {
      "type": "object",
      "properties": {
        "FunctionName": {
          "description": "The name the function was registered under.",
          "type": "string"
        },
        "FunctionUrl": {
          "description": "The URL of the function.",
          "type": "string"
        }
      }
    },
    "LinkedPlatformAccountModel": {
      "type": "object",
      "properties": {
        "Email": {
          "description": "Linked account email of the user on the platform, if available",
          "type": "string"
        },
        "Platform": {
          "$ref": "#/definitions/LoginIdentityProvider",
          "description": "Authentication platform",
          "type": "string",
          "x-isenum": true
        },
        "PlatformUserId": {
          "description": "Unique account identifier of the user on the platform",
          "type": "string"
        },
        "Username": {
          "description": "Linked account username of the user on the platform, if available",
          "type": "string"
        }
      }
    },
    "ListFunctionsRequest": {
      "description": "A title can have many functions, ListHttpFunctions will return a list of all the currently registered HTTP triggered functions for a given title.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        }
      },
      "example": {}
    },
    "ListFunctionsResult": {
      "type": "object",
      "properties": {
        "Functions": {
          "description": "The list of functions that are currently registered for the title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FunctionModel"
          },
          "x-isclass": true
        }
      }
    },
    "ListHttpFunctionsResult": {
      "type": "object",
      "properties": {
        "Functions": {
          "description": "The list of HTTP triggered functions that are currently registered for the title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HttpFunctionModel"
          },
          "x-isclass": true
        }
      }
    },
    "ListQueuedFunctionsResult": {
      "type": "object",
      "properties": {
        "Functions": {
          "description": "The list of Queue triggered functions that are currently registered for the title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueuedFunctionModel"
          },
          "x-isclass": true
        }
      }
    },
    "LocationModel": {
      "type": "object",
      "properties": {
        "City": {
          "description": "City name.",
          "type": "string"
        },
        "ContinentCode": {
          "$ref": "#/definitions/ContinentCode",
          "description": "The two-character continent code for this location",
          "type": "string",
          "x-isenum": true
        },
        "CountryCode": {
          "$ref": "#/definitions/CountryCode",
          "description": "The two-character ISO 3166-1 country code for the country associated with the location",
          "type": "string",
          "x-isenum": true
        },
        "Latitude": {
          "description": "Latitude coordinate of the geographic location.",
          "type": "number",
          "x-actualtype": "double"
        },
        "Longitude": {
          "description": "Longitude coordinate of the geographic location.",
          "type": "number",
          "x-actualtype": "double"
        }
      }
    },
    "LoginIdentityProvider": {
      "type": "string",
      "enum": [
        "Unknown",
        "PlayFab",
        "Custom",
        "GameCenter",
        "GooglePlay",
        "Steam",
        "XBoxLive",
        "PSN",
        "Kongregate",
        "Facebook",
        "IOSDevice",
        "AndroidDevice",
        "Twitch",
        "WindowsHello",
        "GameServer",
        "CustomServer",
        "NintendoSwitch",
        "FacebookInstantGames",
        "OpenIdConnect",
        "Apple",
        "NintendoSwitchAccount"
      ]
    },
    "LogStatement": {
      "type": "object",
      "properties": {
        "Data": {
          "description": "Optional object accompanying the message as contextual information",
          "type": "object"
        },
        "Level": {
          "description": "'Debug', 'Info', or 'Error'",
          "type": "string"
        },
        "Message": {
          "type": "string"
        }
      }
    },
    "MembershipModel": {
      "type": "object",
      "properties": {
        "IsActive": {
          "description": "Whether this membership is active. That is, whether the MembershipExpiration time has been reached.",
          "type": "boolean"
        },
        "MembershipExpiration": {
          "description": "The time this membership expires",
          "type": "string"
        },
        "MembershipId": {
          "description": "The id of the membership",
          "type": "string"
        },
        "OverrideExpiration": {
          "description": "Membership expirations can be explicitly overridden (via game manager or the admin api). If this membership has been overridden, this will be the new expiration time.",
          "type": "string"
        },
        "OverrideIsSet": {
          "description": "Whether the override expiration is set.",
          "type": "boolean",
          "x-GovernsProperty": "OverrideExpiration"
        },
        "Subscriptions": {
          "description": "The list of subscriptions that this player has for this membership",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionModel"
          },
          "x-isclass": true
        }
      },
      "required": [
        "MembershipExpiration",
        "IsActive"
      ]
    },
    "NameIdentifier": {
      "description": "Identifier by either name or ID. Note that a name may change due to renaming, or reused after being deleted. ID is immutable and unique.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Id Identifier, if present",
          "type": "string"
        },
        "Name": {
          "description": "Name Identifier, if present",
          "type": "string"
        }
      },
      "example": {
        "Name": "MyTask",
        "Id": "d739e188-22f6-4d13-a4d5-df2e93d4d2f7"
      }
    },
    "PlayerProfileModel": {
      "type": "object",
      "properties": {
        "AdCampaignAttributions": {
          "description": "List of advertising campaigns the player has been attributed to",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdCampaignAttributionModel"
          },
          "x-isclass": true
        },
        "AvatarUrl": {
          "description": "URL of the player's avatar image",
          "type": "string"
        },
        "BannedUntil": {
          "description": "If the player is currently banned, the UTC Date when the ban expires",
          "type": "string"
        },
        "ContactEmailAddresses": {
          "description": "List of all contact email info associated with the player account",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactEmailInfoModel"
          },
          "x-isclass": true
        },
        "Created": {
          "description": "Player record created",
          "type": "string"
        },
        "DisplayName": {
          "description": "Player display name",
          "type": "string"
        },
        "ExperimentVariants": {
          "description": "List of experiment variants for the player. Note that these variants are not guaranteed to be up-to-date when returned during login because the player profile is updated only after login. Instead, use the LoginResult.TreatmentAssignment property during login to get the correct variants and variables.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "LastLogin": {
          "description": "UTC time when the player most recently logged in to the title",
          "type": "string"
        },
        "LinkedAccounts": {
          "description": "List of all authentication systems linked to this player account",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LinkedPlatformAccountModel"
          },
          "x-isclass": true
        },
        "Locations": {
          "description": "List of geographic locations from which the player has logged in to the title",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocationModel"
          },
          "x-isclass": true
        },
        "Memberships": {
          "description": "List of memberships for the player, along with whether are expired.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MembershipModel"
          },
          "x-isclass": true
        },
        "Origination": {
          "$ref": "#/definitions/LoginIdentityProvider",
          "description": "Player account origination",
          "type": "string",
          "x-isenum": true
        },
        "PlayerId": {
          "description": "PlayFab player account unique identifier",
          "type": "string"
        },
        "PublisherId": {
          "description": "Publisher this player belongs to",
          "type": "string"
        },
        "PushNotificationRegistrations": {
          "description": "List of configured end points registered for sending the player push notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PushNotificationRegistrationModel"
          },
          "x-isclass": true
        },
        "Statistics": {
          "description": "List of leaderboard statistic values for the player",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticModel"
          },
          "x-isclass": true
        },
        "Tags": {
          "description": "List of player's tags for segmentation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagModel"
          },
          "x-isclass": true
        },
        "TitleId": {
          "description": "Title ID this player profile applies to",
          "type": "string"
        },
        "TotalValueToDateInUSD": {
          "description": "Sum of the player's purchases made with real-money currencies, converted to US dollars equivalent and represented as a whole number of cents (1/100 USD). For example, 999 indicates nine dollars and ninety-nine cents.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "ValuesToDate": {
          "description": "List of the player's lifetime purchase totals, summed by real-money currency",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValueToDateModel"
          },
          "x-isclass": true
        }
      },
      "example": {
        "TitleId": "FFFF",
        "PlayerId": "1234ABCD",
        "Created": "2019-02-11T20:23:05",
        "LastLogin": "2020-02-11T20:23:05",
        "DisplayName": "Gudge"
      }
    },
    "PlayStreamEventEnvelopeModel": {
      "type": "object",
      "properties": {
        "EntityId": {
          "description": "The ID of the entity the event is about.",
          "type": "string"
        },
        "EntityType": {
          "description": "The type of the entity the event is about.",
          "type": "string"
        },
        "EventData": {
          "description": "Data specific to this event.",
          "type": "string"
        },
        "EventName": {
          "description": "The name of the event.",
          "type": "string"
        },
        "EventNamespace": {
          "description": "The namespace of the event.",
          "type": "string"
        },
        "EventSettings": {
          "description": "Settings for the event.",
          "type": "string"
        }
      }
    },
    "PostFunctionResultForEntityTriggeredActionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "FunctionResult": {
          "$ref": "#/definitions/ExecuteFunctionResult",
          "description": "The result of the function execution.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "FunctionResult",
        "Entity"
      ],
      "example": {
        "FunctionResult": {
          "ExecutionTimeMilliseconds": 367,
          "FunctionName": "LevelCompleted",
          "FunctionResult": {
            "newScore": 25
          }
        }
      }
    },
    "PostFunctionResultForFunctionExecutionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "FunctionResult": {
          "$ref": "#/definitions/ExecuteFunctionResult",
          "description": "The result of the function execution.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "FunctionResult",
        "Entity"
      ],
      "example": {
        "FunctionResult": {
          "ExecutionTimeMilliseconds": 367,
          "FunctionName": "LevelCompleted",
          "FunctionResult": {
            "newScore": 25
          }
        }
      }
    },
    "PostFunctionResultForPlayerTriggeredActionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "FunctionResult": {
          "$ref": "#/definitions/ExecuteFunctionResult",
          "description": "The result of the function execution.",
          "type": "object",
          "x-isclass": true
        },
        "PlayerProfile": {
          "$ref": "#/definitions/PlayerProfileModel",
          "description": "The player profile the function was invoked with.",
          "type": "object",
          "x-isclass": true
        },
        "PlayStreamEventEnvelope": {
          "$ref": "#/definitions/PlayStreamEventEnvelopeModel",
          "description": "The triggering PlayStream event, if any, that caused the function to be invoked.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "PlayerProfile",
        "FunctionResult"
      ],
      "example": {
        "PlayStreamEventEnvelope": {
          "EntityId": "1234ABCD",
          "EntityType": "title_player_account",
          "EventName": "player_logged_in",
          "EventNamespace": "com.playfab",
          "EventData": "someeventdata",
          "EventSettings": "someeventsettings"
        },
        "PlayerProfile": {
          "TitleId": "FFFF",
          "PlayerId": "1234ABCD",
          "Created": "2019-02-11T20:23:05",
          "LastLogin": "2020-02-11T20:23:05",
          "DisplayName": "Gudge"
        },
        "FunctionResult": {
          "ExecutionTimeMilliseconds": 367,
          "FunctionName": "LevelCompleted",
          "FunctionResult": {
            "newScore": 25
          }
        }
      }
    },
    "PostFunctionResultForScheduledTaskRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "FunctionResult": {
          "$ref": "#/definitions/ExecuteFunctionResult",
          "description": "The result of the function execution",
          "type": "object",
          "x-isclass": true
        },
        "ScheduledTaskId": {
          "$ref": "#/definitions/NameIdentifier",
          "description": "The id of the scheduled task that invoked the function.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "ScheduledTaskId",
        "FunctionResult",
        "Entity"
      ],
      "example": {
        "ScheduledTaskId": {
          "Name": "MyTask",
          "Id": "d739e188-22f6-4d13-a4d5-df2e93d4d2f7"
        },
        "FunctionResult": {
          "ExecutionTimeMilliseconds": 367,
          "FunctionName": "LevelCompleted",
          "FunctionResult": {
            "newScore": 25
          }
        }
      }
    },
    "PushNotificationPlatform": {
      "type": "string",
      "enum": [
        "ApplePushNotificationService",
        "GoogleCloudMessaging"
      ]
    },
    "PushNotificationRegistrationModel": {
      "type": "object",
      "properties": {
        "NotificationEndpointARN": {
          "description": "Notification configured endpoint",
          "type": "string"
        },
        "Platform": {
          "$ref": "#/definitions/PushNotificationPlatform",
          "description": "Push notification platform",
          "type": "string",
          "x-isenum": true
        }
      }
    },
    "QueuedFunctionModel": {
      "type": "object",
      "properties": {
        "ConnectionString": {
          "description": "The connection string for the Azure Storage Account that hosts the queue.",
          "type": "string"
        },
        "FunctionName": {
          "description": "The name the function was registered under.",
          "type": "string"
        },
        "QueueName": {
          "description": "The name of the queue that triggers the Azure Function.",
          "type": "string"
        }
      }
    },
    "RegisterHttpFunctionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "FunctionName": {
          "description": "The name of the function to register",
          "type": "string"
        },
        "FunctionUrl": {
          "description": "Full URL for Azure Function that implements the function.",
          "type": "string"
        }
      },
      "required": [
        "FunctionName",
        "FunctionUrl"
      ],
      "example": {
        "FunctionName": "functionName",
        "FunctionUrl": "http://function.url"
      }
    },
    "RegisterQueuedFunctionRequest": {
      "description": "A title can have many functions, RegisterQueuedFunction associates a function name with a queue name and connection string.",
      "type": "object",
      "properties": {
        "ConnectionString": {
          "description": "A connection string for the storage account that hosts the queue for the Azure Function.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "FunctionName": {
          "description": "The name of the function to register",
          "type": "string"
        },
        "QueueName": {
          "description": "The name of the queue for the Azure Function.",
          "type": "string"
        }
      },
      "required": [
        "FunctionName",
        "QueueName",
        "ConnectionString"
      ],
      "example": {
        "FunctionName": "functionName",
        "QueueName": "fn-queue",
        "ConnectionString": "SampleConnectionString"
      }
    },
    "ScriptExecutionError": {
      "type": "object",
      "properties": {
        "Error": {
          "description": "Error code, such as CloudScriptNotFound, JavascriptException, CloudScriptFunctionArgumentSizeExceeded, CloudScriptAPIRequestCountExceeded, CloudScriptAPIRequestError, or CloudScriptHTTPRequestError",
          "type": "string"
        },
        "Message": {
          "description": "Details about the error",
          "type": "string"
        },
        "StackTrace": {
          "description": "Point during the execution of the script at which the error occurred, if any",
          "type": "string"
        }
      }
    },
    "StatisticModel": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Statistic name",
          "type": "string"
        },
        "Value": {
          "description": "Statistic value",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Version": {
          "description": "Statistic version (0 if not a versioned statistic)",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Version",
        "Value"
      ]
    },
    "SubscriptionModel": {
      "type": "object",
      "properties": {
        "Expiration": {
          "description": "When this subscription expires.",
          "type": "string"
        },
        "InitialSubscriptionTime": {
          "description": "The time the subscription was orignially purchased",
          "type": "string"
        },
        "IsActive": {
          "description": "Whether this subscription is currently active. That is, if Expiration > now.",
          "type": "boolean"
        },
        "Status": {
          "$ref": "#/definitions/SubscriptionProviderStatus",
          "description": "The status of this subscription, according to the subscription provider.",
          "type": "string",
          "x-isenum": true
        },
        "SubscriptionId": {
          "description": "The id for this subscription",
          "type": "string"
        },
        "SubscriptionItemId": {
          "description": "The item id for this subscription from the primary catalog",
          "type": "string"
        },
        "SubscriptionProvider": {
          "description": "The provider for this subscription. Apple or Google Play are supported today.",
          "type": "string"
        }
      },
      "required": [
        "Expiration",
        "IsActive",
        "InitialSubscriptionTime"
      ]
    },
    "SubscriptionProviderStatus": {
      "type": "string",
      "enum": [
        "NoError",
        "Cancelled",
        "UnknownError",
        "BillingError",
        "ProductUnavailable",
        "CustomerDidNotAcceptPriceChange",
        "FreeTrial",
        "PaymentPending"
      ]
    },
    "TagModel": {
      "type": "object",
      "properties": {
        "TagValue": {
          "description": "Full value of the tag, including namespace",
          "type": "string"
        }
      }
    },
    "TriggerType": {
      "type": "string",
      "enum": [
        "HTTP",
        "Queue"
      ]
    },
    "UnregisterFunctionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "FunctionName": {
          "description": "The name of the function to unregister",
          "type": "string"
        }
      },
      "required": [
        "FunctionName"
      ],
      "example": {
        "FunctionName": "functionName"
      }
    },
    "ValueToDateModel": {
      "type": "object",
      "properties": {
        "Currency": {
          "description": "ISO 4217 code of the currency used in the purchases",
          "type": "string"
        },
        "TotalValue": {
          "description": "Total value of the purchases in a whole number of 1/100 monetary units. For example, 999 indicates nine dollars and ninety-nine cents when Currency is 'USD')",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "TotalValueAsDecimal": {
          "description": "Total value of the purchases in a string representation of decimal monetary units. For example, '9.99' indicates nine dollars and ninety-nine cents when Currency is 'USD'.",
          "type": "string"
        }
      },
      "required": [
        "TotalValue"
      ]
    }
  },
  "parameters": {
    "ExecuteEntityCloudScriptRequest": {
      "name": "ExecuteEntityCloudScriptRequest",
      "in": "body",
      "description": "Executes CloudScript with the entity profile that is defined in the request.",
      "schema": {
        "$ref": "#/definitions/ExecuteEntityCloudScriptRequest"
      }
    },
    "ExecuteFunctionRequest": {
      "name": "ExecuteFunctionRequest",
      "in": "body",
      "description": "Executes an Azure Function with the profile of the entity that is defined in the request.",
      "schema": {
        "$ref": "#/definitions/ExecuteFunctionRequest"
      }
    },
    "ListFunctionsRequest": {
      "name": "ListFunctionsRequest",
      "in": "body",
      "description": "A title can have many functions, ListHttpFunctions will return a list of all the currently registered HTTP triggered functions for a given title.",
      "schema": {
        "$ref": "#/definitions/ListFunctionsRequest"
      }
    },
    "PostFunctionResultForEntityTriggeredActionRequest": {
      "name": "PostFunctionResultForEntityTriggeredActionRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/PostFunctionResultForEntityTriggeredActionRequest"
      }
    },
    "PostFunctionResultForFunctionExecutionRequest": {
      "name": "PostFunctionResultForFunctionExecutionRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/PostFunctionResultForFunctionExecutionRequest"
      }
    },
    "PostFunctionResultForPlayerTriggeredActionRequest": {
      "name": "PostFunctionResultForPlayerTriggeredActionRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/PostFunctionResultForPlayerTriggeredActionRequest"
      }
    },
    "PostFunctionResultForScheduledTaskRequest": {
      "name": "PostFunctionResultForScheduledTaskRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/PostFunctionResultForScheduledTaskRequest"
      }
    },
    "RegisterHttpFunctionRequest": {
      "name": "RegisterHttpFunctionRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/RegisterHttpFunctionRequest"
      }
    },
    "RegisterQueuedFunctionRequest": {
      "name": "RegisterQueuedFunctionRequest",
      "in": "body",
      "description": "A title can have many functions, RegisterQueuedFunction associates a function name with a queue name and connection string.",
      "schema": {
        "$ref": "#/definitions/RegisterQueuedFunctionRequest"
      }
    },
    "UnregisterFunctionRequest": {
      "name": "UnregisterFunctionRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/UnregisterFunctionRequest"
      }
    }
  },
  "responses": {
    "ApiErrorWrapper": {
      "description": "This is the outer wrapper for all responses with errors",
      "schema": {
        "$ref": "#/definitions/ApiErrorWrapper"
      }
    },
    "EmptyResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/EmptyResult"
          }
        }
      }
    },
    "ExecuteCloudScriptResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ExecuteCloudScriptResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Revision": 3,
            "FunctionResult": {
              "newScore": 25
            },
            "Logs": [
              {
                "Level": "Info",
                "Message": "Something normal happened",
                "Data": {
                  "secondsAfterStart": 75
                }
              },
              {
                "Level": "Error",
                "Message": "Something unexpected happened"
              }
            ],
            "ExecutionTimeSeconds": 0.03670790046453476,
            "MemoryConsumedBytes": 38904,
            "APIRequestsIssued": 2
          }
        }
      }
    },
    "ExecuteFunctionResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ExecuteFunctionResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "ExecutionTimeMilliseconds": 367,
            "FunctionName": "LevelCompleted",
            "FunctionResult": {
              "newScore": 25
            }
          }
        }
      }
    },
    "ListFunctionsResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ListFunctionsResult"
          }
        }
      }
    },
    "ListHttpFunctionsResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ListHttpFunctionsResult"
          }
        }
      }
    },
    "ListQueuedFunctionsResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ListQueuedFunctionsResult"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Server-Side Cloud Script",
      "description": "Server-Side Cloud Script APIs"
    }
  ],
  "securityDefinitions": {
    "None": {
      "type": "apiKey",
      "in": "header",
      "name": "None",
      "description": "This API requires no authentication headers (usually provides one to other calls)."
    },
    "SessionTicket": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Authorization",
      "description": "This API requires a client session ticket, available from any Client Login function."
    },
    "SecretKey": {
      "type": "apiKey",
      "in": "header",
      "name": "X-SecretKey",
      "description": "This API requires a title secret key, available to title admins, from PlayFab Game Manager."
    },
    "EntityToken": {
      "type": "apiKey",
      "in": "header",
      "name": "X-EntityToken",
      "description": "This API requires an Entity Session Token, available from the Entity GetEntityToken method."
    }
  },
  "x-ms-docs-errors-mapping": {
    "Success": {
      "name": "Success"
    },
    "UnkownError": {
      "id": 500,
      "name": "UnkownError"
    },
    "InvalidParams": {
      "id": 1000,
      "name": "InvalidParams"
    },
    "AccountNotFound": {
      "id": 1001,
      "name": "AccountNotFound"
    },
    "AccountBanned": {
      "id": 1002,
      "name": "AccountBanned"
    },
    "InvalidUsernameOrPassword": {
      "id": 1003,
      "name": "InvalidUsernameOrPassword"
    },
    "InvalidTitleId": {
      "id": 1004,
      "name": "InvalidTitleId"
    },
    "InvalidEmailAddress": {
      "id": 1005,
      "name": "InvalidEmailAddress"
    },
    "EmailAddressNotAvailable": {
      "id": 1006,
      "name": "EmailAddressNotAvailable"
    },
    "InvalidUsername": {
      "id": 1007,
      "name": "InvalidUsername"
    },
    "InvalidPassword": {
      "id": 1008,
      "name": "InvalidPassword"
    },
    "UsernameNotAvailable": {
      "id": 1009,
      "name": "UsernameNotAvailable"
    },
    "InvalidSteamTicket": {
      "id": 1010,
      "name": "InvalidSteamTicket"
    },
    "AccountAlreadyLinked": {
      "id": 1011,
      "name": "AccountAlreadyLinked"
    },
    "LinkedAccountAlreadyClaimed": {
      "id": 1012,
      "name": "LinkedAccountAlreadyClaimed"
    },
    "InvalidFacebookToken": {
      "id": 1013,
      "name": "InvalidFacebookToken"
    },
    "AccountNotLinked": {
      "id": 1014,
      "name": "AccountNotLinked"
    },
    "FailedByPaymentProvider": {
      "id": 1015,
      "name": "FailedByPaymentProvider"
    },
    "CouponCodeNotFound": {
      "id": 1016,
      "name": "CouponCodeNotFound"
    },
    "InvalidContainerItem": {
      "id": 1017,
      "name": "InvalidContainerItem"
    },
    "ContainerNotOwned": {
      "id": 1018,
      "name": "ContainerNotOwned"
    },
    "KeyNotOwned": {
      "id": 1019,
      "name": "KeyNotOwned"
    },
    "InvalidItemIdInTable": {
      "id": 1020,
      "name": "InvalidItemIdInTable"
    },
    "InvalidReceipt": {
      "id": 1021,
      "name": "InvalidReceipt"
    },
    "ReceiptAlreadyUsed": {
      "id": 1022,
      "name": "ReceiptAlreadyUsed"
    },
    "ReceiptCancelled": {
      "id": 1023,
      "name": "ReceiptCancelled"
    },
    "GameNotFound": {
      "id": 1024,
      "name": "GameNotFound"
    },
    "GameModeNotFound": {
      "id": 1025,
      "name": "GameModeNotFound"
    },
    "InvalidGoogleToken": {
      "id": 1026,
      "name": "InvalidGoogleToken"
    },
    "UserIsNotPartOfDeveloper": {
      "id": 1027,
      "name": "UserIsNotPartOfDeveloper"
    },
    "InvalidTitleForDeveloper": {
      "id": 1028,
      "name": "InvalidTitleForDeveloper"
    },
    "TitleNameConflicts": {
      "id": 1029,
      "name": "TitleNameConflicts"
    },
    "UserisNotValid": {
      "id": 1030,
      "name": "UserisNotValid"
    },
    "ValueAlreadyExists": {
      "id": 1031,
      "name": "ValueAlreadyExists"
    },
    "BuildNotFound": {
      "id": 1032,
      "name": "BuildNotFound"
    },
    "PlayerNotInGame": {
      "id": 1033,
      "name": "PlayerNotInGame"
    },
    "InvalidTicket": {
      "id": 1034,
      "name": "InvalidTicket"
    },
    "InvalidDeveloper": {
      "id": 1035,
      "name": "InvalidDeveloper"
    },
    "InvalidOrderInfo": {
      "id": 1036,
      "name": "InvalidOrderInfo"
    },
    "RegistrationIncomplete": {
      "id": 1037,
      "name": "RegistrationIncomplete"
    },
    "InvalidPlatform": {
      "id": 1038,
      "name": "InvalidPlatform"
    },
    "UnknownError": {
      "id": 1039,
      "name": "UnknownError"
    },
    "SteamApplicationNotOwned": {
      "id": 1040,
      "name": "SteamApplicationNotOwned"
    },
    "WrongSteamAccount": {
      "id": 1041,
      "name": "WrongSteamAccount"
    },
    "TitleNotActivated": {
      "id": 1042,
      "name": "TitleNotActivated"
    },
    "RegistrationSessionNotFound": {
      "id": 1043,
      "name": "RegistrationSessionNotFound"
    },
    "NoSuchMod": {
      "id": 1044,
      "name": "NoSuchMod"
    },
    "FileNotFound": {
      "id": 1045,
      "name": "FileNotFound"
    },
    "DuplicateEmail": {
      "id": 1046,
      "name": "DuplicateEmail"
    },
    "ItemNotFound": {
      "id": 1047,
      "name": "ItemNotFound"
    },
    "ItemNotOwned": {
      "id": 1048,
      "name": "ItemNotOwned"
    },
    "ItemNotRecycleable": {
      "id": 1049,
      "name": "ItemNotRecycleable"
    },
    "ItemNotAffordable": {
      "id": 1050,
      "name": "ItemNotAffordable"
    },
    "InvalidVirtualCurrency": {
      "id": 1051,
      "name": "InvalidVirtualCurrency"
    },
    "WrongVirtualCurrency": {
      "id": 1052,
      "name": "WrongVirtualCurrency"
    },
    "WrongPrice": {
      "id": 1053,
      "name": "WrongPrice"
    },
    "NonPositiveValue": {
      "id": 1054,
      "name": "NonPositiveValue"
    },
    "InvalidRegion": {
      "id": 1055,
      "name": "InvalidRegion"
    },
    "RegionAtCapacity": {
      "id": 1056,
      "name": "RegionAtCapacity"
    },
    "ServerFailedToStart": {
      "id": 1057,
      "name": "ServerFailedToStart"
    },
    "NameNotAvailable": {
      "id": 1058,
      "name": "NameNotAvailable"
    },
    "InsufficientFunds": {
      "id": 1059,
      "name": "InsufficientFunds"
    },
    "InvalidDeviceID": {
      "id": 1060,
      "name": "InvalidDeviceID"
    },
    "InvalidPushNotificationToken": {
      "id": 1061,
      "name": "InvalidPushNotificationToken"
    },
    "NoRemainingUses": {
      "id": 1062,
      "name": "NoRemainingUses"
    },
    "InvalidPaymentProvider": {
      "id": 1063,
      "name": "InvalidPaymentProvider"
    },
    "PurchaseInitializationFailure": {
      "id": 1064,
      "name": "PurchaseInitializationFailure"
    },
    "DuplicateUsername": {
      "id": 1065,
      "name": "DuplicateUsername"
    },
    "InvalidBuyerInfo": {
      "id": 1066,
      "name": "InvalidBuyerInfo"
    },
    "NoGameModeParamsSet": {
      "id": 1067,
      "name": "NoGameModeParamsSet"
    },
    "BodyTooLarge": {
      "id": 1068,
      "name": "BodyTooLarge"
    },
    "ReservedWordInBody": {
      "id": 1069,
      "name": "ReservedWordInBody"
    },
    "InvalidTypeInBody": {
      "id": 1070,
      "name": "InvalidTypeInBody"
    },
    "InvalidRequest": {
      "id": 1071,
      "name": "InvalidRequest"
    },
    "ReservedEventName": {
      "id": 1072,
      "name": "ReservedEventName"
    },
    "InvalidUserStatistics": {
      "id": 1073,
      "name": "InvalidUserStatistics"
    },
    "NotAuthenticated": {
      "id": 1074,
      "name": "NotAuthenticated"
    },
    "StreamAlreadyExists": {
      "id": 1075,
      "name": "StreamAlreadyExists"
    },
    "ErrorCreatingStream": {
      "id": 1076,
      "name": "ErrorCreatingStream"
    },
    "StreamNotFound": {
      "id": 1077,
      "name": "StreamNotFound"
    },
    "InvalidAccount": {
      "id": 1078,
      "name": "InvalidAccount"
    },
    "PurchaseDoesNotExist": {
      "id": 1080,
      "name": "PurchaseDoesNotExist"
    },
    "InvalidPurchaseTransactionStatus": {
      "id": 1081,
      "name": "InvalidPurchaseTransactionStatus"
    },
    "APINotEnabledForGameClientAccess": {
      "id": 1082,
      "name": "APINotEnabledForGameClientAccess"
    },
    "NoPushNotificationARNForTitle": {
      "id": 1083,
      "name": "NoPushNotificationARNForTitle"
    },
    "BuildAlreadyExists": {
      "id": 1084,
      "name": "BuildAlreadyExists"
    },
    "BuildPackageDoesNotExist": {
      "id": 1085,
      "name": "BuildPackageDoesNotExist"
    },
    "CustomAnalyticsEventsNotEnabledForTitle": {
      "id": 1087,
      "name": "CustomAnalyticsEventsNotEnabledForTitle"
    },
    "InvalidSharedGroupId": {
      "id": 1088,
      "name": "InvalidSharedGroupId"
    },
    "NotAuthorized": {
      "id": 1089,
      "name": "NotAuthorized"
    },
    "MissingTitleGoogleProperties": {
      "id": 1090,
      "name": "MissingTitleGoogleProperties"
    },
    "InvalidItemProperties": {
      "id": 1091,
      "name": "InvalidItemProperties"
    },
    "InvalidPSNAuthCode": {
      "id": 1092,
      "name": "InvalidPSNAuthCode"
    },
    "InvalidItemId": {
      "id": 1093,
      "name": "InvalidItemId"
    },
    "PushNotEnabledForAccount": {
      "id": 1094,
      "name": "PushNotEnabledForAccount"
    },
    "PushServiceError": {
      "id": 1095,
      "name": "PushServiceError"
    },
    "ReceiptDoesNotContainInAppItems": {
      "id": 1096,
      "name": "ReceiptDoesNotContainInAppItems"
    },
    "ReceiptContainsMultipleInAppItems": {
      "id": 1097,
      "name": "ReceiptContainsMultipleInAppItems"
    },
    "InvalidBundleID": {
      "id": 1098,
      "name": "InvalidBundleID"
    },
    "JavascriptException": {
      "id": 1099,
      "name": "JavascriptException"
    },
    "InvalidSessionTicket": {
      "id": 1100,
      "name": "InvalidSessionTicket"
    },
    "UnableToConnectToDatabase": {
      "id": 1101,
      "name": "UnableToConnectToDatabase"
    },
    "InternalServerError": {
      "id": 1110,
      "name": "InternalServerError"
    },
    "InvalidReportDate": {
      "id": 1111,
      "name": "InvalidReportDate"
    },
    "ReportNotAvailable": {
      "id": 1112,
      "name": "ReportNotAvailable"
    },
    "DatabaseThroughputExceeded": {
      "id": 1113,
      "name": "DatabaseThroughputExceeded"
    },
    "InvalidGameTicket": {
      "id": 1115,
      "name": "InvalidGameTicket"
    },
    "ExpiredGameTicket": {
      "id": 1116,
      "name": "ExpiredGameTicket"
    },
    "GameTicketDoesNotMatchLobby": {
      "id": 1117,
      "name": "GameTicketDoesNotMatchLobby"
    },
    "LinkedDeviceAlreadyClaimed": {
      "id": 1118,
      "name": "LinkedDeviceAlreadyClaimed"
    },
    "DeviceAlreadyLinked": {
      "id": 1119,
      "name": "DeviceAlreadyLinked"
    },
    "DeviceNotLinked": {
      "id": 1120,
      "name": "DeviceNotLinked"
    },
    "PartialFailure": {
      "id": 1121,
      "name": "PartialFailure"
    },
    "PublisherNotSet": {
      "id": 1122,
      "name": "PublisherNotSet"
    },
    "ServiceUnavailable": {
      "id": 1123,
      "name": "ServiceUnavailable"
    },
    "VersionNotFound": {
      "id": 1124,
      "name": "VersionNotFound"
    },
    "RevisionNotFound": {
      "id": 1125,
      "name": "RevisionNotFound"
    },
    "InvalidPublisherId": {
      "id": 1126,
      "name": "InvalidPublisherId"
    },
    "DownstreamServiceUnavailable": {
      "id": 1127,
      "name": "DownstreamServiceUnavailable"
    },
    "APINotIncludedInTitleUsageTier": {
      "id": 1128,
      "name": "APINotIncludedInTitleUsageTier"
    },
    "DAULimitExceeded": {
      "id": 1129,
      "name": "DAULimitExceeded"
    },
    "APIRequestLimitExceeded": {
      "id": 1130,
      "name": "APIRequestLimitExceeded"
    },
    "InvalidAPIEndpoint": {
      "id": 1131,
      "name": "InvalidAPIEndpoint"
    },
    "BuildNotAvailable": {
      "id": 1132,
      "name": "BuildNotAvailable"
    },
    "ConcurrentEditError": {
      "id": 1133,
      "name": "ConcurrentEditError"
    },
    "ContentNotFound": {
      "id": 1134,
      "name": "ContentNotFound"
    },
    "CharacterNotFound": {
      "id": 1135,
      "name": "CharacterNotFound"
    },
    "CloudScriptNotFound": {
      "id": 1136,
      "name": "CloudScriptNotFound"
    },
    "ContentQuotaExceeded": {
      "id": 1137,
      "name": "ContentQuotaExceeded"
    },
    "InvalidCharacterStatistics": {
      "id": 1138,
      "name": "InvalidCharacterStatistics"
    },
    "PhotonNotEnabledForTitle": {
      "id": 1139,
      "name": "PhotonNotEnabledForTitle"
    },
    "PhotonApplicationNotFound": {
      "id": 1140,
      "name": "PhotonApplicationNotFound"
    },
    "PhotonApplicationNotAssociatedWithTitle": {
      "id": 1141,
      "name": "PhotonApplicationNotAssociatedWithTitle"
    },
    "InvalidEmailOrPassword": {
      "id": 1142,
      "name": "InvalidEmailOrPassword"
    },
    "FacebookAPIError": {
      "id": 1143,
      "name": "FacebookAPIError"
    },
    "InvalidContentType": {
      "id": 1144,
      "name": "InvalidContentType"
    },
    "KeyLengthExceeded": {
      "id": 1145,
      "name": "KeyLengthExceeded"
    },
    "DataLengthExceeded": {
      "id": 1146,
      "name": "DataLengthExceeded"
    },
    "TooManyKeys": {
      "id": 1147,
      "name": "TooManyKeys"
    },
    "FreeTierCannotHaveVirtualCurrency": {
      "id": 1148,
      "name": "FreeTierCannotHaveVirtualCurrency"
    },
    "MissingAmazonSharedKey": {
      "id": 1149,
      "name": "MissingAmazonSharedKey"
    },
    "AmazonValidationError": {
      "id": 1150,
      "name": "AmazonValidationError"
    },
    "InvalidPSNIssuerId": {
      "id": 1151,
      "name": "InvalidPSNIssuerId"
    },
    "PSNInaccessible": {
      "id": 1152,
      "name": "PSNInaccessible"
    },
    "ExpiredAuthToken": {
      "id": 1153,
      "name": "ExpiredAuthToken"
    },
    "FailedToGetEntitlements": {
      "id": 1154,
      "name": "FailedToGetEntitlements"
    },
    "FailedToConsumeEntitlement": {
      "id": 1155,
      "name": "FailedToConsumeEntitlement"
    },
    "TradeAcceptingUserNotAllowed": {
      "id": 1156,
      "name": "TradeAcceptingUserNotAllowed"
    },
    "TradeInventoryItemIsAssignedToCharacter": {
      "id": 1157,
      "name": "TradeInventoryItemIsAssignedToCharacter"
    },
    "TradeInventoryItemIsBundle": {
      "id": 1158,
      "name": "TradeInventoryItemIsBundle"
    },
    "TradeStatusNotValidForCancelling": {
      "id": 1159,
      "name": "TradeStatusNotValidForCancelling"
    },
    "TradeStatusNotValidForAccepting": {
      "id": 1160,
      "name": "TradeStatusNotValidForAccepting"
    },
    "TradeDoesNotExist": {
      "id": 1161,
      "name": "TradeDoesNotExist"
    },
    "TradeCancelled": {
      "id": 1162,
      "name": "TradeCancelled"
    },
    "TradeAlreadyFilled": {
      "id": 1163,
      "name": "TradeAlreadyFilled"
    },
    "TradeWaitForStatusTimeout": {
      "id": 1164,
      "name": "TradeWaitForStatusTimeout"
    },
    "TradeInventoryItemExpired": {
      "id": 1165,
      "name": "TradeInventoryItemExpired"
    },
    "TradeMissingOfferedAndAcceptedItems": {
      "id": 1166,
      "name": "TradeMissingOfferedAndAcceptedItems"
    },
    "TradeAcceptedItemIsBundle": {
      "id": 1167,
      "name": "TradeAcceptedItemIsBundle"
    },
    "TradeAcceptedItemIsStackable": {
      "id": 1168,
      "name": "TradeAcceptedItemIsStackable"
    },
    "TradeInventoryItemInvalidStatus": {
      "id": 1169,
      "name": "TradeInventoryItemInvalidStatus"
    },
    "TradeAcceptedCatalogItemInvalid": {
      "id": 1170,
      "name": "TradeAcceptedCatalogItemInvalid"
    },
    "TradeAllowedUsersInvalid": {
      "id": 1171,
      "name": "TradeAllowedUsersInvalid"
    },
    "TradeInventoryItemDoesNotExist": {
      "id": 1172,
      "name": "TradeInventoryItemDoesNotExist"
    },
    "TradeInventoryItemIsConsumed": {
      "id": 1173,
      "name": "TradeInventoryItemIsConsumed"
    },
    "TradeInventoryItemIsStackable": {
      "id": 1174,
      "name": "TradeInventoryItemIsStackable"
    },
    "TradeAcceptedItemsMismatch": {
      "id": 1175,
      "name": "TradeAcceptedItemsMismatch"
    },
    "InvalidKongregateToken": {
      "id": 1176,
      "name": "InvalidKongregateToken"
    },
    "FeatureNotConfiguredForTitle": {
      "id": 1177,
      "name": "FeatureNotConfiguredForTitle"
    },
    "NoMatchingCatalogItemForReceipt": {
      "id": 1178,
      "name": "NoMatchingCatalogItemForReceipt"
    },
    "InvalidCurrencyCode": {
      "id": 1179,
      "name": "InvalidCurrencyCode"
    },
    "NoRealMoneyPriceForCatalogItem": {
      "id": 1180,
      "name": "NoRealMoneyPriceForCatalogItem"
    },
    "TradeInventoryItemIsNotTradable": {
      "id": 1181,
      "name": "TradeInventoryItemIsNotTradable"
    },
    "TradeAcceptedCatalogItemIsNotTradable": {
      "id": 1182,
      "name": "TradeAcceptedCatalogItemIsNotTradable"
    },
    "UsersAlreadyFriends": {
      "id": 1183,
      "name": "UsersAlreadyFriends"
    },
    "LinkedIdentifierAlreadyClaimed": {
      "id": 1184,
      "name": "LinkedIdentifierAlreadyClaimed"
    },
    "CustomIdNotLinked": {
      "id": 1185,
      "name": "CustomIdNotLinked"
    },
    "TotalDataSizeExceeded": {
      "id": 1186,
      "name": "TotalDataSizeExceeded"
    },
    "DeleteKeyConflict": {
      "id": 1187,
      "name": "DeleteKeyConflict"
    },
    "InvalidXboxLiveToken": {
      "id": 1188,
      "name": "InvalidXboxLiveToken"
    },
    "ExpiredXboxLiveToken": {
      "id": 1189,
      "name": "ExpiredXboxLiveToken"
    },
    "ResettableStatisticVersionRequired": {
      "id": 1190,
      "name": "ResettableStatisticVersionRequired"
    },
    "NotAuthorizedByTitle": {
      "id": 1191,
      "name": "NotAuthorizedByTitle"
    },
    "NoPartnerEnabled": {
      "id": 1192,
      "name": "NoPartnerEnabled"
    },
    "InvalidPartnerResponse": {
      "id": 1193,
      "name": "InvalidPartnerResponse"
    },
    "APINotEnabledForGameServerAccess": {
      "id": 1194,
      "name": "APINotEnabledForGameServerAccess"
    },
    "StatisticNotFound": {
      "id": 1195,
      "name": "StatisticNotFound"
    },
    "StatisticNameConflict": {
      "id": 1196,
      "name": "StatisticNameConflict"
    },
    "StatisticVersionClosedForWrites": {
      "id": 1197,
      "name": "StatisticVersionClosedForWrites"
    },
    "StatisticVersionInvalid": {
      "id": 1198,
      "name": "StatisticVersionInvalid"
    },
    "APIClientRequestRateLimitExceeded": {
      "id": 1199,
      "name": "APIClientRequestRateLimitExceeded"
    },
    "InvalidJSONContent": {
      "id": 1200,
      "name": "InvalidJSONContent"
    },
    "InvalidDropTable": {
      "id": 1201,
      "name": "InvalidDropTable"
    },
    "StatisticVersionAlreadyIncrementedForScheduledInterval": {
      "id": 1202,
      "name": "StatisticVersionAlreadyIncrementedForScheduledInterval"
    },
    "StatisticCountLimitExceeded": {
      "id": 1203,
      "name": "StatisticCountLimitExceeded"
    },
    "StatisticVersionIncrementRateExceeded": {
      "id": 1204,
      "name": "StatisticVersionIncrementRateExceeded"
    },
    "ContainerKeyInvalid": {
      "id": 1205,
      "name": "ContainerKeyInvalid"
    },
    "CloudScriptExecutionTimeLimitExceeded": {
      "id": 1206,
      "name": "CloudScriptExecutionTimeLimitExceeded"
    },
    "NoWritePermissionsForEvent": {
      "id": 1207,
      "name": "NoWritePermissionsForEvent"
    },
    "CloudScriptFunctionArgumentSizeExceeded": {
      "id": 1208,
      "name": "CloudScriptFunctionArgumentSizeExceeded"
    },
    "CloudScriptAPIRequestCountExceeded": {
      "id": 1209,
      "name": "CloudScriptAPIRequestCountExceeded"
    },
    "CloudScriptAPIRequestError": {
      "id": 1210,
      "name": "CloudScriptAPIRequestError"
    },
    "CloudScriptHTTPRequestError": {
      "id": 1211,
      "name": "CloudScriptHTTPRequestError"
    },
    "InsufficientGuildRole": {
      "id": 1212,
      "name": "InsufficientGuildRole"
    },
    "GuildNotFound": {
      "id": 1213,
      "name": "GuildNotFound"
    },
    "OverLimit": {
      "id": 1214,
      "name": "OverLimit"
    },
    "EventNotFound": {
      "id": 1215,
      "name": "EventNotFound"
    },
    "InvalidEventField": {
      "id": 1216,
      "name": "InvalidEventField"
    },
    "InvalidEventName": {
      "id": 1217,
      "name": "InvalidEventName"
    },
    "CatalogNotConfigured": {
      "id": 1218,
      "name": "CatalogNotConfigured"
    },
    "OperationNotSupportedForPlatform": {
      "id": 1219,
      "name": "OperationNotSupportedForPlatform"
    },
    "SegmentNotFound": {
      "id": 1220,
      "name": "SegmentNotFound"
    },
    "StoreNotFound": {
      "id": 1221,
      "name": "StoreNotFound"
    },
    "InvalidStatisticName": {
      "id": 1222,
      "name": "InvalidStatisticName"
    },
    "TitleNotQualifiedForLimit": {
      "id": 1223,
      "name": "TitleNotQualifiedForLimit"
    },
    "InvalidServiceLimitLevel": {
      "id": 1224,
      "name": "InvalidServiceLimitLevel"
    },
    "ServiceLimitLevelInTransition": {
      "id": 1225,
      "name": "ServiceLimitLevelInTransition"
    },
    "CouponAlreadyRedeemed": {
      "id": 1226,
      "name": "CouponAlreadyRedeemed"
    },
    "GameServerBuildSizeLimitExceeded": {
      "id": 1227,
      "name": "GameServerBuildSizeLimitExceeded"
    },
    "GameServerBuildCountLimitExceeded": {
      "id": 1228,
      "name": "GameServerBuildCountLimitExceeded"
    },
    "VirtualCurrencyCountLimitExceeded": {
      "id": 1229,
      "name": "VirtualCurrencyCountLimitExceeded"
    },
    "VirtualCurrencyCodeExists": {
      "id": 1230,
      "name": "VirtualCurrencyCodeExists"
    },
    "TitleNewsItemCountLimitExceeded": {
      "id": 1231,
      "name": "TitleNewsItemCountLimitExceeded"
    },
    "InvalidTwitchToken": {
      "id": 1232,
      "name": "InvalidTwitchToken"
    },
    "TwitchResponseError": {
      "id": 1233,
      "name": "TwitchResponseError"
    },
    "ProfaneDisplayName": {
      "id": 1234,
      "name": "ProfaneDisplayName"
    },
    "UserAlreadyAdded": {
      "id": 1235,
      "name": "UserAlreadyAdded"
    },
    "InvalidVirtualCurrencyCode": {
      "id": 1236,
      "name": "InvalidVirtualCurrencyCode"
    },
    "VirtualCurrencyCannotBeDeleted": {
      "id": 1237,
      "name": "VirtualCurrencyCannotBeDeleted"
    },
    "IdentifierAlreadyClaimed": {
      "id": 1238,
      "name": "IdentifierAlreadyClaimed"
    },
    "IdentifierNotLinked": {
      "id": 1239,
      "name": "IdentifierNotLinked"
    },
    "InvalidContinuationToken": {
      "id": 1240,
      "name": "InvalidContinuationToken"
    },
    "ExpiredContinuationToken": {
      "id": 1241,
      "name": "ExpiredContinuationToken"
    },
    "InvalidSegment": {
      "id": 1242,
      "name": "InvalidSegment"
    },
    "InvalidSessionId": {
      "id": 1243,
      "name": "InvalidSessionId"
    },
    "SessionLogNotFound": {
      "id": 1244,
      "name": "SessionLogNotFound"
    },
    "InvalidSearchTerm": {
      "id": 1245,
      "name": "InvalidSearchTerm"
    },
    "TwoFactorAuthenticationTokenRequired": {
      "id": 1246,
      "name": "TwoFactorAuthenticationTokenRequired"
    },
    "GameServerHostCountLimitExceeded": {
      "id": 1247,
      "name": "GameServerHostCountLimitExceeded"
    },
    "PlayerTagCountLimitExceeded": {
      "id": 1248,
      "name": "PlayerTagCountLimitExceeded"
    },
    "RequestAlreadyRunning": {
      "id": 1249,
      "name": "RequestAlreadyRunning"
    },
    "ActionGroupNotFound": {
      "id": 1250,
      "name": "ActionGroupNotFound"
    },
    "MaximumSegmentBulkActionJobsRunning": {
      "id": 1251,
      "name": "MaximumSegmentBulkActionJobsRunning"
    },
    "NoActionsOnPlayersInSegmentJob": {
      "id": 1252,
      "name": "NoActionsOnPlayersInSegmentJob"
    },
    "DuplicateStatisticName": {
      "id": 1253,
      "name": "DuplicateStatisticName"
    },
    "ScheduledTaskNameConflict": {
      "id": 1254,
      "name": "ScheduledTaskNameConflict"
    },
    "ScheduledTaskCreateConflict": {
      "id": 1255,
      "name": "ScheduledTaskCreateConflict"
    },
    "InvalidScheduledTaskName": {
      "id": 1256,
      "name": "InvalidScheduledTaskName"
    },
    "InvalidTaskSchedule": {
      "id": 1257,
      "name": "InvalidTaskSchedule"
    },
    "SteamNotEnabledForTitle": {
      "id": 1258,
      "name": "SteamNotEnabledForTitle"
    },
    "LimitNotAnUpgradeOption": {
      "id": 1259,
      "name": "LimitNotAnUpgradeOption"
    },
    "NoSecretKeyEnabledForCloudScript": {
      "id": 1260,
      "name": "NoSecretKeyEnabledForCloudScript"
    },
    "TaskNotFound": {
      "id": 1261,
      "name": "TaskNotFound"
    },
    "TaskInstanceNotFound": {
      "id": 1262,
      "name": "TaskInstanceNotFound"
    },
    "InvalidIdentityProviderId": {
      "id": 1263,
      "name": "InvalidIdentityProviderId"
    },
    "MisconfiguredIdentityProvider": {
      "id": 1264,
      "name": "MisconfiguredIdentityProvider"
    },
    "InvalidScheduledTaskType": {
      "id": 1265,
      "name": "InvalidScheduledTaskType"
    },
    "BillingInformationRequired": {
      "id": 1266,
      "name": "BillingInformationRequired"
    },
    "LimitedEditionItemUnavailable": {
      "id": 1267,
      "name": "LimitedEditionItemUnavailable"
    },
    "InvalidAdPlacementAndReward": {
      "id": 1268,
      "name": "InvalidAdPlacementAndReward"
    },
    "AllAdPlacementViewsAlreadyConsumed": {
      "id": 1269,
      "name": "AllAdPlacementViewsAlreadyConsumed"
    },
    "GoogleOAuthNotConfiguredForTitle": {
      "id": 1270,
      "name": "GoogleOAuthNotConfiguredForTitle"
    },
    "GoogleOAuthError": {
      "id": 1271,
      "name": "GoogleOAuthError"
    },
    "UserNotFriend": {
      "id": 1272,
      "name": "UserNotFriend"
    },
    "InvalidSignature": {
      "id": 1273,
      "name": "InvalidSignature"
    },
    "InvalidPublicKey": {
      "id": 1274,
      "name": "InvalidPublicKey"
    },
    "GoogleOAuthNoIdTokenIncludedInResponse": {
      "id": 1275,
      "name": "GoogleOAuthNoIdTokenIncludedInResponse"
    },
    "StatisticUpdateInProgress": {
      "id": 1276,
      "name": "StatisticUpdateInProgress"
    },
    "LeaderboardVersionNotAvailable": {
      "id": 1277,
      "name": "LeaderboardVersionNotAvailable"
    },
    "StatisticAlreadyHasPrizeTable": {
      "id": 1279,
      "name": "StatisticAlreadyHasPrizeTable"
    },
    "PrizeTableHasOverlappingRanks": {
      "id": 1280,
      "name": "PrizeTableHasOverlappingRanks"
    },
    "PrizeTableHasMissingRanks": {
      "id": 1281,
      "name": "PrizeTableHasMissingRanks"
    },
    "PrizeTableRankStartsAtZero": {
      "id": 1282,
      "name": "PrizeTableRankStartsAtZero"
    },
    "InvalidStatistic": {
      "id": 1283,
      "name": "InvalidStatistic"
    },
    "ExpressionParseFailure": {
      "id": 1284,
      "name": "ExpressionParseFailure"
    },
    "ExpressionInvokeFailure": {
      "id": 1285,
      "name": "ExpressionInvokeFailure"
    },
    "ExpressionTooLong": {
      "id": 1286,
      "name": "ExpressionTooLong"
    },
    "DataUpdateRateExceeded": {
      "id": 1287,
      "name": "DataUpdateRateExceeded"
    },
    "RestrictedEmailDomain": {
      "id": 1288,
      "name": "RestrictedEmailDomain"
    },
    "EncryptionKeyDisabled": {
      "id": 1289,
      "name": "EncryptionKeyDisabled"
    },
    "EncryptionKeyMissing": {
      "id": 1290,
      "name": "EncryptionKeyMissing"
    },
    "EncryptionKeyBroken": {
      "id": 1291,
      "name": "EncryptionKeyBroken"
    },
    "NoSharedSecretKeyConfigured": {
      "id": 1292,
      "name": "NoSharedSecretKeyConfigured"
    },
    "SecretKeyNotFound": {
      "id": 1293,
      "name": "SecretKeyNotFound"
    },
    "PlayerSecretAlreadyConfigured": {
      "id": 1294,
      "name": "PlayerSecretAlreadyConfigured"
    },
    "APIRequestsDisabledForTitle": {
      "id": 1295,
      "name": "APIRequestsDisabledForTitle"
    },
    "InvalidSharedSecretKey": {
      "id": 1296,
      "name": "InvalidSharedSecretKey"
    },
    "PrizeTableHasNoRanks": {
      "id": 1297,
      "name": "PrizeTableHasNoRanks"
    },
    "ProfileDoesNotExist": {
      "id": 1298,
      "name": "ProfileDoesNotExist"
    },
    "ContentS3OriginBucketNotConfigured": {
      "id": 1299,
      "name": "ContentS3OriginBucketNotConfigured"
    },
    "InvalidEnvironmentForReceipt": {
      "id": 1300,
      "name": "InvalidEnvironmentForReceipt"
    },
    "EncryptedRequestNotAllowed": {
      "id": 1301,
      "name": "EncryptedRequestNotAllowed"
    },
    "SignedRequestNotAllowed": {
      "id": 1302,
      "name": "SignedRequestNotAllowed"
    },
    "RequestViewConstraintParamsNotAllowed": {
      "id": 1303,
      "name": "RequestViewConstraintParamsNotAllowed"
    },
    "BadPartnerConfiguration": {
      "id": 1304,
      "name": "BadPartnerConfiguration"
    },
    "XboxBPCertificateFailure": {
      "id": 1305,
      "name": "XboxBPCertificateFailure"
    },
    "XboxXASSExchangeFailure": {
      "id": 1306,
      "name": "XboxXASSExchangeFailure"
    },
    "InvalidEntityId": {
      "id": 1307,
      "name": "InvalidEntityId"
    },
    "StatisticValueAggregationOverflow": {
      "id": 1308,
      "name": "StatisticValueAggregationOverflow"
    },
    "EmailMessageFromAddressIsMissing": {
      "id": 1309,
      "name": "EmailMessageFromAddressIsMissing"
    },
    "EmailMessageToAddressIsMissing": {
      "id": 1310,
      "name": "EmailMessageToAddressIsMissing"
    },
    "SmtpServerAuthenticationError": {
      "id": 1311,
      "name": "SmtpServerAuthenticationError"
    },
    "SmtpServerLimitExceeded": {
      "id": 1312,
      "name": "SmtpServerLimitExceeded"
    },
    "SmtpServerInsufficientStorage": {
      "id": 1313,
      "name": "SmtpServerInsufficientStorage"
    },
    "SmtpServerCommunicationError": {
      "id": 1314,
      "name": "SmtpServerCommunicationError"
    },
    "SmtpServerGeneralFailure": {
      "id": 1315,
      "name": "SmtpServerGeneralFailure"
    },
    "EmailClientTimeout": {
      "id": 1316,
      "name": "EmailClientTimeout"
    },
    "EmailClientCanceledTask": {
      "id": 1317,
      "name": "EmailClientCanceledTask"
    },
    "EmailTemplateMissing": {
      "id": 1318,
      "name": "EmailTemplateMissing"
    },
    "InvalidHostForTitleId": {
      "id": 1319,
      "name": "InvalidHostForTitleId"
    },
    "EmailConfirmationTokenDoesNotExist": {
      "id": 1320,
      "name": "EmailConfirmationTokenDoesNotExist"
    },
    "EmailConfirmationTokenExpired": {
      "id": 1321,
      "name": "EmailConfirmationTokenExpired"
    },
    "AccountDeleted": {
      "id": 1322,
      "name": "AccountDeleted"
    },
    "PlayerSecretNotConfigured": {
      "id": 1323,
      "name": "PlayerSecretNotConfigured"
    },
    "InvalidSignatureTime": {
      "id": 1324,
      "name": "InvalidSignatureTime"
    },
    "NoContactEmailAddressFound": {
      "id": 1325,
      "name": "NoContactEmailAddressFound"
    },
    "InvalidAuthToken": {
      "id": 1326,
      "name": "InvalidAuthToken"
    },
    "AuthTokenDoesNotExist": {
      "id": 1327,
      "name": "AuthTokenDoesNotExist"
    },
    "AuthTokenExpired": {
      "id": 1328,
      "name": "AuthTokenExpired"
    },
    "AuthTokenAlreadyUsedToResetPassword": {
      "id": 1329,
      "name": "AuthTokenAlreadyUsedToResetPassword"
    },
    "MembershipNameTooLong": {
      "id": 1330,
      "name": "MembershipNameTooLong"
    },
    "MembershipNotFound": {
      "id": 1331,
      "name": "MembershipNotFound"
    },
    "GoogleServiceAccountInvalid": {
      "id": 1332,
      "name": "GoogleServiceAccountInvalid"
    },
    "GoogleServiceAccountParseFailure": {
      "id": 1333,
      "name": "GoogleServiceAccountParseFailure"
    },
    "EntityTokenMissing": {
      "id": 1334,
      "name": "EntityTokenMissing"
    },
    "EntityTokenInvalid": {
      "id": 1335,
      "name": "EntityTokenInvalid"
    },
    "EntityTokenExpired": {
      "id": 1336,
      "name": "EntityTokenExpired"
    },
    "EntityTokenRevoked": {
      "id": 1337,
      "name": "EntityTokenRevoked"
    },
    "InvalidProductForSubscription": {
      "id": 1338,
      "name": "InvalidProductForSubscription"
    },
    "XboxInaccessible": {
      "id": 1339,
      "name": "XboxInaccessible"
    },
    "SubscriptionAlreadyTaken": {
      "id": 1340,
      "name": "SubscriptionAlreadyTaken"
    },
    "SmtpAddonNotEnabled": {
      "id": 1341,
      "name": "SmtpAddonNotEnabled"
    },
    "APIConcurrentRequestLimitExceeded": {
      "id": 1342,
      "name": "APIConcurrentRequestLimitExceeded"
    },
    "XboxRejectedXSTSExchangeRequest": {
      "id": 1343,
      "name": "XboxRejectedXSTSExchangeRequest"
    },
    "VariableNotDefined": {
      "id": 1344,
      "name": "VariableNotDefined"
    },
    "TemplateVersionNotDefined": {
      "id": 1345,
      "name": "TemplateVersionNotDefined"
    },
    "FileTooLarge": {
      "id": 1346,
      "name": "FileTooLarge"
    },
    "TitleDeleted": {
      "id": 1347,
      "name": "TitleDeleted"
    },
    "TitleContainsUserAccounts": {
      "id": 1348,
      "name": "TitleContainsUserAccounts"
    },
    "TitleDeletionPlayerCleanupFailure": {
      "id": 1349,
      "name": "TitleDeletionPlayerCleanupFailure"
    },
    "EntityFileOperationPending": {
      "id": 1350,
      "name": "EntityFileOperationPending"
    },
    "NoEntityFileOperationPending": {
      "id": 1351,
      "name": "NoEntityFileOperationPending"
    },
    "EntityProfileVersionMismatch": {
      "id": 1352,
      "name": "EntityProfileVersionMismatch"
    },
    "TemplateVersionTooOld": {
      "id": 1353,
      "name": "TemplateVersionTooOld"
    },
    "MembershipDefinitionInUse": {
      "id": 1354,
      "name": "MembershipDefinitionInUse"
    },
    "PaymentPageNotConfigured": {
      "id": 1355,
      "name": "PaymentPageNotConfigured"
    },
    "FailedLoginAttemptRateLimitExceeded": {
      "id": 1356,
      "name": "FailedLoginAttemptRateLimitExceeded"
    },
    "EntityBlockedByGroup": {
      "id": 1357,
      "name": "EntityBlockedByGroup"
    },
    "RoleDoesNotExist": {
      "id": 1358,
      "name": "RoleDoesNotExist"
    },
    "EntityIsAlreadyMember": {
      "id": 1359,
      "name": "EntityIsAlreadyMember"
    },
    "DuplicateRoleId": {
      "id": 1360,
      "name": "DuplicateRoleId"
    },
    "GroupInvitationNotFound": {
      "id": 1361,
      "name": "GroupInvitationNotFound"
    },
    "GroupApplicationNotFound": {
      "id": 1362,
      "name": "GroupApplicationNotFound"
    },
    "OutstandingInvitationAcceptedInstead": {
      "id": 1363,
      "name": "OutstandingInvitationAcceptedInstead"
    },
    "OutstandingApplicationAcceptedInstead": {
      "id": 1364,
      "name": "OutstandingApplicationAcceptedInstead"
    },
    "RoleIsGroupDefaultMember": {
      "id": 1365,
      "name": "RoleIsGroupDefaultMember"
    },
    "RoleIsGroupAdmin": {
      "id": 1366,
      "name": "RoleIsGroupAdmin"
    },
    "RoleNameNotAvailable": {
      "id": 1367,
      "name": "RoleNameNotAvailable"
    },
    "GroupNameNotAvailable": {
      "id": 1368,
      "name": "GroupNameNotAvailable"
    },
    "EmailReportAlreadySent": {
      "id": 1369,
      "name": "EmailReportAlreadySent"
    },
    "EmailReportRecipientBlacklisted": {
      "id": 1370,
      "name": "EmailReportRecipientBlacklisted"
[...]
