{
  "swagger": "2.0",
  "info": {
    "version": "190301",
    "title": "PlayFab Economy API",
    "description": "API methods for managing User Generated Content.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/UserGeneratedContent/CreateDraftItem": {
      "post": {
        "operationId": "CreateDraftItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Creates a new community catalog item in the working catalog using provided metadata.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateDraftItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The item will not be published to the public catalog until the user makes a call to the PublishItem API.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemMetadataInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/CreateOrUpdateReview": {
      "post": {
        "operationId": "CreateOrUpdateReview",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Creates or updates a review for the specified User Generated Content.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateOrUpdateReview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateOrUpdateReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateOrUpdateReviewResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/CreateUploadUrls": {
      "post": {
        "operationId": "CreateUploadUrls",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Creates one or more upload URLs which can be used by the client to upload raw mod file data.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateUploadUrls"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateUploadUrlsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateUploadUrlsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs returned must be added to the item metadata and commited using the CreateDraftItem or UpdateDraftItem Item APIs.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogOneOrMoreFilesInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/DeleteItem": {
      "post": {
        "operationId": "DeleteItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Removes an item from working catalog and all published versions from the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetConfig": {
      "post": {
        "operationId": "GetConfig",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Gets the configuration for the user generated content catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetConfig"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetConfigRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetConfigResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ]
      }
    },
    "/UserGeneratedContent/GetDraftItem": {
      "post": {
        "operationId": "GetDraftItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Retrieves an item from the working catalog. This item represents the current working state of the community item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetDraftItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetDraftItems": {
      "post": {
        "operationId": "GetDraftItems",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Retrieves a paginated list of the items created by a user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetDraftItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetItemReviews": {
      "post": {
        "operationId": "GetItemReviews",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Get a paginated set of reviews associated with the specified User Generated Content.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetItemReviews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetReviewsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetReviewsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetItemReviewSummary": {
      "post": {
        "operationId": "GetItemReviewSummary",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Get a summary of all reviews associated with the specified User Generated Content.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetItemReviewSummary"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReviewSummaryRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReviewSummaryResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetMyReview": {
      "post": {
        "operationId": "GetMyReview",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Gets the submitted review for the specifed item by the authenticated user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetMyReview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMyReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMyReviewResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetPublishedItem": {
      "post": {
        "operationId": "GetPublishedItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Retrieves an item from the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetPublishedItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPublishedItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPublishedItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetPublishStatus": {
      "post": {
        "operationId": "GetPublishStatus",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Gets the status of a publish of an item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetPublishStatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishStatusResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/PublishItem": {
      "post": {
        "operationId": "PublishItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Initiates a publish of a item from the working catalog to the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/PublishItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The call kicks off a workflow to publish the item to the public catalog. The Publish Status API should be used to monitor the publish job.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/Search": {
      "post": {
        "operationId": "Search",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Execute a search against the public catalog using the provided search parameters and returns a set of paginated results.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/Search"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CatalogSearchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CatalogSearchResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only community items that have been published with the Publish Item API will be returned by Search even for the creator. The creator should use the List Items API to view all of their own items.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogSearchParameterInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/SetConfig": {
      "post": {
        "operationId": "SetConfig",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Gets the configuration for the user generated content catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SetConfig"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetConfigRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetConfigResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogConfigContentTypeTooLong",
          "CatalogConfigMissing",
          "CatalogConfigTagTooLong",
          "CatalogConfigTooManyContentTypes",
          "CatalogConfigTooManyTags",
          "NotAuthorized"
        ]
      }
    },
    "/UserGeneratedContent/SubmitHelpfulnessVote": {
      "post": {
        "operationId": "SubmitHelpfulnessVote",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Submit a vote for a review, indicating whether the review was helpful or unhelpful.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SubmitHelpfulnessVote"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HelpfulnessVoteRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/HelpfulnessVoteResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/UpdateDraftItem": {
      "post": {
        "operationId": "UpdateDraftItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Update the metadata for an item in the working catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateDraftItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemMetadataInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical Playfab error code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "errorMessage": {
          "description": "Description for the Playfab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      }
    },
    "AccessPolicy": {
      "type": "object",
      "enum": [
        "Closed",
        "Open"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogItemMetadata": {
      "type": "object",
      "properties": {
        "Contents": {
          "description": "The set of contents associated with this item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Content"
          },
          "x-isclass": true
        },
        "ContentType": {
          "description": "The client-defined type of the item.",
          "type": "string"
        },
        "CreationDate": {
          "description": "The date and time when this item was created.",
          "type": "string"
        },
        "CreatorEntityKey": {
          "$ref": "#/definitions/EntityKey",
          "description": "The ID of the creator of this catalog item.",
          "type": "object",
          "x-isclass": true
        },
        "Description": {
          "description": "A dictionary of localized descriptions. Key is language code and localized string is the value. The neutral locale is required.",
          "type": "object"
        },
        "DisplayProperties": {
          "description": "Game specific properties for display purposes. This is an arbitrary JSON blob.",
          "type": "object"
        },
        "DisplayVersion": {
          "type": "string"
        },
        "ETag": {
          "description": "The current ETag value that can be used for optimistic concurrency in the If-None-Match header.",
          "type": "string"
        },
        "Id": {
          "description": "The unique ID of the catalog item.",
          "type": "string"
        },
        "Images": {
          "description": "The images associated with this item. Images can be thumbnails or screenshots.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          },
          "x-isclass": true
        },
        "IsHidden": {
          "description": "Indicates if the item is hidden",
          "type": "boolean"
        },
        "LastModifiedDate": {
          "description": "The date and time this item was last updated.",
          "type": "string"
        },
        "Platforms": {
          "description": "The platforms supported by this item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "StartDate": {
          "description": "The date of when the item will be available. If not provided then the product will appear immediately.",
          "type": "string"
        },
        "Tags": {
          "description": "The list of tags that are associated with this item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Title": {
          "description": "A dictionary of localized titles. Key is language code and localized string is the value. The neutral locale is required.",
          "type": "object"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogSearchRequest": {
      "description": "Only community items that have been published with the Publish Item API will be\r\n                returned by Search even for the creator. The creator should use the List Items API to\r\n                view all of their own items.",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Filter": {
          "description": "An OData filter used to refine the search query.",
          "type": "string"
        },
        "OrderBy": {
          "description": "An OData orderBy used to order the results of the search query.",
          "type": "string"
        },
        "Search": {
          "description": "The text to search for.",
          "type": "string"
        },
        "Select": {
          "description": "An OData select query option used to augment the search results. If not defined, the default search result metadata will be returned.",
          "type": "string"
        },
        "Skip": {
          "description": "The number of results to skip.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "TitleId": {
          "description": "The ID of the title that this catalog item is associated with.",
          "type": "string"
        },
        "Top": {
          "description": "The number of results to retrieve.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Skip",
        "Top"
      ],
      "example": {
        "Search": "Pirates",
        "Filter": "tags/any(t:t eq 'desert') and contentType eq 'map'",
        "OrderBy": "lastModifiedDate asc",
        "Top": 10,
        "Select": "contents,images"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogSearchResult": {
      "type": "object",
      "properties": {
        "Count": {
          "description": "The total count of hits for the search query.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Items": {
          "description": "The paginated set of results for the search query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogItemMetadata"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Count": 261,
        "Items": []
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Content": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "MaxClientVersion": {
          "description": "The maximum client version that this content is compatible with.",
          "type": "string"
        },
        "MinClientVersion": {
          "description": "The minimum client version that this content is compatible with.",
          "type": "string"
        },
        "Tags": {
          "description": "The list of tags that are associated with this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Type": {
          "description": "The client-defined type of the content.",
          "type": "string"
        },
        "Url": {
          "description": "The Azure CDN URL for retrieval of the catalog item binary content.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateDraftItemRequest": {
      "description": "The item will not be published to the public catalog until the user makes a call to the PublishItem API.",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Item": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Metadata describing the new catalog item to be created.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {
          "Title": {
            "neutral": "Neutral title",
            "en-US": "US English title"
          },
          "Description": {
            "neutral": "Neutral description",
            "en-US": "US English description"
          },
          "ContentType": "example catalog item",
          "IsHidden": false,
          "Platforms": [
            "android",
            "xboxone",
            "ios"
          ],
          "Tags": [
            "pirates",
            "holiday"
          ],
          "DisplayVersion": "1.0.0",
          "Contents": [
            {
              "Id": "00000000-0000-0000-0000-000000000001",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000001/textures.zip",
              "MaxClientVersion": "2.4.1",
              "MinClientVersion": "2.0.0",
              "Tags": [
                "pirate",
                "desert"
              ],
              "Type": "textures"
            }
          ],
          "Images": [
            {
              "Id": "00000000-0000-0000-0000-000000000003",
              "Tag": "splashscreen",
              "Type": "thumbnail",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000003/splashscreen_thumb.jpg"
            }
          ],
          "DisplayProperties": {
            "mapDetails": {
              "mapType": "desertIsland",
              "gameMode": "capture",
              "maxPlayers": 16
            },
            "averageMatchLengthInSeconds": 947
          },
          "ETag": "opaqueString"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateDraftItemResult": {
      "type": "object",
      "properties": {
        "Item": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Updated metadata describing the catalog item just created.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {
          "Id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
          "Title": {
            "neutral": "Neutral title",
            "en-US": "US English title"
          },
          "Description": {
            "neutral": "Neutral description",
            "en-US": "US English description"
          },
          "ContentType": "example catalog item",
          "CreatorEntityKey": {
            "Id": "someId",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "IsHidden": false,
          "Platforms": [
            "android",
            "xboxone",
            "ios"
          ],
          "Tags": [
            "pirates",
            "holiday"
          ],
          "DisplayVersion": "1.0.0",
          "CreationDate": "2018-08-17T22:32:10.4729879+00:00",
          "LastModifiedDate": "2018-08-17T22:32:31.911375+00:00",
          "Contents": [
            {
              "Id": "00000000-0000-0000-0000-000000000001",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000001/textures.zip",
              "MaxClientVersion": "2.4.1",
              "MinClientVersion": "2.0.0",
              "Tags": [
                "pirate",
                "desert"
              ],
              "Type": "textures"
            }
          ],
          "Images": [
            {
              "Id": "00000000-0000-0000-0000-000000000003",
              "Tag": "splashscreen",
              "Type": "thumbnail",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000003/splashscreen_thumb.jpg"
            }
          ],
          "DisplayProperties": {
            "mapDetails": {
              "mapType": "desertIsland",
              "gameMode": "capture",
              "maxPlayers": 16
            },
            "averageMatchLengthInSeconds": 947
          },
          "ETag": "opaqueString"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateOrUpdateReviewRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "The ID of the item to submit a review for.",
          "type": "string"
        },
        "Review": {
          "$ref": "#/definitions/Review",
          "description": "The review to submit.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd",
        "Review": {}
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateOrUpdateReviewResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateUploadUrlsRequest": {
      "description": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST\r\n                API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs\r\n                returned must be added to the item metadata and commited using the CreateDraftItem or UpdateDraftItem Item APIs.",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Files": {
          "description": "Description of the files to be uploaded by the client.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UploadInfo"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Files": [
          {
            "FileName": "textures.zip",
            "FileSize": 100
          },
          {
            "FileName": "sprites.png",
            "FileSize": 200
          }
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateUploadUrlsResult": {
      "type": "object",
      "properties": {
        "UploadUrls": {
          "description": "Urls and metadata for the files to be uploaded by the client.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UploadUrlMetadata"
          },
          "x-isclass": true
        }
      },
      "example": {
        "UploadUrls": [
          {
            "Id": "11111111-1111-1111-1111-111111111111",
            "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/11111111-1111-1111-1111-111111111111/textures.zip",
            "FileName": "textures.zip"
          },
          {
            "Id": "22222222-2222-2222-2222-222222222222",
            "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/22222222-2222-2222-2222-222222222222/sprites.png",
            "FileName": "sprites.png"
          }
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteItemRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "ID of the catalog item to delete.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteItemResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://api.playfab.com/docs/tutorials/entities/entitytypes",
          "type": "string"
        },
        "TypeString": {
          "description": "Alternate name for Type.",
          "type": "string",
          "x-deprecation": {
            "ProposedAfter": "6/1/2018",
            "DeprecatedAfter": "7/1/2018",
            "ObsoleteAfter": "8/1/2018",
            "ReplacedBy": "Type"
          }
        }
      },
      "required": [
        "Id"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetConfigRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetConfigResult": {
      "type": "object",
      "properties": {
        "Config": {
          "$ref": "#/definitions/UserGeneratedContentConfig",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Config": {
          "CreatorAccessPolicy": "Open",
          "ContentTypes": [
            "map",
            "skin"
          ],
          "Tags": [
            "sword",
            "shield"
          ]
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetDraftItemRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "ID of the catalog item to retrieve from the working catalog.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetDraftItemResult": {
      "type": "object",
      "properties": {
        "Item": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Full metadata of the catalog item requested.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {}
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetDraftItemsRequest": {
      "type": "object",
      "properties": {
        "ContinuationToken": {
          "description": "An opaque token used to retrieve the next page of items created by the caller, if any are available. Should be null on initial request.",
          "type": "string"
        },
        "Count": {
          "description": "Number of items to retrieve. Maximum page size is 10.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Count"
      ],
      "example": {
        "Count": 10
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetDraftItemsResult": {
      "type": "object",
      "properties": {
        "ContinuationToken": {
          "description": "An opaque token used to retrieve the next page of items, if any are available.",
          "type": "string"
        },
        "Count": {
          "description": "The total number of items created by the caller.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Items": {
          "description": "A set of items created by the caller.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogItemMetadata"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Count"
      ],
      "example": {
        "ContinuationToken": "+RID:IQkbAIvkRQD9oQIAAAAAAA==#RT:1#TRC:10#FPC:AgEKHAoKAPEhAOAhQP8DWIAMAgB8rRACAJeAHAIA0r0=",
        "Count": 3,
        "Items": [
          {},
          {},
          {}
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetMyReviewRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "The ID of the item to retrieve the user's review for.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetMyReviewResult": {
      "type": "object",
      "properties": {
        "Review": {
          "$ref": "#/definitions/Review",
          "description": "The review the user submitted for the requested item.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetPublishedItemRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "ID of the catalog item to retrieve from the working catalog.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetPublishedItemResult": {
      "type": "object",
      "properties": {
        "Item": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Full metadata of the catalog item requested.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {}
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetReviewsRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "The ID of the item to retrieve reviews for.",
          "type": "string"
        },
        "OrderBy": {
          "description": "An OData orderBy used to order the results of the query.",
          "type": "string"
        },
        "Skip": {
          "description": "The number of review results to skip. If not specified, defaults to 0.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Top": {
          "description": "The number of review results to retrieve. If not specified, defaults to 10.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Skip",
        "Top"
      ],
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd",
        "OrderBy": "LowestRating",
        "Skip": 10,
        "Top": 10
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetReviewsResult": {
      "type": "object",
      "properties": {
        "ContinuationToken": {
          "description": "An opaque token used to retrieve the next page of reviews, if any are available.",
          "type": "string"
        },
        "Count": {
          "description": "The total number of reviews associated with this item.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Reviews": {
          "description": "The paginated set of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Review"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Count"
      ],
      "example": {
        "ContinuationToken": "+RID:IQkbAIvkRQD9oQIAAAAAAA==#RT:1#TRC:10#FPC:AgEKHAoKAPEhAOAhQP8DWIAMAgB8rRACAJeAHAIA0r0=",
        "Count": 13,
        "Reviews": []
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "HelpfulnessVoteRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "IsHelpful": {
          "type": "boolean"
        },
        "ReviewId": {
          "description": "The ID of the review to submit a helpfulness vote for.",
          "type": "string"
        }
      },
      "required": [
        "IsHelpful"
      ],
      "example": {
        "ReviewId": "dddddddd-dddd-dddd-dddd-dddddddddddd",
        "IsHelpful": true
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "HelpfulnessVoteResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Image": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "Locales": {
          "description": "The optional list of locales that are supported by this image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Tag": {
          "description": "The client-defined tag associated with this image.",
          "type": "string"
        },
        "Type": {
          "description": "The client-defined type of this image.",
          "type": "string"
        },
        "Url": {
          "description": "The URL for retrieval of the image.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "PublishItemRequest": {
      "description": "The call kicks off a workflow to publish the item to the public catalog.\r\n                The Publish Status API should be used to monitor the publish job.",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ETag": {
          "description": "ETag of the catalog item to published from the working catalog to the public catalog. Used for optimistic concurrency. If the provided ETag does not match the ETag in the current working catalog, the request will be reject. If not provided, the current version of the document in the working catalog will be published.",
          "type": "string"
        },
        "ItemId": {
          "description": "ID of the catalog item to publish from the working catalog to the public catalog.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd",
        "ETag": "someOpaqueString"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "PublishItemResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "PublishResult": {
      "type": "object",
      "enum": [
        "Unknown",
        "Pending",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "PublishStatusRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "ID of the catalog item to publish from the working catalog to the public catalog.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "PublishStatusResult": {
      "type": "object",
      "properties": {
        "Result": {
          "$ref": "#/definitions/PublishResult",
          "description": "High level state of the publish.",
          "type": "string",
          "x-isenum": true
        },
        "StatusMessage": {
          "description": "Descriptive message about the current status of the publish.",
          "type": "string"
        }
      },
      "example": {
        "Result": "Pending",
        "StatusMessage": "scanning images"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Review": {
      "type": "object",
      "properties": {
        "HelpfulNegative": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "HelpfulnessVotes": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "HelpfulPositive": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "IsInstalled": {
          "description": "Indicates whether the review author has the item installed.",
          "type": "boolean"
        },
        "ItemId": {
          "description": "The ID of the item being reviewed.",
          "type": "string"
        },
        "ItemVersion": {
          "description": "The version of the item being reviewed.",
          "type": "string"
        },
        "Locale": {
          "type": "string"
        },
        "Rating": {
          "description": "Star rating associated with this review.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "ReviewId": {
          "type": "string"
        },
        "ReviewText": {
          "type": "string"
        },
        "Submitted": {
          "description": "The date and time this review was last submitted.",
          "type": "string"
        },
        "Title": {
          "type": "string"
        }
      },
      "required": [
        "Rating",
        "IsInstalled",
        "HelpfulnessVotes",
        "HelpfulPositive",
        "HelpfulNegative",
        "Submitted"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ReviewSummaryRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ItemId": {
          "description": "The ID of the item to retrieve the reviews summary for.",
          "type": "string"
        }
      },
      "example": {
        "ItemId": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ReviewSummaryResult": {
      "type": "object",
      "properties": {
        "LeastFavorableReview": {
          "$ref": "#/definitions/Review",
          "type": "object",
          "x-isclass": true
        },
        "MostFavorableReview": {
          "$ref": "#/definitions/Review",
          "type": "object",
          "x-isclass": true
        },
        "Ratings": {
          "$ref": "#/definitions/UgcRatings",
          "description": "The summary of ratings associated with this item.",
          "type": "object",
          "x-isclass": true
        },
        "ReviewsCount": {
          "description": "The total number of reviews associated with this item.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "ReviewsCount"
      ],
      "example": {
        "Ratings": {},
        "ReviewsCount": 13,
        "MostFavorableReview": {},
        "LeastFavorableReview": {}
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "SetConfigRequest": {
      "type": "object",
      "properties": {
        "Config": {
          "$ref": "#/definitions/UserGeneratedContentConfig",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Config": {
          "CreatorAccessPolicy": "Open",
          "ContentTypes": [
            "map",
            "skin"
          ],
          "Tags": [
            "sword",
            "shield"
          ]
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "SetConfigResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UgcRatings": {
      "type": "object",
      "properties": {
        "Average": {
          "description": "The average rating for this UGC item",
          "type": "number",
          "x-actualtype": "float"
        },
        "Count1Star": {
          "description": "The total count of 1 star ratings for this UGC item",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Count2Star": {
          "description": "The total count of 2 star ratings for this UGC item",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Count3Star": {
          "description": "The total count of 3 star ratings for this UGC item",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Count4Star": {
          "description": "The total count of 4 star ratings for this UGC item",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Count5Star": {
          "description": "The total count of 5 star ratings for this UGC item",
          "type": "number",
          "x-actualtype": "int32"
        },
        "TotalCount": {
          "description": "The total count of ratings for this UGC item",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateDraftItemRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Item": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Updated metadata describing the catalog item to be updated.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateDraftItemResult": {
      "type": "object",
      "properties": {
        "Item": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Updated metadata describing the catalog item just updated.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {}
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UploadInfo": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "Name of the file to be uploaded.",
          "type": "string"
        },
        "FileSize": {
          "description": "Size of the file to be uploaded, in bytes.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "FileSize"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UploadUrlMetadata": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "Name of the file for which this upload url was requested.",
          "type": "string"
        },
        "Id": {
          "description": "Unique identifier for the binary content to be uploaded to the target url.",
          "type": "string"
        },
        "Url": {
          "description": "Url for the binary content to be uploaded to.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UserGeneratedContentConfig": {
      "type": "object",
      "properties": {
        "ContentTypes": {
          "description": "The set of valid content types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "CreatorAccessPolicy": {
          "$ref": "#/definitions/AccessPolicy",
          "description": "The policy defining who is allowed to create and manage UGC.",
          "type": "string",
          "x-isenum": true
        },
        "Tags": {
          "description": "The set of valid tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    }
  },
  "parameters": {
    "CatalogSearchRequest": {
      "name": "CatalogSearchRequest",
      "in": "body",
      "description": "Only community items that have been published with the Publish Item API will be\r\n                returned by Search even for the creator. The creator should use the List Items API to\r\n                view all of their own items.",
      "schema": {
        "$ref": "#/definitions/CatalogSearchRequest"
      }
    },
    "CreateDraftItemRequest": {
      "name": "CreateDraftItemRequest",
      "in": "body",
      "description": "The item will not be published to the public catalog until the user makes a call to the PublishItem API.",
      "schema": {
        "$ref": "#/definitions/CreateDraftItemRequest"
      }
    },
    "CreateOrUpdateReviewRequest": {
      "name": "CreateOrUpdateReviewRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/CreateOrUpdateReviewRequest"
      }
    },
    "CreateUploadUrlsRequest": {
      "name": "CreateUploadUrlsRequest",
      "in": "body",
      "description": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST\r\n                API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs\r\n                returned must be added to the item metadata and commited using the CreateDraftItem or UpdateDraftItem Item APIs.",
      "schema": {
        "$ref": "#/definitions/CreateUploadUrlsRequest"
      }
    },
    "DeleteItemRequest": {
      "name": "DeleteItemRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/DeleteItemRequest"
      }
    },
    "GetConfigRequest": {
      "name": "GetConfigRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/GetConfigRequest"
      }
    },
    "GetDraftItemRequest": {
      "name": "GetDraftItemRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/GetDraftItemRequest"
      }
    },
    "GetDraftItemsRequest": {
      "name": "GetDraftItemsRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/GetDraftItemsRequest"
      }
    },
    "GetMyReviewRequest": {
      "name": "GetMyReviewRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/GetMyReviewRequest"
      }
    },
    "GetPublishedItemRequest": {
      "name": "GetPublishedItemRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/GetPublishedItemRequest"
      }
    },
    "GetReviewsRequest": {
      "name": "GetReviewsRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/GetReviewsRequest"
      }
    },
    "HelpfulnessVoteRequest": {
      "name": "HelpfulnessVoteRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/HelpfulnessVoteRequest"
      }
    },
    "PublishItemRequest": {
      "name": "PublishItemRequest",
      "in": "body",
      "description": "The call kicks off a workflow to publish the item to the public catalog.\r\n                The Publish Status API should be used to monitor the publish job.",
      "schema": {
        "$ref": "#/definitions/PublishItemRequest"
      }
    },
    "PublishStatusRequest": {
      "name": "PublishStatusRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/PublishStatusRequest"
      }
    },
    "ReviewSummaryRequest": {
      "name": "ReviewSummaryRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/ReviewSummaryRequest"
      }
    },
    "SetConfigRequest": {
      "name": "SetConfigRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/SetConfigRequest"
      }
    },
    "UpdateDraftItemRequest": {
      "name": "UpdateDraftItemRequest",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/UpdateDraftItemRequest"
      }
    }
  },
  "responses": {
    "ApiErrorWrapper": {
      "description": "This is the outer-wrapper for all responses with errors",
      "schema": {
        "$ref": "#/definitions/ApiErrorWrapper"
      }
    },
    "CatalogSearchResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/CatalogSearchResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Count": 261,
            "Items": []
          }
        }
      }
    },
    "CreateDraftItemResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/CreateDraftItemResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Item": {
              "Id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
              "Title": {
                "neutral": "Neutral title",
                "en-US": "US English title"
              },
              "Description": {
                "neutral": "Neutral description",
                "en-US": "US English description"
              },
              "ContentType": "example catalog item",
              "CreatorEntityKey": {
                "Id": "someId",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "IsHidden": false,
              "Platforms": [
                "android",
                "xboxone",
                "ios"
              ],
              "Tags": [
                "pirates",
                "holiday"
              ],
              "DisplayVersion": "1.0.0",
              "CreationDate": "2018-08-17T22:32:10.4729879+00:00",
              "LastModifiedDate": "2018-08-17T22:32:31.911375+00:00",
              "Contents": [
                {
                  "Id": "00000000-0000-0000-0000-000000000001",
                  "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000001/textures.zip",
                  "MaxClientVersion": "2.4.1",
                  "MinClientVersion": "2.0.0",
                  "Tags": [
                    "pirate",
                    "desert"
                  ],
                  "Type": "textures"
                }
              ],
              "Images": [
                {
                  "Id": "00000000-0000-0000-0000-000000000003",
                  "Tag": "splashscreen",
                  "Type": "thumbnail",
                  "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000003/splashscreen_thumb.jpg"
                }
              ],
              "DisplayProperties": {
                "mapDetails": {
                  "mapType": "desertIsland",
                  "gameMode": "capture",
                  "maxPlayers": 16
                },
                "averageMatchLengthInSeconds": 947
              },
              "ETag": "opaqueString"
            }
          }
        }
      }
    },
    "CreateOrUpdateReviewResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/CreateOrUpdateReviewResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {}
        }
      }
    },
    "CreateUploadUrlsResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/CreateUploadUrlsResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "UploadUrls": [
              {
                "Id": "11111111-1111-1111-1111-111111111111",
                "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/11111111-1111-1111-1111-111111111111/textures.zip",
                "FileName": "textures.zip"
              },
              {
                "Id": "22222222-2222-2222-2222-222222222222",
                "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/22222222-2222-2222-2222-222222222222/sprites.png",
                "FileName": "sprites.png"
              }
            ]
          }
        }
      }
    },
    "DeleteItemResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/DeleteItemResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {}
        }
      }
    },
    "GetConfigResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetConfigResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Config": {
              "CreatorAccessPolicy": "Open",
              "ContentTypes": [
                "map",
                "skin"
              ],
              "Tags": [
                "sword",
                "shield"
              ]
            }
          }
        }
      }
    },
    "GetDraftItemResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetDraftItemResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Item": {}
          }
        }
      }
    },
    "GetDraftItemsResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetDraftItemsResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "ContinuationToken": "+RID:IQkbAIvkRQD9oQIAAAAAAA==#RT:1#TRC:10#FPC:AgEKHAoKAPEhAOAhQP8DWIAMAgB8rRACAJeAHAIA0r0=",
            "Count": 3,
            "Items": [
              {},
              {},
              {}
            ]
          }
        }
      }
    },
    "GetMyReviewResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetMyReviewResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {}
        }
      }
    },
    "GetPublishedItemResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetPublishedItemResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Item": {}
          }
        }
      }
    },
    "GetReviewsResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetReviewsResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "ContinuationToken": "+RID:IQkbAIvkRQD9oQIAAAAAAA==#RT:1#TRC:10#FPC:AgEKHAoKAPEhAOAhQP8DWIAMAgB8rRACAJeAHAIA0r0=",
            "Count": 13,
            "Reviews": []
          }
        }
      }
    },
    "HelpfulnessVoteResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/HelpfulnessVoteResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {}
        }
      }
    },
    "PublishItemResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/PublishItemResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {}
        }
      }
    },
    "PublishStatusResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/PublishStatusResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Result": "Pending",
            "StatusMessage": "scanning images"
          }
        }
      }
    },
    "ReviewSummaryResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ReviewSummaryResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Ratings": {},
            "ReviewsCount": 13,
            "MostFavorableReview": {},
            "LeastFavorableReview": {}
          }
        }
      }
    },
    "SetConfigResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/SetConfigResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {}
        }
      }
    },
    "UpdateDraftItemResult": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/UpdateDraftItemResult"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Item": {}
          }
        }
      }
    }
  },
  "x-AnyInclusiveFlags": [
    "Beta"
  ],
  "tags": [
    {
      "name": "UserGeneratedContent",
      "description": "https://api.playfab.com/documentation/Economy#UserGeneratedContent"
    }
  ],
  "securityDefinitions": {
    "None": {
      "type": "apiKey",
      "in": "header",
      "name": "None",
      "description": "This API requires no authentication headers (usually provides one to other calls)."
    },
    "SessionTicket": {
      "type": "apiKey",
      "in": "header",
      "name": "SessionTicket",
      "description": "This API requires a client session ticket, available from any Client Login function."
    },
    "SecretKey": {
      "type": "apiKey",
      "in": "header",
      "name": "SecretKey",
      "description": "This API requires a title secret key, available to title admins, from PlayFab Game Manager."
    },
    "EntityToken": {
      "type": "apiKey",
      "in": "header",
      "name": "EntityToken",
      "description": "This API requires an Entity Session Token, available from the Entity GetEntityToken method."
    }
  },
  "x-ms-docs-errors-mapping": {
    "Success": {
      "name": "Success"
    },
    "UnkownError": {
      "id": 500,
      "name": "UnkownError"
    },
    "InvalidParams": {
      "id": 1000,
      "name": "InvalidParams"
    },
    "AccountNotFound": {
      "id": 1001,
      "name": "AccountNotFound"
    },
    "AccountBanned": {
      "id": 1002,
      "name": "AccountBanned"
    },
    "InvalidUsernameOrPassword": {
      "id": 1003,
      "name": "InvalidUsernameOrPassword"
    },
    "InvalidTitleId": {
      "id": 1004,
      "name": "InvalidTitleId"
    },
    "InvalidEmailAddress": {
      "id": 1005,
      "name": "InvalidEmailAddress"
    },
    "EmailAddressNotAvailable": {
      "id": 1006,
      "name": "EmailAddressNotAvailable"
    },
    "InvalidUsername": {
      "id": 1007,
      "name": "InvalidUsername"
    },
    "InvalidPassword": {
      "id": 1008,
      "name": "InvalidPassword"
    },
    "UsernameNotAvailable": {
      "id": 1009,
      "name": "UsernameNotAvailable"
    },
    "InvalidSteamTicket": {
      "id": 1010,
      "name": "InvalidSteamTicket"
    },
    "AccountAlreadyLinked": {
      "id": 1011,
      "name": "AccountAlreadyLinked"
    },
    "LinkedAccountAlreadyClaimed": {
      "id": 1012,
      "name": "LinkedAccountAlreadyClaimed"
    },
    "InvalidFacebookToken": {
      "id": 1013,
      "name": "InvalidFacebookToken"
    },
    "AccountNotLinked": {
      "id": 1014,
      "name": "AccountNotLinked"
    },
    "FailedByPaymentProvider": {
      "id": 1015,
      "name": "FailedByPaymentProvider"
    },
    "CouponCodeNotFound": {
      "id": 1016,
      "name": "CouponCodeNotFound"
    },
    "InvalidContainerItem": {
      "id": 1017,
      "name": "InvalidContainerItem"
    },
    "ContainerNotOwned": {
      "id": 1018,
      "name": "ContainerNotOwned"
    },
    "KeyNotOwned": {
      "id": 1019,
      "name": "KeyNotOwned"
    },
    "InvalidItemIdInTable": {
      "id": 1020,
      "name": "InvalidItemIdInTable"
    },
    "InvalidReceipt": {
      "id": 1021,
      "name": "InvalidReceipt"
    },
    "ReceiptAlreadyUsed": {
      "id": 1022,
      "name": "ReceiptAlreadyUsed"
    },
    "ReceiptCancelled": {
      "id": 1023,
      "name": "ReceiptCancelled"
    },
    "GameNotFound": {
      "id": 1024,
      "name": "GameNotFound"
    },
    "GameModeNotFound": {
      "id": 1025,
      "name": "GameModeNotFound"
    },
    "InvalidGoogleToken": {
      "id": 1026,
      "name": "InvalidGoogleToken"
    },
    "UserIsNotPartOfDeveloper": {
      "id": 1027,
      "name": "UserIsNotPartOfDeveloper"
    },
    "InvalidTitleForDeveloper": {
      "id": 1028,
      "name": "InvalidTitleForDeveloper"
    },
    "TitleNameConflicts": {
      "id": 1029,
      "name": "TitleNameConflicts"
    },
    "UserisNotValid": {
      "id": 1030,
      "name": "UserisNotValid"
    },
    "ValueAlreadyExists": {
      "id": 1031,
      "name": "ValueAlreadyExists"
    },
    "BuildNotFound": {
      "id": 1032,
      "name": "BuildNotFound"
    },
    "PlayerNotInGame": {
      "id": 1033,
      "name": "PlayerNotInGame"
    },
    "InvalidTicket": {
      "id": 1034,
      "name": "InvalidTicket"
    },
    "InvalidDeveloper": {
      "id": 1035,
      "name": "InvalidDeveloper"
    },
    "InvalidOrderInfo": {
      "id": 1036,
      "name": "InvalidOrderInfo"
    },
    "RegistrationIncomplete": {
      "id": 1037,
      "name": "RegistrationIncomplete"
    },
    "InvalidPlatform": {
      "id": 1038,
      "name": "InvalidPlatform"
    },
    "UnknownError": {
      "id": 1039,
      "name": "UnknownError"
    },
    "SteamApplicationNotOwned": {
      "id": 1040,
      "name": "SteamApplicationNotOwned"
    },
    "WrongSteamAccount": {
      "id": 1041,
      "name": "WrongSteamAccount"
    },
    "TitleNotActivated": {
      "id": 1042,
      "name": "TitleNotActivated"
    },
    "RegistrationSessionNotFound": {
      "id": 1043,
      "name": "RegistrationSessionNotFound"
    },
    "NoSuchMod": {
      "id": 1044,
      "name": "NoSuchMod"
    },
    "FileNotFound": {
      "id": 1045,
      "name": "FileNotFound"
    },
    "DuplicateEmail": {
      "id": 1046,
      "name": "DuplicateEmail"
    },
    "ItemNotFound": {
      "id": 1047,
      "name": "ItemNotFound"
    },
    "ItemNotOwned": {
      "id": 1048,
      "name": "ItemNotOwned"
    },
    "ItemNotRecycleable": {
      "id": 1049,
      "name": "ItemNotRecycleable"
    },
    "ItemNotAffordable": {
      "id": 1050,
      "name": "ItemNotAffordable"
    },
    "InvalidVirtualCurrency": {
      "id": 1051,
      "name": "InvalidVirtualCurrency"
    },
    "WrongVirtualCurrency": {
      "id": 1052,
      "name": "WrongVirtualCurrency"
    },
    "WrongPrice": {
      "id": 1053,
      "name": "WrongPrice"
    },
    "NonPositiveValue": {
      "id": 1054,
      "name": "NonPositiveValue"
    },
    "InvalidRegion": {
      "id": 1055,
      "name": "InvalidRegion"
    },
    "RegionAtCapacity": {
      "id": 1056,
      "name": "RegionAtCapacity"
    },
    "ServerFailedToStart": {
      "id": 1057,
      "name": "ServerFailedToStart"
    },
    "NameNotAvailable": {
      "id": 1058,
      "name": "NameNotAvailable"
    },
    "InsufficientFunds": {
      "id": 1059,
      "name": "InsufficientFunds"
    },
    "InvalidDeviceID": {
      "id": 1060,
      "name": "InvalidDeviceID"
    },
    "InvalidPushNotificationToken": {
      "id": 1061,
      "name": "InvalidPushNotificationToken"
    },
    "NoRemainingUses": {
      "id": 1062,
      "name": "NoRemainingUses"
    },
    "InvalidPaymentProvider": {
      "id": 1063,
      "name": "InvalidPaymentProvider"
    },
    "PurchaseInitializationFailure": {
      "id": 1064,
      "name": "PurchaseInitializationFailure"
    },
    "DuplicateUsername": {
      "id": 1065,
      "name": "DuplicateUsername"
    },
    "InvalidBuyerInfo": {
      "id": 1066,
      "name": "InvalidBuyerInfo"
    },
    "NoGameModeParamsSet": {
      "id": 1067,
      "name": "NoGameModeParamsSet"
    },
    "BodyTooLarge": {
      "id": 1068,
      "name": "BodyTooLarge"
    },
    "ReservedWordInBody": {
      "id": 1069,
      "name": "ReservedWordInBody"
    },
    "InvalidTypeInBody": {
      "id": 1070,
      "name": "InvalidTypeInBody"
    },
    "InvalidRequest": {
      "id": 1071,
      "name": "InvalidRequest"
    },
    "ReservedEventName": {
      "id": 1072,
      "name": "ReservedEventName"
    },
    "InvalidUserStatistics": {
      "id": 1073,
      "name": "InvalidUserStatistics"
    },
    "NotAuthenticated": {
      "id": 1074,
      "name": "NotAuthenticated"
    },
    "StreamAlreadyExists": {
      "id": 1075,
      "name": "StreamAlreadyExists"
    },
    "ErrorCreatingStream": {
      "id": 1076,
      "name": "ErrorCreatingStream"
    },
    "StreamNotFound": {
      "id": 1077,
      "name": "StreamNotFound"
    },
    "InvalidAccount": {
      "id": 1078,
      "name": "InvalidAccount"
    },
    "PurchaseDoesNotExist": {
      "id": 1080,
      "name": "PurchaseDoesNotExist"
    },
    "InvalidPurchaseTransactionStatus": {
      "id": 1081,
      "name": "InvalidPurchaseTransactionStatus"
    },
    "APINotEnabledForGameClientAccess": {
      "id": 1082,
      "name": "APINotEnabledForGameClientAccess"
    },
    "NoPushNotificationARNForTitle": {
      "id": 1083,
      "name": "NoPushNotificationARNForTitle"
    },
    "BuildAlreadyExists": {
      "id": 1084,
      "name": "BuildAlreadyExists"
    },
    "BuildPackageDoesNotExist": {
      "id": 1085,
      "name": "BuildPackageDoesNotExist"
    },
    "CustomAnalyticsEventsNotEnabledForTitle": {
      "id": 1087,
      "name": "CustomAnalyticsEventsNotEnabledForTitle"
    },
    "InvalidSharedGroupId": {
      "id": 1088,
      "name": "InvalidSharedGroupId"
    },
    "NotAuthorized": {
      "id": 1089,
      "name": "NotAuthorized"
    },
    "MissingTitleGoogleProperties": {
      "id": 1090,
      "name": "MissingTitleGoogleProperties"
    },
    "InvalidItemProperties": {
      "id": 1091,
      "name": "InvalidItemProperties"
    },
    "InvalidPSNAuthCode": {
      "id": 1092,
      "name": "InvalidPSNAuthCode"
    },
    "InvalidItemId": {
      "id": 1093,
      "name": "InvalidItemId"
    },
    "PushNotEnabledForAccount": {
      "id": 1094,
      "name": "PushNotEnabledForAccount"
    },
    "PushServiceError": {
      "id": 1095,
      "name": "PushServiceError"
    },
    "ReceiptDoesNotContainInAppItems": {
      "id": 1096,
      "name": "ReceiptDoesNotContainInAppItems"
    },
    "ReceiptContainsMultipleInAppItems": {
      "id": 1097,
      "name": "ReceiptContainsMultipleInAppItems"
    },
    "InvalidBundleID": {
      "id": 1098,
      "name": "InvalidBundleID"
    },
    "JavascriptException": {
      "id": 1099,
      "name": "JavascriptException"
    },
    "InvalidSessionTicket": {
      "id": 1100,
      "name": "InvalidSessionTicket"
    },
    "UnableToConnectToDatabase": {
      "id": 1101,
      "name": "UnableToConnectToDatabase"
    },
    "InternalServerError": {
      "id": 1110,
      "name": "InternalServerError"
    },
    "InvalidReportDate": {
      "id": 1111,
      "name": "InvalidReportDate"
    },
    "ReportNotAvailable": {
      "id": 1112,
      "name": "ReportNotAvailable"
    },
    "DatabaseThroughputExceeded": {
      "id": 1113,
      "name": "DatabaseThroughputExceeded"
    },
    "InvalidGameTicket": {
      "id": 1115,
      "name": "InvalidGameTicket"
    },
    "ExpiredGameTicket": {
      "id": 1116,
      "name": "ExpiredGameTicket"
    },
    "GameTicketDoesNotMatchLobby": {
      "id": 1117,
      "name": "GameTicketDoesNotMatchLobby"
    },
    "LinkedDeviceAlreadyClaimed": {
      "id": 1118,
      "name": "LinkedDeviceAlreadyClaimed"
    },
    "DeviceAlreadyLinked": {
      "id": 1119,
      "name": "DeviceAlreadyLinked"
    },
    "DeviceNotLinked": {
      "id": 1120,
      "name": "DeviceNotLinked"
    },
    "PartialFailure": {
      "id": 1121,
      "name": "PartialFailure"
    },
    "PublisherNotSet": {
      "id": 1122,
      "name": "PublisherNotSet"
    },
    "ServiceUnavailable": {
      "id": 1123,
      "name": "ServiceUnavailable"
    },
    "VersionNotFound": {
      "id": 1124,
      "name": "VersionNotFound"
    },
    "RevisionNotFound": {
      "id": 1125,
      "name": "RevisionNotFound"
    },
    "InvalidPublisherId": {
      "id": 1126,
      "name": "InvalidPublisherId"
    },
    "DownstreamServiceUnavailable": {
      "id": 1127,
      "name": "DownstreamServiceUnavailable"
    },
    "APINotIncludedInTitleUsageTier": {
      "id": 1128,
      "name": "APINotIncludedInTitleUsageTier"
    },
    "DAULimitExceeded": {
      "id": 1129,
      "name": "DAULimitExceeded"
    },
    "APIRequestLimitExceeded": {
      "id": 1130,
      "name": "APIRequestLimitExceeded"
    },
    "InvalidAPIEndpoint": {
      "id": 1131,
      "name": "InvalidAPIEndpoint"
    },
    "BuildNotAvailable": {
      "id": 1132,
      "name": "BuildNotAvailable"
    },
    "ConcurrentEditError": {
      "id": 1133,
      "name": "ConcurrentEditError"
    },
    "ContentNotFound": {
      "id": 1134,
      "name": "ContentNotFound"
    },
    "CharacterNotFound": {
      "id": 1135,
      "name": "CharacterNotFound"
    },
    "CloudScriptNotFound": {
      "id": 1136,
      "name": "CloudScriptNotFound"
    },
    "ContentQuotaExceeded": {
      "id": 1137,
      "name": "ContentQuotaExceeded"
    },
    "InvalidCharacterStatistics": {
      "id": 1138,
      "name": "InvalidCharacterStatistics"
    },
    "PhotonNotEnabledForTitle": {
      "id": 1139,
      "name": "PhotonNotEnabledForTitle"
    },
    "PhotonApplicationNotFound": {
      "id": 1140,
      "name": "PhotonApplicationNotFound"
    },
    "PhotonApplicationNotAssociatedWithTitle": {
      "id": 1141,
      "name": "PhotonApplicationNotAssociatedWithTitle"
    },
    "InvalidEmailOrPassword": {
      "id": 1142,
      "name": "InvalidEmailOrPassword"
    },
    "FacebookAPIError": {
      "id": 1143,
      "name": "FacebookAPIError"
    },
    "InvalidContentType": {
      "id": 1144,
      "name": "InvalidContentType"
    },
    "KeyLengthExceeded": {
      "id": 1145,
      "name": "KeyLengthExceeded"
    },
    "DataLengthExceeded": {
      "id": 1146,
      "name": "DataLengthExceeded"
    },
    "TooManyKeys": {
      "id": 1147,
      "name": "TooManyKeys"
    },
    "FreeTierCannotHaveVirtualCurrency": {
      "id": 1148,
      "name": "FreeTierCannotHaveVirtualCurrency"
    },
    "MissingAmazonSharedKey": {
      "id": 1149,
      "name": "MissingAmazonSharedKey"
    },
    "AmazonValidationError": {
      "id": 1150,
      "name": "AmazonValidationError"
    },
    "InvalidPSNIssuerId": {
      "id": 1151,
      "name": "InvalidPSNIssuerId"
    },
    "PSNInaccessible": {
      "id": 1152,
      "name": "PSNInaccessible"
    },
    "ExpiredAuthToken": {
      "id": 1153,
      "name": "ExpiredAuthToken"
    },
    "FailedToGetEntitlements": {
      "id": 1154,
      "name": "FailedToGetEntitlements"
    },
    "FailedToConsumeEntitlement": {
      "id": 1155,
      "name": "FailedToConsumeEntitlement"
    },
    "TradeAcceptingUserNotAllowed": {
      "id": 1156,
      "name": "TradeAcceptingUserNotAllowed"
    },
    "TradeInventoryItemIsAssignedToCharacter": {
      "id": 1157,
      "name": "TradeInventoryItemIsAssignedToCharacter"
    },
    "TradeInventoryItemIsBundle": {
      "id": 1158,
      "name": "TradeInventoryItemIsBundle"
    },
    "TradeStatusNotValidForCancelling": {
      "id": 1159,
      "name": "TradeStatusNotValidForCancelling"
    },
    "TradeStatusNotValidForAccepting": {
      "id": 1160,
      "name": "TradeStatusNotValidForAccepting"
    },
    "TradeDoesNotExist": {
      "id": 1161,
      "name": "TradeDoesNotExist"
    },
    "TradeCancelled": {
      "id": 1162,
      "name": "TradeCancelled"
    },
    "TradeAlreadyFilled": {
      "id": 1163,
      "name": "TradeAlreadyFilled"
    },
    "TradeWaitForStatusTimeout": {
      "id": 1164,
      "name": "TradeWaitForStatusTimeout"
    },
    "TradeInventoryItemExpired": {
      "id": 1165,
      "name": "TradeInventoryItemExpired"
    },
    "TradeMissingOfferedAndAcceptedItems": {
      "id": 1166,
      "name": "TradeMissingOfferedAndAcceptedItems"
    },
    "TradeAcceptedItemIsBundle": {
      "id": 1167,
      "name": "TradeAcceptedItemIsBundle"
    },
    "TradeAcceptedItemIsStackable": {
      "id": 1168,
      "name": "TradeAcceptedItemIsStackable"
    },
    "TradeInventoryItemInvalidStatus": {
      "id": 1169,
      "name": "TradeInventoryItemInvalidStatus"
    },
    "TradeAcceptedCatalogItemInvalid": {
      "id": 1170,
      "name": "TradeAcceptedCatalogItemInvalid"
    },
    "TradeAllowedUsersInvalid": {
      "id": 1171,
      "name": "TradeAllowedUsersInvalid"
    },
    "TradeInventoryItemDoesNotExist": {
      "id": 1172,
      "name": "TradeInventoryItemDoesNotExist"
    },
    "TradeInventoryItemIsConsumed": {
      "id": 1173,
      "name": "TradeInventoryItemIsConsumed"
    },
    "TradeInventoryItemIsStackable": {
      "id": 1174,
      "name": "TradeInventoryItemIsStackable"
    },
    "TradeAcceptedItemsMismatch": {
      "id": 1175,
      "name": "TradeAcceptedItemsMismatch"
    },
    "InvalidKongregateToken": {
      "id": 1176,
      "name": "InvalidKongregateToken"
    },
    "FeatureNotConfiguredForTitle": {
      "id": 1177,
      "name": "FeatureNotConfiguredForTitle"
    },
    "NoMatchingCatalogItemForReceipt": {
      "id": 1178,
      "name": "NoMatchingCatalogItemForReceipt"
    },
    "InvalidCurrencyCode": {
      "id": 1179,
      "name": "InvalidCurrencyCode"
    },
    "NoRealMoneyPriceForCatalogItem": {
      "id": 1180,
      "name": "NoRealMoneyPriceForCatalogItem"
    },
    "TradeInventoryItemIsNotTradable": {
      "id": 1181,
      "name": "TradeInventoryItemIsNotTradable"
    },
    "TradeAcceptedCatalogItemIsNotTradable": {
      "id": 1182,
      "name": "TradeAcceptedCatalogItemIsNotTradable"
    },
    "UsersAlreadyFriends": {
      "id": 1183,
      "name": "UsersAlreadyFriends"
    },
    "LinkedIdentifierAlreadyClaimed": {
      "id": 1184,
      "name": "LinkedIdentifierAlreadyClaimed"
    },
    "CustomIdNotLinked": {
      "id": 1185,
      "name": "CustomIdNotLinked"
    },
    "TotalDataSizeExceeded": {
      "id": 1186,
      "name": "TotalDataSizeExceeded"
    },
    "DeleteKeyConflict": {
      "id": 1187,
      "name": "DeleteKeyConflict"
    },
    "InvalidXboxLiveToken": {
      "id": 1188,
      "name": "InvalidXboxLiveToken"
    },
    "ExpiredXboxLiveToken": {
      "id": 1189,
      "name": "ExpiredXboxLiveToken"
    },
    "ResettableStatisticVersionRequired": {
      "id": 1190,
      "name": "ResettableStatisticVersionRequired"
    },
    "NotAuthorizedByTitle": {
      "id": 1191,
      "name": "NotAuthorizedByTitle"
    },
    "NoPartnerEnabled": {
      "id": 1192,
      "name": "NoPartnerEnabled"
    },
    "InvalidPartnerResponse": {
      "id": 1193,
      "name": "InvalidPartnerResponse"
    },
    "APINotEnabledForGameServerAccess": {
      "id": 1194,
      "name": "APINotEnabledForGameServerAccess"
    },
    "StatisticNotFound": {
      "id": 1195,
      "name": "StatisticNotFound"
    },
    "StatisticNameConflict": {
      "id": 1196,
      "name": "StatisticNameConflict"
    },
    "StatisticVersionClosedForWrites": {
      "id": 1197,
      "name": "StatisticVersionClosedForWrites"
    },
    "StatisticVersionInvalid": {
      "id": 1198,
      "name": "StatisticVersionInvalid"
    },
    "APIClientRequestRateLimitExceeded": {
      "id": 1199,
      "name": "APIClientRequestRateLimitExceeded"
    },
    "InvalidJSONContent": {
      "id": 1200,
      "name": "InvalidJSONContent"
    },
    "InvalidDropTable": {
      "id": 1201,
      "name": "InvalidDropTable"
    },
    "StatisticVersionAlreadyIncrementedForScheduledInterval": {
      "id": 1202,
      "name": "StatisticVersionAlreadyIncrementedForScheduledInterval"
    },
    "StatisticCountLimitExceeded": {
      "id": 1203,
      "name": "StatisticCountLimitExceeded"
    },
    "StatisticVersionIncrementRateExceeded": {
      "id": 1204,
      "name": "StatisticVersionIncrementRateExceeded"
    },
    "ContainerKeyInvalid": {
      "id": 1205,
      "name": "ContainerKeyInvalid"
    },
    "CloudScriptExecutionTimeLimitExceeded": {
      "id": 1206,
      "name": "CloudScriptExecutionTimeLimitExceeded"
    },
    "NoWritePermissionsForEvent": {
      "id": 1207,
      "name": "NoWritePermissionsForEvent"
    },
    "CloudScriptFunctionArgumentSizeExceeded": {
      "id": 1208,
      "name": "CloudScriptFunctionArgumentSizeExceeded"
    },
    "CloudScriptAPIRequestCountExceeded": {
      "id": 1209,
      "name": "CloudScriptAPIRequestCountExceeded"
    },
    "CloudScriptAPIRequestError": {
      "id": 1210,
      "name": "CloudScriptAPIRequestError"
    },
    "CloudScriptHTTPRequestError": {
      "id": 1211,
      "name": "CloudScriptHTTPRequestError"
    },
    "InsufficientGuildRole": {
      "id": 1212,
      "name": "InsufficientGuildRole"
    },
    "GuildNotFound": {
      "id": 1213,
      "name": "GuildNotFound"
    },
    "OverLimit": {
      "id": 1214,
      "name": "OverLimit"
    },
    "EventNotFound": {
      "id": 1215,
      "name": "EventNotFound"
    },
    "InvalidEventField": {
      "id": 1216,
      "name": "InvalidEventField"
    },
    "InvalidEventName": {
      "id": 1217,
      "name": "InvalidEventName"
    },
    "CatalogNotConfigured": {
      "id": 1218,
      "name": "CatalogNotConfigured"
    },
    "OperationNotSupportedForPlatform": {
      "id": 1219,
      "name": "OperationNotSupportedForPlatform"
    },
    "SegmentNotFound": {
      "id": 1220,
      "name": "SegmentNotFound"
    },
    "StoreNotFound": {
      "id": 1221,
      "name": "StoreNotFound"
    },
    "InvalidStatisticName": {
      "id": 1222,
      "name": "InvalidStatisticName"
    },
    "TitleNotQualifiedForLimit": {
      "id": 1223,
      "name": "TitleNotQualifiedForLimit"
    },
    "InvalidServiceLimitLevel": {
      "id": 1224,
      "name": "InvalidServiceLimitLevel"
    },
    "ServiceLimitLevelInTransition": {
      "id": 1225,
      "name": "ServiceLimitLevelInTransition"
    },
    "CouponAlreadyRedeemed": {
      "id": 1226,
      "name": "CouponAlreadyRedeemed"
    },
    "GameServerBuildSizeLimitExceeded": {
      "id": 1227,
      "name": "GameServerBuildSizeLimitExceeded"
    },
    "GameServerBuildCountLimitExceeded": {
      "id": 1228,
      "name": "GameServerBuildCountLimitExceeded"
    },
    "VirtualCurrencyCountLimitExceeded": {
      "id": 1229,
      "name": "VirtualCurrencyCountLimitExceeded"
    },
    "VirtualCurrencyCodeExists": {
      "id": 1230,
      "name": "VirtualCurrencyCodeExists"
    },
    "TitleNewsItemCountLimitExceeded": {
      "id": 1231,
      "name": "TitleNewsItemCountLimitExceeded"
    },
    "InvalidTwitchToken": {
      "id": 1232,
      "name": "InvalidTwitchToken"
    },
    "TwitchResponseError": {
      "id": 1233,
      "name": "TwitchResponseError"
    },
    "ProfaneDisplayName": {
      "id": 1234,
      "name": "ProfaneDisplayName"
    },
    "UserAlreadyAdded": {
      "id": 1235,
      "name": "UserAlreadyAdded"
    },
    "InvalidVirtualCurrencyCode": {
      "id": 1236,
      "name": "InvalidVirtualCurrencyCode"
    },
    "VirtualCurrencyCannotBeDeleted": {
      "id": 1237,
      "name": "VirtualCurrencyCannotBeDeleted"
    },
    "IdentifierAlreadyClaimed": {
      "id": 1238,
      "name": "IdentifierAlreadyClaimed"
    },
    "IdentifierNotLinked": {
      "id": 1239,
      "name": "IdentifierNotLinked"
    },
    "InvalidContinuationToken": {
      "id": 1240,
      "name": "InvalidContinuationToken"
    },
    "ExpiredContinuationToken": {
      "id": 1241,
      "name": "ExpiredContinuationToken"
    },
    "InvalidSegment": {
      "id": 1242,
      "name": "InvalidSegment"
    },
    "InvalidSessionId": {
      "id": 1243,
      "name": "InvalidSessionId"
    },
    "SessionLogNotFound": {
      "id": 1244,
      "name": "SessionLogNotFound"
    },
    "InvalidSearchTerm": {
      "id": 1245,
      "name": "InvalidSearchTerm"
    },
    "TwoFactorAuthenticationTokenRequired": {
      "id": 1246,
      "name": "TwoFactorAuthenticationTokenRequired"
    },
    "GameServerHostCountLimitExceeded": {
[...]
