{
  "swagger": "2.0",
  "info": {
    "version": "190627",
    "title": "PlayFab Economy API",
    "description": "API methods for managing User Generated Content. API methods for managing the catalog. Inventory manages in-game assets for any given entity.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Catalog/CreateBundle": {
      "post": {
        "operationId": "CreateBundle",
        "tags": [
          "Catalog"
        ],
        "description": "Create a bundle",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateBundle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBundleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, and bundle details, create a bundle.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/CreateCurrency": {
      "post": {
        "operationId": "CreateCurrency",
        "tags": [
          "Catalog"
        ],
        "description": "Create a currency",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateCurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateCurrencyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateCurrencyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, and currency details, create a currency.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/CreateDraftItem": {
      "post": {
        "operationId": "CreateDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Creates a new item in the working catalog using provided metadata.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateDraftItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The item will not be published to the public catalog until the PublishItem API is called for the item.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemMetadataInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/CreateOrUpdateReview": {
      "post": {
        "operationId": "CreateOrUpdateReview",
        "tags": [
          "Catalog"
        ],
        "description": "Creates or updates a review for the specified item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateOrUpdateReview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateOrUpdateReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateOrUpdateReviewResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/CreateStore": {
      "post": {
        "operationId": "CreateStore",
        "tags": [
          "Catalog"
        ],
        "description": "Create a store",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateStore"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateStoreRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, and store details, create a store. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/CreateSubscription": {
      "post": {
        "operationId": "CreateSubscription",
        "tags": [
          "Catalog"
        ],
        "description": "Create a subscription",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateSubscription"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateSubscriptionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, and subscription details, create a subscription ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/CreateUploadUrls": {
      "post": {
        "operationId": "CreateUploadUrls",
        "tags": [
          "Catalog"
        ],
        "description": "Creates one or more upload URLs which can be used by the client to upload raw file data.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateUploadUrls"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateUploadUrlsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateUploadUrlsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs returned must be added to the item metadata and commited using the CreateDraftItem or UpdateDraftItem Item APIs.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogOneOrMoreFilesInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/DeleteBundleByFriendlyId": {
      "post": {
        "operationId": "DeleteBundleByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Delete a bundle by friendly Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteBundleByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBundleByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and Friendly Id, delete a bundle. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/DeleteBundleById": {
      "post": {
        "operationId": "DeleteBundleById",
        "tags": [
          "Catalog"
        ],
        "description": "Delete a bundle by Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteBundleById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBundleByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and Id, delete a bundle. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/DeleteItem": {
      "post": {
        "operationId": "DeleteItem",
        "tags": [
          "Catalog"
        ],
        "description": "Removes an item from working catalog and all published versions from the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/DeleteStoreByFriendlyId": {
      "post": {
        "operationId": "DeleteStoreByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Delete a store by friendly Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteStoreByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStoreByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and friendly Id, delete a store. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/DeleteStoreById": {
      "post": {
        "operationId": "DeleteStoreById",
        "tags": [
          "Catalog"
        ],
        "description": "Delete a store by Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteStoreById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStoreByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and Id, delete a store. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/DeleteSubscriptionByFriendlyId": {
      "post": {
        "operationId": "DeleteSubscriptionByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Delete a subscription by friendly Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteSubscriptionByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteSubscriptionByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and friendly Id, delete a subscription. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/DeleteSubscriptionById": {
      "post": {
        "operationId": "DeleteSubscriptionById",
        "tags": [
          "Catalog"
        ],
        "description": "Delete a subscription by Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteSubscriptionById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteSubscriptionByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and Id, delete a subscription. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetBundleByFriendlyId": {
      "post": {
        "operationId": "GetBundleByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Get a bundle by Friendly Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetBundleByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBundleByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified bundle by friendly Id.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetBundleById": {
      "post": {
        "operationId": "GetBundleById",
        "tags": [
          "Catalog"
        ],
        "description": "Get a bundle by Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetBundleById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBundleByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified bundle by Id.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetBundleByMarketplaceOfferId": {
      "post": {
        "operationId": "GetBundleByMarketplaceOfferId",
        "tags": [
          "Catalog"
        ],
        "description": "Get a bundle by marketplace offer Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetBundleByMarketplaceOfferId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBundleByMarketplaceOfferIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified bundle by marketplace offer Id.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetCatalogConfig": {
      "post": {
        "operationId": "GetCatalogConfig",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the configuration for the catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetCatalogConfig"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCatalogConfigRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCatalogConfigResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthorized"
        ]
      }
    },
    "/Catalog/GetCurrencyById": {
      "post": {
        "operationId": "GetCurrencyById",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieve a currency by id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetCurrencyById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCurrencyByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCurrencyByIdResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetDraftItem": {
      "post": {
        "operationId": "GetDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves an item from the working catalog. This item represents the current working state of the catalog item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetDraftItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetDraftItems": {
      "post": {
        "operationId": "GetDraftItems",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves a paginated list of the items from the draft catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetDraftItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetItemReviews": {
      "post": {
        "operationId": "GetItemReviews",
        "tags": [
          "Catalog"
        ],
        "description": "Get a paginated set of reviews associated with the specified item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetItemReviews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetReviewsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetReviewsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetItemReviewSummary": {
      "post": {
        "operationId": "GetItemReviewSummary",
        "tags": [
          "Catalog"
        ],
        "description": "Get a summary of all reviews associated with the specified item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetItemReviewSummary"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReviewSummaryRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReviewSummaryResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetMyReview": {
      "post": {
        "operationId": "GetMyReview",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the submitted review for the specifed item by the authenticated user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetMyReview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMyReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMyReviewResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetPublishedItem": {
      "post": {
        "operationId": "GetPublishedItem",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves an item from the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetPublishedItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPublishedItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPublishedItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetPublishStatus": {
      "post": {
        "operationId": "GetPublishStatus",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the status of a publish of an item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetPublishStatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishStatusResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/GetStoreByFriendlyId": {
      "post": {
        "operationId": "GetStoreByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Get a store by Friendly Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetStoreByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStoreByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified store by FriendlyId. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetStoreById": {
      "post": {
        "operationId": "GetStoreById",
        "tags": [
          "Catalog"
        ],
        "description": "Get a store by Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetStoreById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStoreByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified store by Id. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetSubscriptionByFriendlyId": {
      "post": {
        "operationId": "GetSubscriptionByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Get a subscription by Friendly Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetSubscriptionByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSubscriptionByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified subscription by FriendlyId.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetSubscriptionById": {
      "post": {
        "operationId": "GetSubscriptionById",
        "tags": [
          "Catalog"
        ],
        "description": "Get a subscription by Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetSubscriptionById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSubscriptionByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified subscription by Id.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/GetSubscriptionByMarketplaceOfferId": {
      "post": {
        "operationId": "GetSubscriptionByMarketplaceOfferId",
        "tags": [
          "Catalog"
        ],
        "description": "Get a subscription by marketplace offer Id",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetSubscriptionByMarketplaceOfferId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSubscriptionByMarketplaceOfferIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Retrieves the specified subscription by MarketplaceOfferId.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/PublishItem": {
      "post": {
        "operationId": "PublishItem",
        "tags": [
          "Catalog"
        ],
        "description": "Initiates a publish of an item from the working catalog to the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/PublishItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The call kicks off a workflow to publish the item to the public catalog. The Publish Status API should be used to monitor the publish job.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/PurchaseItemByFriendlyId": {
      "post": {
        "operationId": "PurchaseItemByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Purchase an item, bundle or subscription by friendly id.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/PurchaseItemByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PurchaseItemByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Purchase a single item, bundle or subscription by friendly id, paying the associated price.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/PurchaseItemById": {
      "post": {
        "operationId": "PurchaseItemById",
        "tags": [
          "Catalog"
        ],
        "description": "Purchase an item, bundle or subscription by id.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/PurchaseItemById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PurchaseItemByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Purchase a single item, bundle or subscription by id, paying the associated price.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/ReportReview": {
      "post": {
        "operationId": "ReportReview",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a report for a review",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/ReportReview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReportReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReportReviewResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Submit a report for an inappropriate review, allowing the submitting user to specify their concern.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/Search": {
      "post": {
        "operationId": "Search",
        "tags": [
          "Catalog"
        ],
        "description": "Execute a search against the public catalog using the provided search parameters and returns a set of paginated results.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/Search"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CatalogSearchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CatalogSearchResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogSearchParameterInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/SearchBundles": {
      "post": {
        "operationId": "SearchBundles",
        "tags": [
          "Catalog"
        ],
        "description": "Execute a search against the set of all bundles, using the provided search parameters and returns a set of paginated results",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchBundles"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchBundlesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchBundlesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, search text and/or (filter, orderby, skip, top and ExpandReferencedItems), search for bundles. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SearchForItemsContainingItemByFriendlyId": {
      "post": {
        "operationId": "SearchForItemsContainingItemByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Search for a given item (by friendly id) and return a set of bundles/subscriptions/stores containing the item",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchForItemsContainingItemByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchForItemsContainingItemByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchForItemsContainingItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an item friendlyid and a container type (bundles/subscriptions/stores or a combination of those), return a set of bundles/subscriptions/stores containing the item.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SearchForItemsContainingItemById": {
      "post": {
        "operationId": "SearchForItemsContainingItemById",
        "tags": [
          "Catalog"
        ],
        "description": "Search for a given item (by id) and return a set of bundles/subscriptions/stores containing the item",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchForItemsContainingItemById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchForItemsContainingItemByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchForItemsContainingItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an item id and a container type (bundles/subscriptions/stores or a combination of those), return a set of bundles/subscriptions/stores containing the item.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SearchInStoreByFriendlyId": {
      "post": {
        "operationId": "SearchInStoreByFriendlyId",
        "tags": [
          "Catalog"
        ],
        "description": "Execute a search against a specified store (by friendly id) using the provided search parameters and return a set of paginated results",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchInStoreByFriendlyId"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchInStoreByFriendlyIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchInStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given a store friendlyId, search text and/or (filter, orderby, skip, top), search for items within the store that satisfy the search conditions. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SearchInStoreById": {
      "post": {
        "operationId": "SearchInStoreById",
        "tags": [
          "Catalog"
        ],
        "description": "Execute a search against a specified store (by id) using the provided search parameters and return a set of paginated results",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchInStoreById"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchInStoreByIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchInStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given a store id, search text and/or (filter, orderby, skip, top), search for items within the store that satisfy the search conditions.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SearchStores": {
      "post": {
        "operationId": "SearchStores",
        "tags": [
          "Catalog"
        ],
        "description": "Execute a search against the set of all stores, using the provided search parameters and returns a set of paginated results",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchStores"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchStoresRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchStoresResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, search text and/or (filter, orderby, skip, top and ExpandReferencedItems), search for stores. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SearchSubscriptions": {
      "post": {
        "operationId": "SearchSubscriptions",
        "tags": [
          "Catalog"
        ],
        "description": "Execute a search against the set of all subscriptions, using the provided search parameters and returns a set of paginated results",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SearchSubscriptions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchSubscriptionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchSubscriptionsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, search text and/or (filter, orderby, skip, top and ExpandReferencedItems), search for subscriptions. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/SubmitHelpfulnessVote": {
      "post": {
        "operationId": "SubmitHelpfulnessVote",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a vote for a review, indicating whether the review was helpful or unhelpful.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SubmitHelpfulnessVote"
        },
        "parameters": [
          {
            "$ref": "#/parameters/HelpfulnessVoteRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/HelpfulnessVoteResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/TakedownReviews": {
      "post": {
        "operationId": "TakedownReviews",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a request to takedown one or more reviews.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/TakedownReviews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/TakedownReviewsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TakedownReviewsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Submit a request to takedown one or more reviews, removing them from public view. Authors will still be able to see their reviews after being taken down.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/UpdateBundle": {
      "post": {
        "operationId": "UpdateBundle",
        "tags": [
          "Catalog"
        ],
        "description": "Update a bundle",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateBundle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateBundleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateBundleResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, and bundle details, update a bundle. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/UpdateCatalogConfig": {
      "post": {
        "operationId": "UpdateCatalogConfig",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the configuration for the catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateCatalogConfig"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateCatalogConfigRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateCatalogConfigResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogConfigInvalid"
        ]
      }
    },
    "/Catalog/UpdateCurrency": {
      "post": {
        "operationId": "UpdateCurrency",
        "tags": [
          "Catalog"
        ],
        "description": "Update a currency",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateCurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateCurrencyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateCurrencyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/UpdateDraftItem": {
      "post": {
        "operationId": "UpdateDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Update the metadata for an item in the working catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateDraftItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemMetadataInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/Catalog/UpdateStore": {
      "post": {
        "operationId": "UpdateStore",
        "tags": [
          "Catalog"
        ],
        "description": "Update a store",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateStore"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateStoreRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateStoreResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, and store details, update a store. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/UpdateSubscription": {
      "post": {
        "operationId": "UpdateSubscription",
        "tags": [
          "Catalog"
        ],
        "description": "Update a subscription",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateSubscription"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateSubscriptionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateSubscriptionResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type and subscription details, update a subscription.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/AddVirtualCurrencies": {
      "post": {
        "operationId": "AddVirtualCurrencies",
        "tags": [
          "Inventory"
        ],
        "description": "Increase virtual currencies amount.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/AddVirtualCurrencies"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddVirtualCurrenciesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddVirtualCurrenciesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will increase the entity's currencies by a specific amount. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/ConsumeInventoryItems": {
      "post": {
        "operationId": "ConsumeInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Consume inventory items.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/ConsumeInventoryItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumeInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumeInventoryItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will consume the specified inventory items. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/GetInventoryItems": {
      "post": {
        "operationId": "GetInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Get current inventory items.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetInventoryItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetInventoryItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will get the entity's inventory items. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/GetVirtualCurrencies": {
      "post": {
        "operationId": "GetVirtualCurrencies",
        "tags": [
          "Inventory"
        ],
        "description": "Get current virtual currencies.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetVirtualCurrencies"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetVirtualCurrenciesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetVirtualCurrenciesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will get the entity's virtual currencies. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/GrantInventoryItems": {
      "post": {
        "operationId": "GrantInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Grant inventory items.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GrantInventoryItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantInventoryItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will grant the specified inventory items. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/SetInventoryItems": {
      "post": {
        "operationId": "SetInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Set inventory items",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SetInventoryItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetInventoryItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will set the entity's inventory items",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/SetVirtualCurrencies": {
      "post": {
        "operationId": "SetVirtualCurrencies",
        "tags": [
          "Inventory"
        ],
        "description": "Set virtual currencies",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SetVirtualCurrencies"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetVirtualCurrenciesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetVirtualCurrenciesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will set the entity's currencies to a specific amount. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/SubtractVirtualCurrencies": {
      "post": {
        "operationId": "SubtractVirtualCurrencies",
        "tags": [
          "Inventory"
        ],
        "description": "Decrease virtual currencies amount.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SubtractVirtualCurrencies"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubtractVirtualCurrenciesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SubtractVirtualCurrenciesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will decrease the entity's currencies by a specific amount. ",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Inventory/UpdateInventoryItemsProperties": {
      "post": {
        "operationId": "UpdateInventoryItemsProperties",
        "tags": [
          "Inventory"
        ],
        "description": "Update inventory Items.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateInventoryItemsProperties"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateInventoryItemsPropertiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateInventoryPropertiesItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Update the specified inventory items.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "ForbiddenByEntityPolicy",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/UserGeneratedContent/CreateDraftUgcItem": {
      "post": {
        "operationId": "CreateDraftUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Creates a new community catalog item in the working catalog using provided metadata.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateDraftUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The item will not be published to the public catalog until the user makes a call to the PublishItem API.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemMetadataInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/CreateUgcUploadUrls": {
      "post": {
        "operationId": "CreateUgcUploadUrls",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Creates one or more upload URLs which can be used by the client to upload raw mod file data.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/CreateUgcUploadUrls"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateUploadUrlsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateUploadUrlsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs returned must be added to the item metadata and commited using the CreateDraftItem or UpdateDraftItem Item APIs.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogOneOrMoreFilesInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/DeleteUgcItem": {
      "post": {
        "operationId": "DeleteUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Removes an item from working catalog and all published versions from the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/DeleteUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetDraftUgcItem": {
      "post": {
        "operationId": "GetDraftUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Retrieves an item from the working catalog. This item represents the current working state of the community item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetDraftUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetDraftUgcItems": {
      "post": {
        "operationId": "GetDraftUgcItems",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Retrieves a paginated list of the items created by a user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetDraftUgcItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetPublishedUgcItem": {
      "post": {
        "operationId": "GetPublishedUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Retrieves an item from the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetPublishedUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPublishedItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPublishedItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetUgcItemModerationState": {
      "post": {
        "operationId": "GetUgcItemModerationState",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Gets the moderation state for an item, including the concern category and string reason.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetUgcItemModerationState"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUgcItemModerationStateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUgcItemModerationStateResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/GetUgcPublishStatus": {
      "post": {
        "operationId": "GetUgcPublishStatus",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Gets the status of a publish of an item.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/GetUgcPublishStatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishStatusResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/PublishUgcItem": {
      "post": {
        "operationId": "PublishUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Initiates a publish of a item from the working catalog to the public catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/PublishUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The call kicks off a workflow to publish the item to the public catalog. The Publish Status API should be used to monitor the publish job.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/ReportUgcItem": {
      "post": {
        "operationId": "ReportUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Submit a report for an item, indicating in what way the item is inappropriate.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/ReportUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReportItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReportItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/SetUgcItemModerationState": {
      "post": {
        "operationId": "SetUgcItemModerationState",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Sets the moderation state for an item, including the concern category and string reason.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/SetUgcItemModerationState"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetUgcItemModerationStateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetUgcItemModerationStateResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemIdInvalid",
          "CatalogTitleIdMissing"
        ]
      }
    },
    "/UserGeneratedContent/UpdateDraftUgcItem": {
      "post": {
        "operationId": "UpdateDraftUgcItem",
        "tags": [
          "UserGeneratedContent"
        ],
        "description": "Update the metadata for an item in the working catalog.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/economy/method/UpdateDraftUgcItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateDraftItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "CatalogClientIdentityInvalid",
          "CatalogItemMetadataInvalid",
          "CatalogPlayerIdMissing",
          "CatalogTitleIdMissing"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical Playfab error code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "errorMessage": {
          "description": "Description for the Playfab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      }
    },
    "AddVirtualCurrenciesRequest": {
      "description": "Given an entity type, entity identifier and container details, will increase the entity's currencies by a specific amount. ",
      "type": "object",
      "properties": {
        "Currencies": {
          "description": "A list of currencies to modify",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrencyDetails"
          },
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "IdempotencyId": {
          "description": "The Idempotency Id for this request",
          "type": "string"
        }
      },
      "required": [
        "Currencies"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AddVirtualCurrenciesResult": {
      "type": "object",
      "properties": {
        "Currencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrencyResponseDto"
          },
          "x-isclass": true
        },
        "IdempotencyId": {
          "description": "The Idempotency Id for this request",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogAlternateId": {
      "type": "object",
      "properties": {
        "Type": {
          "description": "Type of the alternate Id",
          "type": "string"
        },
        "Value": {
          "description": "Value of the alternate Id",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogConfig": {
      "type": "object",
      "properties": {
        "Admins": {
          "description": "A list of title player accounts that will have admin permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Catalog": {
          "$ref": "#/definitions/CatalogSpecificConfig",
          "description": "The set of configuration that only applies to catalog items.",
          "type": "object",
          "x-isclass": true
        },
        "DeepLinkFormats": {
          "description": "A list of deep link formats.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeepLinkFormat"
          },
          "x-isclass": true
        },
        "DisplayPropertyIndexInfos": {
          "description": "A list of display properties to index.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisplayPropertyIndexInfo"
          },
          "x-isclass": true
        },
        "Reviewers": {
          "description": "A set of player entity keys that are allowed to review content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "UserGeneratedContent": {
          "$ref": "#/definitions/UserGeneratedContentSpecificConfig",
          "description": "The set of configuration that only applies to user generated contents.",
          "type": "object",
          "x-isclass": true
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogItemMetadata": {
      "type": "object",
      "properties": {
        "AllowMultipleStacks": {
          "description": "Indicates whether there can be multiple stacks of this item.",
          "type": "boolean"
        },
        "AlternateIds": {
          "description": "The alternate IDs associated with this item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogAlternateId"
          },
          "x-isclass": true
        },
        "Contents": {
          "description": "The set of contents associated with this item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Content"
          },
          "x-isclass": true
        },
        "ContentType": {
          "description": "The client-defined type of the item.",
          "type": "string"
        },
        "CreationDate": {
          "description": "The date and time when this item was created.",
          "type": "string"
        },
        "CreatorEntityKey": {
          "$ref": "#/definitions/EntityKey",
          "description": "The ID of the creator of this catalog item.",
          "type": "object",
          "x-isclass": true
        },
        "DeepLinks": {
          "description": "The set of platform specific deep links for this item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeepLink"
          },
          "x-isclass": true
        },
        "Description": {
          "description": "A dictionary of localized descriptions. Key is language code and localized string is the value. The neutral locale is required.",
          "type": "object"
        },
        "DisplayProperties": {
          "description": "Game specific properties for display purposes. This is an arbitrary JSON blob.",
          "type": "object"
        },
        "DisplayVersion": {
          "description": "The user provided version of the item for display purposes.",
          "type": "string"
        },
        "EndDate": {
          "description": "The date of when the item will cease to be available. If not provided then the product will be available indefinitely.",
          "type": "string"
        },
        "ETag": {
          "description": "The current ETag value that can be used for optimistic concurrency in the If-None-Match header.",
          "type": "string"
        },
        "Id": {
          "description": "The unique ID of the item.",
          "type": "string"
        },
        "Images": {
          "description": "The images associated with this item. Images can be thumbnails or screenshots.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          },
          "x-isclass": true
        },
        "IsConsumable": {
          "description": "Indicates whether the item is a consumable or durable.",
          "type": "boolean"
        },
        "IsHidden": {
          "description": "Indicates if the item is hidden.",
          "type": "boolean"
        },
        "IsStackable": {
          "description": "Indicates if this item can be stacked or if they should be handled individually.",
          "type": "boolean"
        },
        "ItemReferences": {
          "description": "The item references associated with this item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogItemReference"
          },
          "x-isclass": true
        },
        "LastModifiedDate": {
          "description": "The date and time this item was last updated.",
          "type": "string"
        },
        "Moderation": {
          "$ref": "#/definitions/ModerationState",
          "description": "The moderation state for this item.",
          "type": "object",
          "x-isclass": true
        },
        "PayoutInfo": {
          "$ref": "#/definitions/PayoutInfo",
          "description": "The payout information of the payee.",
          "type": "object",
          "x-isclass": true
        },
        "Platforms": {
          "description": "The platforms supported by this item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Price": {
          "$ref": "#/definitions/CatalogPrice",
          "description": "The base price of this item.",
          "type": "object",
          "x-isclass": true
        },
        "Rating": {
          "$ref": "#/definitions/Rating",
          "description": "Rating summary for this UGC item.",
          "type": "object",
          "x-isclass": true
        },
        "SourceEntityKey": {
          "$ref": "#/definitions/EntityKey",
          "description": "The title or namespace that this item belongs to.",
          "type": "object",
          "x-isclass": true
        },
        "StartDate": {
          "description": "The date of when the item will be available. If not provided then the product will appear immediately.",
          "type": "string"
        },
        "Subscription": {
          "$ref": "#/definitions/SubscriptionDetails",
          "description": "Additional metadata for subscription items.",
          "type": "object",
          "x-isclass": true
        },
        "Tags": {
          "description": "The list of tags that are associated with this item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Title": {
          "description": "A dictionary of localized titles. Key is language code and localized string is the value. The neutral locale is required.",
          "type": "object"
        },
        "Type": {
          "description": "The high-level type of the item.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogItemReference": {
      "type": "object",
      "properties": {
        "Amount": {
          "description": "The amount of the catalog item.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Id": {
          "description": "The unique ID of the catalog item.",
          "type": "string"
        },
        "Price": {
          "$ref": "#/definitions/CatalogPrice",
          "description": "The price of the catalog item.",
          "type": "object",
          "x-isclass": true
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogPrice": {
      "type": "object",
      "properties": {
        "PayoutAmount": {
          "description": "The amount the payee will receive.",
          "type": "number",
          "x-actualtype": "double"
        },
        "Prices": {
          "description": "Prices of the catalog item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPriceInstance"
          },
          "x-isclass": true
        },
        "Sort": {
          "description": "Sort setting of the catalog item.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogPriceAmount": {
      "type": "object",
      "properties": {
        "Amount": {
          "description": "The amount of the catalog price.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "CurrencyId": {
          "description": "The currency ID of the catalog price.",
          "type": "string"
        }
      },
      "required": [
        "Amount"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogPriceInstance": {
      "type": "object",
      "properties": {
        "Amounts": {
          "description": "The amounts of the catalog item price.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPriceAmount"
          },
          "x-isclass": true
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogSearchRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Filter": {
          "description": "An OData filter used to refine the search query.",
          "type": "string"
        },
        "OrderBy": {
          "description": "An OData orderBy used to order the results of the search query.",
          "type": "string"
        },
        "Search": {
          "description": "The text to search for.",
          "type": "string"
        },
        "Select": {
          "description": "An OData select query option used to augment the search results. If not defined, the default search result metadata will be returned.",
          "type": "string"
        },
        "Skip": {
          "description": "The number of results to skip.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SourceEntityKey": {
          "$ref": "#/definitions/EntityKey",
          "description": "The title or namespace to search under.",
          "type": "object",
          "x-isclass": true
        },
        "TitleId": {
          "description": "The ID of the title that this catalog item is associated with.",
          "type": "string"
        },
        "Top": {
          "description": "The number of results to retrieve.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Skip",
        "Top"
      ],
      "example": {
        "Search": "Pirates",
        "Filter": "tags/any(t:t eq 'desert') and contentType eq 'map'",
        "OrderBy": "lastModifiedDate asc",
        "Top": 10,
        "Select": "contents,images"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogSearchResult": {
      "type": "object",
      "properties": {
        "Count": {
          "description": "The total count of hits for the search query.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Items": {
          "description": "The paginated set of results for the search query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogItemMetadata"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Count": 261,
        "Items": []
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CatalogSpecificConfig": {
      "type": "object",
      "properties": {
        "ContentTypes": {
          "description": "The set of content types that will be used for validation and if no values are provided then anything is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Tags": {
          "description": "The set of tags that will be used for validation and if no values are provided then anything is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ConcernCategory": {
      "type": "object",
      "enum": [
        "None",
        "OffensiveContent",
        "ChildExploitation",
        "MalwareOrVirus",
        "PrivacyConcerns",
        "MisleadingApp",
        "PoorPerformance",
        "ReviewResponse",
        "SpamAdvertising",
        "Profanity"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ConsumeInventoryItemsRequest": {
      "description": "Given an entity type, entity identifier and container details, will consume the specified inventory items. ",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "IdempotencyId": {
          "description": "The Idempotency Id for this request",
          "type": "string"
        },
        "Items": {
          "description": "A list of Items to modify",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryItemDetails"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Items"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ConsumeInventoryItemsResult": {
      "type": "object",
      "properties": {
        "IdempotencyId": {
          "description": "The Idempotency Id for this request",
          "type": "string"
        },
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryItemResponseDto"
          },
          "x-isclass": true
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ContainerType": {
      "type": "object",
      "enum": [
        "None",
        "Bundles",
        "Stores",
        "Subscriptions"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Content": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "MaxClientVersion": {
          "description": "The maximum client version that this content is compatible with.",
          "type": "string"
        },
        "MinClientVersion": {
          "description": "The minimum client version that this content is compatible with.",
          "type": "string"
        },
        "Tags": {
          "description": "The list of tags that are associated with this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Type": {
          "description": "The client-defined type of the content.",
          "type": "string"
        },
        "Url": {
          "description": "The Azure CDN URL for retrieval of the catalog item binary content.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateBundleRequest": {
      "description": "Create bundle request",
      "type": "object",
      "properties": {
        "AllowOverwrite": {
          "description": "Allow overwrite",
          "type": "boolean"
        },
        "Bundle": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Bundle details",
          "type": "object",
          "x-isclass": true
        },
        "IdempotencyId": {
          "description": "The Idempotency Id for this request",
          "type": "string"
        }
      },
      "required": [
        "Bundle",
        "AllowOverwrite"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateBundleResult": {
      "description": "Create bundle result",
      "type": "object",
      "properties": {
        "Bundle": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "type": "object",
          "x-isclass": true
        },
        "IdempotencyId": {
          "description": "The Idempotency Id for this request",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateCurrencyRequest": {
      "description": "Given an entity type, and currency details, create a currency.",
      "type": "object",
      "properties": {
        "Currency": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Metadata describing the new currency item to be created.",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Currency"
      ],
      "example": {
        "Currency": {
          "AlternateIds": [
            {
              "Type": "FriendlyId",
              "Value": "AU"
            }
          ],
          "Title": {
            "neutral": "gold"
          },
          "IsHidden": false,
          "StartDate": "2018-08-17T22:32:10.4729879+00:00",
          "Images": [
            {
              "Id": "00000000-0000-0000-0000-000000000003",
              "Tag": "display",
              "Type": "thumbnail",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000003/gold_thumb.jpg"
            }
          ],
          "ETag": "opaqueString"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateCurrencyResult": {
      "type": "object",
      "properties": {
        "CurrencyMetadata": {
          "$ref": "#/definitions/CatalogItemMetadata",
          "description": "Updated metadata describing the catalog item just created.",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "CurrencyMetadata": {
          "Id": "00000000-0000-0000-0000-000000000004",
          "AlternateIds": [
[...]
