{
  "swagger": "2.0",
  "info": {
    "version": "250606",
    "title": "PlayFab Economy API",
    "description": "API methods for managing the catalog. Inventory manages in-game assets for any given entity. API methods for managing the versioned catalogs.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Catalog/CreateDraftItem": {
      "post": {
        "operationId": "CreateDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Creates a new item in the working catalog using provided metadata. Note: SAS tokens provided are valid for 1 hour.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/createdraftitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateDraftItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The item will not be published to the public catalog until the PublishItem API is called for the item.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InvalidRequest",
          "ItemNotFound",
          "NotImplemented"
        ]
      }
    },
    "/Catalog/CreateUploadUrls": {
      "post": {
        "operationId": "CreateUploadUrls",
        "tags": [
          "Catalog"
        ],
        "description": "Creates one or more upload URLs which can be used by the client to upload raw file data. Content URls and uploaded content will be garbage collected after 24 hours if not attached to a draft or published item. Detailed pricing info around uploading content can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/pricing/meters/catalog-meters",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/createuploadurls"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateUploadUrlsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateUploadUrlsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs returned must be added to the item metadata and committed using the CreateDraftItem or UpdateDraftItem Item APIs."
      }
    },
    "/Catalog/DeleteEntityItemReviews": {
      "post": {
        "operationId": "DeleteEntityItemReviews",
        "tags": [
          "Catalog"
        ],
        "description": "Deletes all reviews, helpfulness votes, and ratings submitted by the entity specified.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/deleteentityitemreviews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteEntityItemReviewsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteEntityItemReviewsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Catalog/DeleteItem": {
      "post": {
        "operationId": "DeleteItem",
        "tags": [
          "Catalog"
        ],
        "description": "Removes an item from working catalog and all published versions from the public catalog.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/deleteitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetCatalogConfig": {
      "post": {
        "operationId": "GetCatalogConfig",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the configuration for the catalog. Only Title Entities can call this API. There is a limit of 100 requests in 10 seconds for this API. More information about the Catalog Config can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getcatalogconfig"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCatalogConfigRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCatalogConfigResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "BillingInformationRequired",
          "InvalidEntityType"
        ]
      }
    },
    "/Catalog/GetDraftItem": {
      "post": {
        "operationId": "GetDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves an item from the working catalog. This item represents the current working state of the item. GetDraftItem does not work off a cache of the Catalog and should be used when trying to get recent item updates. However, please note that item references data is cached and may take a few moments for changes to propagate. Note: SAS tokens provided are valid for 1 hour.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getdraftitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound",
          "NotImplemented"
        ]
      }
    },
    "/Catalog/GetDraftItems": {
      "post": {
        "operationId": "GetDraftItems",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves a paginated list of the items from the draft catalog. Up to 50 IDs can be retrieved in a single request. GetDraftItems does not work off a cache of the Catalog and should be used when trying to get recent item updates. Note: SAS tokens provided are valid for 1 hour.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getdraftitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetDraftItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetDraftItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetEntityDraftItems": {
      "post": {
        "operationId": "GetEntityDraftItems",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves a paginated list of the items from the draft catalog created by the Entity. Up to 50 items can be returned at once. You can use continuation tokens to paginate through results that return greater than the limit. GetEntityDraftItems does not work off a cache of the Catalog and should be used when trying to get recent item updates.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getentitydraftitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetEntityDraftItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityDraftItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetEntityItemReview": {
      "post": {
        "operationId": "GetEntityItemReview",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the submitted review for the specified item by the authenticated entity. Individual ratings and reviews data update in near real time with delays within a few seconds.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getentityitemreview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetEntityItemReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityItemReviewResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItem": {
      "post": {
        "operationId": "GetItem",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves an item from the public catalog. GetItem does not work off a cache of the Catalog and should be used when trying to get recent item updates. However, please note that item references data is cached and may take a few moments for changes to propagate.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItemContainers": {
      "post": {
        "operationId": "GetItemContainers",
        "tags": [
          "Catalog"
        ],
        "description": "Search for a given item and return a set of bundles and stores containing the item. Up to 50 items can be returned at once. You can use continuation tokens to paginate through results that return greater than the limit. This API is intended for tooling/automation scenarios and has a reduced RPS with Player Entities limited to 30 requests in 300 seconds and Title Entities limited to 100 requests in 10 seconds.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitemcontainers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemContainersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemContainersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an item, return a set of bundles and stores containing the item.",
        "x-ms-docs-errors": [
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItemModerationState": {
      "post": {
        "operationId": "GetItemModerationState",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the moderation state for an item, including the concern category and string reason. More information about moderation states can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/ugc/moderation",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitemmoderationstate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemModerationStateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemModerationStateResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItemPublishStatus": {
      "post": {
        "operationId": "GetItemPublishStatus",
        "tags": [
          "Catalog"
        ],
        "description": "Gets the status of a publish of an item.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitempublishstatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemPublishStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemPublishStatusResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItemReviews": {
      "post": {
        "operationId": "GetItemReviews",
        "tags": [
          "Catalog"
        ],
        "description": "Get a paginated set of reviews associated with the specified item. Individual ratings and reviews data update in near real time with delays within a few seconds.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitemreviews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemReviewsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemReviewsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItemReviewSummary": {
      "post": {
        "operationId": "GetItemReviewSummary",
        "tags": [
          "Catalog"
        ],
        "description": "Get a summary of all ratings and reviews associated with the specified item. Summary ratings data is cached with update data coming within 15 minutes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitemreviewsummary"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemReviewSummaryRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemReviewSummaryResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/GetItems": {
      "post": {
        "operationId": "GetItems",
        "tags": [
          "Catalog"
        ],
        "description": "Retrieves items from the public catalog. Up to 50 items can be returned at once. GetItems does not work off a cache of the Catalog and should be used when trying to get recent item updates. However, please note that item references data is cached and may take a few moments for changes to propagate.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/getitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "ItemNotFound",
          "NotImplemented"
        ]
      }
    },
    "/Catalog/PublishDraftItem": {
      "post": {
        "operationId": "PublishDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Initiates a publish of an item from the working catalog to the public catalog. You can use the GetItemPublishStatus API to track the state of the item publish.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/publishdraftitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PublishDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PublishDraftItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The call kicks off a workflow to publish the item to the public catalog. The Publish Status API should be used to monitor the publish job.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/ReportItem": {
      "post": {
        "operationId": "ReportItem",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a report for an item, indicating in what way the item is inappropriate.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/reportitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReportItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReportItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/ReportItemReview": {
      "post": {
        "operationId": "ReportItemReview",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a report for a review",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/reportitemreview"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReportItemReviewRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReportItemReviewResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Submit a report for an inappropriate review, allowing the submitting user to specify their concern.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded"
        ]
      }
    },
    "/Catalog/ReviewItem": {
      "post": {
        "operationId": "ReviewItem",
        "tags": [
          "Catalog"
        ],
        "description": "Creates or updates a review for the specified item. More information around the caching surrounding item ratings and reviews can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/ratings#ratings-design-and-caching",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/reviewitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReviewItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ReviewItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/SearchItems": {
      "post": {
        "operationId": "SearchItems",
        "tags": [
          "Catalog"
        ],
        "description": "Executes a search against the public catalog using the provided search parameters and returns a set of paginated results. SearchItems uses a cache of the catalog with item updates taking up to a few minutes to propagate. You should use the GetItem API for when trying to immediately get recent item updates. More information about the Search API can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/search",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/searchitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SearchItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SearchItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound",
          "NotImplemented"
        ]
      }
    },
    "/Catalog/SetItemModerationState": {
      "post": {
        "operationId": "SetItemModerationState",
        "tags": [
          "Catalog"
        ],
        "description": "Sets the moderation state for an item, including the concern category and string reason. More information about moderation states can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/ugc/moderation",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/setitemmoderationstate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetItemModerationStateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetItemModerationStateResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/SubmitItemReviewVote": {
      "post": {
        "operationId": "SubmitItemReviewVote",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a vote for a review, indicating whether the review was helpful or unhelpful.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/submititemreviewvote"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubmitItemReviewVoteRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SubmitItemReviewVoteResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded"
        ]
      }
    },
    "/Catalog/TakedownItemReviews": {
      "post": {
        "operationId": "TakedownItemReviews",
        "tags": [
          "Catalog"
        ],
        "description": "Submit a request to takedown one or more reviews.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/takedownitemreviews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/TakedownItemReviewsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TakedownItemReviewsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Submit a request to takedown one or more reviews, removing them from public view. Authors will still be able to see their reviews after being taken down.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Catalog/UpdateCatalogConfig": {
      "post": {
        "operationId": "UpdateCatalogConfig",
        "tags": [
          "Catalog"
        ],
        "description": "Updates the configuration for the catalog. Only Title Entities can call this API. There is a limit of 10 requests in 10 seconds for this API. More information about the Catalog Config can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/updatecatalogconfig"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateCatalogConfigRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateCatalogConfigResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "BillingInformationRequired",
          "CatalogConfigInvalid",
          "InvalidEntityType"
        ]
      }
    },
    "/Catalog/UpdateDraftItem": {
      "post": {
        "operationId": "UpdateDraftItem",
        "tags": [
          "Catalog"
        ],
        "description": "Update the metadata for an item in the working catalog. Note: SAS tokens provided are valid for 1 hour.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/catalog/updatedraftitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateDraftItemRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateDraftItemResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InvalidRequest",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/AddInventoryItems": {
      "post": {
        "operationId": "AddInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Add inventory items. Up to 10,000 stacks of items can be added to a single inventory collection. Stack size is uncapped.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/addinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will add the specified inventory items.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InvalidCatalogItemConfiguration",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/DeleteInventoryCollection": {
      "post": {
        "operationId": "DeleteInventoryCollection",
        "tags": [
          "Inventory"
        ],
        "description": "Delete an Inventory Collection. More information about Inventory Collections can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/inventory/collections",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/deleteinventorycollection"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteInventoryCollectionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteInventoryCollectionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Delete an Inventory Collection by the specified Id for an Entity"
      }
    },
    "/Inventory/DeleteInventoryItems": {
      "post": {
        "operationId": "DeleteInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Delete inventory items",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/deleteinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will delete the entity's inventory items",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/ExecuteInventoryOperations": {
      "post": {
        "operationId": "ExecuteInventoryOperations",
        "tags": [
          "Inventory"
        ],
        "description": "Execute a list of Inventory Operations. A maximum list of 50 operations can be performed by a single request. There is also a limit to 300 items that can be modified/added in a single request. For example, adding a bundle with 50 items counts as 50 items modified. All operations must be done within a single inventory collection. This API has a reduced RPS compared to an individual inventory operation with Player Entities limited to 60 requests in 90 seconds.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/executeinventoryoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteInventoryOperationsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExecuteInventoryOperationsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Execute a list of Inventory Operations for an Entity",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InsufficientFunds",
          "InvalidCatalogItemConfiguration",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/ExecuteTransferOperations": {
      "post": {
        "operationId": "ExecuteTransferOperations",
        "tags": [
          "Inventory"
        ],
        "description": "Transfer a list of inventory items. A maximum list of 50 operations can be performed by a single request. When the response code is 202, one or more operations did not complete within the timeframe of the request. You can identify the pending operations by looking for OperationStatus = 'InProgress'. You can check on the operation status at anytime within 1 day of the request by passing the TransactionToken to the GetInventoryOperationStatus API.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/executetransferoperations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteTransferOperationsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExecuteTransferOperationsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Transfer the specified list of inventory items of an entity's container Id to another entity's container Id.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InsufficientFunds",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/GetInventoryCollectionIds": {
      "post": {
        "operationId": "GetInventoryCollectionIds",
        "tags": [
          "Inventory"
        ],
        "description": "Get Inventory Collection Ids. Up to 50 Ids can be returned at once (or 250 with response compression enabled). You can use continuation tokens to paginate through results that return greater than the limit. It can take a few seconds for new collection Ids to show up.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/getinventorycollectionids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetInventoryCollectionIdsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetInventoryCollectionIdsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Get a list of Inventory Collection Ids for the specified Entity"
      }
    },
    "/Inventory/GetInventoryItems": {
      "post": {
        "operationId": "GetInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Get current inventory items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/getinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will get the entity's inventory items. ",
        "x-ms-docs-errors": [
          "AccountDeleted",
          "DatabaseThroughputExceeded"
        ]
      }
    },
    "/Inventory/GetInventoryOperationStatus": {
      "post": {
        "operationId": "GetInventoryOperationStatus",
        "tags": [
          "Inventory"
        ],
        "description": "Get the status of an inventory operation using an OperationToken. You can check on the operation status at anytime within 1 day of the request by passing the TransactionToken to the this API.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/getinventoryoperationstatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetInventoryOperationStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetInventoryOperationStatusResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Get the status of an Inventory Operation using an OperationToken."
      }
    },
    "/Inventory/GetMicrosoftStoreAccessTokens": {
      "post": {
        "operationId": "GetMicrosoftStoreAccessTokens",
        "tags": [
          "Inventory"
        ],
        "description": "Gets the access tokens.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/getmicrosoftstoreaccesstokens"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMicrosoftStoreAccessTokensRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMicrosoftStoreAccessTokensResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the access tokens for Microsoft Store authentication.",
        "x-ms-docs-errors": [
          "NotImplemented"
        ]
      }
    },
    "/Inventory/GetTransactionHistory": {
      "post": {
        "operationId": "GetTransactionHistory",
        "tags": [
          "Inventory"
        ],
        "description": "Get transaction history for a player. Up to 250 Events can be returned at once. You can use continuation tokens to paginate through results that return greater than the limit. Getting transaction history has a lower RPS limit than getting a Player's inventory with Player Entities having a limit of 30 requests in 300 seconds.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/gettransactionhistory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTransactionHistoryRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTransactionHistoryResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Get transaction history for specified entity and collection."
      }
    },
    "/Inventory/PurchaseInventoryItems": {
      "post": {
        "operationId": "PurchaseInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Purchase an item or bundle. Up to 10,000 stacks of items can be added to a single inventory collection. Stack size is uncapped.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/purchaseinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/PurchaseInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Purchase a single item or bundle, paying the associated price.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InsufficientFunds",
          "InvalidCatalogItemConfiguration",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/RedeemAppleAppStoreInventoryItems": {
      "post": {
        "operationId": "RedeemAppleAppStoreInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Redeem items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/redeemappleappstoreinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RedeemAppleAppStoreInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RedeemAppleAppStoreInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Redeem items from the Apple App Store.",
        "x-ms-docs-errors": [
          "InvalidCatalogItemConfiguration"
        ]
      }
    },
    "/Inventory/RedeemGooglePlayInventoryItems": {
      "post": {
        "operationId": "RedeemGooglePlayInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Redeem items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/redeemgoogleplayinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RedeemGooglePlayInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RedeemGooglePlayInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Redeem items from the Google Play Store.",
        "x-ms-docs-errors": [
          "InvalidCatalogItemConfiguration"
        ]
      }
    },
    "/Inventory/RedeemMicrosoftStoreInventoryItems": {
      "post": {
        "operationId": "RedeemMicrosoftStoreInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Redeem items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/redeemmicrosoftstoreinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RedeemMicrosoftStoreInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RedeemMicrosoftStoreInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Redeem items from the Microsoft Store.",
        "x-ms-docs-errors": [
          "AccountNotLinked",
          "InvalidCatalogItemConfiguration",
          "InvalidXboxLiveToken",
          "XboxInaccessible",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Inventory/RedeemNintendoEShopInventoryItems": {
      "post": {
        "operationId": "RedeemNintendoEShopInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Redeem items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/redeemnintendoeshopinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RedeemNintendoEShopInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RedeemNintendoEShopInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Redeem items from the Nintendo EShop.",
        "x-ms-docs-errors": [
          "AccountNotLinked",
          "InvalidCatalogItemConfiguration",
          "InvalidNintendoSwitchAccountId"
        ]
      }
    },
    "/Inventory/RedeemPlayStationStoreInventoryItems": {
      "post": {
        "operationId": "RedeemPlayStationStoreInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Redeem items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/redeemplaystationstoreinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RedeemPlayStationStoreInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RedeemPlayStationStoreInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Redeem items from the PlayStation Store.",
        "x-ms-docs-errors": [
          "AccountNotLinked",
          "InvalidCatalogItemConfiguration",
          "InvalidPSNAuthCode",
          "NotAuthorized"
        ]
      }
    },
    "/Inventory/RedeemSteamInventoryItems": {
      "post": {
        "operationId": "RedeemSteamInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Redeem items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/redeemsteaminventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RedeemSteamInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RedeemSteamInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Redeem inventory items from Steam.",
        "x-ms-docs-errors": [
          "AccountNotLinked",
          "InvalidCatalogItemConfiguration"
        ]
      }
    },
    "/Inventory/SubtractInventoryItems": {
      "post": {
        "operationId": "SubtractInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Subtract inventory items.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/subtractinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubtractInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SubtractInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will subtract the specified inventory items. ",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InsufficientFunds",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/TransferInventoryItems": {
      "post": {
        "operationId": "TransferInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Transfer inventory items. When transferring across collections, a 202 response indicates that the transfer did not complete within the timeframe of the request. You can identify the pending operations by looking for OperationStatus = 'InProgress'. You can check on the operation status at anytime within 1 day of the request by passing the TransactionToken to the GetInventoryOperationStatus API. More information about item transfer scenarios can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/inventory/?tabs=inventory-game-manager#transfer-inventory-items",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/transferinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/TransferInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TransferInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Transfer the specified inventory items of an entity's container Id to another entity's container Id.",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "InsufficientFunds",
          "ItemNotFound"
        ]
      }
    },
    "/Inventory/UpdateInventoryItems": {
      "post": {
        "operationId": "UpdateInventoryItems",
        "tags": [
          "Inventory"
        ],
        "description": "Update inventory items",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/economy/inventory/updateinventoryitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateInventoryItemsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateInventoryItemsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Given an entity type, entity identifier and container details, will update the entity's inventory items",
        "x-ms-docs-errors": [
          "DatabaseThroughputExceeded",
          "ItemNotFound"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "integer"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical PlayFab error code",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Description for the PlayFab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      },
      "required": [
        "code",
        "errorCode"
      ]
    },
    "AddInventoryItemsOperation": {
      "type": "object",
      "properties": {
        "Amount": {
          "description": "The amount to add to the current item amount.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "DurationInSeconds": {
          "description": "The duration to add to the current item expiration date.",
          "type": "number",
          "x-actualtype": "double"
        },
        "Item": {
          "$ref": "#/definitions/InventoryItemReference",
          "description": "The inventory item the operation applies to.",
          "type": "object",
          "x-isclass": true
        },
        "NewStackValues": {
          "$ref": "#/definitions/InitialValues",
          "description": "The values to apply to a stack newly created by this operation.",
          "type": "object",
          "x-isclass": true
        }
      }
    },
    "AddInventoryItemsRequest": {
      "description": "Given an entity type, entity identifier and container details, will add the specified inventory items.",
      "type": "object",
      "properties": {
        "Amount": {
          "description": "The amount to add for the current item.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "CollectionId": {
          "description": "The id of the entity's collection to perform this action on. (Default=\"default\"). The number of inventory collections is unlimited.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "DurationInSeconds": {
          "description": "The duration to add to the current item expiration date.",
          "type": "number",
          "x-actualtype": "double"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The Idempotency ID for this request. Idempotency IDs can be used to prevent operation replay in the medium term but will be garbage collected eventually.",
          "type": "string"
        },
        "Item": {
          "$ref": "#/definitions/InventoryItemReference",
          "description": "The inventory item the request applies to.",
          "type": "object",
          "x-isclass": true
        },
        "NewStackValues": {
          "$ref": "#/definitions/InitialValues",
          "description": "The values to apply to a stack newly created by this request.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {
          "Id": "11111111-1111-1111-1111-111111111111"
        },
        "Amount": 3
      }
    },
    "AddInventoryItemsResponse": {
      "type": "object",
      "properties": {
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The idempotency id used in the request.",
          "type": "string"
        },
        "TransactionIds": {
          "description": "The ids of transactions that occurred as a result of the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "IdempotencyId": "idempotencyId",
        "TransactionIds": [
          "transactionId1",
          "transactionId2"
        ]
      }
    },
    "AlternateId": {
      "type": "object",
      "properties": {
        "Type": {
          "description": "Type of the alternate ID.",
          "type": "string"
        },
        "Value": {
          "description": "Value of the alternate ID.",
          "type": "string"
        }
      }
    },
    "CatalogAlternateId": {
      "type": "object",
      "properties": {
        "Type": {
          "description": "Type of the alternate ID.",
          "type": "string"
        },
        "Value": {
          "description": "Value of the alternate ID.",
          "type": "string"
        }
      }
    },
    "CatalogConfig": {
      "type": "object",
      "properties": {
        "AdminEntities": {
          "description": "A list of player entity keys that will have admin permissions. There is a maximum of 64 entities that can be added.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "Catalog": {
          "$ref": "#/definitions/CatalogSpecificConfig",
          "description": "The set of configuration that only applies to catalog items.",
          "type": "object",
          "x-isclass": true
        },
        "DeepLinkFormats": {
          "description": "A list of deep link formats. Up to 10 can be added.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeepLinkFormat"
          },
          "x-isclass": true
        },
        "DisplayPropertyIndexInfos": {
          "description": "A list of display properties to index. Up to 5 mappings can be added per Display Property Type. More info on display properties can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/content-types-tags-and-properties#displayproperties",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DisplayPropertyIndexInfo"
          },
          "x-isclass": true
        },
        "File": {
          "$ref": "#/definitions/FileConfig",
          "description": "The set of configuration that only applies to Files.",
          "type": "object",
          "x-isclass": true
        },
        "Image": {
          "$ref": "#/definitions/ImageConfig",
          "description": "The set of configuration that only applies to Images.",
          "type": "object",
          "x-isclass": true
        },
        "IsCatalogEnabled": {
          "description": "Flag defining whether catalog is enabled.",
          "type": "boolean"
        },
        "Platforms": {
          "description": "A list of Platforms that can be applied to catalog items. Each platform can have a maximum character length of 40 and up to 128 platforms can be listed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Review": {
          "$ref": "#/definitions/ReviewConfig",
          "description": "The set of configuration that only applies to Ratings and Reviews.",
          "type": "object",
          "x-isclass": true
        },
        "ReviewerEntities": {
          "description": "A set of player entity keys that are allowed to review content. There is a maximum of 128 entities that can be added.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "UserGeneratedContent": {
          "$ref": "#/definitions/UserGeneratedContentSpecificConfig",
          "description": "The set of configuration that only applies to user generated contents.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "IsCatalogEnabled"
      ]
    },
    "CatalogItem": {
      "type": "object",
      "properties": {
        "AlternateIds": {
          "description": "The alternate IDs associated with this item. An alternate ID can be set to 'FriendlyId' or any of the supported marketplace names.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogAlternateId"
          },
          "x-isclass": true
        },
        "Contents": {
          "description": "The set of content/files associated with this item. Up to 100 files can be added to an item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Content"
          },
          "x-isclass": true
        },
        "ContentType": {
          "description": "The client-defined type of the item.",
          "type": "string"
        },
        "CreationDate": {
          "description": "The date and time when this item was created.",
          "type": "string"
        },
        "CreatorEntity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The ID of the creator of this catalog item.",
          "type": "object",
          "x-isclass": true
        },
        "DeepLinks": {
          "description": "The set of platform specific deep links for this item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeepLink"
          },
          "x-isclass": true
        },
        "DefaultStackId": {
          "description": "The Stack Id that will be used as default for this item in Inventory when an explicit one is not provided. This DefaultStackId can be a static stack id or '{guid}', which will generate a unique stack id for the item. If null, Inventory's default stack id will be used.",
          "type": "string"
        },
        "Description": {
          "description": "A dictionary of localized descriptions. Key is language code and localized string is the value. The NEUTRAL locale is required. Descriptions have a 10000 character limit per country code.",
          "type": "object"
        },
        "DisplayProperties": {
          "description": "Game specific properties for display purposes. This is an arbitrary JSON blob. The Display Properties field has a 10000 byte limit per item.",
          "type": "object"
        },
        "DisplayVersion": {
          "description": "The user provided version of the item for display purposes. Maximum character length of 50.",
          "type": "string"
        },
        "EndDate": {
          "description": "The date of when the item will cease to be available. If not provided then the product will be available indefinitely.",
          "type": "string"
        },
        "ETag": {
          "description": "The current ETag value that can be used for optimistic concurrency in the If-None-Match header.",
          "type": "string"
        },
        "Id": {
          "description": "The unique ID of the item.",
          "type": "string"
        },
        "Images": {
          "description": "The images associated with this item. Images can be thumbnails or screenshots. Up to 100 images can be added to an item. Only .png, .jpg, .gif, and .bmp file types can be uploaded",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          },
          "x-isclass": true
        },
        "IsHidden": {
          "description": "Indicates if the item is hidden.",
          "type": "boolean"
        },
        "ItemReferences": {
          "description": "The item references associated with this item. For example, the items in a Bundle/Store/Subscription. Every item can have up to 50 item references.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogItemReference"
          },
          "x-isclass": true
        },
        "Keywords": {
          "$ref": "#/definitions/KeywordSet",
          "description": "A dictionary of localized keywords. Key is language code and localized list of keywords is the value. Keywords have a 50 character limit per keyword and up to 32 keywords can be added per country code.",
          "type": "object",
          "x-isclass": true
        },
        "LastModifiedDate": {
          "description": "The date and time this item was last updated.",
          "type": "string"
        },
        "Moderation": {
          "$ref": "#/definitions/ModerationState",
          "description": "The moderation state for this item.",
          "type": "object",
          "x-isclass": true
        },
        "Platforms": {
          "description": "The platforms supported by this item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "PriceOptions": {
          "$ref": "#/definitions/CatalogPriceOptions",
          "description": "The prices the item can be purchased for.",
          "type": "object",
          "x-isclass": true
        },
        "Rating": {
          "$ref": "#/definitions/Rating",
          "description": "Rating summary for this item.",
          "type": "object",
          "x-isclass": true
        },
        "RealMoneyPriceDetails": {
          "$ref": "#/definitions/RealMoneyPriceDetails",
          "description": "The real price the item was purchased for per marketplace.",
          "type": "object",
          "x-isclass": true
        },
        "StartDate": {
          "description": "The date of when the item will be available. If not provided then the product will appear immediately.",
          "type": "string"
        },
        "StoreDetails": {
          "$ref": "#/definitions/StoreDetails",
          "description": "Optional details for stores items.",
          "type": "object",
          "x-isclass": true
        },
        "Tags": {
          "description": "The list of tags that are associated with this item. Up to 32 tags can be added to an item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Title": {
          "description": "A dictionary of localized titles. Key is language code and localized string is the value. The NEUTRAL locale is required. Titles have a 512 character limit per country code.",
          "type": "object"
        },
        "Type": {
          "description": "The high-level type of the item. The following item types are supported: bundle, catalogItem, currency, store, ugc, subscription.",
          "type": "string"
        }
      }
    },
    "CatalogItemReference": {
      "type": "object",
      "properties": {
        "Amount": {
          "description": "The amount of the catalog item.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Id": {
          "description": "The unique ID of the catalog item.",
          "type": "string"
        },
        "PriceOptions": {
          "$ref": "#/definitions/CatalogPriceOptions",
          "description": "The prices the catalog item can be purchased for.",
          "type": "object",
          "x-isclass": true
        }
      }
    },
    "CatalogPrice": {
      "type": "object",
      "properties": {
        "Amounts": {
          "description": "The amounts of the catalog item price. Each price can have up to 15 item amounts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPriceAmount"
          },
          "x-isclass": true
        },
        "UnitAmount": {
          "description": "The per-unit amount this price can be used to purchase.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "UnitDurationInSeconds": {
          "description": "The per-unit duration this price can be used to purchase. The maximum duration is 100 years.",
          "type": "number",
          "x-actualtype": "double"
        }
      }
    },
    "CatalogPriceAmount": {
      "type": "object",
      "properties": {
        "Amount": {
          "description": "The amount of the price.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "ItemId": {
          "description": "The Item Id of the price.",
          "type": "string"
        }
      },
      "required": [
        "Amount"
      ]
    },
    "CatalogPriceAmountOverride": {
      "type": "object",
      "properties": {
        "FixedValue": {
          "description": "The exact value that should be utilized in the override.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "ItemId": {
          "description": "The id of the item this override should utilize.",
          "type": "string"
        },
        "Multiplier": {
          "description": "The multiplier that will be applied to the base Catalog value to determine what value should be utilized in the override.",
          "type": "number",
          "x-actualtype": "double"
        }
      }
    },
    "CatalogPriceOptions": {
      "type": "object",
      "properties": {
        "Prices": {
          "description": "Prices of the catalog item. An item can have up to 15 prices",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPrice"
          },
          "x-isclass": true
        }
      }
    },
    "CatalogPriceOptionsOverride": {
      "type": "object",
      "properties": {
        "Prices": {
          "description": "The prices utilized in the override.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPriceOverride"
          },
          "x-isclass": true
        }
      }
    },
    "CatalogPriceOverride": {
      "type": "object",
      "properties": {
        "Amounts": {
          "description": "The currency amounts utilized in the override for a singular price.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogPriceAmountOverride"
          },
          "x-isclass": true
        }
      }
    },
    "CatalogSpecificConfig": {
      "type": "object",
      "properties": {
        "ContentTypes": {
          "description": "The set of content types that will be used for validation. Each content type can have a maximum character length of 40 and up to 128 types can be listed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Tags": {
          "description": "The set of tags that will be used for validation. Each tag can have a maximum character length of 32 and up to 1024 tags can be listed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CategoryRatingConfig": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the category.",
          "type": "string"
        }
      }
    },
    "ConcernCategory": {
      "type": "string",
      "enum": [
        "None",
        "OffensiveContent",
        "ChildExploitation",
        "MalwareOrVirus",
        "PrivacyConcerns",
        "MisleadingApp",
        "PoorPerformance",
        "ReviewResponse",
        "SpamAdvertising",
        "Profanity"
      ]
    },
    "Content": {
      "type": "object",
      "properties": {
        "Id": {
          "description": "The content unique ID.",
          "type": "string"
        },
        "MaxClientVersion": {
          "description": "The maximum client version that this content is compatible with. Client Versions can be up to 3 segments separated by periods(.) and each segment can have a maximum value of 65535.",
          "type": "string"
        },
        "MinClientVersion": {
          "description": "The minimum client version that this content is compatible with. Client Versions can be up to 3 segments separated by periods(.) and each segment can have a maximum value of 65535.",
          "type": "string"
        },
        "Tags": {
          "description": "The list of tags that are associated with this content. Tags must be defined in the Catalog Config before being used in content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Type": {
          "description": "The client-defined type of the content. Content Types must be defined in the Catalog Config before being used.",
          "type": "string"
        },
        "Url": {
          "description": "The Azure CDN URL for retrieval of the catalog item binary content.",
          "type": "string"
        }
      }
    },
    "CountryCode": {
      "type": "string",
      "enum": [
        "AF",
        "AX",
        "AL",
        "DZ",
        "AS",
        "AD",
        "AO",
        "AI",
        "AQ",
        "AG",
        "AR",
        "AM",
        "AW",
        "AU",
        "AT",
        "AZ",
        "BS",
        "BH",
        "BD",
        "BB",
        "BY",
        "BE",
        "BZ",
        "BJ",
        "BM",
        "BT",
        "BO",
        "BQ",
        "BA",
        "BW",
        "BV",
        "BR",
        "IO",
        "BN",
        "BG",
        "BF",
        "BI",
        "KH",
        "CM",
        "CA",
        "CV",
        "KY",
        "CF",
        "TD",
        "CL",
        "CN",
        "CX",
        "CC",
        "CO",
        "KM",
        "CG",
        "CD",
        "CK",
        "CR",
        "CI",
        "HR",
        "CU",
        "CW",
        "CY",
        "CZ",
        "DK",
        "DJ",
        "DM",
        "DO",
        "EC",
        "EG",
        "SV",
        "GQ",
        "ER",
        "EE",
        "ET",
        "FK",
        "FO",
        "FJ",
        "FI",
        "FR",
        "GF",
        "PF",
        "TF",
        "GA",
        "GM",
        "GE",
        "DE",
        "GH",
        "GI",
        "GR",
        "GL",
        "GD",
        "GP",
        "GU",
        "GT",
        "GG",
        "GN",
        "GW",
        "GY",
        "HT",
        "HM",
        "VA",
        "HN",
        "HK",
        "HU",
        "IS",
        "IN",
        "ID",
        "IR",
        "IQ",
        "IE",
        "IM",
        "IL",
        "IT",
        "JM",
        "JP",
        "JE",
        "JO",
        "KZ",
        "KE",
        "KI",
        "KP",
        "KR",
        "KW",
        "KG",
        "LA",
        "LV",
        "LB",
        "LS",
        "LR",
        "LY",
        "LI",
        "LT",
        "LU",
        "MO",
        "MK",
        "MG",
        "MW",
        "MY",
        "MV",
        "ML",
        "MT",
        "MH",
        "MQ",
        "MR",
        "MU",
        "YT",
        "MX",
        "FM",
        "MD",
        "MC",
        "MN",
        "ME",
        "MS",
        "MA",
        "MZ",
        "MM",
        "NA",
        "NR",
        "NP",
        "NL",
        "NC",
        "NZ",
        "NI",
        "NE",
        "NG",
        "NU",
        "NF",
        "MP",
        "NO",
        "OM",
        "PK",
        "PW",
        "PS",
        "PA",
        "PG",
        "PY",
        "PE",
        "PH",
        "PN",
        "PL",
        "PT",
        "PR",
        "QA",
        "RE",
        "RO",
        "RU",
        "RW",
        "BL",
        "SH",
        "KN",
        "LC",
        "MF",
        "PM",
        "VC",
        "WS",
        "SM",
        "ST",
        "SA",
        "SN",
        "RS",
        "SC",
        "SL",
        "SG",
        "SX",
        "SK",
        "SI",
        "SB",
        "SO",
        "ZA",
        "GS",
        "SS",
        "ES",
        "LK",
        "SD",
        "SR",
        "SJ",
        "SZ",
        "SE",
        "CH",
        "SY",
        "TW",
        "TJ",
        "TZ",
        "TH",
        "TL",
        "TG",
        "TK",
        "TO",
        "TT",
        "TN",
        "TR",
        "TM",
        "TC",
        "TV",
        "UG",
        "UA",
        "AE",
        "GB",
        "US",
        "UM",
        "UY",
        "UZ",
        "VU",
        "VE",
        "VN",
        "VG",
        "VI",
        "WF",
        "EH",
        "YE",
        "ZM",
        "ZW",
        "Unknown"
      ]
    },
    "CreateDraftItemRequest": {
      "description": "The item will not be published to the public catalog until the PublishItem API is called for the item.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Item": {
          "$ref": "#/definitions/CatalogItem",
          "description": "Metadata describing the new catalog item to be created.",
          "type": "object",
          "x-isclass": true
        },
        "Publish": {
          "description": "Whether the item should be published immediately. This value is optional, defaults to false.",
          "type": "boolean"
        }
      },
      "required": [
        "Publish"
      ],
      "example": {
        "Item": {
          "Type": "ugc",
          "Title": {
            "NEUTRAL": "Neutral title",
            "en-US": "US English title"
          },
          "Description": {
            "NEUTRAL": "Neutral description",
            "en-US": "US English description"
          },
          "Keywords": {
            "NEUTRAL": {
              "Values": [
                "Keyword_1",
                "Keyword_2"
              ]
            }
          },
          "ContentType": "example item",
          "CreatorEntity": {
            "Id": "someId",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "IsHidden": false,
          "Tags": [
            "pirates",
            "holiday"
          ],
          "DisplayVersion": "1.0.0",
          "CreationDate": "2018-08-17T22:32:10.4729879+00:00",
          "Contents": [
            {
              "Id": "00000000-0000-0000-0000-000000000001",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000001/textures.zip",
              "MaxClientVersion": "2.4.1",
              "MinClientVersion": "2.0.0"
            }
          ],
          "Images": [
            {
              "Id": "00000000-0000-0000-0000-000000000003",
              "Type": "Thumbnail",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000003/splashscreen_thumb.jpg"
            }
          ],
          "DisplayProperties": {
            "mapDetails": {
              "mapType": "desertIsland",
              "gameMode": "capture",
              "maxPlayers": 16
            },
            "averageMatchLengthInSeconds": 947
          },
          "DefaultStackId": "Static_Default_Stack_Id"
        }
      }
    },
    "CreateDraftItemResponse": {
      "type": "object",
      "properties": {
        "Item": {
          "$ref": "#/definitions/CatalogItem",
          "description": "Updated metadata describing the catalog item just created.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {
          "Id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
          "Type": "ugc",
          "Title": {
            "NEUTRAL": "Neutral title",
            "en-US": "US English title"
          },
          "Description": {
            "NEUTRAL": "Neutral description",
            "en-US": "US English description"
          },
          "Keywords": {
            "NEUTRAL": {
              "Values": [
                "Keyword_1",
                "Keyword_2"
              ]
            }
          },
          "ContentType": "example item",
          "CreatorEntity": {
            "Id": "someId",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "IsHidden": false,
          "Tags": [
            "pirates",
            "holiday"
          ],
          "DisplayVersion": "1.0.0",
          "CreationDate": "2018-08-17T22:32:10.4729879+00:00",
          "LastModifiedDate": "2018-08-17T22:32:31.911375+00:00",
          "Contents": [
            {
              "Id": "00000000-0000-0000-0000-000000000001",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000001/textures.zip",
              "MaxClientVersion": "2.4.1",
              "MinClientVersion": "2.0.0"
            }
          ],
          "Images": [
            {
              "Id": "00000000-0000-0000-0000-000000000003",
              "Type": "Thumbnail",
              "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/00000000-0000-0000-0000-000000000003/splashscreen_thumb.jpg"
            }
          ],
          "DisplayProperties": {
            "mapDetails": {
              "mapType": "desertIsland",
              "gameMode": "capture",
              "maxPlayers": 16
            },
            "averageMatchLengthInSeconds": 947
          },
          "ETag": "opaqueString",
          "DefaultStackId": "Static_Default_Stack_Id"
        }
      }
    },
    "CreateUploadUrlsRequest": {
      "description": "Upload URLs point to Azure Blobs; clients must follow the Microsoft Azure Storage Blob Service REST API pattern for uploading content. The response contains upload URLs and IDs for each file. The IDs and URLs returned must be added to the item metadata and committed using the CreateDraftItem or UpdateDraftItem Item APIs.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Files": {
          "description": "Description of the files to be uploaded by the client.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UploadInfo"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Files": [
          {
            "FileName": "textures.zip"
          },
          {
            "FileName": "sprites.png"
          }
        ]
      }
    },
    "CreateUploadUrlsResponse": {
      "type": "object",
      "properties": {
        "UploadUrls": {
          "description": "List of URLs metadata for the files to be uploaded by the client.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UploadUrlMetadata"
          },
          "x-isclass": true
        }
      },
      "example": {
        "UploadUrls": [
          {
            "Id": "11111111-1111-1111-1111-111111111111",
            "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/11111111-1111-1111-1111-111111111111/textures.zip",
            "FileName": "textures.zip"
          },
          {
            "Id": "22222222-2222-2222-2222-222222222222",
            "Url": "https://endpoint.blob.core.windows.net/some-identifier-private/22222222-2222-2222-2222-222222222222/sprites.png",
            "FileName": "sprites.png"
          }
        ]
      }
    },
    "DeepLink": {
      "type": "object",
      "properties": {
        "Platform": {
          "description": "Target platform for this deep link.",
          "type": "string"
        },
        "Url": {
          "description": "The deep link for this platform.",
          "type": "string"
        }
      }
    },
    "DeepLinkFormat": {
      "type": "object",
      "properties": {
        "Format": {
          "description": "The format of the deep link to return. The format should contain '{id}' to represent where the item ID should be placed.",
          "type": "string"
        },
        "Platform": {
          "description": "The target platform for the deep link.",
          "type": "string"
        }
      }
    },
    "DeleteEntityItemReviewsRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Entity": {
          "Id": "ABC123",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "DeleteEntityItemReviewsResponse": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "DeleteInventoryCollectionRequest": {
      "description": "Delete an Inventory Collection by the specified Id for an Entity",
      "type": "object",
      "properties": {
        "CollectionId": {
          "description": "The inventory collection id the request applies to.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity the request is about. Set to the caller by default.",
          "type": "object",
          "x-isclass": true
        },
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        }
      },
      "example": {
        "CollectionId": "backpack"
      }
    },
    "DeleteInventoryCollectionResponse": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "DeleteInventoryItemsOperation": {
      "type": "object",
      "properties": {
        "Item": {
          "$ref": "#/definitions/InventoryItemReference",
          "description": "The inventory item the operation applies to.",
          "type": "object",
          "x-isclass": true
        }
      }
    },
    "DeleteInventoryItemsRequest": {
      "description": "Given an entity type, entity identifier and container details, will delete the entity's inventory items",
      "type": "object",
      "properties": {
        "CollectionId": {
          "description": "The id of the entity's collection to perform this action on. (Default=\"default\"). The number of inventory collections is unlimited.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The Idempotency ID for this request. Idempotency IDs can be used to prevent operation replay in the medium term but will be garbage collected eventually.",
          "type": "string"
        },
        "Item": {
          "$ref": "#/definitions/InventoryItemReference",
          "description": "The inventory item the request applies to.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Item": {
          "Id": "11111111-1111-1111-1111-111111111111"
        }
      }
    },
    "DeleteInventoryItemsResponse": {
      "type": "object",
      "properties": {
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources.",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The idempotency id used in the request.",
          "type": "string"
        },
        "TransactionIds": {
          "description": "The ids of transactions that occurred as a result of the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "IdempotencyId": "idempotencyId",
        "TransactionIds": [
          "transactionId1",
          "transactionId2"
        ]
      }
    },
    "DeleteItemRequest": {
      "type": "object",
      "properties": {
        "AlternateId": {
          "$ref": "#/definitions/CatalogAlternateId",
          "description": "An alternate ID associated with this item.",
          "type": "object",
          "x-isclass": true
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Id": {
          "description": "The unique ID of the item.",
          "type": "string"
        }
      },
      "example": {
        "Id": "dddddddd-dddd-dddd-dddd-dddddddddddd"
      }
    },
    "DeleteItemResponse": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "DisplayPropertyIndexInfo": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The property name in the 'DisplayProperties' property to be indexed.",
          "type": "string"
        },
        "Type": {
          "$ref": "#/definitions/DisplayPropertyType",
          "description": "The type of the property to be indexed.",
          "type": "string",
          "x-isenum": true
        }
      }
    },
    "DisplayPropertyType": {
      "type": "string",
      "enum": [
        "None",
        "QueryDateTime",
        "QueryDouble",
        "QueryString",
        "SearchString"
      ]
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://docs.microsoft.com/gaming/playfab/features/data/entities/available-built-in-entity-types",
          "type": "string"
        }
      },
      "required": [
        "Id"
      ]
    },
    "ExecuteInventoryOperationsRequest": {
      "description": "Execute a list of Inventory Operations for an Entity",
      "type": "object",
      "properties": {
        "CollectionId": {
          "description": "The id of the entity's collection to perform this action on. (Default=\"default\"). The number of inventory collections is unlimited.",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The Idempotency ID for this request. Idempotency IDs can be used to prevent operation replay in the medium term but will be garbage collected eventually.",
          "type": "string"
        },
        "Operations": {
          "description": "The operations to run transactionally. The operations will be executed in-order sequentially and will succeed or fail as a batch. Up to 50 operations can be added.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryOperation"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Operations": [
          {
            "Add": {
              "Item": {
                "Id": "11111111-1111-1111-1111-111111111111"
              },
              "Amount": 3
            }
          },
          {
            "Subtract": {
              "Item": {
                "Id": "11111111-1111-1111-1111-111111111111"
              },
              "Amount": 3
            }
          }
        ]
      }
    },
    "ExecuteInventoryOperationsResponse": {
      "type": "object",
      "properties": {
        "ETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The idempotency id used in the request.",
          "type": "string"
        },
        "TransactionIds": {
          "description": "The ids of the transactions that occurred as a result of the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "IdempotencyId": "idempotencyId",
        "TransactionIds": [
          "transactionId1",
          "transactionId2"
        ]
      }
    },
    "ExecuteTransferOperationsRequest": {
      "description": "Transfer the specified list of inventory items of an entity's container Id to another entity's container Id.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "GivingCollectionId": {
          "description": "The inventory collection id the request is transferring from. (Default=\"default\")",
          "type": "string"
        },
        "GivingEntity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity the request is transferring from. Set to the caller by default.",
          "type": "object",
          "x-isclass": true
        },
        "GivingETag": {
          "description": "ETags are used for concurrency checking when updating resources. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "IdempotencyId": {
          "description": "The idempotency id for the request.",
          "type": "string"
        },
        "Operations": {
          "description": "The transfer operations to run transactionally. The operations will be executed in-order sequentially and will succeed or fail as a batch. Up to 50 operations can be added.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransferInventoryItemsOperation"
          },
          "x-isclass": true
        },
        "ReceivingCollectionId": {
          "description": "The inventory collection id the request is transferring to. (Default=\"default\")",
          "type": "string"
        },
        "ReceivingEntity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity the request is transferring to. Set to the caller by default.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Operations": [
          {
            "GivingItem": {
              "Id": "11111111-1111-1111-1111-111111111111",
              "StackId": "default"
            },
            "ReceivingItem": {
              "Id": "11111111-1111-1111-1111-111111111111",
              "StackId": "default"
            },
            "Amount": 1
          }
        ],
        "GivingEntity": {
          "Id": "someId1",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "ReceivingEntity": {
          "Id": "someId2",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "GivingCollectionId": "default",
        "ReceivingCollectionId": "backpack"
      }
    },
    "ExecuteTransferOperationsResponse": {
      "type": "object",
      "properties": {
        "GivingETag": {
          "description": "ETags are used for concurrency checking when updating resources (before transferring from). This value will be empty if the operation has not completed yet. More information about using ETags can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/etags",
          "type": "string"
        },
        "GivingTransactionIds": {
          "description": "The ids of transactions that occurred as a result of the request's giving action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "IdempotencyId": {
          "description": "The Idempotency ID for this request.",
          "type": "string"
        },
        "OperationStatus": {
          "description": "The transfer operation status. Possible values are 'InProgress' or 'Completed'. If the operation has completed, the response code will be 200. Otherwise, it will be 202.",
          "type": "string"
        },
        "OperationToken": {
          "description": "The token that can be used to get the status of the transfer operation. This will only have a value if OperationStatus is 'InProgress'.",
          "type": "string"
        },
        "ReceivingETag": {
          "description": "ETags are used for concurrency checking when updating resources (before transferring to). This value will be empty if the operation has not completed yet.",
          "type": "string"
        },
        "ReceivingTransactionIds": {
          "description": "The ids of transactions that occurred as a result of the request's receiving action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FileConfig": {
      "type": "object",
      "properties": {
        "ContentTypes": {
          "description": "The set of content types that will be used for validation. Each content type can have a maximum character length of 40 and up to 128 types can be listed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Tags": {
          "description": "The set of tags that will be used for validation. Each tag can have a maximum character length of 32 and up to 1024 tags can be listed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FilterOptions": {
      "type": "object",
      "properties": {
        "Filter": {
          "description": "The OData filter utilized. Mutually exclusive with 'IncludeAllItems'. More info about Filter Complexity limits can be found here: https://learn.microsoft.com/en-us/gaming/playfab/features/economy-v2/catalog/search#limits",
          "type": "string"
        },
[...]
