{
  "swagger": "2.0",
  "info": {
    "version": "180709",
    "title": "PlayFab Entity API",
    "description": "PlayFab Entity APIs provide a variety of core PlayFab features and work consistently across a broad set of entities, such as titles, players, characters, and more. API methods for executing CloudScript with an Entity Profile",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Authentication/GetEntityToken": {
      "post": {
        "operationId": "Authentication_GetEntityToken",
        "tags": [
          "Authentication"
        ],
        "description": "Method to exchange a legacy AuthenticationTicket or title SecretKey for an Entity Token or to refresh a still valid Entity Token.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetEntityToken"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetEntityTokenRequest"
          }
        ],
        "security": [
          {
            "None": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetEntityTokenResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "EntityToken": "lS2hbYH1Gls1KbnlyozHSQBrF4zsq6q006ci9ijSNqQUiiO6xyCQtVrLjsXjdBJ",
                  "Entity": {
                    "Id": "174812abf712",
                    "Type": "title_player_account",
                    "TypeString": "title_player_account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API must be called with X-SecretKey, X-Authentication or X-EntityToken headers. An optional EntityKey may be included to attempt to set the resulting EntityToken to a specific entity, however the entity must be a relation of the caller, such as the master_player_account of a character. If sending X-EntityToken the account will be marked as freshly logged in and will issue a new token. If using X-Authentication or X-EntityToken the header must still be valid and cannot be expired or revoked.",
        "x-errors": [
          "EntityTokenExpired",
          "EntityTokenInvalid",
          "EntityTokenRevoked",
          "NotAuthenticated"
        ]
      }
    },
    "/CloudScript/ExecuteEntityCloudScript": {
      "post": {
        "operationId": "CloudScript_ExecuteEntityCloudScript",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Executes CloudScript using the Entity Profile",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ExecuteEntityCloudScript"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteEntityCloudScriptRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ExecuteCloudScriptResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Revision": 3,
                  "FunctionResult": {
                    "newScore": 25
                  },
                  "Logs": [
                    {
                      "Level": "Info",
                      "Message": "Something normal happened",
                      "Data": {
                        "secondsAfterStart": 75
                      }
                    },
                    {
                      "Level": "Error",
                      "Message": "Something unexpected happened"
                    }
                  ],
                  "ExecutionTimeSeconds": 0.03670790046453476,
                  "MemoryConsumedBytes": 38904,
                  "APIRequestsIssued": 2
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes CloudScript with the entity profile that is defined in the request.",
        "x-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "JavascriptException"
        ]
      }
    },
    "/Event/WriteEvents": {
      "post": {
        "operationId": "Event_WriteEvents",
        "tags": [
          "PlayStream Events"
        ],
        "description": "Write batches of entity based events to PlayStream.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/WriteEvents"
        },
        "parameters": [
          {
            "$ref": "#/parameters/WriteEventsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/WriteEventsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "AssignedEventIds": [
                    "496b598a05404142a6b6349c8cb29459"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-errors": [
          "EventEntityNotAllowed",
          "EventNamespaceNotAllowed",
          "InvalidJSONContent",
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/File/AbortFileUploads": {
      "post": {
        "operationId": "File_AbortFileUploads",
        "tags": [
          "File"
        ],
        "description": "Abort pending file uploads to an entity's profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/AbortFileUploads"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AbortFileUploadsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AbortFileUploadsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ProfileVersion": 8,
                  "Entity": {
                    "Id": "ID",
                    "Type": "title_player_account",
                    "TypeString": "title_player_account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Aborts the pending upload of the requested files.",
        "x-seeAlso": [
          "File/DeleteFiles",
          "File/FinalizeFileUploads",
          "File/GetFiles",
          "File/InitiateFileUploads"
        ],
        "x-errors": [
          "FileNotFound",
          "NoEntityFileOperationPending"
        ]
      }
    },
    "/File/DeleteFiles": {
      "post": {
        "operationId": "File_DeleteFiles",
        "tags": [
          "File"
        ],
        "description": "Delete files on an entity's profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/DeleteFiles"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteFilesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteFilesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ProfileVersion": 6,
                  "Entity": {
                    "Id": "ID",
                    "Type": "title_player_account",
                    "TypeString": "title_player_account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes the requested files from the entity's profile.",
        "x-seeAlso": [
          "File/FinalizeFileUploads",
          "File/GetFiles",
          "File/InitiateFileUploads"
        ],
        "x-errors": [
          "EntityFileOperationPending",
          "FileNotFound"
        ]
      }
    },
    "/File/FinalizeFileUploads": {
      "post": {
        "operationId": "File_FinalizeFileUploads",
        "tags": [
          "File"
        ],
        "description": "Finalize file uploads to an entity's profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/FinalizeFileUploads"
        },
        "parameters": [
          {
            "$ref": "#/parameters/FinalizeFileUploadsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/FinalizeFileUploadsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Finalizes the upload of the requested files. Verifies that the files have been successfully uploaded and moves the file pointers from pending to live.",
        "x-seeAlso": [
          "File/AbortFileUploads",
          "File/DeleteFiles",
          "File/GetFiles",
          "File/InitiateFileUploads"
        ],
        "x-errors": [
          "FileNotFound",
          "NoEntityFileOperationPending"
        ]
      }
    },
    "/File/GetFiles": {
      "post": {
        "operationId": "File_GetFiles",
        "tags": [
          "File"
        ],
        "description": "Retrieves file metadata from an entity's profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetFiles"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFilesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetFilesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ProfileVersion": 5,
                  "Metadata": {
                    "game_settings": {
                      "FileName": "game_settings",
                      "DownloadUrl": "https://...",
                      "Size": 5683,
                      "Checksum": "97129sdlkj9129",
                      "LastModified": "2017-12-05T17:36:05"
                    }
                  },
                  "Entity": {
                    "Id": "ID",
                    "Type": "title_player_account",
                    "TypeString": "title_player_account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns URLs that may be used to download the files for a profile for a limited length of time. Only returns files that have been successfully uploaded, files that are still pending will either return the old value, if it exists, or nothing. ",
        "x-seeAlso": [
          "File/AbortFileUploads",
          "File/DeleteFiles",
          "File/FinalizeFileUploads",
          "File/InitiateFileUploads"
        ]
      }
    },
    "/File/InitiateFileUploads": {
      "post": {
        "operationId": "File_InitiateFileUploads",
        "tags": [
          "File"
        ],
        "description": "Initiates file uploads to an entity's profile.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/InitiateFileUploads"
        },
        "parameters": [
          {
            "$ref": "#/parameters/InitiateFileUploadsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/InitiateFileUploadsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ProfileVersion": 5,
                  "UploadDetails": [
                    {
                      "FileName": "game_state",
                      "UploadUrl": "https://..."
                    },
                    {
                      "FileName": "profile_configuration",
                      "UploadUrl": "https://..."
                    }
                  ],
                  "Entity": {
                    "Id": "ID",
                    "Type": "title_player_account",
                    "TypeString": "title_player_account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns URLs that may be used to upload the files for a profile 5 minutes. After using the upload calls FinalizeFileUploads must be called to move the file status from pending to live.",
        "x-seeAlso": [
          "File/AbortFileUploads",
          "File/DeleteFiles",
          "File/FinalizeFileUploads",
          "File/GetFiles"
        ],
        "x-errors": [
          "EntityFileOperationPending"
        ]
      }
    },
    "/GameServer/AllocateSessionHost": {
      "post": {
        "operationId": "GameServer_AllocateSessionHost",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/AllocateSessionHost"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AllocateSessionHostRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AllocateSessionHostResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetSessionHostDetails"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/CreateBuildWithCustomContainer": {
      "post": {
        "operationId": "GameServer_CreateBuildWithCustomContainer",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/CreateBuildWithCustomContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithCustomContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/DeleteBuild",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/CreateBuildWithManagedContainer": {
      "post": {
        "operationId": "GameServer_CreateBuildWithManagedContainer",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/CreateBuildWithManagedContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithManagedContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/DeleteBuild",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/CreateRemoteUser": {
      "post": {
        "operationId": "GameServer_CreateRemoteUser",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/CreateRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateRemoteUserResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetRemoteLoginEndpoint"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/DeleteBuild": {
      "post": {
        "operationId": "GameServer_DeleteBuild",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/DeleteBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetAssetUploadUrl": {
      "post": {
        "operationId": "GameServer_GetAssetUploadUrl",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetAssetUploadUrl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetUploadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAssetUploadUrlResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/ListAssets",
          "GameServer/ListCertificates",
          "GameServer/UploadCertificate"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetBuild": {
      "post": {
        "operationId": "GameServer_GetBuild",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/DeleteBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GameServer_GetRemoteLoginEndpoint",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetRemoteLoginEndpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetRemoteLoginEndpointResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateRemoteUser"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetSessionHostDetails": {
      "post": {
        "operationId": "GameServer_GetSessionHostDetails",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetSessionHostDetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSessionHostDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetSessionHostResponseDetailsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/AllocateSessionHost"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListAssets": {
      "post": {
        "operationId": "GameServer_ListAssets",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListAssets"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListAssetsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListAssetsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetAssetUploadUrl",
          "GameServer/ListCertificates",
          "GameServer/UploadCertificate"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListBuilds": {
      "post": {
        "operationId": "GameServer_ListBuilds",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListBuilds"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListBuildsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/DeleteBuild",
          "GameServer/GetBuild"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListCertificates": {
      "post": {
        "operationId": "GameServer_ListCertificates",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListCertificates"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificatesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListCertificatesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetAssetUploadUrl",
          "GameServer/ListAssets",
          "GameServer/UploadCertificate"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListQosServers": {
      "post": {
        "operationId": "GameServer_ListQosServers",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListQosServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListQosServersResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListSessionHosts": {
      "post": {
        "operationId": "GameServer_ListSessionHosts",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListSessionHosts"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListSessionHostsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListSessionHostsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/AllocateSessionHost"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListVirtualMachines": {
      "post": {
        "operationId": "GameServer_ListVirtualMachines",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListVirtualMachines"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualMachinesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListVirtualMachinesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/UpdateBuildRegions": {
      "post": {
        "operationId": "GameServer_UpdateBuildRegions",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/UpdateBuildRegions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateBuildRegionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/UpdateBuildRegionsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/DeleteBuild",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/UploadCertificate": {
      "post": {
        "operationId": "GameServer_UploadCertificate",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/UploadCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UploadCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/UploadCertificateResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetAssetUploadUrl",
          "GameServer/ListAssets",
          "GameServer/ListCertificates"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/Group/AcceptGroupApplication": {
      "post": {
        "operationId": "Group_AcceptGroupApplication",
        "tags": [
          "Groups"
        ],
        "description": "Accepts an outstanding invitation to to join a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/AcceptGroupApplication"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AcceptGroupApplicationRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Accepts an outstanding invitation to to join a group if the invited entity is not blocked by the group. Nothing is returned in the case of success.",
        "x-seeAlso": [
          "Group/ApplyToGroup",
          "Group/ListGroupApplications",
          "Group/RemoveGroupApplication"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/AcceptGroupInvitation": {
      "post": {
        "operationId": "Group_AcceptGroupInvitation",
        "tags": [
          "Groups"
        ],
        "description": "Accepts an invitation to join a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/AcceptGroupInvitation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AcceptGroupInvitationRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Accepts an outstanding invitation to join the group if the invited entity is not blocked by the group. Only the invited entity or a parent in its chain (e.g. title) may accept the invitation on the invited entity's behalf. Nothing is returned in the case of success.",
        "x-seeAlso": [
          "Group/InviteToGroup",
          "Group/ListGroupInvitations",
          "Group/ListMembershipOpportunities",
          "Group/RemoveGroupInvitation"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/AddMembers": {
      "post": {
        "operationId": "Group_AddMembers",
        "tags": [
          "Groups"
        ],
        "description": "Adds members to a group or role.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/AddMembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddMembersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Adds members to a group or role. Existing members of the group will added to roles within the group, but if the user is not already a member of the group, only title claimants may add them to the group, and others must use the group application or invite system to add new members to a group. Returns nothing if successful.",
        "x-seeAlso": [
          "Group/ApplyToGroup",
          "Group/InviteToGroup",
          "Group/ListGroupMembers",
          "Group/RemoveMembers"
        ],
        "x-errors": [
          "InvalidParams",
          "NotAuthenticated",
          "NotAuthorized",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/ApplyToGroup": {
      "post": {
        "operationId": "Group_ApplyToGroup",
        "tags": [
          "Groups"
        ],
        "description": "Applies to join a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ApplyToGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplyToGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ApplyToGroupResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Group": {
                    "Id": "ABC1234ABC"
                  },
                  "Entity": {
                    "Key": {
                      "Id": "90901000",
                      "Type": "title_player_account",
                      "TypeString": "title_player_account"
                    },
                    "Lineage": {
                      "master_player_account": {
                        "Id": "800DED92",
                        "Type": "master_player_account",
                        "TypeString": "master_player_account"
                      }
                    }
                  },
                  "Expires": "2017-12-31T11:59:59"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates an application to join a group. Calling this while a group application already exists will return the same application instead of an error and will not refresh the time before the application expires. By default, if the entity has an invitation to join the group outstanding, this will accept the invitation to join the group instead and return an error indicating such, rather than creating a duplicate application to join that will need to be cleaned up later. Returns information about the application or an error indicating an invitation was accepted instead.",
        "x-seeAlso": [
          "Group/AcceptGroupApplication",
          "Group/ListGroupApplications",
          "Group/RemoveGroupApplication"
        ],
        "x-errors": [
          "EntityIsAlreadyMember",
          "InvalidParams",
          "NotAuthenticated",
          "NotAuthorized",
          "OutstandingInvitationAcceptedInstead"
        ]
      }
    },
    "/Group/BlockEntity": {
      "post": {
        "operationId": "Group_BlockEntity",
        "tags": [
          "Groups"
        ],
        "description": "Blocks a list of entities from joining a group.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/BlockEntity"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BlockEntityRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Blocks a list of entities from joining a group. Blocked entities may not create new applications to join, be invited to join, accept an invitation, or have an application accepted. Failure due to being blocked does not clean up existing applications or invitations to the group. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/ListGroupBlocks",
          "Group/UnblockEntity"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ChangeMemberRole": {
      "post": {
        "operationId": "Group_ChangeMemberRole",
        "tags": [
          "Groups"
        ],
        "description": "Changes the role membership of a list of entities from one role to another.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ChangeMemberRole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ChangeMemberRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Changes the role membership of a list of entities from one role to another in in a single operation. The destination role must already exist. This is equivalent to adding the entities to the destination role and removing from the origin role. Returns nothing if successful.",
        "x-seeAlso": [
          "Group/AddMembers",
          "Group/CreateRole",
          "Group/RemoveMembers"
        ],
        "x-errors": [
          "InvalidParams",
          "NotAuthenticated",
          "NotAuthorized",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/CreateGroup": {
      "post": {
        "operationId": "Group_CreateGroup",
        "tags": [
          "Groups"
        ],
        "description": "Creates a new group.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/CreateGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateGroupResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "GroupName": "Example Group",
                  "Group": {
                    "Id": "ABC1234ABC"
                  },
                  "MemberRoleId": "ABC123DEF",
                  "AdminRoleId": "ABC123456",
                  "Roles": {
                    "admins": "Administrators",
                    "members": "Members",
                    "awesomepeople": "Some Other Role"
                  },
                  "Created": "2017-12-31T11:59:59",
                  "ProfileVersion": 17
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a new group, as well as administration and member roles, based off of a title's group template. Returns information about the group that was created.",
        "x-seeAlso": [
          "Group/AddMembers",
          "Group/ApplyToGroup",
          "Group/DeleteGroup",
          "Group/InviteToGroup",
          "Group/ListGroupMembers",
          "Group/RemoveMembers"
        ],
        "x-errors": [
          "GroupNameNotAvailable",
          "NotAuthenticated",
          "NotAuthorized",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Group/CreateRole": {
      "post": {
        "operationId": "Group_CreateRole",
        "tags": [
          "Groups"
        ],
        "description": "Creates a new group role.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/CreateRole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateGroupRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateGroupRoleResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "RoleName": "Example Role",
                  "RoleId": "ABC123DEF",
                  "ProfileVersion": 17
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a new role within an existing group, with no members. Both the role ID and role name must be unique within the group, but the name can be the same as the ID. The role ID is set at creation and cannot be changed. Returns information about the role that was created.",
        "x-seeAlso": [
          "Group/DeleteRole"
        ],
        "x-errors": [
          "DuplicateRoleId",
          "NotAuthenticated",
          "NotAuthorized",
          "RoleNameNotAvailable"
        ]
      }
    },
    "/Group/DeleteGroup": {
      "post": {
        "operationId": "Group_DeleteGroup",
        "tags": [
          "Groups"
        ],
        "description": "Deletes a group and all roles, invitations, join requests, and blocks associated with it.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/DeleteGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a group and all roles, invitations, join requests, and blocks associated with it. Permission to delete is only required the group itself to execute this action. The group and data cannot be cannot be recovered once removed, but any abuse reports about the group will remain. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/CreateGroup"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/DeleteRole": {
      "post": {
        "operationId": "Group_DeleteRole",
        "tags": [
          "Groups"
        ],
        "description": "Deletes an existing role in a group.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/DeleteRole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns information about the role",
        "x-seeAlso": [
          "Group/CreateRole"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/GetGroup": {
      "post": {
        "operationId": "Group_GetGroup",
        "tags": [
          "Groups"
        ],
        "description": "Gets information about a group and its roles",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/GetGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetGroupResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "GroupName": "Example Group",
                  "Group": {
                    "Id": "ABC1234ABC"
                  },
                  "MemberRoleId": "ABC123DEF",
                  "AdminRoleId": "ABC123456",
                  "Roles": {
                    "admins": "Administrators",
                    "members": "Members",
                    "awesomepeople": "Some Other Role"
                  },
                  "Created": "2017-12-31T11:59:59",
                  "ProfileVersion": 17
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the ID, name, role list and other non-membership related information about a group.",
        "x-seeAlso": [
          "Group/UpdateGroup"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/InviteToGroup": {
      "post": {
        "operationId": "Group_InviteToGroup",
        "tags": [
          "Groups"
        ],
        "description": "Invites a player to join a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/InviteToGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/InviteToGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/InviteToGroupResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "InvitedEntity": {
                    "Key": {
                      "Id": "90901000",
                      "Type": "title_player_account",
                      "TypeString": "title_player_account"
                    },
                    "Lineage": {
                      "master_player_account": {
                        "Id": "800DED92",
                        "Type": "master_player_account",
                        "TypeString": "master_player_account"
                      }
                    }
                  },
                  "Group": {
                    "Id": "ABC1234ABC"
                  },
                  "InvitedByEntity": {
                    "Key": {
                      "Id": "9023AFF3",
                      "Type": "title_player_account",
                      "TypeString": "title_player_account"
                    },
                    "Lineage": {
                      "master_player_account": {
                        "Id": "366AD424",
                        "Type": "master_player_account",
                        "TypeString": "master_player_account"
                      }
                    }
                  },
                  "RoleId": "awesomepeople",
                  "Expires": "2017-12-31T11:59:59"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Invites a player to join a group, if they are not blocked by the group. An optional role can be provided to automatically assign the player to the role if they accept the invitation. By default, if the entity has an application to the group outstanding, this will accept the application instead and return an error indicating such, rather than creating a duplicate invitation to join that will need to be cleaned up later. Returns information about the new invitation or an error indicating an existing application to join was accepted.",
        "x-seeAlso": [
          "Group/AcceptGroupInvitation",
          "Group/ListGroupInvitations",
          "Group/ListMembershipOpportunities",
          "Group/RemoveGroupInvitation"
        ],
        "x-errors": [
          "InvalidParams",
          "NotAuthenticated",
          "NotAuthorized",
          "OutstandingApplicationAcceptedInstead"
        ]
      }
    },
    "/Group/IsMember": {
      "post": {
        "operationId": "Group_IsMember",
        "tags": [
          "Groups"
        ],
        "description": "Checks to see if an entity is a member of a group or role within the group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/IsMember"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IsMemberRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/IsMemberResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "IsMember": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Checks to see if an entity is a member of a group or role within the group. A result indicating if the entity is a member of the group is returned, or a permission error if the caller does not have permission to read the group's member list.",
        "x-seeAlso": [
          "Group/GetGroup"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ListGroupApplications": {
      "post": {
        "operationId": "Group_ListGroupApplications",
        "tags": [
          "Groups"
        ],
        "description": "Lists all outstanding requests to join a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListGroupApplications"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupApplicationsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListGroupApplicationsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Applications": [
                    {
                      "Group": {
                        "Id": "ABC1234ABC"
                      },
                      "Entity": {
                        "Key": {
                          "Id": "90901000",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "800DED92",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      },
                      "Expires": "2017-12-31T11:59:59"
                    },
                    {
                      "Group": {
                        "Id": "ABC1234ABC"
                      },
                      "Entity": {
                        "Key": {
                          "Id": "90901000",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "800DED92",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      },
                      "Expires": "2017-12-31T11:59:59"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all outstanding requests to join a group. Returns a list of all requests to join, as well as when the request will expire. To get the group applications for a specific entity, use ListMembershipOpportunities.",
        "x-seeAlso": [
          "Group/AcceptGroupApplication",
          "Group/ApplyToGroup",
          "Group/RemoveGroupApplication"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ListGroupBlocks": {
      "post": {
        "operationId": "Group_ListGroupBlocks",
        "tags": [
          "Groups"
        ],
        "description": "Lists all entities blocked from joining a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListGroupBlocks"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupBlocksRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListGroupBlocksResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "BlockedEntities": [
                    {
                      "Entity": {
                        "Key": {
                          "Id": "90901000",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "800DED92",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all entities blocked from joining a group. A list of blocked entities is returned",
        "x-seeAlso": [
          "Group/BlockEntity",
          "Group/UnblockEntity"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ListGroupInvitations": {
      "post": {
        "operationId": "Group_ListGroupInvitations",
        "tags": [
          "Groups"
        ],
        "description": "Lists all outstanding invitations for a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListGroupInvitations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupInvitationsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListGroupInvitationsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Invitations": [
                    {
                      "InvitedEntity": {
                        "Key": {
                          "Id": "90901000",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "800DED92",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      },
                      "Group": {
                        "Id": "ABC1234ABC"
                      },
                      "InvitedByEntity": {
                        "Key": {
                          "Id": "9023AFF3",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "366AD424",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      },
                      "RoleId": "awesomepeople",
                      "Expires": "2017-12-31T11:59:59"
                    },
                    {
                      "InvitedEntity": {
                        "Key": {
                          "Id": "90901000",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "800DED92",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      },
                      "Group": {
                        "Id": "ABC1234ABC"
                      },
                      "InvitedByEntity": {
                        "Key": {
                          "Id": "9023AFF3",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        },
                        "Lineage": {
                          "master_player_account": {
                            "Id": "366AD424",
                            "Type": "master_player_account",
                            "TypeString": "master_player_account"
                          }
                        }
                      },
                      "RoleId": "members",
                      "Expires": "2017-12-31T11:59:59"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all outstanding invitations for a group. Returns a list of entities that have been invited, as well as when the invitation will expire. To get the group invitations for a specific entity, use ListMembershipOpportunities.",
        "x-seeAlso": [
          "Group/AcceptGroupInvitation",
          "Group/InviteToGroup",
          "Group/ListMembershipOpportunities",
          "Group/RemoveGroupInvitation"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ListGroupMembers": {
      "post": {
        "operationId": "Group_ListGroupMembers",
        "tags": [
          "Groups"
        ],
        "description": "Lists all members for a group",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListGroupMembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupMembersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListGroupMembersResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a list of members and the roles they belong to within the group. If the caller does not have permission to view the role, and the member is in no other role, the member is not displayed. Returns a list of entities that are members of the group.",
        "x-seeAlso": [
          "Group/ListMembership"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ListMembership": {
      "post": {
        "operationId": "Group_ListMembership",
        "tags": [
          "Groups"
        ],
        "description": "Lists all groups and roles for an entity",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListMembership"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMembershipRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListMembershipResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Groups": [
                    {
                      "GroupName": "Example Group",
                      "Group": {
                        "Id": "ABC1234ABC"
                      },
                      "ProfileVersion": 17,
                      "Roles": [
                        {
                          "RoleName": "Example Role",
                          "RoleId": "ABC123DEF"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists the groups and roles that an entity is a part of, checking to see if group and role metadata and memberships should be visible to the caller. If the entity is not in any roles that are visible to the caller, the group is not returned in the results, even if the caller otherwise has permission to see that the entity is a member of that group.",
        "x-seeAlso": [
          "Group/ListGroupMembers",
          "Group/ListMembershipOpportunities"
        ],
        "x-errors": [
          "NotAuthenticated",
          "NotAuthorized"
        ]
      }
    },
    "/Group/ListMembershipOpportunities": {
      "post": {
        "operationId": "Group_ListMembershipOpportunities",
        "tags": [
          "Groups"
        ],
        "description": "Lists all outstanding invitations and group applications for an entity",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/entity/method/ListMembershipOpportunities"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMembershipOpportunitiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
[...]
