{
  "swagger": "2.0",
  "info": {
    "version": "240401",
    "title": "PlayFab Groups API",
    "description": "The Groups API is designed for any permanent or semi-permanent collections of Entities (players, or non-players). If you want to make Guilds/Clans/Corporations/etc., then you should use groups. Groups can also be used to make chatrooms, parties, or any other persistent collection of entities.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Group/AcceptGroupApplication": {
      "post": {
        "operationId": "AcceptGroupApplication",
        "tags": [
          "Groups"
        ],
        "description": "Accepts an outstanding invitation to to join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/acceptgroupapplication"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AcceptGroupApplicationRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Accepts an outstanding invitation to to join a group if the invited entity is not blocked by the group. Nothing is returned in the case of success.",
        "x-seeAlso": [
          "Group/ApplyToGroup",
          "Group/ListGroupApplications",
          "Group/RemoveGroupApplication"
        ],
        "x-ms-docs-errors": [
          "EntityBlockedByGroup",
          "EntityIsAlreadyMember",
          "GroupApplicationNotFound"
        ]
      }
    },
    "/Group/AcceptGroupInvitation": {
      "post": {
        "operationId": "AcceptGroupInvitation",
        "tags": [
          "Groups"
        ],
        "description": "Accepts an invitation to join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/acceptgroupinvitation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AcceptGroupInvitationRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Accepts an outstanding invitation to join the group if the invited entity is not blocked by the group. Only the invited entity or a parent in its chain (e.g. title) may accept the invitation on the invited entity's behalf. Nothing is returned in the case of success.",
        "x-seeAlso": [
          "Group/InviteToGroup",
          "Group/ListGroupInvitations",
          "Group/ListMembershipOpportunities",
          "Group/RemoveGroupInvitation"
        ],
        "x-ms-docs-errors": [
          "EntityBlockedByGroup",
          "EntityIsAlreadyMember",
          "GroupInvitationNotFound",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/AddMembers": {
      "post": {
        "operationId": "AddMembers",
        "tags": [
          "Groups"
        ],
        "description": "Adds members to a group or role.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/addmembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddMembersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Adds members to a group or role. Existing members of the group will added to roles within the group, but if the user is not already a member of the group, only title claimants may add them to the group, and others must use the group application or invite system to add new members to a group. Returns nothing if successful.",
        "x-seeAlso": [
          "Group/ApplyToGroup",
          "Group/InviteToGroup",
          "Group/ListGroupMembers",
          "Group/RemoveMembers"
        ],
        "x-ms-docs-errors": [
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/ApplyToGroup": {
      "post": {
        "operationId": "ApplyToGroup",
        "tags": [
          "Groups"
        ],
        "description": "Applies to join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/applytogroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApplyToGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ApplyToGroupResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates an application to join a group. Calling this while a group application already exists will return the same application instead of an error and will not refresh the time before the application expires. By default, if the entity has an invitation to join the group outstanding, this will accept the invitation to join the group instead and return an error indicating such, rather than creating a duplicate application to join that will need to be cleaned up later. Returns information about the application or an error indicating an invitation was accepted instead.",
        "x-seeAlso": [
          "Group/AcceptGroupApplication",
          "Group/ListGroupApplications",
          "Group/RemoveGroupApplication"
        ],
        "x-ms-docs-errors": [
          "EntityBlockedByGroup",
          "EntityIsAlreadyMember",
          "OutstandingInvitationAcceptedInstead",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/BlockEntity": {
      "post": {
        "operationId": "BlockEntity",
        "tags": [
          "Groups"
        ],
        "description": "Blocks a list of entities from joining a group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/blockentity"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BlockEntityRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Blocks a list of entities from joining a group. Blocked entities may not create new applications to join, be invited to join, accept an invitation, or have an application accepted. Failure due to being blocked does not clean up existing applications or invitations to the group. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/ListGroupBlocks",
          "Group/UnblockEntity"
        ]
      }
    },
    "/Group/ChangeMemberRole": {
      "post": {
        "operationId": "ChangeMemberRole",
        "tags": [
          "Groups"
        ],
        "description": "Changes the role membership of a list of entities from one role to another.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/changememberrole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ChangeMemberRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Changes the role membership of a list of entities from one role to another in in a single operation. The destination role must already exist. This is equivalent to adding the entities to the destination role and removing from the origin role. Returns nothing if successful.",
        "x-seeAlso": [
          "Group/AddMembers",
          "Group/CreateRole",
          "Group/RemoveMembers"
        ],
        "x-ms-docs-errors": [
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/CreateGroup": {
      "post": {
        "operationId": "CreateGroup",
        "tags": [
          "Groups"
        ],
        "description": "Creates a new group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/creategroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateGroupResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a new group, as well as administration and member roles, based off of a title's group template. Returns information about the group that was created.",
        "x-seeAlso": [
          "Group/AddMembers",
          "Group/ApplyToGroup",
          "Group/DeleteGroup",
          "Group/InviteToGroup",
          "Group/ListGroupMembers",
          "Group/RemoveMembers"
        ],
        "x-ms-docs-errors": [
          "GroupNameNotAvailable"
        ]
      }
    },
    "/Group/CreateRole": {
      "post": {
        "operationId": "CreateRole",
        "tags": [
          "Groups"
        ],
        "description": "Creates a new group role.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/createrole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateGroupRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateGroupRoleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a new role within an existing group, with no members. Both the role ID and role name must be unique within the group, but the name can be the same as the ID. The role ID is set at creation and cannot be changed. Returns information about the role that was created.",
        "x-seeAlso": [
          "Group/DeleteRole"
        ],
        "x-ms-docs-errors": [
          "DuplicateRoleId",
          "RoleNameNotAvailable"
        ]
      }
    },
    "/Group/DeleteGroup": {
      "post": {
        "operationId": "DeleteGroup",
        "tags": [
          "Groups"
        ],
        "description": "Deletes a group and all roles, invitations, join requests, and blocks associated with it.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/deletegroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a group and all roles, invitations, join requests, and blocks associated with it. Permission to delete is only required the group itself to execute this action. The group and data cannot be cannot be recovered once removed, but any abuse reports about the group will remain. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/CreateGroup"
        ]
      }
    },
    "/Group/DeleteRole": {
      "post": {
        "operationId": "DeleteRole",
        "tags": [
          "Groups"
        ],
        "description": "Deletes an existing role in a group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/deleterole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns information about the role",
        "x-seeAlso": [
          "Group/CreateRole"
        ],
        "x-ms-docs-errors": [
          "RoleDoesNotExist",
          "RoleIsGroupAdmin",
          "RoleIsGroupDefaultMember"
        ]
      }
    },
    "/Group/GetGroup": {
      "post": {
        "operationId": "GetGroup",
        "tags": [
          "Groups"
        ],
        "description": "Gets information about a group and its roles",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/getgroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetGroupResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the ID, name, role list and other non-membership related information about a group.",
        "x-seeAlso": [
          "Group/UpdateGroup"
        ]
      }
    },
    "/Group/InviteToGroup": {
      "post": {
        "operationId": "InviteToGroup",
        "tags": [
          "Groups"
        ],
        "description": "Invites a player to join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/invitetogroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/InviteToGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/InviteToGroupResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Invites a player to join a group, if they are not blocked by the group. An optional role can be provided to automatically assign the player to the role if they accept the invitation. By default, if the entity has an application to the group outstanding, this will accept the application instead and return an error indicating such, rather than creating a duplicate invitation to join that will need to be cleaned up later. Returns information about the new invitation or an error indicating an existing application to join was accepted.",
        "x-seeAlso": [
          "Group/AcceptGroupInvitation",
          "Group/ListGroupInvitations",
          "Group/ListMembershipOpportunities",
          "Group/RemoveGroupInvitation"
        ],
        "x-ms-docs-errors": [
          "EntityBlockedByGroup",
          "EntityIsAlreadyMember",
          "OutstandingApplicationAcceptedInstead",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/IsMember": {
      "post": {
        "operationId": "IsMember",
        "tags": [
          "Groups"
        ],
        "description": "Checks to see if an entity is a member of a group or role within the group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/ismember"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IsMemberRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/IsMemberResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Checks to see if an entity is a member of a group or role within the group. A result indicating if the entity is a member of the group is returned, or a permission error if the caller does not have permission to read the group's member list.",
        "x-seeAlso": [
          "Group/GetGroup"
        ],
        "x-ms-docs-errors": [
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/ListGroupApplications": {
      "post": {
        "operationId": "ListGroupApplications",
        "tags": [
          "Groups"
        ],
        "description": "Lists all outstanding requests to join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/listgroupapplications"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupApplicationsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListGroupApplicationsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all outstanding requests to join a group. Returns a list of all requests to join, as well as when the request will expire. To get the group applications for a specific entity, use ListMembershipOpportunities.",
        "x-seeAlso": [
          "Group/AcceptGroupApplication",
          "Group/ApplyToGroup",
          "Group/RemoveGroupApplication"
        ]
      }
    },
    "/Group/ListGroupBlocks": {
      "post": {
        "operationId": "ListGroupBlocks",
        "tags": [
          "Groups"
        ],
        "description": "Lists all entities blocked from joining a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/listgroupblocks"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupBlocksRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListGroupBlocksResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all entities blocked from joining a group. A list of blocked entities is returned",
        "x-seeAlso": [
          "Group/BlockEntity",
          "Group/UnblockEntity"
        ]
      }
    },
    "/Group/ListGroupInvitations": {
      "post": {
        "operationId": "ListGroupInvitations",
        "tags": [
          "Groups"
        ],
        "description": "Lists all outstanding invitations for a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/listgroupinvitations"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupInvitationsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListGroupInvitationsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all outstanding invitations for a group. Returns a list of entities that have been invited, as well as when the invitation will expire. To get the group invitations for a specific entity, use ListMembershipOpportunities.",
        "x-seeAlso": [
          "Group/AcceptGroupInvitation",
          "Group/InviteToGroup",
          "Group/ListMembershipOpportunities",
          "Group/RemoveGroupInvitation"
        ]
      }
    },
    "/Group/ListGroupMembers": {
      "post": {
        "operationId": "ListGroupMembers",
        "tags": [
          "Groups"
        ],
        "description": "Lists all members for a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/listgroupmembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListGroupMembersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListGroupMembersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a list of members and the roles they belong to within the group. If the caller does not have permission to view the role, and the member is in no other role, the member is not displayed. Returns a list of entities that are members of the group.",
        "x-seeAlso": [
          "Group/ListMembership"
        ]
      }
    },
    "/Group/ListMembership": {
      "post": {
        "operationId": "ListMembership",
        "tags": [
          "Groups"
        ],
        "description": "Lists all groups and roles for an entity",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/listmembership"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMembershipRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMembershipResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists the groups and roles that an entity is a part of, checking to see if group and role metadata and memberships should be visible to the caller. If the entity is not in any roles that are visible to the caller, the group is not returned in the results, even if the caller otherwise has permission to see that the entity is a member of that group.",
        "x-seeAlso": [
          "Group/ListGroupMembers",
          "Group/ListMembershipOpportunities"
        ]
      }
    },
    "/Group/ListMembershipOpportunities": {
      "post": {
        "operationId": "ListMembershipOpportunities",
        "tags": [
          "Groups"
        ],
        "description": "Lists all outstanding invitations and group applications for an entity",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/listmembershipopportunities"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMembershipOpportunitiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMembershipOpportunitiesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Lists all outstanding group applications and invitations for an entity. Anyone may call this for any entity, but data will only be returned for the entity or a parent of that entity. To list invitations or applications for a group to check if a player is trying to join, use ListGroupInvitations and ListGroupApplications.",
        "x-seeAlso": [
          "Group/ListGroupApplications",
          "Group/ListGroupInvitations"
        ]
      }
    },
    "/Group/RemoveGroupApplication": {
      "post": {
        "operationId": "RemoveGroupApplication",
        "tags": [
          "Groups"
        ],
        "description": "Removes an application to join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/removegroupapplication"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveGroupApplicationRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Removes an existing application to join the group. This is used for both rejection of an application as well as withdrawing an application. The applying entity or a parent in its chain (e.g. title) may withdraw the application, and any caller with appropriate access in the group may reject an application. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/AcceptGroupApplication",
          "Group/ApplyToGroup",
          "Group/ListGroupApplications"
        ],
        "x-ms-docs-errors": [
          "GroupApplicationNotFound"
        ]
      }
    },
    "/Group/RemoveGroupInvitation": {
      "post": {
        "operationId": "RemoveGroupInvitation",
        "tags": [
          "Groups"
        ],
        "description": "Removes an invitation join a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/removegroupinvitation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveGroupInvitationRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Removes an existing invitation to join the group. This is used for both rejection of an invitation as well as rescinding an invitation. The invited entity or a parent in its chain (e.g. title) may reject the invitation by calling this method, and any caller with appropriate access in the group may rescind an invitation. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/AcceptGroupInvitation",
          "Group/InviteToGroup",
          "Group/ListGroupInvitations",
          "Group/ListMembershipOpportunities"
        ],
        "x-ms-docs-errors": [
          "GroupInvitationNotFound"
        ]
      }
    },
    "/Group/RemoveMembers": {
      "post": {
        "operationId": "RemoveMembers",
        "tags": [
          "Groups"
        ],
        "description": "Removes members from a group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/removemembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveMembersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Removes members from a group. A member can always remove themselves from a group, regardless of permissions. Returns nothing if successful.",
        "x-seeAlso": [
          "Group/AddMembers",
          "Group/ListGroupMembers"
        ],
        "x-ms-docs-errors": [
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/UnblockEntity": {
      "post": {
        "operationId": "UnblockEntity",
        "tags": [
          "Groups"
        ],
        "description": "Unblocks a list of entities from joining a group",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/unblockentity"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UnblockEntityRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Unblocks a list of entities from joining a group. No data is returned in the case of success.",
        "x-seeAlso": [
          "Group/BlockEntity",
          "Group/ListGroupBlocks"
        ]
      }
    },
    "/Group/UpdateGroup": {
      "post": {
        "operationId": "UpdateGroup",
        "tags": [
          "Groups"
        ],
        "description": "Updates non-membership data about a group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/updategroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateGroupRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateGroupResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Updates data about a group, such as the name or default member role. Returns information about whether the update was successful. Only title claimants may modify the administration role for a group.",
        "x-seeAlso": [
          "Group/CreateGroup",
          "Group/DeleteGroup",
          "Group/GetGroup"
        ],
        "x-ms-docs-errors": [
          "GroupNameNotAvailable",
          "RoleDoesNotExist"
        ]
      }
    },
    "/Group/UpdateRole": {
      "post": {
        "operationId": "UpdateRole",
        "tags": [
          "Groups"
        ],
        "description": "Updates metadata about a role.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/groups/groups/updaterole"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateGroupRoleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateGroupRoleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Updates the role name. Returns information about whether the update was successful.",
        "x-seeAlso": [
          "Group/CreateRole",
          "Group/DeleteRole"
        ],
        "x-ms-docs-errors": [
          "RoleDoesNotExist"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "integer"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical PlayFab error code",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Description for the PlayFab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      },
      "required": [
        "code",
        "errorCode"
      ]
    },
    "AcceptGroupApplicationRequest": {
      "description": "Accepts an outstanding invitation to to join a group if the invited entity is not blocked by the group. Nothing is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "Type of the entity to accept as. Must be the same entity as the claimant or an entity that is a child of the claimant entity.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "AcceptGroupInvitationRequest": {
      "description": "Accepts an outstanding invitation to join the group if the invited entity is not blocked by the group. Only the invited entity or a parent in its chain (e.g. title) may accept the invitation on the invited entity's behalf. Nothing is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "AddMembersRequest": {
      "description": "Adds members to a group or role. Existing members of the group will added to roles within the group, but if the user is not already a member of the group, only title claimants may add them to the group, and others must use the group application or invite system to add new members to a group. Returns nothing if successful.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "Members": {
          "description": "List of entities to add to the group. Only entities of type title_player_account and character may be added to groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "RoleId": {
          "description": "Optional: The ID of the existing role to add the entities to. If this is not specified, the default member role for the group will be used. Role IDs must be between 1 and 64 characters long.",
          "type": "string"
        }
      },
      "required": [
        "Group",
        "Members"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Members": [
          {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          }
        ]
      }
    },
    "ApplyToGroupRequest": {
      "description": "Creates an application to join a group. Calling this while a group application already exists will return the same application instead of an error and will not refresh the time before the application expires. By default, if the entity has an invitation to join the group outstanding, this will accept the invitation to join the group instead and return an error indicating such, rather than creating a duplicate application to join that will need to be cleaned up later. Returns information about the application or an error indicating an invitation was accepted instead.",
      "type": "object",
      "properties": {
        "AutoAcceptOutstandingInvite": {
          "description": "Optional, default true. Automatically accept an outstanding invitation if one exists instead of creating an application",
          "type": "boolean"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "ApplyToGroupResponse": {
      "description": "Describes an application to join a group",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "Type of entity that requested membership",
          "type": "object",
          "x-isclass": true
        },
        "Expires": {
          "description": "When the application to join will expire and be deleted",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "ID of the group that the entity requesting membership to",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Expires"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Entity": {
          "Key": {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "Lineage": {
            "master_player_account": {
              "Id": "800DED92",
              "Type": "master_player_account",
              "TypeString": "master_player_account"
            }
          }
        },
        "Expires": "2017-12-31T11:59:59"
      }
    },
    "BlockEntityRequest": {
      "description": "Blocks a list of entities from joining a group. Blocked entities may not create new applications to join, be invited to join, accept an invitation, or have an application accepted. Failure due to being blocked does not clean up existing applications or invitations to the group. No data is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "ChangeMemberRoleRequest": {
      "description": "Changes the role membership of a list of entities from one role to another in in a single operation. The destination role must already exist. This is equivalent to adding the entities to the destination role and removing from the origin role. Returns nothing if successful.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "DestinationRoleId": {
          "description": "The ID of the role that the entities will become a member of. This must be an existing role. Role IDs must be between 1 and 64 characters long.",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "Members": {
          "description": "List of entities to move between roles in the group. All entities in this list must be members of the group and origin role.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "OriginRoleId": {
          "description": "The ID of the role that the entities currently are a member of. Role IDs must be between 1 and 64 characters long.",
          "type": "string"
        }
      },
      "required": [
        "Group",
        "OriginRoleId",
        "Members"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "OriginRoleId": "awesomepeople",
        "DestinationRoleId": "members",
        "Members": [
          {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          }
        ]
      }
    },
    "CreateGroupRequest": {
      "description": "Creates a new group, as well as administration and member roles, based off of a title's group template. Returns information about the group that was created.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "GroupName": {
          "description": "The name of the group. This is unique at the title level by default.",
          "type": "string"
        }
      },
      "required": [
        "GroupName"
      ],
      "example": {
        "GroupName": "Example Group"
      }
    },
    "CreateGroupResponse": {
      "type": "object",
      "properties": {
        "AdminRoleId": {
          "description": "The ID of the administrator role for the group.",
          "type": "string"
        },
        "Created": {
          "description": "The server date and time the group was created.",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "GroupName": {
          "description": "The name of the group.",
          "type": "string"
        },
        "MemberRoleId": {
          "description": "The ID of the default member role for the group.",
          "type": "string"
        },
        "ProfileVersion": {
          "description": "The current version of the profile, can be used for concurrency control during updates.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Roles": {
          "description": "The list of roles and names that belong to the group.",
          "type": "object"
        }
      },
      "required": [
        "Group",
        "Created",
        "ProfileVersion"
      ],
      "example": {
        "GroupName": "Example Group",
        "Group": {
          "Id": "ABC1234ABC"
        },
        "MemberRoleId": "ABC123DEF",
        "AdminRoleId": "ABC123456",
        "Roles": {
          "admins": "Administrators",
          "members": "Members",
          "awesomepeople": "Some Other Role"
        },
        "Created": "2017-12-31T11:59:59",
        "ProfileVersion": 17
      }
    },
    "CreateGroupRoleRequest": {
      "description": "Creates a new role within an existing group, with no members. Both the role ID and role name must be unique within the group, but the name can be the same as the ID. The role ID is set at creation and cannot be changed. Returns information about the role that was created.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "The ID of the role. This must be unique within the group and cannot be changed. Role IDs must be between 1 and 64 characters long and are restricted to a-Z, A-Z, 0-9, '(', ')', '_', '-' and '.'.",
          "type": "string"
        },
        "RoleName": {
          "description": "The name of the role. This must be unique within the group and can be changed later. Role names must be between 1 and 100 characters long",
          "type": "string"
        }
      },
      "required": [
        "RoleId",
        "RoleName",
        "Group"
      ],
      "example": {
        "RoleId": "example",
        "RoleName": "Example Role",
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "CreateGroupRoleResponse": {
      "type": "object",
      "properties": {
        "ProfileVersion": {
          "description": "The current version of the group profile, can be used for concurrency control during updates.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "RoleId": {
          "description": "ID for the role",
          "type": "string"
        },
        "RoleName": {
          "description": "The name of the role",
          "type": "string"
        }
      },
      "required": [
        "ProfileVersion"
      ],
      "example": {
        "RoleName": "Example Role",
        "RoleId": "ABC123DEF",
        "ProfileVersion": 17
      }
    },
    "DeleteGroupRequest": {
      "description": "Deletes a group and all roles, invitations, join requests, and blocks associated with it. Permission to delete is only required the group itself to execute this action. The group and data cannot be cannot be recovered once removed, but any abuse reports about the group will remain. No data is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "ID of the group or role to remove",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "DeleteRoleRequest": {
      "description": "Returns information about the role",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "The ID of the role to delete. Role IDs must be between 1 and 64 characters long.",
          "type": "string"
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "RoleId": "ABC1234DEF"
      }
    },
    "EmptyResponse": {
      "type": "object",
      "properties": {}
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://docs.microsoft.com/gaming/playfab/features/data/entities/available-built-in-entity-types",
          "type": "string"
        }
      },
      "required": [
        "Id"
      ]
    },
    "EntityMemberRole": {
      "type": "object",
      "properties": {
        "Members": {
          "description": "The list of members in the role",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityWithLineage"
          },
          "x-isclass": true
        },
        "RoleId": {
          "description": "The ID of the role.",
          "type": "string"
        },
        "RoleName": {
          "description": "The name of the role",
          "type": "string"
        }
      }
    },
    "EntityWithLineage": {
      "description": "Entity wrapper class that contains the entity key and the entities that make up the lineage of the entity.",
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key for the specified entity",
          "type": "object",
          "x-isclass": true
        },
        "Lineage": {
          "$ref": "#/definitions/EntityKey",
          "description": "Dictionary of entity keys for related entities. Dictionary key is entity type.",
          "type": "object",
          "x-isclass": true
        }
      }
    },
    "GetGroupRequest": {
      "description": "Returns the ID, name, role list and other non-membership related information about a group.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "GroupName": {
          "description": "The full name of the group",
          "type": "string"
        }
      },
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "GetGroupResponse": {
      "type": "object",
      "properties": {
        "AdminRoleId": {
          "description": "The ID of the administrator role for the group.",
          "type": "string"
        },
        "Created": {
          "description": "The server date and time the group was created.",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "GroupName": {
          "description": "The name of the group.",
          "type": "string"
        },
        "MemberRoleId": {
          "description": "The ID of the default member role for the group.",
          "type": "string"
        },
        "ProfileVersion": {
          "description": "The current version of the profile, can be used for concurrency control during updates.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Roles": {
          "description": "The list of roles and names that belong to the group.",
          "type": "object"
        }
      },
      "required": [
        "Group",
        "Created",
        "ProfileVersion"
      ],
      "example": {
        "GroupName": "Example Group",
        "Group": {
          "Id": "ABC1234ABC"
        },
        "MemberRoleId": "ABC123DEF",
        "AdminRoleId": "ABC123456",
        "Roles": {
          "admins": "Administrators",
          "members": "Members",
          "awesomepeople": "Some Other Role"
        },
        "Created": "2017-12-31T11:59:59",
        "ProfileVersion": 17
      }
    },
    "GroupApplication": {
      "description": "Describes an application to join a group",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "Type of entity that requested membership",
          "type": "object",
          "x-isclass": true
        },
        "Expires": {
          "description": "When the application to join will expire and be deleted",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "ID of the group that the entity requesting membership to",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Expires"
      ]
    },
    "GroupBlock": {
      "description": "Describes an entity that is blocked from joining a group.",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "The entity that is blocked",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "ID of the group that the entity is blocked from",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Entity": {
          "Key": {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "Lineage": {
            "master_player_account": {
              "Id": "800DED92",
              "Type": "master_player_account",
              "TypeString": "master_player_account"
            }
          }
        },
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "GroupInvitation": {
      "description": "Describes an invitation to a group.",
      "type": "object",
      "properties": {
        "Expires": {
          "description": "When the invitation will expire and be deleted",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The group that the entity invited to",
          "type": "object",
          "x-isclass": true
        },
        "InvitedByEntity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "The entity that created the invitation",
          "type": "object",
          "x-isclass": true
        },
        "InvitedEntity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "The entity that is invited",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "ID of the role in the group to assign the user to.",
          "type": "string"
        }
      },
      "required": [
        "Expires"
      ],
      "example": {
        "InvitedEntity": {
          "Key": {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "Lineage": {
            "master_player_account": {
              "Id": "800DED92",
              "Type": "master_player_account",
              "TypeString": "master_player_account"
            }
          }
        },
        "Group": {
          "Id": "ABC1234ABC"
        },
        "InvitedByEntity": {
          "Key": {
            "Id": "9023AFF3",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "Lineage": {
            "master_player_account": {
              "Id": "366AD424",
              "Type": "master_player_account",
              "TypeString": "master_player_account"
            }
          }
        },
        "RoleId": "awesomepeople",
        "Expires": "2017-12-31T11:59:59"
      }
    },
    "GroupRole": {
      "description": "Describes a group role",
      "type": "object",
      "properties": {
        "RoleId": {
          "description": "ID for the role",
          "type": "string"
        },
        "RoleName": {
          "description": "The name of the role",
          "type": "string"
        }
      },
      "example": {
        "RoleName": "Example Role",
        "RoleId": "ABC123DEF"
      }
    },
    "GroupWithRoles": {
      "description": "Describes a group and the roles that it contains",
      "type": "object",
      "properties": {
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "ID for the group",
          "type": "object",
          "x-isclass": true
        },
        "GroupName": {
          "description": "The name of the group",
          "type": "string"
        },
        "ProfileVersion": {
          "description": "The current version of the profile, can be used for concurrency control during updates.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Roles": {
          "description": "The list of roles within the group",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupRole"
          },
          "x-isclass": true
        }
      },
      "required": [
        "ProfileVersion"
      ]
    },
    "InviteToGroupRequest": {
      "description": "Invites a player to join a group, if they are not blocked by the group. An optional role can be provided to automatically assign the player to the role if they accept the invitation. By default, if the entity has an application to the group outstanding, this will accept the application instead and return an error indicating such, rather than creating a duplicate invitation to join that will need to be cleaned up later. Returns information about the new invitation or an error indicating an existing application to join was accepted.",
      "type": "object",
      "properties": {
        "AutoAcceptOutstandingApplication": {
          "description": "Optional, default true. Automatically accept an application if one exists instead of creating an invitation",
          "type": "boolean"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "Optional. ID of an existing a role in the group to assign the user to. The group's default member role is used if this is not specified. Role IDs must be between 1 and 64 characters long.",
          "type": "string"
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "RoleId": "awesomepeople",
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "InviteToGroupResponse": {
      "description": "Describes an invitation to a group.",
      "type": "object",
      "properties": {
        "Expires": {
          "description": "When the invitation will expire and be deleted",
          "type": "string"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The group that the entity invited to",
          "type": "object",
          "x-isclass": true
        },
        "InvitedByEntity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "The entity that created the invitation",
          "type": "object",
          "x-isclass": true
        },
        "InvitedEntity": {
          "$ref": "#/definitions/EntityWithLineage",
          "description": "The entity that is invited",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "ID of the role in the group to assign the user to.",
          "type": "string"
        }
      },
      "required": [
        "Expires"
      ],
      "example": {
        "InvitedEntity": {
          "Key": {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "Lineage": {
            "master_player_account": {
              "Id": "800DED92",
              "Type": "master_player_account",
              "TypeString": "master_player_account"
            }
          }
        },
        "Group": {
          "Id": "ABC1234ABC"
        },
        "InvitedByEntity": {
          "Key": {
            "Id": "9023AFF3",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          "Lineage": {
            "master_player_account": {
              "Id": "366AD424",
              "Type": "master_player_account",
              "TypeString": "master_player_account"
            }
          }
        },
        "RoleId": "awesomepeople",
        "Expires": "2017-12-31T11:59:59"
      }
    },
    "IsMemberRequest": {
      "description": "Checks to see if an entity is a member of a group or role within the group. A result indicating if the entity is a member of the group is returned, or a permission error if the caller does not have permission to read the group's member list.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "Optional: ID of the role to check membership of. Defaults to any role (that is, check to see if the entity is a member of the group in any capacity) if not specified.",
          "type": "string"
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "RoleId": "ABC1234DEF",
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "IsMemberResponse": {
      "type": "object",
      "properties": {
        "IsMember": {
          "description": "A value indicating whether or not the entity is a member.",
          "type": "boolean"
        }
      },
      "required": [
        "IsMember"
      ],
      "example": {
        "IsMember": true
      }
    },
    "ListGroupApplicationsRequest": {
      "description": "Lists all outstanding requests to join a group. Returns a list of all requests to join, as well as when the request will expire. To get the group applications for a specific entity, use ListMembershipOpportunities.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "ListGroupApplicationsResponse": {
      "type": "object",
      "properties": {
        "Applications": {
          "description": "The requested list of applications to the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupApplication"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Applications": [
          {
            "Group": {
              "Id": "ABC1234ABC"
            },
            "Entity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Expires": "2017-12-31T11:59:59"
          },
          {
            "Group": {
              "Id": "ABC1234ABC"
            },
            "Entity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Expires": "2017-12-31T11:59:59"
          }
        ]
      }
    },
    "ListGroupBlocksRequest": {
      "description": "Lists all entities blocked from joining a group. A list of blocked entities is returned",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "ListGroupBlocksResponse": {
      "type": "object",
      "properties": {
        "BlockedEntities": {
          "description": "The requested list blocked entities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupBlock"
          },
          "x-isclass": true
        }
      },
      "example": {
        "BlockedEntities": [
          {
            "Entity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            }
          }
        ]
      }
    },
    "ListGroupInvitationsRequest": {
      "description": "Lists all outstanding invitations for a group. Returns a list of entities that have been invited, as well as when the invitation will expire. To get the group invitations for a specific entity, use ListMembershipOpportunities.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "ListGroupInvitationsResponse": {
      "type": "object",
      "properties": {
        "Invitations": {
          "description": "The requested list of group invitations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupInvitation"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Invitations": [
          {
            "InvitedEntity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Group": {
              "Id": "ABC1234ABC"
            },
            "InvitedByEntity": {
              "Key": {
                "Id": "9023AFF3",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "366AD424",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "RoleId": "awesomepeople",
            "Expires": "2017-12-31T11:59:59"
          },
          {
            "InvitedEntity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Group": {
              "Id": "ABC1234ABC"
            },
            "InvitedByEntity": {
              "Key": {
                "Id": "9023AFF3",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "366AD424",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "RoleId": "members",
            "Expires": "2017-12-31T11:59:59"
          }
        ]
      }
    },
    "ListGroupMembersRequest": {
      "description": "Gets a list of members and the roles they belong to within the group. If the caller does not have permission to view the role, and the member is in no other role, the member is not displayed. Returns a list of entities that are members of the group.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "ID of the group to list the members and roles for",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        }
      }
    },
    "ListGroupMembersResponse": {
      "type": "object",
      "properties": {
        "Members": {
          "description": "The requested list of roles and member entity IDs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityMemberRole"
          },
          "x-isclass": true
        }
      }
    },
    "ListMembershipOpportunitiesRequest": {
      "description": "Lists all outstanding group applications and invitations for an entity. Anyone may call this for any entity, but data will only be returned for the entity or a parent of that entity. To list invitations or applications for a group to check if a player is trying to join, use ListGroupInvitations and ListGroupApplications.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {}
    },
    "ListMembershipOpportunitiesResponse": {
      "type": "object",
      "properties": {
        "Applications": {
          "description": "The requested list of group applications.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupApplication"
          },
          "x-isclass": true
        },
        "Invitations": {
          "description": "The requested list of group invitations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupInvitation"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Invitations": [
          {
            "InvitedEntity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Group": {
              "Id": "ABC1234ABC"
            },
            "InvitedByEntity": {
              "Key": {
                "Id": "9023AFF3",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "366AD424",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "RoleId": "awesomepeople",
            "Expires": "2017-12-31T11:59:59"
          },
          {
            "InvitedEntity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Group": {
              "Id": "ABC1234ABC"
            },
            "InvitedByEntity": {
              "Key": {
                "Id": "9023AFF3",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "366AD424",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "RoleId": "members",
            "Expires": "2017-12-31T11:59:59"
          }
        ],
        "Applications": [
          {
            "Group": {
              "Id": "ABC1234ABC"
            },
            "Entity": {
              "Key": {
                "Id": "90901000",
                "Type": "title_player_account",
                "TypeString": "title_player_account"
              },
              "Lineage": {
                "master_player_account": {
                  "Id": "800DED92",
                  "Type": "master_player_account",
                  "TypeString": "master_player_account"
                }
              }
            },
            "Expires": "2017-12-31T11:59:59"
          }
        ]
      }
    },
    "ListMembershipRequest": {
      "description": "Lists the groups and roles that an entity is a part of, checking to see if group and role metadata and memberships should be visible to the caller. If the entity is not in any roles that are visible to the caller, the group is not returned in the results, even if the caller otherwise has permission to see that the entity is a member of that group.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {}
    },
    "ListMembershipResponse": {
      "type": "object",
      "properties": {
        "Groups": {
          "description": "The list of groups",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupWithRoles"
          },
          "x-isclass": true
        }
      },
      "example": {
        "Groups": [
          {
            "GroupName": "Example Group",
            "Group": {
              "Id": "ABC1234ABC"
            },
            "ProfileVersion": 17,
            "Roles": [
              {
                "RoleName": "Example Role",
                "RoleId": "ABC123DEF"
              }
            ]
          }
        ]
      }
    },
    "OperationTypes": {
      "type": "string",
      "enum": [
        "Created",
        "Updated",
        "Deleted",
        "None"
      ]
    },
    "RemoveGroupApplicationRequest": {
      "description": "Removes an existing application to join the group. This is used for both rejection of an application as well as withdrawing an application. The applying entity or a parent in its chain (e.g. title) may withdraw the application, and any caller with appropriate access in the group may reject an application. No data is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "RemoveGroupInvitationRequest": {
      "description": "Removes an existing invitation to join the group. This is used for both rejection of an invitation as well as rescinding an invitation. The invited entity or a parent in its chain (e.g. title) may reject the invitation by calling this method, and any caller with appropriate access in the group may rescind an invitation. No data is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "RemoveMembersRequest": {
      "description": "Removes members from a group. A member can always remove themselves from a group, regardless of permissions. Returns nothing if successful.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "Members": {
          "description": "List of entities to remove",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "RoleId": {
          "description": "The ID of the role to remove the entities from.",
          "type": "string"
        }
      },
      "required": [
        "Group",
        "Members"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "RoleId": "ABC1234DEF",
        "Members": [
          {
            "Id": "90901000",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          }
        ]
      }
    },
    "UnblockEntityRequest": {
      "description": "Unblocks a list of entities from joining a group. No data is returned in the case of success.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Group",
        "Entity"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "Entity": {
          "Id": "90901000",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "UpdateGroupRequest": {
      "description": "Updates data about a group, such as the name or default member role. Returns information about whether the update was successful. Only title claimants may modify the administration role for a group.",
      "type": "object",
      "properties": {
        "AdminRoleId": {
          "description": "Optional: the ID of an existing role to set as the new administrator role for the group",
          "type": "string"
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "ExpectedProfileVersion": {
          "description": "Optional field used for concurrency control. By specifying the previously returned value of ProfileVersion from the GetGroup API, you can ensure that the group data update will only be performed if the group has not been updated by any other clients since the version you last loaded.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "GroupName": {
          "description": "Optional: the new name of the group",
          "type": "string"
        },
        "MemberRoleId": {
          "description": "Optional: the ID of an existing role to set as the new member role for the group",
          "type": "string"
        }
      },
      "required": [
        "Group"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "GroupName": "My New Group Name",
        "ExpectedProfileVersion": 17
      }
    },
    "UpdateGroupResponse": {
      "type": "object",
      "properties": {
        "OperationReason": {
          "description": "Optional reason to explain why the operation was the result that it was.",
          "type": "string"
        },
        "ProfileVersion": {
          "description": "New version of the group data.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SetResult": {
          "$ref": "#/definitions/OperationTypes",
          "description": "Indicates which operation was completed, either Created, Updated, Deleted or None.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "ProfileVersion"
      ],
      "example": {
        "ProfileVersion": 18,
        "SetResult": "Updated"
      }
    },
    "UpdateGroupRoleRequest": {
      "description": "Updates the role name. Returns information about whether the update was successful.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "ExpectedProfileVersion": {
          "description": "Optional field used for concurrency control. By specifying the previously returned value of ProfileVersion from the GetGroup API, you can ensure that the group data update will only be performed if the group has not been updated by any other clients since the version you last loaded.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Group": {
          "$ref": "#/definitions/EntityKey",
          "description": "The identifier of the group",
          "type": "object",
          "x-isclass": true
        },
        "RoleId": {
          "description": "ID of the role to update. Role IDs must be between 1 and 64 characters long.",
          "type": "string"
        },
        "RoleName": {
          "description": "The new name of the role",
          "type": "string"
        }
      },
      "required": [
        "Group",
        "RoleName"
      ],
      "example": {
        "Group": {
          "Id": "ABC1234ABC"
        },
        "RoleId": "ABC1234DEF",
        "RoleName": "My New Role Name",
        "ExpectedProfileVersion": 17
      }
    },
    "UpdateGroupRoleResponse": {
      "type": "object",
      "properties": {
        "OperationReason": {
          "description": "Optional reason to explain why the operation was the result that it was.",
          "type": "string"
        },
        "ProfileVersion": {
          "description": "New version of the role data.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SetResult": {
          "$ref": "#/definitions/OperationTypes",
          "description": "Indicates which operation was completed, either Created, Updated, Deleted or None.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "ProfileVersion"
      ],
      "example": {
        "ProfileVersion": 18,
        "SetResult": "Updated"
      }
    }
  },
  "parameters": {
    "AcceptGroupApplicationRequest": {
      "name": "AcceptGroupApplicationRequest",
      "in": "body",
      "description": "Accepts an outstanding invitation to to join a group if the invited entity is not blocked by the group. Nothing is returned in the case of success.",
      "schema": {
        "$ref": "#/definitions/AcceptGroupApplicationRequest"
      }
    },
    "AcceptGroupInvitationRequest": {
      "name": "AcceptGroupInvitationRequest",
      "in": "body",
      "description": "Accepts an outstanding invitation to join the group if the invited entity is not blocked by the group. Only the invited entity or a parent in its chain (e.g. title) may accept the invitation on the invited entity's behalf. Nothing is returned in the case of success.",
      "schema": {
        "$ref": "#/definitions/AcceptGroupInvitationRequest"
      }
    },
    "AddMembersRequest": {
      "name": "AddMembersRequest",
      "in": "body",
      "description": "Adds members to a group or role. Existing members of the group will added to roles within the group, but if the user is not already a member of the group, only title claimants may add them to the group, and others must use the group application or invite system to add new members to a group. Returns nothing if successful.",
      "schema": {
        "$ref": "#/definitions/AddMembersRequest"
      }
    },
    "ApplyToGroupRequest": {
      "name": "ApplyToGroupRequest",
      "in": "body",
      "description": "Creates an application to join a group. Calling this while a group application already exists will return the same application instead of an error and will not refresh the time before the application expires. By default, if the entity has an invitation to join the group outstanding, this will accept the invitation to join the group instead and return an error indicating such, rather than creating a duplicate application to join that will need to be cleaned up later. Returns information about the application or an error indicating an invitation was accepted instead.",
      "schema": {
        "$ref": "#/definitions/ApplyToGroupRequest"
      }
    },
    "BlockEntityRequest": {
      "name": "BlockEntityRequest",
      "in": "body",
      "description": "Blocks a list of entities from joining a group. Blocked entities may not create new applications to join, be invited to join, accept an invitation, or have an application accepted. Failure due to being blocked does not clean up existing applications or invitations to the group. No data is returned in the case of success.",
      "schema": {
        "$ref": "#/definitions/BlockEntityRequest"
      }
    },
    "ChangeMemberRoleRequest": {
      "name": "ChangeMemberRoleRequest",
      "in": "body",
      "description": "Changes the role membership of a list of entities from one role to another in in a single operation. The destination role must already exist. This is equivalent to adding the entities to the destination role and removing from the origin role. Returns nothing if successful.",
      "schema": {
        "$ref": "#/definitions/ChangeMemberRoleRequest"
      }
    },
    "CreateGroupRequest": {
      "name": "CreateGroupRequest",
      "in": "body",
      "description": "Creates a new group, as well as administration and member roles, based off of a title's group template. Returns information about the group that was created.",
      "schema": {
        "$ref": "#/definitions/CreateGroupRequest"
      }
    },
    "CreateGroupRoleRequest": {
      "name": "CreateGroupRoleRequest",
      "in": "body",
      "description": "Creates a new role within an existing group, with no members. Both the role ID and role name must be unique within the group, but the name can be the same as the ID. The role ID is set at creation and cannot be changed. Returns information about the role that was created.",
      "schema": {
        "$ref": "#/definitions/CreateGroupRoleRequest"
      }
    },
    "DeleteGroupRequest": {
      "name": "DeleteGroupRequest",
      "in": "body",
      "description": "Deletes a group and all roles, invitations, join requests, and blocks associated with it. Permission to delete is only required the group itself to execute this action. The group and data cannot be cannot be recovered once removed, but any abuse reports about the group will remain. No data is returned in the case of success.",
      "schema": {
        "$ref": "#/definitions/DeleteGroupRequest"
      }
    },
    "DeleteRoleRequest": {
      "name": "DeleteRoleRequest",
      "in": "body",
      "description": "Returns information about the role",
      "schema": {
        "$ref": "#/definitions/DeleteRoleRequest"
      }
    },
    "GetGroupRequest": {
      "name": "GetGroupRequest",
      "in": "body",
      "description": "Returns the ID, name, role list and other non-membership related information about a group.",
      "schema": {
        "$ref": "#/definitions/GetGroupRequest"
      }
    },
    "InviteToGroupRequest": {
      "name": "InviteToGroupRequest",
      "in": "body",
      "description": "Invites a player to join a group, if they are not blocked by the group. An optional role can be provided to automatically assign the player to the role if they accept the invitation. By default, if the entity has an application to the group outstanding, this will accept the application instead and return an error indicating such, rather than creating a duplicate invitation to join that will need to be cleaned up later. Returns information about the new invitation or an error indicating an existing application to join was accepted.",
      "schema": {
        "$ref": "#/definitions/InviteToGroupRequest"
      }
    },
    "IsMemberRequest": {
      "name": "IsMemberRequest",
      "in": "body",
      "description": "Checks to see if an entity is a member of a group or role within the group. A result indicating if the entity is a member of the group is returned, or a permission error if the caller does not have permission to read the group's member list.",
      "schema": {
        "$ref": "#/definitions/IsMemberRequest"
      }
    },
    "ListGroupApplicationsRequest": {
      "name": "ListGroupApplicationsRequest",
      "in": "body",
      "description": "Lists all outstanding requests to join a group. Returns a list of all requests to join, as well as when the request will expire. To get the group applications for a specific entity, use ListMembershipOpportunities.",
      "schema": {
        "$ref": "#/definitions/ListGroupApplicationsRequest"
      }
    },
    "ListGroupBlocksRequest": {
      "name": "ListGroupBlocksRequest",
      "in": "body",
      "description": "Lists all entities blocked from joining a group. A list of blocked entities is returned",
      "schema": {
        "$ref": "#/definitions/ListGroupBlocksRequest"
      }
    },
    "ListGroupInvitationsRequest": {
      "name": "ListGroupInvitationsRequest",
      "in": "body",
      "description": "Lists all outstanding invitations for a group. Returns a list of entities that have been invited, as well as when the invitation will expire. To get the group invitations for a specific entity, use ListMembershipOpportunities.",
      "schema": {
        "$ref": "#/definitions/ListGroupInvitationsRequest"
      }
    },
    "ListGroupMembersRequest": {
      "name": "ListGroupMembersRequest",
      "in": "body",
      "description": "Gets a list of members and the roles they belong to within the group. If the caller does not have permission to view the role, and the member is in no other role, the member is not displayed. Returns a list of entities that are members of the group.",
      "schema": {
        "$ref": "#/definitions/ListGroupMembersRequest"
      }
    },
    "ListMembershipOpportunitiesRequest": {
      "name": "ListMembershipOpportunitiesRequest",
      "in": "body",
      "description": "Lists all outstanding group applications and invitations for an entity. Anyone may call this for any entity, but data will only be returned for the entity or a parent of that entity. To list invitations or applications for a group to check if a player is trying to join, use ListGroupInvitations and ListGroupApplications.",
      "schema": {
        "$ref": "#/definitions/ListMembershipOpportunitiesRequest"
      }
    },
    "ListMembershipRequest": {
      "name": "ListMembershipRequest",
      "in": "body",
      "description": "Lists the groups and roles that an entity is a part of, checking to see if group and role metadata and memberships should be visible to the caller. If the entity is not in any roles that are visible to the caller, the group is not returned in the results, even if the caller otherwise has permission to see that the entity is a member of that group.",
      "schema": {
        "$ref": "#/definitions/ListMembershipRequest"
      }
    },
    "RemoveGroupApplicationRequest": {
      "name": "RemoveGroupApplicationRequest",
      "in": "body",
      "description": "Removes an existing application to join the group. This is used for both rejection of an application as well as withdrawing an application. The applying entity or a parent in its chain (e.g. title) may withdraw the application, and any caller with appropriate access in the group may reject an application. No data is returned in the case of success.",
      "schema": {
        "$ref": "#/definitions/RemoveGroupApplicationRequest"
      }
    },
    "RemoveGroupInvitationRequest": {
      "name": "RemoveGroupInvitationRequest",
      "in": "body",
[...]
