{
  "swagger": "2.0",
  "info": {
    "version": "190903",
    "title": "PlayFab Leaderboards API",
    "description": "Manage entity statistics Manage entity statistics",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Leaderboard/GetLeaderboard": {
      "post": {
        "operationId": "GetLeaderboard",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Get the leaderboard for a specific entity type and statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/GetLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetEntityLeaderboardRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NoLeaderboardForStatistic",
          "NotAuthenticated",
          "NotAuthorized",
          "StatisticChildNameInvalid",
          "StatisticNotFound"
        ]
      }
    },
    "/Leaderboard/GetLeaderboardAroundEntity": {
      "post": {
        "operationId": "GetLeaderboardAroundEntity",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Get the leaderboard around a specific entity.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/GetLeaderboardAroundEntity"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundEntityRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NoLeaderboardForStatistic",
          "NotAuthenticated",
          "NotAuthorized",
          "StatisticChildNameInvalid",
          "StatisticNotFound"
        ]
      }
    },
    "/Leaderboard/GetLeaderboardForEntities": {
      "post": {
        "operationId": "GetLeaderboardForEntities",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Get the leaderboard limited to a set of entities.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/GetLeaderboardForEntities"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardForEntitiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NoLeaderboardForStatistic",
          "NotAuthenticated",
          "NotAuthorized",
          "StatisticChildNameInvalid",
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/CreateStatisticDefinition": {
      "post": {
        "operationId": "CreateStatisticDefinition",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Create a new entity statistic definition.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/CreateStatisticDefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/DeleteStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "StatisticCountLimitExceeded",
          "StatisticNameConflict"
        ]
      }
    },
    "/Statistic/DeleteStatisticDefinition": {
      "post": {
        "operationId": "DeleteStatisticDefinition",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Delete an entity statistic definition. Will delete all statistics on entity profiles and leaderboards.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/DeleteStatisticDefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/DeleteStatistics": {
      "post": {
        "operationId": "DeleteStatistics",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Delete statistics on an entity profile, will remove all rankings from associated leaderboards.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/DeleteStatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteStatisticsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/UpdateStatistics"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Statistic/GetStatisticDefinition": {
      "post": {
        "operationId": "GetStatisticDefinition",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Get current statistic definition information",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/GetStatisticDefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStatisticDefinitionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition",
          "Statistic/DeleteStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "StatisticCountLimitExceeded",
          "StatisticNameConflict"
        ]
      }
    },
    "/Statistic/GetStatisticDefinitions": {
      "post": {
        "operationId": "GetStatisticDefinitions",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Get all current statistic definitions information",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/GetStatisticDefinitions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStatisticDefinitionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStatisticDefinitionsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition",
          "Statistic/DeleteStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "StatisticCountLimitExceeded"
        ]
      }
    },
    "/Statistic/IncrementStatisticVersion": {
      "post": {
        "operationId": "IncrementStatisticVersion",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Increment an entity statistic definition version.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/IncrementStatisticVersion"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IncrementStatisticVersionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/IncrementStatisticVersionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/UpdateStatisticDefinition": {
      "post": {
        "operationId": "UpdateStatisticDefinition",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Update an existing entity statistic definition.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/UpdateStatisticDefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "InvalidParams",
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "StatisticCountLimitExceeded",
          "StatisticNameConflict",
          "StatisticNotFound",
          "StatisticUpdateInProgress"
        ]
      }
    },
    "/Statistic/UpdateStatistics": {
      "post": {
        "operationId": "UpdateStatistics",
        "tags": [
          "Statistics and Leaderboards"
        ],
        "description": "Update statistics on an entity profile, depending on the statistic definition may cause entity to be ranked on various leaderboards.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/leaderboards/method/UpdateStatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateStatisticsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "Statistic/DeleteStatistics"
        ],
        "x-ms-docs-errors": [
          "NotAuthenticated",
          "NotAuthorized",
          "OverLimit",
          "ProfileDoesNotExist"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical Playfab error code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "errorMessage": {
          "description": "Description for the Playfab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      }
    },
    "CreateStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "AggregationMethod": {
          "$ref": "#/definitions/StatisticAggregationMethod",
          "description": "Aggregation method for this statistic. Default is Last.",
          "type": "string",
          "x-isenum": true
        },
        "LeaderboardDefinition": {
          "$ref": "#/definitions/LeaderboardDefinition",
          "description": "Additional configuration options for statistics to be used for leaderboards.",
          "type": "object",
          "x-isclass": true
        },
        "Name": {
          "description": "Name of the statistic. Must be less than 50 characters. Restricted to a-Z, 0-9, '(', ')', '_', '-' and '.'.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "AggregationMethod": "Max",
        "LeaderboardDefinition": {
          "ProvisionLeaderboard": true,
          "DynamicChildLeaderboardMaxSize": 50
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the statistic to delete.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteStatisticsRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "ExpectedProfileVersion": {
          "description": "Optional field used for concurrency control. By specifying the previously returned value of ProfileVersion from GetProfile API, you can ensure that the object set will only be performed if the profile has not been updated by any other clients since the version you last loaded.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Statistics": {
          "description": "Collection of statistics to remove from this entity.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticDelete"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Statistics"
      ],
      "example": {
        "Statistics": [
          {
            "Name": "TotalCarTime",
            "Version": 15
          },
          {
            "Name": "FastestTimesByMap",
            "ChildName": "map:silver_surf",
            "Version": 15
          }
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteStatisticsResponse": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity id and type.",
          "type": "object",
          "x-isclass": true
        },
        "ProfileVersion": {
          "description": "The current version of the profile, can be used for concurrency control during updates.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Statistics": {
          "$ref": "#/definitions/EntityStatisticValue",
          "description": "Updated entity profile statistics.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "ProfileVersion"
      ],
      "example": {
        "ProfileVersion": 56,
        "Statistics": {
          "SpeedRuns": {
            "Name": "SpeedRuns",
            "Value": 89,
            "ChildStatistics": {
              "map1": {
                "ChildName": "map1",
                "Value": 56
              },
              "map2": {
                "ChildName": "map2",
                "Value": 87
              }
            }
          }
        },
        "Entity": {
          "Id": "184131840178",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EmptyResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://api.playfab.com/docs/tutorials/entities/entitytypes",
          "type": "string"
        },
        "TypeString": {
          "description": "Alternate name for Type.",
          "type": "string",
          "x-deprecation": {
            "ProposedAfter": "6/1/2018",
            "DeprecatedAfter": "7/1/2018",
            "ObsoleteAfter": "8/1/2018",
            "ReplacedBy": "Type"
          }
        }
      },
      "required": [
        "Id"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityLeaderboardEntry": {
      "description": "Individual rank of an entity in a leaderboard",
      "type": "object",
      "properties": {
        "DisplayName": {
          "description": "Entity's display name.",
          "type": "string"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "Entity identifier.",
          "type": "object",
          "x-isclass": true
        },
        "EntityLeaderboardMetadata": {
          "description": "Custom entity metadata as set during the last UpdateStatistic API call.",
          "type": "string"
        },
        "EntityLineage": {
          "$ref": "#/definitions/EntityLineage",
          "description": "Lineage for this entity.",
          "type": "object",
          "x-isclass": true
        },
        "Metadata": {
          "description": "Statistic or statistic child metadata as set during the UpdateStatistic API call.",
          "type": "string"
        },
        "Rank": {
          "description": "Position on the leaderboard.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Score": {
          "description": "Statistic value.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Score",
        "Rank"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityLineage": {
      "type": "object",
      "properties": {
        "CharacterId": {
          "description": "The Character Id of the associated entity.",
          "type": "string"
        },
        "GroupId": {
          "description": "The Group Id of the associated entity.",
          "type": "string"
        },
        "MasterPlayerAccountId": {
          "description": "The Master Player Account Id of the associated entity.",
          "type": "string"
        },
        "NamespaceId": {
          "description": "The Namespace Id of the associated entity.",
          "type": "string"
        },
        "TitleId": {
          "description": "The Title Id of the associated entity.",
          "type": "string"
        },
        "TitlePlayerAccountId": {
          "description": "The Title Player Account Id of the associated entity.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityStatisticChildValue": {
      "type": "object",
      "properties": {
        "ChildName": {
          "description": "Child name value, if child statistic",
          "type": "string"
        },
        "Metadata": {
          "description": "Child statistic metadata",
          "type": "string"
        },
        "Value": {
          "description": "Child statistic value",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Value"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityStatisticValue": {
      "type": "object",
      "properties": {
        "ChildStatistics": {
          "$ref": "#/definitions/EntityStatisticChildValue",
          "description": "Child statistic values",
          "type": "object",
          "x-isclass": true
        },
        "Metadata": {
          "description": "Statistic metadata",
          "type": "string"
        },
        "Name": {
          "description": "Statistic name",
          "type": "string"
        },
        "Value": {
          "description": "Statistic value",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Version": {
          "description": "Statistic version",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Version"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetEntityLeaderboardRequest": {
      "description": "Request to load a leaderboard.",
      "type": "object",
      "properties": {
        "ChildName": {
          "description": "Optional child statistic name to filter the leaderboard to.",
          "type": "string"
        },
        "EntityType": {
          "description": "Type of entity to get a leaderboard for.",
          "type": "string"
        },
        "MaxResults": {
          "description": "maximum number of results to return from the leaderboard. Minimum 1, maximum 1,000.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "StartingPosition": {
          "description": "Index position to start from. 0 is beginning of leaderboard. ",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "StatisticName": {
          "description": "Name of the leaderboard statistic.",
          "type": "string"
        },
        "StatisticVersion": {
          "description": "Optional version of the leaderboard statistic, defaults to current version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "EntityType",
        "StatisticName",
        "MaxResults"
      ],
      "example": {
        "EntityType": "character",
        "StatisticName": "Points",
        "StatisticVersion": 2
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetEntityLeaderboardResponse": {
      "description": "Leaderboard response",
      "type": "object",
      "properties": {
        "Rankings": {
          "description": "Individual entity rankings in the leaderboard, in sorted order by rank.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityLeaderboardEntry"
          },
          "x-isclass": true
        },
        "StatisticVersion": {
          "description": "Version of the leaderboard being returned.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "StatisticVersion"
      ],
      "example": {
        "StatisticVersion": 5,
        "Rankings": [
          {
            "Entity": {
              "Id": "1784371290HJA9",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            },
            "DisplayName": "FastHand",
            "Score": 4503,
            "Rank": 1
          },
          {
            "Entity": {
              "Id": "1947109JA18412",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            },
            "DisplayName": "Mouse",
            "Score": 4502,
            "Rank": 2
          }
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetLeaderboardAroundEntityRequest": {
      "description": "Request to load a section of a leaderboard centered on a specific entity.",
      "type": "object",
      "properties": {
        "ChildName": {
          "description": "Optional statistic child to filter the leaderboard by.",
          "type": "string"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "Offset": {
          "description": "Number of ranks above and below the entity to return. If 5 then at most 11 results will be returned, 5 above, the entity, then 5 below. If the entity is at the top then only 6 will be returned, the entity and 5 below.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "StatisticName": {
          "description": "Name of the statistic.",
          "type": "string"
        },
        "StatisticVersion": {
          "description": "Optional version of the statistic, defaults to current.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "StatisticName",
        "Offset"
      ],
      "example": {
        "StatisticName": "Points",
        "StatisticVersion": 2,
        "Entity": {
          "Id": "819478109412",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetLeaderboardForEntitiesRequest": {
      "description": "Request a leaderboard limited to a collection of entities.",
      "type": "object",
      "properties": {
        "ChildName": {
          "description": "Optional statistic child name to filter the leaderboard by.",
          "type": "string"
        },
        "Entities": {
          "description": "Collection of Entity IDs to include in the leaderboard.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "EntityType": {
          "description": "Entity type of all Entity IDs.",
          "type": "string"
        },
        "StatisticName": {
          "description": "Name of the statistic.",
          "type": "string"
        },
        "StatisticVersion": {
          "description": "Optional version of the statistic, defaults to current.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "StatisticName"
      ],
      "example": {
        "StatisticName": "Points",
        "StatisticVersion": 2,
        "EntityType": "title_player_account",
        "Entities": [
          "12802710371",
          "01849174301"
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the statistic. Must be less than 50 characters.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "Points"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetStatisticDefinitionResponse": {
      "type": "object",
      "properties": {
        "AggregationMethod": {
          "$ref": "#/definitions/StatisticAggregationMethod",
          "description": "Aggregation method of the statistic.",
          "type": "string",
          "x-isenum": true
        },
        "Created": {
          "description": "Created time, in UTC",
          "type": "string"
        },
        "LastResetTime": {
          "description": "Last time, in UTC, statistic version was incremented.",
          "type": "string"
        },
        "LeaderboardDefinition": {
          "$ref": "#/definitions/LeaderboardDefinition",
          "description": "Statistic leaderboard definition.",
          "type": "object",
          "x-isclass": true
        },
        "Name": {
          "description": "Name of the statistic.",
          "type": "string"
        },
        "Version": {
          "description": "Statistic version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Version",
        "Created"
      ],
      "example": {
        "Name": "Points",
        "Version": 89,
        "LeaderboardDefinition": {
          "ProvisionLeaderboard": true,
          "SortDirection": "Descending",
          "ChildLeaderboardNames": [
            "gold",
            "silver"
          ]
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetStatisticDefinitionsRequest": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetStatisticDefinitionsResponse": {
      "type": "object",
      "properties": {
        "StatisticDefinitions": {
          "description": "List of statistic definitions for the title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticDefinition"
          },
          "x-isclass": true
        }
      },
      "example": {
        "StatisticDefinitions": [
          {
            "Name": "Points",
            "Version": 89,
            "LeaderboardDefinition": {
              "ProvisionLeaderboard": true,
              "SortDirection": "Descending",
              "ChildLeaderboardNames": [
                "gold",
                "silver"
              ]
            }
          }
        ]
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "IncrementStatisticVersionRequest": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the statistic to increment the version of.",
          "type": "string"
        }
      },
      "example": {
        "Name": "HighestScoresByLevel"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "IncrementStatisticVersionResponse": {
      "type": "object",
      "properties": {
        "Version": {
          "description": "New statistic version.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "VersionToBeDeleted": {
          "description": "Statistic versions and leaderboards to be removed.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Version",
        "VersionToBeDeleted"
      ],
      "example": {
        "Version": 56,
        "VersionToBeDeleted": 55
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "LeaderboardDefinition": {
      "type": "object",
      "properties": {
        "ChildLeaderboardNames": {
          "description": "For non-dynamic child leaderboards the statistic child name must be defined to prevent leaderboard length restrictions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "DynamicChildLeaderboardMaxSize": {
          "description": "Number of entities to rank in a leaderboard when the child is dynamically defined, new entities will not be ranked unless they beat an existing score on a leaderboard. Default 0, Maximum 100.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "ProvisionLeaderboard": {
          "description": "Flag to indicate that leaderboards should be created/updated when this statistic is updated on an entity. Default is false.",
          "type": "boolean"
        },
        "SortDirection": {
          "$ref": "#/definitions/LeaderboardSortDirection",
          "description": "Sort direction of the leaderboard, cannot be changed after creation. Default is Descending",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "ProvisionLeaderboard"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "LeaderboardSortDirection": {
      "type": "object",
      "enum": [
        "Descending",
        "Ascending"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "StatisticAggregationMethod": {
      "type": "object",
      "enum": [
        "Last",
        "Min",
        "Max",
        "Sum"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "StatisticDefinition": {
      "type": "object",
      "properties": {
        "AggregationMethod": {
          "$ref": "#/definitions/StatisticAggregationMethod",
          "description": "Aggregation method of the statistic.",
          "type": "string",
          "x-isenum": true
        },
        "Created": {
          "description": "Created time, in UTC",
          "type": "string"
        },
        "LastResetTime": {
          "description": "Last time, in UTC, statistic version was incremented.",
          "type": "string"
        },
        "LeaderboardDefinition": {
          "$ref": "#/definitions/LeaderboardDefinition",
          "description": "Statistic leaderboard definition.",
          "type": "object",
          "x-isclass": true
        },
        "Name": {
          "description": "Name of the statistic.",
          "type": "string"
        },
        "Version": {
          "description": "Statistic version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Version",
        "Created"
      ],
      "example": {
        "Name": "Points",
        "Version": 89,
        "LeaderboardDefinition": {
          "ProvisionLeaderboard": true,
          "SortDirection": "Descending",
          "ChildLeaderboardNames": [
            "gold",
            "silver"
          ]
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "StatisticDelete": {
      "type": "object",
      "properties": {
        "ChildName": {
          "description": "Optionally delete only the child statistic from this entity.",
          "type": "string"
        },
        "Name": {
          "description": "Name of the statistic, as originally configured.",
          "type": "string"
        },
        "Version": {
          "description": "Optional field to indicate the version of the statistic to set. When empty defaults to the statistic's current version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Name"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "StatisticUpdate": {
      "type": "object",
      "properties": {
        "ChildName": {
          "description": "Arbitrary statistic child name, using child statistics will cause entity to be ranked on only the child leaderboard. See documentation for full details. Must be less than 50 UTF8 encoded characters.",
          "type": "string"
        },
        "Metadata": {
          "description": "Arbitrary metadata to store along side the statistic or child statistic, will be returned by all Leaderboard APIs. Must be less than 50 UTF8 encoded characters.",
          "type": "string"
        },
        "Name": {
          "description": "Name of the statistic, as originally configured.",
          "type": "string"
        },
        "Value": {
          "description": "Statistic value for the entity. This will be used in accordance with the aggregation method configured for the statistics.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Version": {
          "description": "Optional field to indicate the version of the statistic to set. When empty defaults to the statistic's current version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateLeaderboardDefinition": {
      "type": "object",
      "properties": {
        "ChildLeaderboardNames": {
          "description": "For non-dynamic child leaderboards the statistic child name must be defined to prevent leaderboard length restrictions. Cannot remove existing child leaderboard names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "DynamicChildLeaderboardMaxSize": {
          "description": "Number of entities to rank in a leaderboard when the child is dynamically defined, new entities will not be ranked unless they beat an existing score on a leaderboard. Default 0, Maximum 100.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "ProvisionLeaderboard": {
          "description": "Flag to indicate that leaderboards should be created/updated when this statistic is updated on an entity. Default is false.",
          "type": "boolean"
        }
      },
      "required": [
        "ProvisionLeaderboard"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "AggregationMethod": {
          "$ref": "#/definitions/StatisticAggregationMethod",
          "description": "Aggregation method for this statistic. Default is Last.",
          "type": "string",
          "x-isenum": true
        },
        "LeaderboardDefinition": {
          "$ref": "#/definitions/UpdateLeaderboardDefinition",
          "description": "Additional configuration options for statistics to be used for leaderboards.",
          "type": "object",
          "x-isclass": true
        },
        "Name": {
          "description": "Current name of the statistic. Must be less than 50 characters. Restricted to a-Z, 0-9, '(', ')', '_', '-' and '.'.",
          "type": "string"
        },
        "NewName": {
          "description": "New name of the statistic. Must be less than 50 characters. Restricted to a-Z, 0-9, '(', ')', '_', '-' and '.'.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "NewName"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "NewName": "HighestScoresByNewLevel",
        "AggregationMethod": "Max",
        "LeaderboardDefinition": {
          "ProvisionLeaderboard": true,
          "DynamicChildLeaderboardMaxSize": 50
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateStatisticsRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "EntityLeaderboardMetadata": {
          "description": "Arbitrary metadata to store on the entity that will be returned on all leaderboard APIs. Max length 50 characters.",
          "type": "string"
        },
        "ExpectedProfileVersion": {
          "description": "Optional field used for concurrency control. By specifying the previously returned value of ProfileVersion from GetProfile API, you can ensure that the statistic updates will only be performed if the profile has not been updated by any other clients since the version you last loaded.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "ForceUpdate": {
          "description": "Flag to force the values in the request to bypass the aggregation method and be the new value for the statistic. When empty defaults to false.",
          "type": "boolean"
        },
        "Statistics": {
          "description": "Collection of statistics to update, maximum 50.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticUpdate"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Statistics"
      ],
      "example": {
        "Statistics": [
          {
            "Name": "RoundsWon",
            "Value": 1,
            "Metadata": "BestRun:34.13,Car:13452",
            "ChildName": "Map:SilverFlow"
          },
          {
            "Name": "FastestTimesByMap",
            "Value": 3413,
            "Metadata": "Car:13452",
            "ChildName": "Map:SilverFlow"
          },
          {
            "Name": "TotalCarTime",
            "Value": 3413,
            "ChildName": "Car:13452"
          }
        ],
        "Entity": {
          "Id": "A197412JDA",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateStatisticsResponse": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity id and type.",
          "type": "object",
          "x-isclass": true
        },
        "ProfileVersion": {
          "description": "The current version of the profile, can be used for concurrency control during updates.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Statistics": {
          "$ref": "#/definitions/EntityStatisticValue",
          "description": "Updated entity profile statistics.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "ProfileVersion"
      ],
      "example": {
        "ProfileVersion": 56,
        "Statistics": {
          "SpeedRuns": {
            "Name": "SpeedRuns",
            "Value": 89,
            "ChildStatistics": {
              "map1": {
                "ChildName": "map1",
                "Value": 56
              },
              "map2": {
                "ChildName": "map2",
                "Value": 87
              }
            }
          }
        },
        "Entity": {
          "Id": "184131840178",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    }
  },
  "parameters": {
    "CreateStatisticDefinitionRequest": {
      "name": "CreateStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateStatisticDefinitionRequest"
      }
    },
    "DeleteStatisticDefinitionRequest": {
      "name": "DeleteStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/DeleteStatisticDefinitionRequest"
      }
    },
    "DeleteStatisticsRequest": {
      "name": "DeleteStatisticsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/DeleteStatisticsRequest"
      }
    },
    "GetEntityLeaderboardRequest": {
      "name": "GetEntityLeaderboardRequest",
      "in": "body",
      "description": "Request to load a leaderboard.",
      "schema": {
        "$ref": "#/definitions/GetEntityLeaderboardRequest"
      }
    },
    "GetLeaderboardAroundEntityRequest": {
      "name": "GetLeaderboardAroundEntityRequest",
      "in": "body",
      "description": "Request to load a section of a leaderboard centered on a specific entity.",
      "schema": {
        "$ref": "#/definitions/GetLeaderboardAroundEntityRequest"
      }
    },
    "GetLeaderboardForEntitiesRequest": {
      "name": "GetLeaderboardForEntitiesRequest",
      "in": "body",
      "description": "Request a leaderboard limited to a collection of entities.",
      "schema": {
        "$ref": "#/definitions/GetLeaderboardForEntitiesRequest"
      }
    },
    "GetStatisticDefinitionRequest": {
      "name": "GetStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetStatisticDefinitionRequest"
      }
    },
    "GetStatisticDefinitionsRequest": {
      "name": "GetStatisticDefinitionsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetStatisticDefinitionsRequest"
      }
    },
    "IncrementStatisticVersionRequest": {
      "name": "IncrementStatisticVersionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/IncrementStatisticVersionRequest"
      }
    },
    "UpdateStatisticDefinitionRequest": {
      "name": "UpdateStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UpdateStatisticDefinitionRequest"
      }
    },
    "UpdateStatisticsRequest": {
      "name": "UpdateStatisticsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UpdateStatisticsRequest"
      }
    }
  },
  "responses": {
    "ApiErrorWrapper": {
      "description": "This is the outer-wrapper for all responses with errors",
      "schema": {
        "$ref": "#/definitions/ApiErrorWrapper"
      }
    },
    "DeleteStatisticsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/DeleteStatisticsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "ProfileVersion": 56,
            "Statistics": {
              "SpeedRuns": {
                "Name": "SpeedRuns",
                "Value": 89,
                "ChildStatistics": {
                  "map1": {
                    "ChildName": "map1",
                    "Value": 56
                  },
                  "map2": {
                    "ChildName": "map2",
                    "Value": 87
                  }
                }
              }
            },
            "Entity": {
              "Id": "184131840178",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            }
          }
        }
      }
    },
    "EmptyResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/EmptyResponse"
          }
        }
      }
    },
    "GetEntityLeaderboardResponse": {
      "description": "Leaderboard response",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetEntityLeaderboardResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "StatisticVersion": 5,
            "Rankings": [
              {
                "Entity": {
                  "Id": "1784371290HJA9",
                  "Type": "title_player_account",
                  "TypeString": "title_player_account"
                },
                "DisplayName": "FastHand",
                "Score": 4503,
                "Rank": 1
              },
              {
                "Entity": {
                  "Id": "1947109JA18412",
                  "Type": "title_player_account",
                  "TypeString": "title_player_account"
                },
                "DisplayName": "Mouse",
                "Score": 4502,
                "Rank": 2
              }
            ]
          }
        }
      }
    },
    "GetStatisticDefinitionResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetStatisticDefinitionResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Name": "Points",
            "Version": 89,
            "LeaderboardDefinition": {
              "ProvisionLeaderboard": true,
              "SortDirection": "Descending",
              "ChildLeaderboardNames": [
                "gold",
                "silver"
              ]
            }
          }
        }
      }
    },
    "GetStatisticDefinitionsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetStatisticDefinitionsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "StatisticDefinitions": [
              {
                "Name": "Points",
                "Version": 89,
                "LeaderboardDefinition": {
                  "ProvisionLeaderboard": true,
                  "SortDirection": "Descending",
                  "ChildLeaderboardNames": [
                    "gold",
                    "silver"
                  ]
                }
              }
            ]
          }
        }
      }
    },
    "IncrementStatisticVersionResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/IncrementStatisticVersionResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Version": 56,
            "VersionToBeDeleted": 55
          }
        }
      }
    },
    "UpdateStatisticsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/UpdateStatisticsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "ProfileVersion": 56,
            "Statistics": {
              "SpeedRuns": {
                "Name": "SpeedRuns",
                "Value": 89,
                "ChildStatistics": {
                  "map1": {
                    "ChildName": "map1",
                    "Value": 56
                  },
                  "map2": {
                    "ChildName": "map2",
                    "Value": 87
                  }
                }
              }
            },
            "Entity": {
              "Id": "184131840178",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            }
          }
        }
      }
    }
  },
  "x-AnyInclusiveFlags": [
    "Beta"
  ],
  "tags": [
    {
      "name": "Statistics and Leaderboards",
      "description": "Statistics and Leaderboards APIs"
    }
  ],
  "securityDefinitions": {
    "None": {
      "type": "apiKey",
      "in": "header",
      "name": "None",
      "description": "This API requires no authentication headers (usually provides one to other calls)."
    },
    "SessionTicket": {
      "type": "apiKey",
      "in": "header",
      "name": "SessionTicket",
      "description": "This API requires a client session ticket, available from any Client Login function."
    },
    "SecretKey": {
      "type": "apiKey",
      "in": "header",
      "name": "SecretKey",
      "description": "This API requires a title secret key, available to title admins, from PlayFab Game Manager."
    },
    "EntityToken": {
      "type": "apiKey",
      "in": "header",
      "name": "EntityToken",
      "description": "This API requires an Entity Session Token, available from the Entity GetEntityToken method."
    }
  },
  "x-ms-docs-errors-mapping": {
    "Success": {
      "name": "Success"
    },
    "UnkownError": {
      "id": 500,
      "name": "UnkownError"
    },
    "InvalidParams": {
      "id": 1000,
      "name": "InvalidParams"
    },
    "AccountNotFound": {
      "id": 1001,
      "name": "AccountNotFound"
    },
    "AccountBanned": {
      "id": 1002,
      "name": "AccountBanned"
    },
    "InvalidUsernameOrPassword": {
      "id": 1003,
      "name": "InvalidUsernameOrPassword"
    },
    "InvalidTitleId": {
      "id": 1004,
      "name": "InvalidTitleId"
    },
    "InvalidEmailAddress": {
      "id": 1005,
      "name": "InvalidEmailAddress"
    },
    "EmailAddressNotAvailable": {
      "id": 1006,
      "name": "EmailAddressNotAvailable"
    },
    "InvalidUsername": {
      "id": 1007,
      "name": "InvalidUsername"
    },
    "InvalidPassword": {
      "id": 1008,
      "name": "InvalidPassword"
    },
    "UsernameNotAvailable": {
      "id": 1009,
      "name": "UsernameNotAvailable"
    },
    "InvalidSteamTicket": {
      "id": 1010,
      "name": "InvalidSteamTicket"
    },
    "AccountAlreadyLinked": {
      "id": 1011,
      "name": "AccountAlreadyLinked"
    },
    "LinkedAccountAlreadyClaimed": {
      "id": 1012,
      "name": "LinkedAccountAlreadyClaimed"
    },
    "InvalidFacebookToken": {
      "id": 1013,
      "name": "InvalidFacebookToken"
    },
    "AccountNotLinked": {
      "id": 1014,
      "name": "AccountNotLinked"
    },
    "FailedByPaymentProvider": {
      "id": 1015,
      "name": "FailedByPaymentProvider"
    },
    "CouponCodeNotFound": {
      "id": 1016,
      "name": "CouponCodeNotFound"
    },
    "InvalidContainerItem": {
      "id": 1017,
      "name": "InvalidContainerItem"
    },
    "ContainerNotOwned": {
      "id": 1018,
      "name": "ContainerNotOwned"
    },
    "KeyNotOwned": {
      "id": 1019,
      "name": "KeyNotOwned"
    },
    "InvalidItemIdInTable": {
      "id": 1020,
      "name": "InvalidItemIdInTable"
    },
    "InvalidReceipt": {
      "id": 1021,
      "name": "InvalidReceipt"
    },
    "ReceiptAlreadyUsed": {
      "id": 1022,
      "name": "ReceiptAlreadyUsed"
    },
    "ReceiptCancelled": {
      "id": 1023,
      "name": "ReceiptCancelled"
    },
    "GameNotFound": {
      "id": 1024,
      "name": "GameNotFound"
    },
    "GameModeNotFound": {
      "id": 1025,
      "name": "GameModeNotFound"
    },
    "InvalidGoogleToken": {
      "id": 1026,
      "name": "InvalidGoogleToken"
    },
    "UserIsNotPartOfDeveloper": {
      "id": 1027,
      "name": "UserIsNotPartOfDeveloper"
    },
    "InvalidTitleForDeveloper": {
      "id": 1028,
      "name": "InvalidTitleForDeveloper"
    },
    "TitleNameConflicts": {
      "id": 1029,
      "name": "TitleNameConflicts"
    },
    "UserisNotValid": {
      "id": 1030,
      "name": "UserisNotValid"
    },
    "ValueAlreadyExists": {
      "id": 1031,
      "name": "ValueAlreadyExists"
    },
    "BuildNotFound": {
      "id": 1032,
      "name": "BuildNotFound"
    },
    "PlayerNotInGame": {
      "id": 1033,
      "name": "PlayerNotInGame"
    },
    "InvalidTicket": {
      "id": 1034,
      "name": "InvalidTicket"
    },
    "InvalidDeveloper": {
      "id": 1035,
      "name": "InvalidDeveloper"
    },
    "InvalidOrderInfo": {
      "id": 1036,
      "name": "InvalidOrderInfo"
    },
    "RegistrationIncomplete": {
      "id": 1037,
      "name": "RegistrationIncomplete"
    },
    "InvalidPlatform": {
      "id": 1038,
      "name": "InvalidPlatform"
    },
    "UnknownError": {
      "id": 1039,
      "name": "UnknownError"
    },
    "SteamApplicationNotOwned": {
      "id": 1040,
      "name": "SteamApplicationNotOwned"
    },
    "WrongSteamAccount": {
      "id": 1041,
      "name": "WrongSteamAccount"
    },
    "TitleNotActivated": {
      "id": 1042,
      "name": "TitleNotActivated"
    },
    "RegistrationSessionNotFound": {
      "id": 1043,
      "name": "RegistrationSessionNotFound"
    },
    "NoSuchMod": {
      "id": 1044,
      "name": "NoSuchMod"
    },
    "FileNotFound": {
      "id": 1045,
      "name": "FileNotFound"
    },
    "DuplicateEmail": {
      "id": 1046,
      "name": "DuplicateEmail"
    },
    "ItemNotFound": {
      "id": 1047,
      "name": "ItemNotFound"
    },
    "ItemNotOwned": {
      "id": 1048,
      "name": "ItemNotOwned"
    },
    "ItemNotRecycleable": {
      "id": 1049,
      "name": "ItemNotRecycleable"
    },
    "ItemNotAffordable": {
      "id": 1050,
      "name": "ItemNotAffordable"
    },
    "InvalidVirtualCurrency": {
      "id": 1051,
      "name": "InvalidVirtualCurrency"
    },
    "WrongVirtualCurrency": {
      "id": 1052,
      "name": "WrongVirtualCurrency"
    },
    "WrongPrice": {
      "id": 1053,
      "name": "WrongPrice"
    },
    "NonPositiveValue": {
      "id": 1054,
      "name": "NonPositiveValue"
    },
    "InvalidRegion": {
      "id": 1055,
      "name": "InvalidRegion"
    },
    "RegionAtCapacity": {
      "id": 1056,
      "name": "RegionAtCapacity"
    },
    "ServerFailedToStart": {
      "id": 1057,
      "name": "ServerFailedToStart"
    },
    "NameNotAvailable": {
      "id": 1058,
      "name": "NameNotAvailable"
    },
    "InsufficientFunds": {
      "id": 1059,
      "name": "InsufficientFunds"
    },
    "InvalidDeviceID": {
      "id": 1060,
      "name": "InvalidDeviceID"
    },
    "InvalidPushNotificationToken": {
      "id": 1061,
      "name": "InvalidPushNotificationToken"
    },
    "NoRemainingUses": {
      "id": 1062,
      "name": "NoRemainingUses"
    },
    "InvalidPaymentProvider": {
      "id": 1063,
      "name": "InvalidPaymentProvider"
    },
    "PurchaseInitializationFailure": {
      "id": 1064,
      "name": "PurchaseInitializationFailure"
    },
    "DuplicateUsername": {
      "id": 1065,
      "name": "DuplicateUsername"
    },
    "InvalidBuyerInfo": {
      "id": 1066,
      "name": "InvalidBuyerInfo"
    },
    "NoGameModeParamsSet": {
      "id": 1067,
      "name": "NoGameModeParamsSet"
    },
    "BodyTooLarge": {
      "id": 1068,
      "name": "BodyTooLarge"
    },
    "ReservedWordInBody": {
      "id": 1069,
      "name": "ReservedWordInBody"
    },
    "InvalidTypeInBody": {
      "id": 1070,
      "name": "InvalidTypeInBody"
    },
    "InvalidRequest": {
      "id": 1071,
      "name": "InvalidRequest"
    },
    "ReservedEventName": {
      "id": 1072,
      "name": "ReservedEventName"
    },
    "InvalidUserStatistics": {
      "id": 1073,
      "name": "InvalidUserStatistics"
    },
    "NotAuthenticated": {
      "id": 1074,
      "name": "NotAuthenticated"
    },
    "StreamAlreadyExists": {
      "id": 1075,
      "name": "StreamAlreadyExists"
    },
    "ErrorCreatingStream": {
      "id": 1076,
      "name": "ErrorCreatingStream"
    },
    "StreamNotFound": {
      "id": 1077,
      "name": "StreamNotFound"
    },
    "InvalidAccount": {
      "id": 1078,
      "name": "InvalidAccount"
    },
    "PurchaseDoesNotExist": {
      "id": 1080,
      "name": "PurchaseDoesNotExist"
    },
    "InvalidPurchaseTransactionStatus": {
      "id": 1081,
      "name": "InvalidPurchaseTransactionStatus"
    },
    "APINotEnabledForGameClientAccess": {
      "id": 1082,
      "name": "APINotEnabledForGameClientAccess"
    },
    "NoPushNotificationARNForTitle": {
      "id": 1083,
      "name": "NoPushNotificationARNForTitle"
    },
    "BuildAlreadyExists": {
      "id": 1084,
      "name": "BuildAlreadyExists"
    },
    "BuildPackageDoesNotExist": {
      "id": 1085,
      "name": "BuildPackageDoesNotExist"
    },
    "CustomAnalyticsEventsNotEnabledForTitle": {
      "id": 1087,
      "name": "CustomAnalyticsEventsNotEnabledForTitle"
    },
    "InvalidSharedGroupId": {
      "id": 1088,
      "name": "InvalidSharedGroupId"
    },
    "NotAuthorized": {
      "id": 1089,
      "name": "NotAuthorized"
    },
    "MissingTitleGoogleProperties": {
      "id": 1090,
      "name": "MissingTitleGoogleProperties"
    },
    "InvalidItemProperties": {
      "id": 1091,
      "name": "InvalidItemProperties"
    },
    "InvalidPSNAuthCode": {
      "id": 1092,
      "name": "InvalidPSNAuthCode"
    },
    "InvalidItemId": {
      "id": 1093,
      "name": "InvalidItemId"
    },
    "PushNotEnabledForAccount": {
      "id": 1094,
      "name": "PushNotEnabledForAccount"
    },
    "PushServiceError": {
      "id": 1095,
      "name": "PushServiceError"
    },
    "ReceiptDoesNotContainInAppItems": {
      "id": 1096,
      "name": "ReceiptDoesNotContainInAppItems"
    },
    "ReceiptContainsMultipleInAppItems": {
      "id": 1097,
      "name": "ReceiptContainsMultipleInAppItems"
    },
    "InvalidBundleID": {
      "id": 1098,
      "name": "InvalidBundleID"
    },
    "JavascriptException": {
      "id": 1099,
      "name": "JavascriptException"
    },
    "InvalidSessionTicket": {
      "id": 1100,
      "name": "InvalidSessionTicket"
    },
    "UnableToConnectToDatabase": {
      "id": 1101,
      "name": "UnableToConnectToDatabase"
    },
    "InternalServerError": {
      "id": 1110,
      "name": "InternalServerError"
    },
    "InvalidReportDate": {
      "id": 1111,
      "name": "InvalidReportDate"
    },
    "ReportNotAvailable": {
      "id": 1112,
      "name": "ReportNotAvailable"
    },
    "DatabaseThroughputExceeded": {
      "id": 1113,
      "name": "DatabaseThroughputExceeded"
    },
    "InvalidGameTicket": {
      "id": 1115,
      "name": "InvalidGameTicket"
    },
    "ExpiredGameTicket": {
      "id": 1116,
      "name": "ExpiredGameTicket"
    },
    "GameTicketDoesNotMatchLobby": {
      "id": 1117,
      "name": "GameTicketDoesNotMatchLobby"
    },
    "LinkedDeviceAlreadyClaimed": {
      "id": 1118,
      "name": "LinkedDeviceAlreadyClaimed"
    },
    "DeviceAlreadyLinked": {
      "id": 1119,
      "name": "DeviceAlreadyLinked"
    },
    "DeviceNotLinked": {
      "id": 1120,
      "name": "DeviceNotLinked"
    },
    "PartialFailure": {
      "id": 1121,
      "name": "PartialFailure"
    },
    "PublisherNotSet": {
      "id": 1122,
      "name": "PublisherNotSet"
    },
    "ServiceUnavailable": {
      "id": 1123,
      "name": "ServiceUnavailable"
    },
    "VersionNotFound": {
      "id": 1124,
      "name": "VersionNotFound"
    },
    "RevisionNotFound": {
      "id": 1125,
      "name": "RevisionNotFound"
    },
    "InvalidPublisherId": {
      "id": 1126,
      "name": "InvalidPublisherId"
    },
    "DownstreamServiceUnavailable": {
      "id": 1127,
      "name": "DownstreamServiceUnavailable"
    },
    "APINotIncludedInTitleUsageTier": {
      "id": 1128,
      "name": "APINotIncludedInTitleUsageTier"
    },
    "DAULimitExceeded": {
      "id": 1129,
      "name": "DAULimitExceeded"
    },
    "APIRequestLimitExceeded": {
      "id": 1130,
      "name": "APIRequestLimitExceeded"
    },
    "InvalidAPIEndpoint": {
      "id": 1131,
      "name": "InvalidAPIEndpoint"
    },
    "BuildNotAvailable": {
      "id": 1132,
      "name": "BuildNotAvailable"
    },
    "ConcurrentEditError": {
      "id": 1133,
      "name": "ConcurrentEditError"
    },
    "ContentNotFound": {
      "id": 1134,
      "name": "ContentNotFound"
    },
    "CharacterNotFound": {
      "id": 1135,
      "name": "CharacterNotFound"
    },
    "CloudScriptNotFound": {
      "id": 1136,
      "name": "CloudScriptNotFound"
    },
    "ContentQuotaExceeded": {
      "id": 1137,
      "name": "ContentQuotaExceeded"
    },
    "InvalidCharacterStatistics": {
      "id": 1138,
      "name": "InvalidCharacterStatistics"
    },
    "PhotonNotEnabledForTitle": {
      "id": 1139,
      "name": "PhotonNotEnabledForTitle"
    },
    "PhotonApplicationNotFound": {
      "id": 1140,
      "name": "PhotonApplicationNotFound"
    },
    "PhotonApplicationNotAssociatedWithTitle": {
      "id": 1141,
      "name": "PhotonApplicationNotAssociatedWithTitle"
    },
    "InvalidEmailOrPassword": {
      "id": 1142,
      "name": "InvalidEmailOrPassword"
    },
    "FacebookAPIError": {
      "id": 1143,
      "name": "FacebookAPIError"
    },
    "InvalidContentType": {
      "id": 1144,
      "name": "InvalidContentType"
    },
    "KeyLengthExceeded": {
      "id": 1145,
      "name": "KeyLengthExceeded"
    },
    "DataLengthExceeded": {
      "id": 1146,
      "name": "DataLengthExceeded"
    },
    "TooManyKeys": {
      "id": 1147,
      "name": "TooManyKeys"
    },
    "FreeTierCannotHaveVirtualCurrency": {
      "id": 1148,
      "name": "FreeTierCannotHaveVirtualCurrency"
    },
    "MissingAmazonSharedKey": {
      "id": 1149,
      "name": "MissingAmazonSharedKey"
    },
    "AmazonValidationError": {
      "id": 1150,
      "name": "AmazonValidationError"
    },
    "InvalidPSNIssuerId": {
      "id": 1151,
      "name": "InvalidPSNIssuerId"
    },
    "PSNInaccessible": {
      "id": 1152,
      "name": "PSNInaccessible"
    },
    "ExpiredAuthToken": {
      "id": 1153,
      "name": "ExpiredAuthToken"
    },
    "FailedToGetEntitlements": {
      "id": 1154,
      "name": "FailedToGetEntitlements"
    },
    "FailedToConsumeEntitlement": {
      "id": 1155,
      "name": "FailedToConsumeEntitlement"
    },
    "TradeAcceptingUserNotAllowed": {
      "id": 1156,
      "name": "TradeAcceptingUserNotAllowed"
    },
    "TradeInventoryItemIsAssignedToCharacter": {
      "id": 1157,
      "name": "TradeInventoryItemIsAssignedToCharacter"
    },
    "TradeInventoryItemIsBundle": {
      "id": 1158,
      "name": "TradeInventoryItemIsBundle"
    },
    "TradeStatusNotValidForCancelling": {
      "id": 1159,
      "name": "TradeStatusNotValidForCancelling"
    },
    "TradeStatusNotValidForAccepting": {
      "id": 1160,
      "name": "TradeStatusNotValidForAccepting"
    },
    "TradeDoesNotExist": {
      "id": 1161,
      "name": "TradeDoesNotExist"
    },
    "TradeCancelled": {
      "id": 1162,
      "name": "TradeCancelled"
    },
    "TradeAlreadyFilled": {
      "id": 1163,
      "name": "TradeAlreadyFilled"
    },
    "TradeWaitForStatusTimeout": {
      "id": 1164,
      "name": "TradeWaitForStatusTimeout"
    },
    "TradeInventoryItemExpired": {
      "id": 1165,
      "name": "TradeInventoryItemExpired"
    },
    "TradeMissingOfferedAndAcceptedItems": {
      "id": 1166,
      "name": "TradeMissingOfferedAndAcceptedItems"
    },
    "TradeAcceptedItemIsBundle": {
      "id": 1167,
      "name": "TradeAcceptedItemIsBundle"
    },
    "TradeAcceptedItemIsStackable": {
      "id": 1168,
      "name": "TradeAcceptedItemIsStackable"
    },
    "TradeInventoryItemInvalidStatus": {
      "id": 1169,
      "name": "TradeInventoryItemInvalidStatus"
    },
    "TradeAcceptedCatalogItemInvalid": {
      "id": 1170,
      "name": "TradeAcceptedCatalogItemInvalid"
    },
    "TradeAllowedUsersInvalid": {
      "id": 1171,
      "name": "TradeAllowedUsersInvalid"
    },
    "TradeInventoryItemDoesNotExist": {
      "id": 1172,
      "name": "TradeInventoryItemDoesNotExist"
    },
    "TradeInventoryItemIsConsumed": {
      "id": 1173,
      "name": "TradeInventoryItemIsConsumed"
    },
    "TradeInventoryItemIsStackable": {
      "id": 1174,
      "name": "TradeInventoryItemIsStackable"
    },
    "TradeAcceptedItemsMismatch": {
      "id": 1175,
      "name": "TradeAcceptedItemsMismatch"
    },
    "InvalidKongregateToken": {
      "id": 1176,
      "name": "InvalidKongregateToken"
    },
    "FeatureNotConfiguredForTitle": {
      "id": 1177,
      "name": "FeatureNotConfiguredForTitle"
    },
    "NoMatchingCatalogItemForReceipt": {
      "id": 1178,
      "name": "NoMatchingCatalogItemForReceipt"
    },
    "InvalidCurrencyCode": {
      "id": 1179,
      "name": "InvalidCurrencyCode"
    },
    "NoRealMoneyPriceForCatalogItem": {
      "id": 1180,
      "name": "NoRealMoneyPriceForCatalogItem"
    },
    "TradeInventoryItemIsNotTradable": {
      "id": 1181,
      "name": "TradeInventoryItemIsNotTradable"
    },
    "TradeAcceptedCatalogItemIsNotTradable": {
      "id": 1182,
      "name": "TradeAcceptedCatalogItemIsNotTradable"
    },
    "UsersAlreadyFriends": {
      "id": 1183,
      "name": "UsersAlreadyFriends"
    },
    "LinkedIdentifierAlreadyClaimed": {
      "id": 1184,
      "name": "LinkedIdentifierAlreadyClaimed"
    },
    "CustomIdNotLinked": {
      "id": 1185,
      "name": "CustomIdNotLinked"
    },
    "TotalDataSizeExceeded": {
      "id": 1186,
      "name": "TotalDataSizeExceeded"
    },
    "DeleteKeyConflict": {
      "id": 1187,
      "name": "DeleteKeyConflict"
    },
    "InvalidXboxLiveToken": {
      "id": 1188,
      "name": "InvalidXboxLiveToken"
    },
    "ExpiredXboxLiveToken": {
      "id": 1189,
      "name": "ExpiredXboxLiveToken"
    },
    "ResettableStatisticVersionRequired": {
      "id": 1190,
      "name": "ResettableStatisticVersionRequired"
    },
    "NotAuthorizedByTitle": {
      "id": 1191,
      "name": "NotAuthorizedByTitle"
    },
    "NoPartnerEnabled": {
      "id": 1192,
      "name": "NoPartnerEnabled"
    },
    "InvalidPartnerResponse": {
      "id": 1193,
      "name": "InvalidPartnerResponse"
    },
    "APINotEnabledForGameServerAccess": {
      "id": 1194,
      "name": "APINotEnabledForGameServerAccess"
    },
    "StatisticNotFound": {
      "id": 1195,
      "name": "StatisticNotFound"
    },
    "StatisticNameConflict": {
      "id": 1196,
      "name": "StatisticNameConflict"
    },
    "StatisticVersionClosedForWrites": {
      "id": 1197,
      "name": "StatisticVersionClosedForWrites"
    },
    "StatisticVersionInvalid": {
      "id": 1198,
      "name": "StatisticVersionInvalid"
    },
    "APIClientRequestRateLimitExceeded": {
      "id": 1199,
      "name": "APIClientRequestRateLimitExceeded"
    },
    "InvalidJSONContent": {
      "id": 1200,
      "name": "InvalidJSONContent"
    },
    "InvalidDropTable": {
      "id": 1201,
      "name": "InvalidDropTable"
    },
    "StatisticVersionAlreadyIncrementedForScheduledInterval": {
      "id": 1202,
      "name": "StatisticVersionAlreadyIncrementedForScheduledInterval"
    },
    "StatisticCountLimitExceeded": {
      "id": 1203,
      "name": "StatisticCountLimitExceeded"
    },
    "StatisticVersionIncrementRateExceeded": {
      "id": 1204,
      "name": "StatisticVersionIncrementRateExceeded"
    },
    "ContainerKeyInvalid": {
      "id": 1205,
      "name": "ContainerKeyInvalid"
    },
    "CloudScriptExecutionTimeLimitExceeded": {
      "id": 1206,
      "name": "CloudScriptExecutionTimeLimitExceeded"
    },
    "NoWritePermissionsForEvent": {
      "id": 1207,
      "name": "NoWritePermissionsForEvent"
    },
    "CloudScriptFunctionArgumentSizeExceeded": {
      "id": 1208,
      "name": "CloudScriptFunctionArgumentSizeExceeded"
    },
    "CloudScriptAPIRequestCountExceeded": {
      "id": 1209,
      "name": "CloudScriptAPIRequestCountExceeded"
    },
    "CloudScriptAPIRequestError": {
      "id": 1210,
      "name": "CloudScriptAPIRequestError"
    },
    "CloudScriptHTTPRequestError": {
      "id": 1211,
      "name": "CloudScriptHTTPRequestError"
    },
    "InsufficientGuildRole": {
      "id": 1212,
      "name": "InsufficientGuildRole"
    },
    "GuildNotFound": {
      "id": 1213,
      "name": "GuildNotFound"
    },
    "OverLimit": {
      "id": 1214,
      "name": "OverLimit"
    },
    "EventNotFound": {
      "id": 1215,
      "name": "EventNotFound"
    },
    "InvalidEventField": {
      "id": 1216,
      "name": "InvalidEventField"
    },
    "InvalidEventName": {
      "id": 1217,
      "name": "InvalidEventName"
    },
    "CatalogNotConfigured": {
      "id": 1218,
      "name": "CatalogNotConfigured"
    },
    "OperationNotSupportedForPlatform": {
      "id": 1219,
      "name": "OperationNotSupportedForPlatform"
    },
    "SegmentNotFound": {
      "id": 1220,
      "name": "SegmentNotFound"
    },
    "StoreNotFound": {
      "id": 1221,
      "name": "StoreNotFound"
    },
    "InvalidStatisticName": {
      "id": 1222,
      "name": "InvalidStatisticName"
    },
    "TitleNotQualifiedForLimit": {
      "id": 1223,
      "name": "TitleNotQualifiedForLimit"
    },
    "InvalidServiceLimitLevel": {
      "id": 1224,
      "name": "InvalidServiceLimitLevel"
    },
    "ServiceLimitLevelInTransition": {
      "id": 1225,
      "name": "ServiceLimitLevelInTransition"
    },
    "CouponAlreadyRedeemed": {
      "id": 1226,
      "name": "CouponAlreadyRedeemed"
    },
    "GameServerBuildSizeLimitExceeded": {
      "id": 1227,
      "name": "GameServerBuildSizeLimitExceeded"
    },
    "GameServerBuildCountLimitExceeded": {
      "id": 1228,
      "name": "GameServerBuildCountLimitExceeded"
    },
    "VirtualCurrencyCountLimitExceeded": {
      "id": 1229,
      "name": "VirtualCurrencyCountLimitExceeded"
    },
    "VirtualCurrencyCodeExists": {
      "id": 1230,
      "name": "VirtualCurrencyCodeExists"
    },
    "TitleNewsItemCountLimitExceeded": {
      "id": 1231,
      "name": "TitleNewsItemCountLimitExceeded"
    },
    "InvalidTwitchToken": {
      "id": 1232,
      "name": "InvalidTwitchToken"
    },
    "TwitchResponseError": {
      "id": 1233,
      "name": "TwitchResponseError"
    },
    "ProfaneDisplayName": {
      "id": 1234,
      "name": "ProfaneDisplayName"
    },
    "UserAlreadyAdded": {
      "id": 1235,
      "name": "UserAlreadyAdded"
    },
    "InvalidVirtualCurrencyCode": {
      "id": 1236,
      "name": "InvalidVirtualCurrencyCode"
    },
    "VirtualCurrencyCannotBeDeleted": {
      "id": 1237,
      "name": "VirtualCurrencyCannotBeDeleted"
    },
    "IdentifierAlreadyClaimed": {
      "id": 1238,
      "name": "IdentifierAlreadyClaimed"
    },
    "IdentifierNotLinked": {
      "id": 1239,
      "name": "IdentifierNotLinked"
    },
    "InvalidContinuationToken": {
      "id": 1240,
      "name": "InvalidContinuationToken"
    },
    "ExpiredContinuationToken": {
      "id": 1241,
      "name": "ExpiredContinuationToken"
    },
    "InvalidSegment": {
      "id": 1242,
      "name": "InvalidSegment"
    },
    "InvalidSessionId": {
      "id": 1243,
      "name": "InvalidSessionId"
    },
    "SessionLogNotFound": {
      "id": 1244,
      "name": "SessionLogNotFound"
    },
    "InvalidSearchTerm": {
      "id": 1245,
      "name": "InvalidSearchTerm"
    },
    "TwoFactorAuthenticationTokenRequired": {
      "id": 1246,
      "name": "TwoFactorAuthenticationTokenRequired"
    },
    "GameServerHostCountLimitExceeded": {
      "id": 1247,
      "name": "GameServerHostCountLimitExceeded"
    },
    "PlayerTagCountLimitExceeded": {
      "id": 1248,
      "name": "PlayerTagCountLimitExceeded"
    },
    "RequestAlreadyRunning": {
      "id": 1249,
      "name": "RequestAlreadyRunning"
    },
    "ActionGroupNotFound": {
      "id": 1250,
      "name": "ActionGroupNotFound"
    },
    "MaximumSegmentBulkActionJobsRunning": {
      "id": 1251,
      "name": "MaximumSegmentBulkActionJobsRunning"
    },
    "NoActionsOnPlayersInSegmentJob": {
      "id": 1252,
      "name": "NoActionsOnPlayersInSegmentJob"
    },
    "DuplicateStatisticName": {
      "id": 1253,
      "name": "DuplicateStatisticName"
    },
    "ScheduledTaskNameConflict": {
      "id": 1254,
      "name": "ScheduledTaskNameConflict"
    },
    "ScheduledTaskCreateConflict": {
      "id": 1255,
      "name": "ScheduledTaskCreateConflict"
    },
    "InvalidScheduledTaskName": {
      "id": 1256,
      "name": "InvalidScheduledTaskName"
    },
    "InvalidTaskSchedule": {
      "id": 1257,
      "name": "InvalidTaskSchedule"
    },
    "SteamNotEnabledForTitle": {
      "id": 1258,
      "name": "SteamNotEnabledForTitle"
    },
    "LimitNotAnUpgradeOption": {
      "id": 1259,
      "name": "LimitNotAnUpgradeOption"
    },
    "NoSecretKeyEnabledForCloudScript": {
      "id": 1260,
      "name": "NoSecretKeyEnabledForCloudScript"
    },
    "TaskNotFound": {
      "id": 1261,
      "name": "TaskNotFound"
    },
    "TaskInstanceNotFound": {
      "id": 1262,
      "name": "TaskInstanceNotFound"
    },
    "InvalidIdentityProviderId": {
      "id": 1263,
      "name": "InvalidIdentityProviderId"
    },
    "MisconfiguredIdentityProvider": {
      "id": 1264,
      "name": "MisconfiguredIdentityProvider"
    },
    "InvalidScheduledTaskType": {
      "id": 1265,
      "name": "InvalidScheduledTaskType"
    },
    "BillingInformationRequired": {
      "id": 1266,
      "name": "BillingInformationRequired"
    },
    "LimitedEditionItemUnavailable": {
      "id": 1267,
      "name": "LimitedEditionItemUnavailable"
    },
    "InvalidAdPlacementAndReward": {
      "id": 1268,
      "name": "InvalidAdPlacementAndReward"
    },
    "AllAdPlacementViewsAlreadyConsumed": {
      "id": 1269,
      "name": "AllAdPlacementViewsAlreadyConsumed"
    },
    "GoogleOAuthNotConfiguredForTitle": {
      "id": 1270,
      "name": "GoogleOAuthNotConfiguredForTitle"
    },
    "GoogleOAuthError": {
      "id": 1271,
      "name": "GoogleOAuthError"
    },
    "UserNotFriend": {
      "id": 1272,
      "name": "UserNotFriend"
    },
    "InvalidSignature": {
      "id": 1273,
      "name": "InvalidSignature"
    },
    "InvalidPublicKey": {
      "id": 1274,
      "name": "InvalidPublicKey"
    },
    "GoogleOAuthNoIdTokenIncludedInResponse": {
      "id": 1275,
      "name": "GoogleOAuthNoIdTokenIncludedInResponse"
    },
    "StatisticUpdateInProgress": {
      "id": 1276,
      "name": "StatisticUpdateInProgress"
    },
    "LeaderboardVersionNotAvailable": {
      "id": 1277,
      "name": "LeaderboardVersionNotAvailable"
    },
    "StatisticAlreadyHasPrizeTable": {
      "id": 1279,
      "name": "StatisticAlreadyHasPrizeTable"
    },
    "PrizeTableHasOverlappingRanks": {
      "id": 1280,
      "name": "PrizeTableHasOverlappingRanks"
    },
    "PrizeTableHasMissingRanks": {
      "id": 1281,
      "name": "PrizeTableHasMissingRanks"
    },
    "PrizeTableRankStartsAtZero": {
      "id": 1282,
      "name": "PrizeTableRankStartsAtZero"
    },
    "InvalidStatistic": {
      "id": 1283,
      "name": "InvalidStatistic"
    },
    "ExpressionParseFailure": {
      "id": 1284,
      "name": "ExpressionParseFailure"
    },
    "ExpressionInvokeFailure": {
      "id": 1285,
      "name": "ExpressionInvokeFailure"
    },
    "ExpressionTooLong": {
      "id": 1286,
      "name": "ExpressionTooLong"
    },
    "DataUpdateRateExceeded": {
      "id": 1287,
      "name": "DataUpdateRateExceeded"
    },
    "RestrictedEmailDomain": {
      "id": 1288,
      "name": "RestrictedEmailDomain"
    },
    "EncryptionKeyDisabled": {
      "id": 1289,
      "name": "EncryptionKeyDisabled"
    },
    "EncryptionKeyMissing": {
      "id": 1290,
      "name": "EncryptionKeyMissing"
    },
    "EncryptionKeyBroken": {
      "id": 1291,
      "name": "EncryptionKeyBroken"
    },
    "NoSharedSecretKeyConfigured": {
      "id": 1292,
      "name": "NoSharedSecretKeyConfigured"
    },
    "SecretKeyNotFound": {
      "id": 1293,
      "name": "SecretKeyNotFound"
    },
    "PlayerSecretAlreadyConfigured": {
      "id": 1294,
      "name": "PlayerSecretAlreadyConfigured"
    },
    "APIRequestsDisabledForTitle": {
      "id": 1295,
      "name": "APIRequestsDisabledForTitle"
    },
    "InvalidSharedSecretKey": {
      "id": 1296,
      "name": "InvalidSharedSecretKey"
    },
    "PrizeTableHasNoRanks": {
      "id": 1297,
      "name": "PrizeTableHasNoRanks"
    },
    "ProfileDoesNotExist": {
      "id": 1298,
      "name": "ProfileDoesNotExist"
    },
    "ContentS3OriginBucketNotConfigured": {
      "id": 1299,
      "name": "ContentS3OriginBucketNotConfigured"
    },
    "InvalidEnvironmentForReceipt": {
      "id": 1300,
      "name": "InvalidEnvironmentForReceipt"
    },
    "EncryptedRequestNotAllowed": {
      "id": 1301,
      "name": "EncryptedRequestNotAllowed"
    },
    "SignedRequestNotAllowed": {
      "id": 1302,
      "name": "SignedRequestNotAllowed"
    },
    "RequestViewConstraintParamsNotAllowed": {
      "id": 1303,
      "name": "RequestViewConstraintParamsNotAllowed"
    },
    "BadPartnerConfiguration": {
      "id": 1304,
      "name": "BadPartnerConfiguration"
    },
    "XboxBPCertificateFailure": {
      "id": 1305,
      "name": "XboxBPCertificateFailure"
    },
    "XboxXASSExchangeFailure": {
      "id": 1306,
      "name": "XboxXASSExchangeFailure"
    },
    "InvalidEntityId": {
      "id": 1307,
      "name": "InvalidEntityId"
    },
    "StatisticValueAggregationOverflow": {
      "id": 1308,
      "name": "StatisticValueAggregationOverflow"
    },
    "EmailMessageFromAddressIsMissing": {
      "id": 1309,
      "name": "EmailMessageFromAddressIsMissing"
    },
    "EmailMessageToAddressIsMissing": {
      "id": 1310,
      "name": "EmailMessageToAddressIsMissing"
    },
    "SmtpServerAuthenticationError": {
      "id": 1311,
      "name": "SmtpServerAuthenticationError"
    },
    "SmtpServerLimitExceeded": {
      "id": 1312,
      "name": "SmtpServerLimitExceeded"
    },
    "SmtpServerInsufficientStorage": {
      "id": 1313,
      "name": "SmtpServerInsufficientStorage"
    },
    "SmtpServerCommunicationError": {
      "id": 1314,
      "name": "SmtpServerCommunicationError"
    },
    "SmtpServerGeneralFailure": {
      "id": 1315,
      "name": "SmtpServerGeneralFailure"
    },
    "EmailClientTimeout": {
      "id": 1316,
      "name": "EmailClientTimeout"
    },
    "EmailClientCanceledTask": {
      "id": 1317,
      "name": "EmailClientCanceledTask"
    },
    "EmailTemplateMissing": {
      "id": 1318,
      "name": "EmailTemplateMissing"
    },
    "InvalidHostForTitleId": {
      "id": 1319,
      "name": "InvalidHostForTitleId"
    },
    "EmailConfirmationTokenDoesNotExist": {
      "id": 1320,
      "name": "EmailConfirmationTokenDoesNotExist"
    },
    "EmailConfirmationTokenExpired": {
      "id": 1321,
      "name": "EmailConfirmationTokenExpired"
    },
    "AccountDeleted": {
      "id": 1322,
      "name": "AccountDeleted"
    },
    "PlayerSecretNotConfigured": {
      "id": 1323,
      "name": "PlayerSecretNotConfigured"
    },
    "InvalidSignatureTime": {
      "id": 1324,
      "name": "InvalidSignatureTime"
    },
    "NoContactEmailAddressFound": {
      "id": 1325,
      "name": "NoContactEmailAddressFound"
    },
    "InvalidAuthToken": {
      "id": 1326,
      "name": "InvalidAuthToken"
    },
    "AuthTokenDoesNotExist": {
      "id": 1327,
      "name": "AuthTokenDoesNotExist"
    },
    "AuthTokenExpired": {
      "id": 1328,
      "name": "AuthTokenExpired"
    },
    "AuthTokenAlreadyUsedToResetPassword": {
      "id": 1329,
      "name": "AuthTokenAlreadyUsedToResetPassword"
    },
    "MembershipNameTooLong": {
      "id": 1330,
      "name": "MembershipNameTooLong"
    },
    "MembershipNotFound": {
      "id": 1331,
      "name": "MembershipNotFound"
    },
    "GoogleServiceAccountInvalid": {
      "id": 1332,
      "name": "GoogleServiceAccountInvalid"
    },
    "GoogleServiceAccountParseFailure": {
      "id": 1333,
      "name": "GoogleServiceAccountParseFailure"
    },
    "EntityTokenMissing": {
      "id": 1334,
      "name": "EntityTokenMissing"
    },
    "EntityTokenInvalid": {
      "id": 1335,
      "name": "EntityTokenInvalid"
    },
    "EntityTokenExpired": {
      "id": 1336,
      "name": "EntityTokenExpired"
    },
    "EntityTokenRevoked": {
      "id": 1337,
      "name": "EntityTokenRevoked"
    },
    "InvalidProductForSubscription": {
      "id": 1338,
      "name": "InvalidProductForSubscription"
    },
    "XboxInaccessible": {
      "id": 1339,
      "name": "XboxInaccessible"
    },
    "SubscriptionAlreadyTaken": {
      "id": 1340,
      "name": "SubscriptionAlreadyTaken"
    },
    "SmtpAddonNotEnabled": {
      "id": 1341,
      "name": "SmtpAddonNotEnabled"
    },
    "APIConcurrentRequestLimitExceeded": {
      "id": 1342,
      "name": "APIConcurrentRequestLimitExceeded"
    },
    "XboxRejectedXSTSExchangeRequest": {
      "id": 1343,
      "name": "XboxRejectedXSTSExchangeRequest"
    },
    "VariableNotDefined": {
      "id": 1344,
      "name": "VariableNotDefined"
    },
    "TemplateVersionNotDefined": {
      "id": 1345,
      "name": "TemplateVersionNotDefined"
    },
    "FileTooLarge": {
      "id": 1346,
      "name": "FileTooLarge"
    },
    "TitleDeleted": {
      "id": 1347,
      "name": "TitleDeleted"
    },
    "TitleContainsUserAccounts": {
      "id": 1348,
      "name": "TitleContainsUserAccounts"
    },
    "TitleDeletionPlayerCleanupFailure": {
      "id": 1349,
      "name": "TitleDeletionPlayerCleanupFailure"
    },
    "EntityFileOperationPending": {
      "id": 1350,
      "name": "EntityFileOperationPending"
    },
    "NoEntityFileOperationPending": {
      "id": 1351,
      "name": "NoEntityFileOperationPending"
    },
    "EntityProfileVersionMismatch": {
      "id": 1352,
      "name": "EntityProfileVersionMismatch"
    },
    "TemplateVersionTooOld": {
      "id": 1353,
      "name": "TemplateVersionTooOld"
    },
    "MembershipDefinitionInUse": {
      "id": 1354,
      "name": "MembershipDefinitionInUse"
    },
    "PaymentPageNotConfigured": {
      "id": 1355,
      "name": "PaymentPageNotConfigured"
    },
    "FailedLoginAttemptRateLimitExceeded": {
      "id": 1356,
      "name": "FailedLoginAttemptRateLimitExceeded"
    },
    "EntityBlockedByGroup": {
      "id": 1357,
      "name": "EntityBlockedByGroup"
    },
    "RoleDoesNotExist": {
      "id": 1358,
      "name": "RoleDoesNotExist"
    },
    "EntityIsAlreadyMember": {
      "id": 1359,
      "name": "EntityIsAlreadyMember"
    },
    "DuplicateRoleId": {
      "id": 1360,
      "name": "DuplicateRoleId"
    },
    "GroupInvitationNotFound": {
      "id": 1361,
      "name": "GroupInvitationNotFound"
    },
    "GroupApplicationNotFound": {
      "id": 1362,
      "name": "GroupApplicationNotFound"
    },
    "OutstandingInvitationAcceptedInstead": {
      "id": 1363,
      "name": "OutstandingInvitationAcceptedInstead"
    },
    "OutstandingApplicationAcceptedInstead": {
      "id": 1364,
      "name": "OutstandingApplicationAcceptedInstead"
    },
    "RoleIsGroupDefaultMember": {
      "id": 1365,
      "name": "RoleIsGroupDefaultMember"
    },
    "RoleIsGroupAdmin": {
      "id": 1366,
      "name": "RoleIsGroupAdmin"
    },
    "RoleNameNotAvailable": {
      "id": 1367,
      "name": "RoleNameNotAvailable"
    },
    "GroupNameNotAvailable": {
      "id": 1368,
      "name": "GroupNameNotAvailable"
    },
    "EmailReportAlreadySent": {
      "id": 1369,
      "name": "EmailReportAlreadySent"
    },
    "EmailReportRecipientBlacklisted": {
      "id": 1370,
      "name": "EmailReportRecipientBlacklisted"
    },
    "EventNamespaceNotAllowed": {
      "id": 1371,
      "name": "EventNamespaceNotAllowed"
    },
    "EventEntityNotAllowed": {
      "id": 1372,
      "name": "EventEntityNotAllowed"
    },
    "InvalidEntityType": {
      "id": 1373,
      "name": "InvalidEntityType"
    },
    "NullTokenResultFromAad": {
      "id": 1374,
      "name": "NullTokenResultFromAad"
    },
    "InvalidTokenResultFromAad": {
      "id": 1375,
      "name": "InvalidTokenResultFromAad"
    },
    "NoValidCertificateForAad": {
      "id": 1376,
      "name": "NoValidCertificateForAad"
    },
    "InvalidCertificateForAad": {
      "id": 1377,
      "name": "InvalidCertificateForAad"
    },
    "DuplicateDropTableId": {
      "id": 1378,
      "name": "DuplicateDropTableId"
    },
    "MultiplayerServerError": {
      "id": 1379,
      "name": "MultiplayerServerError"
    },
    "MultiplayerServerTooManyRequests": {
      "id": 1380,
      "name": "MultiplayerServerTooManyRequests"
    },
    "MultiplayerServerNoContent": {
      "id": 1381,
      "name": "MultiplayerServerNoContent"
    },
    "MultiplayerServerBadRequest": {
      "id": 1382,
      "name": "MultiplayerServerBadRequest"
    },
    "MultiplayerServerUnauthorized": {
      "id": 1383,
      "name": "MultiplayerServerUnauthorized"
    },
    "MultiplayerServerForbidden": {
      "id": 1384,
      "name": "MultiplayerServerForbidden"
    },
    "MultiplayerServerNotFound": {
      "id": 1385,
      "name": "MultiplayerServerNotFound"
    },
    "MultiplayerServerConflict": {
      "id": 1386,
      "name": "MultiplayerServerConflict"
    },
    "MultiplayerServerInternalServerError": {
      "id": 1387,
      "name": "MultiplayerServerInternalServerError"
    },
    "MultiplayerServerUnavailable": {
      "id": 1388,
      "name": "MultiplayerServerUnavailable"
    },
    "ExplicitContentDetected": {
      "id": 1389,
      "name": "ExplicitContentDetected"
    },
    "PIIContentDetected": {
      "id": 1390,
      "name": "PIIContentDetected"
    },
    "InvalidScheduledTaskParameter": {
      "id": 1391,
      "name": "InvalidScheduledTaskParameter"
    },
    "PerEntityEventRateLimitExceeded": {
      "id": 1392,
      "name": "PerEntityEventRateLimitExceeded"
    },
    "TitleDefaultLanguageNotSet": {
      "id": 1393,
      "name": "TitleDefaultLanguageNotSet"
    },
    "EmailTemplateMissingDefaultVersion": {
      "id": 1394,
      "name": "EmailTemplateMissingDefaultVersion"
    },
    "FacebookInstantGamesIdNotLinked": {
      "id": 1395,
      "name": "FacebookInstantGamesIdNotLinked"
    },
    "InvalidFacebookInstantGamesSignature": {
      "id": 1396,
      "name": "InvalidFacebookInstantGamesSignature"
    },
    "FacebookInstantGamesAuthNotConfiguredForTitle": {
      "id": 1397,
      "name": "FacebookInstantGamesAuthNotConfiguredForTitle"
    },
    "EntityProfileConstraintValidationFailed": {
      "id": 1398,
      "name": "EntityProfileConstraintValidationFailed"
    },
    "TelemetryIngestionKeyPending": {
      "id": 1399,
      "name": "TelemetryIngestionKeyPending"
    },
    "TelemetryIngestionKeyNotFound": {
      "id": 1400,
      "name": "TelemetryIngestionKeyNotFound"
    },
    "StatisticChildNameInvalid": {
      "id": 1402,
      "name": "StatisticChildNameInvalid"
    },
    "DataIntegrityError": {
      "id": 1403,
      "name": "DataIntegrityError"
    },
    "VirtualCurrencyCannotBeSetToOlderVersion": {
      "id": 1404,
      "name": "VirtualCurrencyCannotBeSetToOlderVersion"
    },
    "VirtualCurrencyMustBeWithinIntegerRange": {
      "id": 1405,
      "name": "VirtualCurrencyMustBeWithinIntegerRange"
    },
    "EmailTemplateInvalidSyntax": {
      "id": 1406,
      "name": "EmailTemplateInvalidSyntax"
    },
    "EmailTemplateMissingCallback": {
      "id": 1407,
      "name": "EmailTemplateMissingCallback"
    },
    "PushNotificationTemplateInvalidPayload": {
      "id": 1408,
      "name": "PushNotificationTemplateInvalidPayload"
    },
    "InvalidLocalizedPushNotificationLanguage": {
      "id": 1409,
      "name": "InvalidLocalizedPushNotificationLanguage"
    },
    "MissingLocalizedPushNotificationMessage": {
      "id": 1410,
      "name": "MissingLocalizedPushNotificationMessage"
    },
    "PushNotificationTemplateMissingPlatformPayload": {
      "id": 1411,
      "name": "PushNotificationTemplateMissingPlatformPayload"
    },
    "PushNotificationTemplatePayloadContainsInvalidJson": {
      "id": 1412,
      "name": "PushNotificationTemplatePayloadContainsInvalidJson"
    },
    "PushNotificationTemplateContainsInvalidIosPayload": {
      "id": 1413,
      "name": "PushNotificationTemplateContainsInvalidIosPayload"
    },
    "PushNotificationTemplateContainsInvalidAndroidPayload": {
      "id": 1414,
      "name": "PushNotificationTemplateContainsInvalidAndroidPayload"
    },
    "PushNotificationTemplateIosPayloadMissingNotificationBody": {
      "id": 1415,
      "name": "PushNotificationTemplateIosPayloadMissingNotificationBody"
    },
    "PushNotificationTemplateAndroidPayloadMissingNotificationBody": {
      "id": 1416,
      "name": "PushNotificationTemplateAndroidPayloadMissingNotificationBody"
    },
    "PushNotificationTemplateNotFound": {
      "id": 1417,
      "name": "PushNotificationTemplateNotFound"
    },
    "PushNotificationTemplateMissingDefaultVersion": {
      "id": 1418,
      "name": "PushNotificationTemplateMissingDefaultVersion"
    },
    "PushNotificationTemplateInvalidSyntax": {
      "id": 1419,
      "name": "PushNotificationTemplateInvalidSyntax"
    },
    "PushNotificationTemplateNoCustomPayloadForV1": {
      "id": 1420,
      "name": "PushNotificationTemplateNoCustomPayloadForV1"
    },
    "NoLeaderboardForStatistic": {
      "id": 1421,
      "name": "NoLeaderboardForStatistic"
    },
    "TitleNewsMissingDefaultLanguage": {
      "id": 1422,
      "name": "TitleNewsMissingDefaultLanguage"
    },
    "TitleNewsNotFound": {
      "id": 1423,
      "name": "TitleNewsNotFound"
    },
    "TitleNewsDuplicateLanguage": {
      "id": 1424,
      "name": "TitleNewsDuplicateLanguage"
    },
    "TitleNewsMissingTitleOrBody": {
      "id": 1425,
      "name": "TitleNewsMissingTitleOrBody"
    },
    "TitleNewsInvalidLanguage": {
      "id": 1426,
      "name": "TitleNewsInvalidLanguage"
    },
    "EmailRecipientBlacklisted": {
      "id": 1427,
      "name": "EmailRecipientBlacklisted"
    },
    "InvalidGameCenterAuthRequest": {
      "id": 1428,
      "name": "InvalidGameCenterAuthRequest"
    },
    "GameCenterAuthenticationFailed": {
      "id": 1429,
      "name": "GameCenterAuthenticationFailed"
    },
    "CannotEnablePartiesForTitle": {
      "id": 1430,
      "name": "CannotEnablePartiesForTitle"
    },
    "PartyError": {
      "id": 1431,
      "name": "PartyError"
    },
    "PartyRequests": {
      "id": 1432,
      "name": "PartyRequests"
    },
    "PartyNoContent": {
      "id": 1433,
      "name": "PartyNoContent"
    },
    "PartyBadRequest": {
      "id": 1434,
      "name": "PartyBadRequest"
    },
    "PartyUnauthorized": {
      "id": 1435,
      "name": "PartyUnauthorized"
    },
    "PartyForbidden": {
      "id": 1436,
      "name": "PartyForbidden"
    },
    "PartyNotFound": {
      "id": 1437,
      "name": "PartyNotFound"
    },
    "PartyConflict": {
      "id": 1438,
      "name": "PartyConflict"
    },
    "PartyInternalServerError": {
      "id": 1439,
      "name": "PartyInternalServerError"
    },
    "PartyUnavailable": {
      "id": 1440,
      "name": "PartyUnavailable"
    },
    "PartyTooManyRequests": {
      "id": 1441,
      "name": "PartyTooManyRequests"
    },
    "PushNotificationTemplateMissingName": {
      "id": 1442,
      "name": "PushNotificationTemplateMissingName"
    },
    "CannotEnableMultiplayerServersForTitle": {
      "id": 1443,
      "name": "CannotEnableMultiplayerServersForTitle"
    },
    "WriteAttemptedDuringExport": {
      "id": 1444,
      "name": "WriteAttemptedDuringExport"
    },
    "MultiplayerServerTitleQuotaCoresExceeded": {
      "id": 1445,
      "name": "MultiplayerServerTitleQuotaCoresExceeded"
    },
    "AutomationRuleNotFound": {
      "id": 1446,
      "name": "AutomationRuleNotFound"
    },
    "EntityAPIKeyLimitExceeded": {
      "id": 1447,
      "name": "EntityAPIKeyLimitExceeded"
    },
    "EntityAPIKeyNotFound": {
      "id": 1448,
      "name": "EntityAPIKeyNotFound"
    },
    "EntityAPIKeyOrSecretInvalid": {
      "id": 1449,
      "name": "EntityAPIKeyOrSecretInvalid"
    },
    "EconomyServiceUnavailable": {
      "id": 1450,
      "name": "EconomyServiceUnavailable"
    },
    "EconomyServiceInternalError": {
      "id": 1451,
      "name": "EconomyServiceInternalError"
    },
    "QueryRateLimitExceeded": {
      "id": 1452,
      "name": "QueryRateLimitExceeded"
    },
    "EntityAPIKeyCreationDisabledForEntity": {
      "id": 1453,
      "name": "EntityAPIKeyCreationDisabledForEntity"
    },
    "ForbiddenByEntityPolicy": {
      "id": 1454,
      "name": "ForbiddenByEntityPolicy"
    },
    "UpdateInventoryRateLimitExceeded": {
      "id": 1455,
      "name": "UpdateInventoryRateLimitExceeded"
    },
    "StudioCreationRateLimited": {
      "id": 1456,
      "name": "StudioCreationRateLimited"
    },
    "StudioCreationInProgress": {
      "id": 1457,
      "name": "StudioCreationInProgress"
    },
[...]
