{
  "swagger": "2.0",
  "info": {
    "version": "190916",
    "title": "PlayFab Multiplayer API",
    "description": "API methods for managing multiplayer servers. API methods for managing parties.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Match/CancelAllMatchmakingTicketsForPlayer": {
      "post": {
        "operationId": "CancelAllMatchmakingTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel all active tickets the player is a member of in a given queue.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CancelAllMatchmakingTicketsForPlayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelAllMatchmakingTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelAllMatchmakingTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cancels all tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the title crashes for instance) and want to \"reset\". The Entity field is optional if the caller is a player and defaults to that player. Players may not cancel tickets for other people. The Entity field is required if the caller is a server (authenticated as the title).",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelAllServerBackfillTicketsForPlayer": {
      "post": {
        "operationId": "CancelAllServerBackfillTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel all active backfill tickets the player is a member of in a given queue.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CancelAllServerBackfillTicketsForPlayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelAllServerBackfillTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelAllServerBackfillTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cancels all backfill tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the server crashes for instance) and want to \"reset\".",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelMatchmakingTicket": {
      "post": {
        "operationId": "CancelMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a matchmaking ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CancelMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers and ticket members can cancel a ticket. The ticket can be in five different states when it is cancelled. 1: the ticket is waiting for members to join it, and it has not started matching. If the ticket is cancelled at this stage, it will never match. 2: the ticket is matching. If the ticket is cancelled, it will stop matching. 3: the ticket is matched. A matched ticket cannot be cancelled. 4: the ticket is already cancelled and nothing happens. 5: the ticket is waiting for a server. If the ticket is cancelled, server allocation will be stopped. A server may still be allocated due to a race condition, but that will not be reflected in the ticket. There may be race conditions between the ticket getting matched and the client making a cancellation request. The client must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket because players must consent to enter matchmaking again. Create a new ticket instead.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingPlayerHasNotJoinedTicket",
          "MatchmakingQueueNotFound",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelServerBackfillTicket": {
      "post": {
        "operationId": "CancelServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a server backfill ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CancelServerBackfillTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers can cancel a backfill ticket. The ticket can be in three different states when it is cancelled. 1: the ticket is matching. If the ticket is cancelled, it will stop matching. 2: the ticket is matched. A matched ticket cannot be cancelled. 3: the ticket is already cancelled and nothing happens. There may be race conditions between the ticket getting matched and the server making a cancellation request. The server must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket. Create a new ticket instead.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateMatchmakingTicket": {
      "post": {
        "operationId": "CreateMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a client.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The client specifies the creator's attributes and optionally a list of other users to match with.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateServerBackfillTicket": {
      "post": {
        "operationId": "CreateServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a backfill matchmaking ticket as a server. A backfill ticket represents an ongoing game. The matchmaking service automatically starts matching the backfill ticket against other matchmaking tickets. Backfill tickets cannot match with other backfill tickets.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateServerBackfillTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members, their teams and their attributes, and the server details if applicable.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateServerMatchmakingTicket": {
      "post": {
        "operationId": "CreateServerMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a server. The matchmaking service automatically starts matching the ticket against other matchmaking tickets.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateServerMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members and their attributes.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetMatch": {
      "post": {
        "operationId": "GetMatch",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a match.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatch"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "When matchmaking has successfully matched together a collection of tickets, it produces a 'match' with an Id. The match contains all of the players that were matched together, and their team assigments. Only servers and ticket members can get the match.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingMatchNotFound",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetMatchmakingQueue": {
      "post": {
        "operationId": "GetMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "Get a matchmaking queue configuration.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatchmakingQueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakingQueueResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the current configuration for a queue.",
        "x-AnyInclusiveFlags": [
          "CSharpOnly"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueNotFound",
          "NotAuthorized"
        ]
      }
    },
    "/Match/GetMatchmakingTicket": {
      "post": {
        "operationId": "GetMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking ticket by ticket Id.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the invited players, their attributes if they have joined, the ticket status, the match Id when applicable, etc. Only servers, the ticket creator and the invited players can get the ticket.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetQueueStatistics": {
      "post": {
        "operationId": "GetQueueStatistics",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get the statistics for a queue.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetQueueStatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetQueueStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetQueueStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the matchmaking statistics for a queue. These include the number of players matching and the statistics related to the time to match statistics in seconds (average and percentiles). Statistics are refreshed once every 5 minutes. Servers can access all statistics no matter what the ClientStatisticsVisibility is configured to. Clients can access statistics according to the ClientStatisticsVisibility. Client requests are forbidden if all visibility fields are false.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized",
          "NotAuthorized"
        ]
      }
    },
    "/Match/GetServerBackfillTicket": {
      "post": {
        "operationId": "GetServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking backfill ticket by ticket Id.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetServerBackfillTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the players, their attributes, their teams, the ticket status, the match Id and the server details when applicable, etc. Only servers can get the ticket.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/JoinMatchmakingTicket": {
      "post": {
        "operationId": "JoinMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Join a matchmaking ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/JoinMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JoinMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Add the player to a matchmaking ticket and specify all of its matchmaking attributes. Players can join a ticket if and only if their EntityKeys are already listed in the ticket's Members list. The matchmaking service automatically starts matching the ticket against other matchmaking tickets once all players have joined the ticket. It is not possible to join a ticket once it has started matching.",
        "x-ms-docs-errors": [
          "MatchmakingAlreadyJoinedTicket",
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/ListMatchmakingQueues": {
      "post": {
        "operationId": "ListMatchmakingQueues",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "List all matchmaking queue configs.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListMatchmakingQueues"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMatchmakingQueuesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMatchmakingQueuesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a list of all the matchmaking queue configurations for the title.",
        "x-AnyInclusiveFlags": [
          "CSharpOnly"
        ],
        "x-ms-docs-errors": [
          "NotAuthorized"
        ]
      }
    },
    "/Match/ListMatchmakingTicketsForPlayer": {
      "post": {
        "operationId": "ListMatchmakingTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "List all matchmaking ticket Ids the user is a member of.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListMatchmakingTicketsForPlayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMatchmakingTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMatchmakingTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If the caller is a title, the EntityKey in the request is required. If the caller is a player, then it is optional. If it is provided it must match the caller's entity.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/ListServerBackfillTicketsForPlayer": {
      "post": {
        "operationId": "ListServerBackfillTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "List all server backfill ticket Ids the user is a member of.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListServerBackfillTicketsForPlayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListServerBackfillTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListServerBackfillTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "List all server backfill ticket Ids the user is a member of.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/RemoveMatchmakingQueue": {
      "post": {
        "operationId": "RemoveMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "Remove a matchmaking queue config.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RemoveMatchmakingQueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RemoveMatchmakingQueueResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes the configuration for a queue. This will permanently delete the configuration and players will no longer be able to match in the queue. All outstanding matchmaking tickets will be cancelled.",
        "x-AnyInclusiveFlags": [
          "CSharpOnly"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueNotFound",
          "NotAuthorized"
        ]
      }
    },
    "/Match/SetMatchmakingQueue": {
      "post": {
        "operationId": "SetMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "Create or update a matchmaking queue configuration.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/SetMatchmakingQueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetMatchmakingQueueResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Use this API to create or update matchmaking queue configurations. The queue configuration defines the matchmaking rules. The matchmaking service will match tickets together according to the configured rules. Queue resources are not spun up by calling this API. Queues are created when the first ticket is submitted.",
        "x-AnyInclusiveFlags": [
          "CSharpOnly"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueConfigInvalid",
          "MatchmakingQueueLimitExceeded",
          "NotAuthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithCustomContainer": {
      "post": {
        "operationId": "CreateBuildWithCustomContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a custom container.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithCustomContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithCustomContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithCustomContainerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a custom container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithManagedContainer": {
      "post": {
        "operationId": "CreateBuildWithManagedContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a managed container.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithManagedContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithManagedContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithManagedContainerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a managed container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateRemoteUser": {
      "post": {
        "operationId": "CreateRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateRemoteUserResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteAsset": {
      "post": {
        "operationId": "DeleteAsset",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game asset for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteAsset"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteAssetRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game asset for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListAssetSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteBuild": {
      "post": {
        "operationId": "DeleteBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/DeleteCertificate": {
      "post": {
        "operationId": "DeleteCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteRemoteUser": {
      "post": {
        "operationId": "DeleteRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/EnableMultiplayerServersForTitle": {
      "post": {
        "operationId": "EnableMultiplayerServersForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Enables the multiplayer server feature for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/EnableMultiplayerServersForTitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EnableMultiplayerServersForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EnableMultiplayerServersForTitleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Enables the multiplayer server feature for a title and returns the enabled status. The enabled status can be Initializing, Enabled, and Disabled. It can up to 20 minutes or more for the title to be enabled for the feature. On average, it can take up to 20 minutes for the title to be enabled for the feature.",
        "x-seeAlso": [
          "MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus"
        ],
        "x-ms-docs-errors": [
          "CannotEnableMultiplayerServersForTitle",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetAssetUploadUrl": {
      "post": {
        "operationId": "GetAssetUploadUrl",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the URL to upload assets to.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetAssetUploadUrl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetUploadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAssetUploadUrlResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the URL to upload assets to.",
        "x-seeAlso": [
          "MultiplayerServer/ListAssetSummaries",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetBuild": {
      "post": {
        "operationId": "GetBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetBuildResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the details about a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetCognitiveServicesToken": {
      "post": {
        "operationId": "GetCognitiveServicesToken",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a token for the cognitive services based on the specified service type.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetCognitiveServicesToken"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCognitiveServicesTokenRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCognitiveServicesTokenResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a token for the cognitive services where translation queries can be sent to.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetContainerRegistryCredentials": {
      "post": {
        "operationId": "GetContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the credentials to the container registry.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetContainerRegistryCredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContainerRegistryCredentialsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithCustomContainer",
          "MultiplayerServer/RolloverContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerDetails": {
      "post": {
        "operationId": "GetMultiplayerServerDetails",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server session details for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMultiplayerServerDetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerDetailsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server session details for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerLogs": {
      "post": {
        "operationId": "GetMultiplayerServerLogs",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server logs after a server has terminated.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMultiplayerServerLogs"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerLogsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerLogsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GetRemoteLoginEndpoint",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetRemoteLoginEndpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetRemoteLoginEndpointResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus": {
      "post": {
        "operationId": "GetTitleEnabledForMultiplayerServersStatus",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the status of whether a title is enabled for the multiplayer server feature.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetTitleEnabledForMultiplayerServersStatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleEnabledForMultiplayerServersStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleEnabledForMultiplayerServersStatusResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the status of whether a title is enabled for the multiplayer server feature. The enabled status can be Initializing, Enabled, and Disabled.",
        "x-seeAlso": [
          "MultiplayerServer/EnableMultiplayerServersForTitle"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetTitleMultiplayerServersQuotas": {
      "post": {
        "operationId": "GetTitleMultiplayerServersQuotas",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the quotas for a title in relation to multiplayer servers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetTitleMultiplayerServersQuotas"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleMultiplayerServersQuotasRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleMultiplayerServersQuotasResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the quotas for a title in relation to multiplayer servers.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListArchivedMultiplayerServers": {
      "post": {
        "operationId": "ListArchivedMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists archived multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListArchivedMultiplayerServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of archived multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListAssetSummaries": {
      "post": {
        "operationId": "ListAssetSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game assets for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListAssetSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListAssetSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListAssetSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game asset summaries for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildSummaries": {
      "post": {
        "operationId": "ListBuildSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists summarized details of all multiplayer server builds for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListBuildSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListBuildSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListCertificateSummaries": {
      "post": {
        "operationId": "ListCertificateSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game certificates for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListCertificateSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificateSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListCertificateSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game certificates for a title.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImages": {
      "post": {
        "operationId": "ListContainerImages",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists custom container images for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListContainerImages"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImagesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListContainerImagesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the container images that have been uploaded to the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials",
          "MultiplayerServer/ListContainerImageTags"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImageTags": {
      "post": {
        "operationId": "ListContainerImageTags",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists the tags for a custom container image.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListContainerImageTags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImageTagsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListContainerImageTagsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the tags for a particular container image that exists in the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/ListContainerImages"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListMultiplayerServers": {
      "post": {
        "operationId": "ListMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListMultiplayerServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListPartyQosServers": {
      "post": {
        "operationId": "ListPartyQosServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers for party.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListPartyQosServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListPartyQosServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListPartyQosServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers for party.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListQosServers": {
      "post": {
        "operationId": "ListQosServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListQosServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersRequest"
          }
        ],
        "security": [
          {
            "None": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListQosServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListQosServersForTitle": {
      "post": {
        "operationId": "ListQosServersForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListQosServersForTitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListQosServersForTitleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers for a title.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListVirtualMachineSummaries": {
      "post": {
        "operationId": "ListVirtualMachineSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists virtual machines for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListVirtualMachineSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualMachineSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListVirtualMachineSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of virtual machines for a title.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RequestMultiplayerServer": {
      "post": {
        "operationId": "RequestMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Request a multiplayer server session. Accepts tokens for title and if game client accesss is enabled, allows game client to request a server with player entity token.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RequestMultiplayerServer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RequestMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RequestMultiplayerServerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Requests a multiplayer server session from a particular build in any of the given preferred regions.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RolloverContainerRegistryCredentials": {
      "post": {
        "operationId": "RolloverContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Rolls over the credentials to the container registry.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RolloverContainerRegistryCredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RolloverContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RolloverContainerRegistryCredentialsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets new credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ShutdownMultiplayerServer": {
      "post": {
        "operationId": "ShutdownMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Shuts down a multiplayer server session.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ShutdownMultiplayerServer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ShutdownMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes the shutdown callback from the GSDK and terminates the multiplayer server session. The callback in the GSDK will allow for graceful shutdown with a 15 minute timeoutIf graceful shutdown has not been completed before 15 minutes have elapsed, the multiplayer server session will be forcefully terminated on it's own.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/UpdateBuildRegions": {
      "post": {
        "operationId": "UpdateBuildRegions",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Updates a multiplayer server build's regions.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UpdateBuildRegions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateBuildRegionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Updates a multiplayer server build's regions.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/UploadCertificate": {
      "post": {
        "operationId": "UploadCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Uploads a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UploadCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UploadCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Uploads a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/ListCertificateSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/Party/EnablePartiesForTitle": {
      "post": {
        "operationId": "EnablePartiesForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Enables the parties feature for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/EnablePartiesForTitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EnablePartiesForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Enables the parties feature for a title.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "PartyBadRequest",
          "PartyInternalServerError",
          "PartyNotFound",
          "PartyTooManyRequests",
          "PartyUnauthorized",
          "PartyUnavailable"
        ]
      }
    },
    "/Party/RequestParty": {
      "post": {
        "operationId": "RequestParty",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Request a party session.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RequestParty"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RequestPartyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RequestPartyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Requests a party session from a particular build in any of the given preferred regions.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "PartyBadRequest",
          "PartyInternalServerError",
          "PartyNotFound",
          "PartyTooManyRequests",
          "PartyUnauthorized",
          "PartyUnavailable"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical Playfab error code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "errorMessage": {
          "description": "Description for the Playfab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      }
    },
    "AssetReference": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name. This is a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        },
        "MountPath": {
          "description": "The asset's mount path.",
          "type": "string"
        }
      }
    },
    "AssetReferenceParams": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name.",
          "type": "string"
        },
        "MountPath": {
          "description": "The asset's mount path.",
          "type": "string"
        }
      },
      "required": [
        "FileName",
        "MountPath"
      ]
    },
    "AssetSummary": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name. This is a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        },
        "Metadata": {
          "description": "The metadata associated with the asset.",
          "type": "object"
        }
      }
    },
    "AttributeMergeFunction": {
      "type": "object",
      "enum": [
        "Min",
        "Max",
        "Average"
      ],
      "x-AnyInclusiveFlags": [
        "CSharpOnly"
      ]
    },
    "AttributeNotSpecifiedBehavior": {
      "type": "object",
      "enum": [
        "UseDefault",
        "MatchAny"
      ],
      "x-AnyInclusiveFlags": [
        "CSharpOnly"
      ]
    },
    "AttributeSource": {
      "type": "object",
      "enum": [
        "User",
        "PlayerEntity"
      ],
      "x-AnyInclusiveFlags": [
        "CSharpOnly"
      ]
    },
    "AzureRegion": {
      "type": "object",
      "enum": [
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CentralUs",
        "EastAsia",
        "EastUs",
        "EastUs2",
        "JapanEast",
        "JapanWest",
        "NorthCentralUs",
        "NorthEurope",
        "SouthCentralUs",
        "SoutheastAsia",
        "WestEurope",
        "WestUs",
        "ChinaEast2",
        "ChinaNorth2",
        "SouthAfricaNorth"
      ]
    },
    "AzureVmFamily": {
      "type": "object",
      "enum": [
        "A",
        "Av2",
        "Dv2",
        "F",
        "Fsv2"
      ]
    },
    "AzureVmSize": {
      "type": "object",
      "enum": [
        "Standard_D1_v2",
        "Standard_D2_v2",
        "Standard_D3_v2",
        "Standard_D4_v2",
        "Standard_D5_v2",
        "Standard_A1_v2",
        "Standard_A2_v2",
        "Standard_A4_v2",
        "Standard_A8_v2",
        "Standard_F1",
        "Standard_F2",
        "Standard_F4",
        "Standard_F8",
        "Standard_F16",
        "Standard_F2s_v2",
        "Standard_F4s_v2",
        "Standard_F8s_v2",
        "Standard_F16s_v2",
        "Standard_A1",
        "Standard_A2",
        "Standard_A3",
        "Standard_A4"
      ]
    },
    "BuildRegion": {
      "type": "object",
      "properties": {
        "CurrentServerStats": {
          "$ref": "#/definitions/CurrentServerStats",
          "description": "The current multiplayer server stats for the region.",
          "type": "object",
          "x-isclass": true
        },
        "MaxServers": {
          "description": "The maximum number of multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The build region.",
          "type": "string"
        },
        "StandbyServers": {
          "description": "The number of standby multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Status": {
          "description": "The status of multiplayer servers in the build region. Valid values are - Unknown, Initialized, Deploying, Deployed, Unhealthy.",
          "type": "string"
        }
      },
      "required": [
        "MaxServers",
        "StandbyServers"
      ]
    },
    "BuildRegionParams": {
      "type": "object",
      "properties": {
        "MaxServers": {
          "description": "The maximum number of multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The build region.",
          "type": "string"
        },
        "StandbyServers": {
          "description": "The number of standby multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Region",
        "MaxServers",
        "StandbyServers"
      ]
    },
    "BuildSummary": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        },
        "RegionConfigurations": {
          "description": "The configuration and status for each region in the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        }
      }
    },
    "CancelAllMatchmakingTicketsForPlayerRequest": {
      "description": "Cancels all tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the title crashes for instance) and want to \"reset\". The Entity field is optional if the caller is a player and defaults to that player. Players may not cancel tickets for other people. The Entity field is required if the caller is a server (authenticated as the title).",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key of the player whose tickets should be canceled.",
          "type": "object",
          "x-isclass": true
        },
        "QueueName": {
          "description": "The name of the queue from which a player's tickets should be canceled.",
          "type": "string"
        }
      },
      "required": [
        "QueueName"
      ],
      "example": {
        "Entity": {
          "Id": "123123123",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "QueueName": "custom123"
      }
    },
    "CancelAllMatchmakingTicketsForPlayerResult": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "CancelAllServerBackfillTicketsForPlayerRequest": {
      "description": "Cancels all backfill tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the server crashes for instance) and want to \"reset\".",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key of the player whose backfill tickets should be canceled.",
          "type": "object",
          "x-isclass": true
        },
        "QueueName": {
          "description": "The name of the queue from which a player's backfill tickets should be canceled.",
          "type": "string"
        }
      },
      "required": [
        "Entity",
        "QueueName"
      ],
      "example": {
        "Entity": {
          "Id": "123123123",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        },
        "QueueName": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CancelAllServerBackfillTicketsForPlayerResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CancellationReason": {
      "type": "object",
      "enum": [
        "Requested",
        "Internal",
        "Timeout"
      ]
    },
    "CancelMatchmakingTicketRequest": {
      "description": "Only servers and ticket members can cancel a ticket. The ticket can be in five different states when it is cancelled. 1: the ticket is waiting for members to join it, and it has not started matching. If the ticket is cancelled at this stage, it will never match. 2: the ticket is matching. If the ticket is cancelled, it will stop matching. 3: the ticket is matched. A matched ticket cannot be cancelled. 4: the ticket is already cancelled and nothing happens. 5: the ticket is waiting for a server. If the ticket is cancelled, server allocation will be stopped. A server may still be allocated due to a race condition, but that will not be reflected in the ticket. There may be race conditions between the ticket getting matched and the client making a cancellation request. The client must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket because players must consent to enter matchmaking again. Create a new ticket instead.",
      "type": "object",
      "properties": {
        "QueueName": {
          "description": "The name of the queue the ticket is in.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123"
      }
    },
    "CancelMatchmakingTicketResult": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "CancelServerBackfillTicketRequest": {
      "description": "Only servers can cancel a backfill ticket. The ticket can be in three different states when it is cancelled. 1: the ticket is matching. If the ticket is cancelled, it will stop matching. 2: the ticket is matched. A matched ticket cannot be cancelled. 3: the ticket is already cancelled and nothing happens. There may be race conditions between the ticket getting matched and the server making a cancellation request. The server must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket. Create a new ticket instead.",
      "type": "object",
      "properties": {
        "QueueName": {
          "description": "The name of the queue the ticket is in.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "QueueName"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "QueueName": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CancelServerBackfillTicketResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "Base64EncodedValue": {
          "description": "Base64 encoded string contents of the certificate.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the certificate. This is used to reference certificates in build configurations.",
          "type": "string"
        },
        "Password": {
          "description": "If required for your PFX certificate, use this field to provide a password that will be used to install the certificate on the container.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "Base64EncodedValue"
      ]
    },
    "CertificateSummary": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the certificate.",
          "type": "string"
        },
        "Thumbprint": {
          "description": "The thumbprint for the certificate.",
          "type": "string"
        }
      }
    },
    "CognitiveServicesType": {
      "type": "object",
      "enum": [
        "SpeechToText",
        "TextToSpeech",
        "TextToText"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ConnectedPlayer": {
      "type": "object",
      "properties": {
        "PlayerId": {
          "description": "The player ID of the player connected to the multiplayer server.",
          "type": "string"
        }
      }
    },
    "ContainerFlavor": {
      "type": "object",
      "enum": [
        "ManagedWindowsServerCore",
        "CustomLinux",
        "ManagedWindowsServerCorePreview"
      ]
    },
    "ContainerImageReference": {
      "type": "object",
      "properties": {
        "ImageName": {
          "description": "The container image name.",
          "type": "string"
        },
        "Tag": {
          "description": "The container tag.",
          "type": "string"
        }
      },
      "required": [
        "ImageName"
      ]
    },
    "CoreCapacity": {
      "type": "object",
      "properties": {
        "Available": {
          "description": "The available core capacity for the (Region, VmFamily)",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The AzureRegion",
          "type": "string"
        },
        "Total": {
          "description": "The total core capacity for the (Region, VmFamily)",
          "type": "number",
          "x-actualtype": "int32"
        },
        "VmFamily": {
          "$ref": "#/definitions/AzureVmFamily",
          "description": "The AzureVmFamily",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "Total",
        "Available"
      ]
    },
    "CreateBuildWithCustomContainerRequest": {
      "description": "Creates a multiplayer server build with a custom container and returns information about the build creation request.",
      "type": "object",
      "properties": {
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container to create a build from.",
          "type": "string",
          "x-isenum": true
        },
        "ContainerImageReference": {
          "$ref": "#/definitions/ContainerImageReference",
          "description": "The container reference, consisting of the image name and tag.",
          "type": "object",
          "x-isclass": true
        },
        "ContainerRepositoryName": {
          "description": "The name of the container repository.",
          "type": "string",
          "x-deprecation": {
            "ProposedAfter": "5/3/2019",
            "DeprecatedAfter": "6/1/2019",
            "ObsoleteAfter": "7/1/2019",
            "ReplacedBy": "ContainerImageReference"
          }
        },
        "ContainerRunCommand": {
          "description": "The container command to run when the multiplayer server has been allocated, including any arguments.",
          "type": "string"
        },
        "ContainerTag": {
          "description": "The tag for the container.",
          "type": "string",
          "x-deprecation": {
            "ProposedAfter": "5/3/2019",
            "DeprecatedAfter": "6/1/2019",
            "ObsoleteAfter": "7/1/2019",
            "ReplacedBy": "ContainerImageReference"
          }
        },
        "GameAssetReferences": {
          "description": "The list of game assets related to the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReferenceParams"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReferenceParams"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "Metadata to tag the build. The keys are case insensitive. The build metadata is made available to the server through Game Server SDK (GSDK).",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to host on a single VM.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports to map the build on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configurations for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegionParams"
          },
          "x-isclass": true
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size to create the build on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "BuildName",
        "MultiplayerServerCountPerVm",
        "Ports",
        "RegionConfigurations"
      ],
      "example": {
        "ContainerRunCommand": "/data/Assets -startserver",
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "/data/Assets"
          }
        ],
        "ContainerImageReference": {
          "ImageName": "ContainerImageName",
          "Tag": "ContainerTag"
        },
        "ContainerFlavor": "CustomLinux",
        "BuildName": "GameBuildName",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "MultiplayerServerCountPerVm": 10,
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ]
      }
    },
    "CreateBuildWithCustomContainerResponse": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID. Must be unique for every build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container of the build.",
          "type": "string",
          "x-isenum": true
        },
        "ContainerRunCommand": {
          "description": "The container command to run when the multiplayer server has been allocated, including any arguments.",
          "type": "string"
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "CustomGameContainerImage": {
          "$ref": "#/definitions/ContainerImageReference",
          "description": "The custom game container image reference information.",
          "type": "object",
          "x-isclass": true
        },
        "GameAssetReferences": {
          "description": "The game assets for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReference"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReference"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to host on a single VM of the build.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports the build is mapped on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configuration for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size the build was created on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "MultiplayerServerCountPerVm"
      ],
      "example": {
        "ContainerRunCommand": "/data/Assets -startserver",
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "BuildName": "GameBuildName",
        "CreationTime": "2014-04-07T09:04:28",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "ContainerFlavor": "CustomLinux",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "Status": "Initialized",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "Status": "Deployed",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "Status": "Unhealthy",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "/data/Assets"
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ],
        "MultiplayerServerCountPerVm": 10
      }
    },
    "CreateBuildWithManagedContainerRequest": {
      "description": "Creates a multiplayer server build with a managed container and returns information about the build creation request.",
      "type": "object",
      "properties": {
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
[...]
