{
  "swagger": "2.0",
  "info": {
    "version": "180726",
    "title": "PlayFab Multiplayer API",
    "description": "API methods that capture a wide variety of Multiplayer interactions between your players.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/GameServer/AllocateSessionHost": {
      "post": {
        "operationId": "AllocateSessionHost",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/AllocateSessionHost"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AllocateSessionHostRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AllocateSessionHostResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetSessionHostDetails"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/CreateBuildWithCustomContainer": {
      "post": {
        "operationId": "CreateBuildWithCustomContainer",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithCustomContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithCustomContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/DeleteBuild",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/CreateBuildWithManagedContainer": {
      "post": {
        "operationId": "CreateBuildWithManagedContainer",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithManagedContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithManagedContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/DeleteBuild",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/CreateRemoteUser": {
      "post": {
        "operationId": "CreateRemoteUser",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateRemoteUserResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/DeleteRemoteUser",
          "GameServer/GetRemoteLoginEndpoint"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/DeleteBuild": {
      "post": {
        "operationId": "DeleteBuild",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/DeleteRemoteUser": {
      "post": {
        "operationId": "DeleteRemoteUser",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteRemoteUserResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateRemoteUser",
          "GameServer/GetRemoteLoginEndpoint"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetAssetUploadUrl": {
      "post": {
        "operationId": "GetAssetUploadUrl",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetAssetUploadUrl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetUploadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAssetUploadUrlResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/ListAssets",
          "GameServer/ListCertificates",
          "GameServer/UploadCertificate"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetBuild": {
      "post": {
        "operationId": "GetBuild",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/DeleteBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GetRemoteLoginEndpoint",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetRemoteLoginEndpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetRemoteLoginEndpointResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateRemoteUser"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetSessionHostDetails": {
      "post": {
        "operationId": "GetSessionHostDetails",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetSessionHostDetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSessionHostDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetSessionHostResponseDetailsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/AllocateSessionHost"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/GetSessionHostLogs": {
      "post": {
        "operationId": "GetSessionHostLogs",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetSessionHostLogs"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSessionHostLogsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetSessionHostLogsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/AllocateSessionHost",
          "GameServer/GetSessionHostDetails"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListAssets": {
      "post": {
        "operationId": "ListAssets",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListAssets"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListAssetsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListAssetsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetAssetUploadUrl",
          "GameServer/ListCertificates",
          "GameServer/UploadCertificate"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListBuilds": {
      "post": {
        "operationId": "ListBuilds",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListBuilds"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListBuildsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/CreateBuildWithManagedContainer",
          "GameServer/DeleteBuild",
          "GameServer/GetBuild"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListCertificates": {
      "post": {
        "operationId": "ListCertificates",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListCertificates"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificatesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListCertificatesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetAssetUploadUrl",
          "GameServer/ListAssets",
          "GameServer/UploadCertificate"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListQosServers": {
      "post": {
        "operationId": "ListQosServers",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListQosServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListQosServersResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListSessionHosts": {
      "post": {
        "operationId": "ListSessionHosts",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListSessionHosts"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListSessionHostsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListSessionHostsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/AllocateSessionHost"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ListVirtualMachines": {
      "post": {
        "operationId": "ListVirtualMachines",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListVirtualMachines"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualMachinesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListVirtualMachinesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/ShutdownSessionHost": {
      "post": {
        "operationId": "ShutdownSessionHost",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ShutdownSessionHost"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ShutdownSessionHostRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ShutdownSessionHostResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/AllocateSessionHost",
          "GameServer/GetSessionHostDetails"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/UpdateBuildRegions": {
      "post": {
        "operationId": "UpdateBuildRegions",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UpdateBuildRegions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateBuildRegionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/UpdateBuildRegionsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/DeleteBuild",
          "GameServer/GetBuild",
          "GameServer/ListBuilds"
        ],
        "x-errors": [
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerOk",
          "GameServerUnauthorized"
        ]
      }
    },
    "/GameServer/UploadCertificate": {
      "post": {
        "operationId": "UploadCertificate",
        "tags": [
          "GameServer"
        ],
        "description": "",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UploadCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UploadCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/UploadCertificateResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "GameServer/GetAssetUploadUrl",
          "GameServer/ListAssets",
          "GameServer/ListCertificates"
        ],
        "x-errors": [
          "GameServerAccepted",
          "GameServerBadRequest",
          "GameServerConflict",
          "GameServerForbidden",
          "GameServerInternalServerError",
          "GameServerNoContent",
          "GameServerNotFound",
          "GameServerOk",
          "GameServerServiceUnavailable",
          "GameServerUnauthorized"
        ]
      }
    },
    "/Match/CancelMatchmakingTicket": {
      "post": {
        "operationId": "CancelMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a matchmaking ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CancelMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CancelMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Users can cancel a matchmaking ticket at anytime. Anyone in the matchmaking ticket can cancel it. We do not allow resubmitting a cancelled ticket because the players must consent to enter matchmaking again after the cancellation which is the same as creating a new ticket. The ticket can be in different states when it is cancelled: * The ticket has not started matching because not everyone has joined the ticket. If the ticket is cancelled, it will be deleted and never match. * The ticket is matching. If the ticket is cancelled, it will stop matching and it will be deleted. * The ticket has been matched. A matched ticket cannot be cancelled. There may be race conditions due to latency between the ticket being matched and the client being notified the match is ready. The client must handle the possibility that the cancel request may fail if the match has been made but the notification has not arrived.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "MatchmakingCancelTicketServerIdentityInvalid",
          "MatchmakingCancelTicketUserIdentityMismatch",
          "MatchmakingEntityInvalid",
          "MatchmakingHopperIdMissing",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketIdIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTicketNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/CreateMatchmakingTicket": {
      "post": {
        "operationId": "CreateMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a client.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The client specifies the creator's attributes and optionally a list of other users to match with.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "MatchmakingCreateRequestCreatorIdMissing",
          "MatchmakingCreateRequestCreatorMissing",
          "MatchmakingCreateRequestGiveUpAfterInvalid",
          "MatchmakingCreateRequestMissing",
          "MatchmakingCreateTicketClientIdentityInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingHopperIdMissing",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerIdentityMismatch",
          "MatchmakingPlayerIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/CreateServerMatchmakingTicket": {
      "post": {
        "operationId": "CreateServerMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a server.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateServerMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the creators and their attributes.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "MatchmakingCreateRequestGiveUpAfterInvalid",
          "MatchmakingCreateRequestUserListMissing",
          "MatchmakingCreateTicketServerIdentityInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingHopperIdMissing",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/GetMatch": {
      "post": {
        "operationId": "GetMatch",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a match.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatch"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
                  "Members": []
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "When matchmaking has successfully matched together a collection of tickets, it produces a 'match' with an ID. The match contains all of the players that were matched together, server connection information, etc. The match ID is usually sent to the matched players using the activity service. Only the players in the original ticket can get the match.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingHopperIdMissing",
          "MatchmakingMatchIdIdMissing",
          "MatchmakingMatchIdMissing",
          "MatchmakingMatchNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/GetMatchmakingTicket": {
      "post": {
        "operationId": "GetMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking ticket by ticket ID.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
                  "HopperId": "custom123",
                  "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
                  "Created": "2016-08-23T12:33:14",
                  "Status": "MATCHED",
                  "GiveUpAfterSeconds": 100,
                  "MembersToMatchWith": [
                    {
                      "Id": "123123123",
                      "TypeString": "title_player_acount"
                    }
                  ],
                  "Members": [],
                  "Creator": {
                    "Id": "123123123",
                    "TypeString": "title_player_acount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the players who have joined, their attributes, who still hasn't joined, etc. Only the ticket creator and invited players can get the ticket.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingGetMatchIdentityMismatch",
          "MatchmakingGetTicketUserMismatch",
          "MatchmakingHopperIdMissing",
          "MatchmakingTicketIdIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTicketNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/JoinMatchmakingTicket": {
      "post": {
        "operationId": "JoinMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Join a matchmaking ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/JoinMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/JoinMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Add the user to a matchmaking ticket and specify all the user's matchmaking attributes. Users can only join a ticket if and only if they were 'invited' to join the ticket by the ticket creator in the CreateMatchmakingTicket call. The matchmaking service automatically starts matching the ticket against other matchmaking tickets once all players have joined the ticket. Therefore, it is not possible to join a ticket once it has started matching.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-errors": [
          "MatchmakingAlreadyJoinedTicket",
          "MatchmakingEntityInvalid",
          "MatchmakingHopperIdMissing",
          "MatchmakingJoinRequestUserMissing",
          "MatchmakingJoinTicketServerIdentityInvalid",
          "MatchmakingJoinTicketUserIdentityMismatch",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerIdentityMismatch",
          "MatchmakingPlayerIdMissing",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketIdIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTicketNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API result",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical Playfab error code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "errorMessage": {
          "description": "Description for the Playfab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      }
    },
    "AllocateSessionHostRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "BuildId to allocate against, must be a GUID.",
          "type": "string"
        },
        "PreferredRegions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureRegion"
          },
          "x-isenum": true
        },
        "SessionCookie": {
          "description": "Data encoded as a string that is passed to the game server when allocated. This can be used to share a cryptographic secret for servers to authenticate clients, or to communication information such as game mode or map through the allocation flow.",
          "type": "string"
        },
        "SessionId": {
          "description": "An identifer you create to track the session over its life. Must be a GUID.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "SessionId",
        "PreferredRegions"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AllocateSessionHostResponse": {
      "type": "object",
      "properties": {
        "ConnectedPlayers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "IPv4Address": {
          "type": "string"
        },
        "Ports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SessionHostId": {
          "type": "string"
        },
        "SessionId": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "VmId": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AssetReference": {
      "type": "object",
      "properties": {
        "MountPath": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AssetReferenceParams": {
      "type": "object",
      "properties": {
        "MountPath": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      },
      "required": [
        "MountPath"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AssetSummary": {
      "type": "object",
      "properties": {
        "Metadata": {
          "type": "object"
        },
        "Name": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AzureRegion": {
      "type": "object",
      "enum": [
        "EastUs",
        "CentralUs",
        "WestUs",
        "NorthEurope",
        "WestEurope"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "AzureVmSize": {
      "type": "object",
      "enum": [
        "Standard_A1_v2",
        "Standard_A2_v2",
        "Standard_A4_v2",
        "Standard_A8_v2",
        "Standard_D1_v2",
        "Standard_D2_v2",
        "Standard_D3_v2",
        "Standard_D4_v2",
        "Standard_D5_v2",
        "Standard_F1",
        "Standard_F2",
        "Standard_F4",
        "Standard_F8",
        "Standard_F16",
        "Standard_NC6",
        "Standard_NC12",
        "Standard_NC24",
        "Standard_NC24r",
        "Standard_NV6",
        "Standard_NV12",
        "Standard_NV24"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "BuildRegion": {
      "type": "object",
      "properties": {
        "MaxSessions": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "StandbySessions": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "Status": {
          "$ref": "#/definitions/BuildRegionStatus",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "MaxSessions",
        "StandbySessions"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "BuildRegionParams": {
      "type": "object",
      "properties": {
        "MaxSessions": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "StandbySessions": {
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Region",
        "MaxSessions",
        "StandbySessions"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "BuildRegionStatus": {
      "type": "object",
      "enum": [
        "Unknown",
        "Initializing",
        "InProbation",
        "Succeeded",
        "Unhealthy",
        "PendingDeletion",
        "Deleted"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "BuildSummary": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "BuildName": {
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "type": "string",
          "x-isenum": true
        },
        "CustomGameContainerImage": {
          "$ref": "#/definitions/ContainerImageReference",
          "type": "object",
          "x-isclass": true
        },
        "GameAssetReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReference"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "MappedPorts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Metadata": {
          "type": "object"
        },
        "RegionConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        },
        "SessionHostCountPerVm": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "StartGameCommand": {
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "SessionHostCountPerVm"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CancellationReason": {
      "type": "object",
      "enum": [
        "Requested",
        "Internal",
        "Timeout"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CancelMatchmakingTicketRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "HopperId": {
          "description": "The Id of the hopper to join.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "HopperId"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "HopperId": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CancelMatchmakingTicketResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "Base64EncodedValue": {
          "description": "Base64 encoded string contents of the certificate.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the certificate. This is used to reference certificates in build configurations.",
          "type": "string"
        },
        "Password": {
          "description": "If required for your PFX certificate, use this field to provide a password that will be used to install the certificate on the container.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "Base64EncodedValue"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CertificateSummary": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "Thumbprint": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ConnectedPlayer": {
      "type": "object",
      "properties": {
        "PlayerId": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ContainerFlavor": {
      "type": "object",
      "enum": [
        "WindowsServerCorePlayFab",
        "LinuxCustom"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ContainerImageReference": {
      "type": "object",
      "properties": {
        "ImageName": {
          "type": "string"
        },
        "Tag": {
          "type": "string"
        }
      },
      "required": [
        "ImageName"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateBuildResponse": {
      "type": "object",
      "properties": {
        "BuildSummary": {
          "$ref": "#/definitions/BuildSummary",
          "type": "object",
          "x-isclass": true
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateBuildWithCustomContainerRequest": {
      "type": "object",
      "properties": {
        "BuildName": {
          "type": "string"
        },
        "ContainerRepositoryName": {
          "type": "string"
        },
        "ContainerTag": {
          "type": "string"
        },
        "GameAssetReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReferenceParams"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "MappedPorts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Metadata": {
          "type": "object"
        },
        "RegionConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegionParams"
          },
          "x-isclass": true
        },
        "SessionHostCountPerVm": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "StartGameCommand": {
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "ContainerRepositoryName",
        "BuildName",
        "SessionHostCountPerVm",
        "MappedPorts",
        "RegionConfiguration"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateBuildWithManagedContainerRequest": {
      "type": "object",
      "properties": {
        "BuildName": {
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "type": "string",
          "x-isenum": true
        },
        "GameAssetReferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReferenceParams"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "MappedPorts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Metadata": {
          "type": "object"
        },
        "RegionConfiguration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegionParams"
          },
          "x-isclass": true
        },
        "SessionHostCountPerVm": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "StartGameCommand": {
          "description": "The command that is used to start the game server application, including any arguments",
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "StartGameCommand",
        "GameAssetReferences",
        "BuildName",
        "SessionHostCountPerVm",
        "MappedPorts",
        "RegionConfiguration"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateMatchmakingTicketRequest": {
      "type": "object",
      "properties": {
        "Creator": {
          "$ref": "#/definitions/MatchmakingPlayer",
          "description": "The User who created this ticket.",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "HopperId": {
          "description": "The Id of a match hopper.",
          "type": "string"
        },
        "MembersToMatchWith": {
          "description": "A list of Entity Keys of other users to match with.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Creator",
        "GiveUpAfterSeconds",
        "HopperId"
      ],
      "example": {
        "Creator": {},
        "MembersToMatchWith": [],
        "GiveUpAfterSeconds": 100,
        "HopperId": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateMatchmakingTicketResult": {
      "type": "object",
      "properties": {
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateRemoteUserRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "ExpirationTime": {
          "description": "The expiration time for the remote user created. Defaults to expiring in one day if not specified.",
          "type": "string"
        },
        "Password": {
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "Username": {
          "type": "string"
        },
        "VmId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId",
        "Username",
        "Password"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateRemoteUserResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "CreateServerMatchmakingTicketRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "HopperId": {
          "description": "The Id of a match hopper.",
          "type": "string"
        },
        "Members": {
          "description": "The users who will be part of this ticket.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayer"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Members",
        "GiveUpAfterSeconds",
        "HopperId"
      ],
      "example": {
        "Members": [],
        "GiveUpAfterSeconds": 100,
        "HopperId": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteBuildRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteBuildResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteRemoteUserRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "Username": {
          "type": "string"
        },
        "VmId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId",
        "Username"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "DeleteRemoteUserResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityKey": {
      "description": "Entity identifier class that contains both the ID and type.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Entity profile ID.",
          "type": "string"
        },
        "Type": {
          "$ref": "#/definitions/EntityTypes",
          "description": "Entity type. Optional to be used but one of EntityType or EntityTypeString must be set.",
          "type": "string",
          "x-isenum": true
        },
        "TypeString": {
          "description": "Entity type. Optional to be used but one of EntityType or EntityTypeString must be set.",
          "type": "string"
        }
      },
      "required": [
        "Id"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "EntityTypes": {
      "type": "object",
      "enum": [
        "title",
        "master_player_account",
        "title_player_account",
        "character",
        "group",
        "service"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetAssetUploadUrlRequest": {
      "type": "object",
      "properties": {
        "Metadata": {
          "type": "object"
        },
        "Name": {
          "description": "The asset's file name and associated metadata.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "gameserver.zip",
        "Metadata": {
          "AssetData1": "SomeData"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetAssetUploadUrlResponse": {
      "type": "object",
      "properties": {
        "AssetUploadUrl": {
          "type": "string"
        },
        "Metadata": {
          "type": "object"
        },
        "Name": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetBuildRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetBuildResponse": {
      "type": "object",
      "properties": {
        "BuildSummary": {
          "$ref": "#/definitions/BuildSummary",
          "type": "object",
          "x-isclass": true
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetMatchmakingTicketRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "EscapeObject": {
          "description": "Determines whether the matchmaking attributes will be returned as an escaped JSON string or as an un-escaped JSON object.",
          "type": "boolean"
        },
        "HopperId": {
          "description": "The Id of the hopper to find a match for.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "HopperId",
        "EscapeObject"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "HopperId": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetMatchmakingTicketResult": {
      "type": "object",
      "properties": {
        "CancellationReason": {
          "$ref": "#/definitions/CancellationReason",
          "description": "The reason why the current ticket was canceled. This field is only set if the ticket is in canceled state.",
          "type": "string",
          "x-isenum": true
        },
        "Created": {
          "description": "The server date and time at which ticket was created.",
          "type": "string"
        },
        "Creator": {
          "$ref": "#/definitions/EntityKey",
          "description": "The Creator's entity key.",
          "type": "object",
          "x-isclass": true
        },
        "GiveUpAfterSeconds": {
          "description": "How long to attempt matching this ticket in seconds.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "HopperId": {
          "description": "The Id of a match hopper.",
          "type": "string"
        },
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        },
        "Members": {
          "description": "A list of Users that have joined this ticket.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayer"
          },
          "x-isclass": true
        },
        "MembersToMatchWith": {
          "description": "A list of PlayFab Ids of Users to match with.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "Status": {
          "description": "The current ticket status.",
          "type": "string"
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "HopperId",
        "Created",
        "Status",
        "GiveUpAfterSeconds",
        "Members",
        "Creator"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "HopperId": "custom123",
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "Created": "2016-08-23T12:33:14",
        "Status": "MATCHED",
        "GiveUpAfterSeconds": 100,
        "MembersToMatchWith": [
          {
            "Id": "123123123",
            "TypeString": "title_player_acount"
          }
        ],
        "Members": [],
        "Creator": {
          "Id": "123123123",
          "TypeString": "title_player_acount"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetMatchRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "EscapeObject": {
          "description": "Determines whether the matchmaking attributes will be returned as an escaped JSON string or as an un-escaped JSON object.",
          "type": "boolean"
        },
        "HopperId": {
          "description": "The Id of the hopper to join.",
          "type": "string"
        },
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        }
      },
      "required": [
        "MatchId",
        "HopperId",
        "EscapeObject"
      ],
      "example": {
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "HopperId": "custom123"
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetMatchResult": {
      "type": "object",
      "properties": {
        "MatchId": {
          "description": "The Id of a match.",
          "type": "string"
        },
        "Members": {
          "description": "A list of Users that are matched together, along with their team assignments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MatchmakingPlayerWithTeamAssignment"
          },
          "x-isclass": true
        }
      },
      "required": [
        "MatchId",
        "Members"
      ],
      "example": {
        "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
        "Members": []
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetRemoteLoginEndpointRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "VmId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetRemoteLoginEndpointResponse": {
      "type": "object",
      "properties": {
        "IpV4Address": {
          "type": "string"
        },
        "Port": {
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Port"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetSessionHostDetailsRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SessionId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "SessionId",
        "Region"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetSessionHostLogsRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SessionHostId": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "SessionHostId"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetSessionHostLogsResponse": {
      "type": "object",
      "properties": {
        "LogDownloadUri": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "GetSessionHostResponseDetailsResponse": {
      "type": "object",
      "properties": {
        "ConnectedPlayers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "IPv4Address": {
          "type": "string"
        },
        "Ports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SessionHostId": {
          "type": "string"
        },
        "SessionId": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "VmId": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "JoinMatchmakingTicketRequest": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity to perform this action on.",
          "type": "object",
          "x-isclass": true
        },
        "HopperId": {
          "description": "The Id of the hopper to join.",
          "type": "string"
        },
        "Member": {
          "$ref": "#/definitions/MatchmakingPlayer",
          "description": "The User who wants to join the ticket. Their Id must be listed in PlayFabIdsToMatchWith.",
          "type": "object",
          "x-isclass": true
        },
        "TicketId": {
          "description": "The Id of the ticket to find a match for.",
          "type": "string"
        }
      },
      "required": [
        "TicketId",
        "HopperId",
        "Member"
      ],
      "example": {
        "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
        "HopperId": "custom123",
        "Member": {}
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "JoinMatchmakingTicketResult": {
      "type": "object",
      "properties": {},
      "example": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListAssetsRequest": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "AssetSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetSummary"
          },
          "x-isclass": true
        },
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "NumItems"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListBuildsRequest": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListBuildsResponse": {
      "type": "object",
      "properties": {
        "BuildSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildSummary"
          },
          "x-isclass": true
        },
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "NumItems"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListCertificatesRequest": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListCertificatesResponse": {
      "type": "object",
      "properties": {
        "CertificateSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateSummary"
          },
          "x-isclass": true
        },
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "NumItems"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListQosServersRequest": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListQosServersResponse": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "QosServers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/QosServer"
          },
          "x-isclass": true
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "NumItems"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListSessionHostsRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListSessionHostsResponse": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SessionHostSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SessionHostSummary"
          },
          "x-isclass": true
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "NumItems"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListVirtualMachinesRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SkipToken": {
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ListVirtualMachinesResponse": {
      "type": "object",
      "properties": {
        "NumItems": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "type": "string"
        },
        "VirtualMachines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachine"
          },
          "x-isclass": true
        }
      },
      "required": [
        "NumItems"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "MatchmakingPlayer": {
      "description": "A user in a matchmaking ticket.",
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/MatchmakingPlayerAttributes",
          "description": "The user's attributes custom to the title.",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key of the matchmaking user.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Entity"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "MatchmakingPlayerAttributes": {
      "description": "The matchmaking attributes for a user.",
      "type": "object",
      "properties": {
        "DataObject": {
          "description": "A data object representing a user's attributes.",
          "type": "object"
        },
        "EscapedDataObject": {
          "description": "An escaped data object representing a user's attributes.",
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "MatchmakingPlayerWithTeamAssignment": {
      "description": "A player in a created matchmaking match with a team assignment.",
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity key of the matchmaking user.",
          "type": "object",
          "x-isclass": true
        },
        "TeamId": {
          "description": "The Id of the team the User has been assigned to by matchmaking.",
          "type": "string"
        }
      },
      "required": [
        "Entity"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "Port": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "Num": {
          "type": "number",
          "x-actualtype": "int32"
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolType",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "Name",
        "Num",
        "Protocol"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ProtocolType": {
      "type": "object",
      "enum": [
        "TCP",
        "UDP"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "QosServer": {
      "type": "object",
      "properties": {
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "ServerUrl": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "SessionHostSummary": {
      "type": "object",
      "properties": {
        "ConnectedPlayers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SessionHostId": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "VmId": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ShutdownSessionHostRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "BuildID of the session host to be deleted, must be a GUID.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "type": "string",
          "x-isenum": true
        },
        "SessionId": {
          "description": "SessionID of the session host to be deleted, must be a GUID.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "SessionId"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "ShutdownSessionHostResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateBuildRegionsRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "type": "string"
        },
        "BuildRegions": {
          "description": "The updated region configuration that should be applied to the specified build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegionParams"
          },
          "x-isclass": true
        }
      },
      "required": [
        "BuildId",
        "BuildRegions"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UpdateBuildRegionsResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UploadCertificateRequest": {
      "type": "object",
      "properties": {
        "GameCertificate": {
          "$ref": "#/definitions/Certificate",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "GameCertificate"
      ],
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "UploadCertificateResponse": {
      "type": "object",
      "properties": {},
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    },
    "VirtualMachine": {
      "type": "object",
      "properties": {
        "State": {
          "type": "string"
        },
        "VmId": {
          "type": "string"
        }
      },
      "x-AnyInclusiveFlags": [
        "Beta"
      ]
    }
  },
  "parameters": {
    "AllocateSessionHostRequest": {
      "name": "AllocateSessionHostRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/AllocateSessionHostRequest"
      }
    },
    "CancelMatchmakingTicketRequest": {
      "name": "CancelMatchmakingTicketRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CancelMatchmakingTicketRequest"
      }
    },
    "CreateBuildWithCustomContainerRequest": {
      "name": "CreateBuildWithCustomContainerRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateBuildWithCustomContainerRequest"
      }
    },
    "CreateBuildWithManagedContainerRequest": {
      "name": "CreateBuildWithManagedContainerRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateBuildWithManagedContainerRequest"
      }
    },
    "CreateMatchmakingTicketRequest": {
      "name": "CreateMatchmakingTicketRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateMatchmakingTicketRequest"
      }
    },
    "CreateRemoteUserRequest": {
      "name": "CreateRemoteUserRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateRemoteUserRequest"
      }
    },
    "CreateServerMatchmakingTicketRequest": {
[...]
