{
  "swagger": "2.0",
  "info": {
    "version": "250228",
    "title": "PlayFab Multiplayer API",
    "description": "API methods for managing multiplayer servers. API methods for managing parties. The lobby service helps players group together to play multiplayer games. It is often used as a rendezvous point for players to share connection information. The TrueSkill service helps titles to estimate a player's skill based on their match results. The player skill values from this service are commonly used by a matchmaking service to provide players with balanced matches.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Lobby/CreateLobby": {
      "post": {
        "operationId": "CreateLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Create a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/createlobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateLobbyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer lobby. The caller is the lobby creator. Caller may be a server or player entity.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyPlayerMaxLobbyLimitExceeded",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/DeleteLobby": {
      "post": {
        "operationId": "DeleteLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Delete a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/deletelobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Delete a lobby. This method is only callable by servers.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/FindFriendLobbies": {
      "post": {
        "operationId": "FindFriendLobbies",
        "tags": [
          "Lobby"
        ],
        "description": "Find lobbies which match certain criteria, and which friends are in.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/findfriendlobbies"
        },
        "parameters": [
          {
            "$ref": "#/parameters/FindFriendLobbiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/FindFriendLobbiesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Find lobbies which match certain criteria and contain friends of the caller. Friends optionally include Steam, Facebook and Xbox friends. Returns a maximum of 50 instances for client calls. This method is not callable by servers.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/FindLobbies": {
      "post": {
        "operationId": "FindLobbies",
        "tags": [
          "Lobby"
        ],
        "description": "Find all the lobbies that match certain criteria.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/findlobbies"
        },
        "parameters": [
          {
            "$ref": "#/parameters/FindLobbiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/FindLobbiesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Find lobbies which match certain criteria. Returns a maximum of 500 entries for server callers, and 50 entries for client callers.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/GetLobby": {
      "post": {
        "operationId": "GetLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Get a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/getlobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLobbyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/InviteToLobby": {
      "post": {
        "operationId": "InviteToLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Send a notification to invite a player to a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/invitetolobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/InviteToLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Invite a player to a lobby the caller is already a member of. Only players may call this.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyPlayerNotPresent",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/JoinArrangedLobby": {
      "post": {
        "operationId": "JoinArrangedLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Join an Arranged lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/joinarrangedlobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinArrangedLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JoinLobbyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyMemberCannotRejoin",
          "LobbyNotJoinable",
          "LobbyPlayerAlreadyJoined",
          "LobbyPlayerMaxLobbyLimitExceeded",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/JoinLobby": {
      "post": {
        "operationId": "JoinLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Join a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/joinlobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JoinLobbyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyMemberCannotRejoin",
          "LobbyNotJoinable",
          "LobbyPlayerAlreadyJoined",
          "LobbyPlayerMaxLobbyLimitExceeded",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/JoinLobbyAsServer": {
      "post": {
        "operationId": "JoinLobbyAsServer",
        "tags": [
          "Lobby"
        ],
        "description": "Preview: Join a lobby as a server entity. This is restricted to client lobbies which are using connections.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/joinlobbyasserver"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinLobbyAsServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JoinLobbyAsServerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Preview: Join a lobby as a server entity.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDifferentServerAlreadyJoined",
          "LobbyDoesNotExist",
          "LobbyDoesNotUseConnections",
          "LobbyIsNotClientOwned",
          "LobbyRateLimitExceeded",
          "LobbyServerAlreadyJoined"
        ]
      }
    },
    "/Lobby/LeaveLobby": {
      "post": {
        "operationId": "LeaveLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Leave a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/leavelobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LeaveLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Leave a lobby. Members will also be automatically unsubscribed from the lobby.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyPlayerNotPresent",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/LeaveLobbyAsServer": {
      "post": {
        "operationId": "LeaveLobbyAsServer",
        "tags": [
          "Lobby"
        ],
        "description": "Preview: Request for server to leave a lobby. This is restricted to client owned lobbies which are using connections.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/leavelobbyasserver"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LeaveLobbyAsServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Preview: Request for server to leave a lobby.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyDoesNotUseConnections",
          "LobbyIsNotClientOwned",
          "LobbyRateLimitExceeded",
          "LobbyServerMismatch",
          "LobbyServerNotFound"
        ]
      }
    },
    "/Lobby/RemoveMember": {
      "post": {
        "operationId": "RemoveMember",
        "tags": [
          "Lobby"
        ],
        "description": "Remove a member from a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/removemember"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveMemberFromLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Remove another member from a lobby. Owners and servers may remove any member from a lobby. Members cannot remove themselves but they can use LeaveLobby instead. Members are also unsubscribed from the lobby.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyPlayerNotPresent",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/SubscribeToLobbyResource": {
      "post": {
        "operationId": "SubscribeToLobbyResource",
        "tags": [
          "Lobby"
        ],
        "description": "Subscribe to lobby resource notifications.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/subscribetolobbyresource"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscribeToLobbyResourceRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SubscribeToLobbyResourceResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Subscribe to lobby resource notifications. Lobby subscriptions have two types; LobbyChange and LobbyInvite.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyRateLimitExceeded",
          "PubSubConnectionHandleInvalid",
          "PubSubConnectionNotFoundForEntity",
          "PubSubSubscriptionLimitExceeded"
        ]
      }
    },
    "/Lobby/UnsubscribeFromLobbyResource": {
      "post": {
        "operationId": "UnsubscribeFromLobbyResource",
        "tags": [
          "Lobby"
        ],
        "description": "Unsubscribe from lobby notifications.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/unsubscribefromlobbyresource"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UnsubscribeFromLobbyResourceRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Unsubscribe from lobby notifications.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyRateLimitExceeded",
          "PubSubConnectionHandleInvalid",
          "PubSubConnectionNotFoundForEntity"
        ]
      }
    },
    "/Lobby/UpdateLobby": {
      "post": {
        "operationId": "UpdateLobby",
        "tags": [
          "Lobby"
        ],
        "description": "Update a lobby.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/updatelobby"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateLobbyRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyCurrentOwnerStillConnected",
          "LobbyCurrentPlayersMoreThanMaxPlayers",
          "LobbyDoesNotExist",
          "LobbyMemberIsNotOwner",
          "LobbyNewOwnerMustBeConnected",
          "LobbyRateLimitExceeded"
        ]
      }
    },
    "/Lobby/UpdateLobbyAsServer": {
      "post": {
        "operationId": "UpdateLobbyAsServer",
        "tags": [
          "Lobby"
        ],
        "description": "Preview: Update fields related to a joined server in the lobby the server is in. Servers can keep a lobby from expiring by being the one to \"update\" the lobby in some way. Servers have no impact on last member leave/last member disconnect behavior.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/lobby/updatelobbyasserver"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateLobbyAsServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LobbyEmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Preview: Updates joined server information in lobby.",
        "x-ms-docs-errors": [
          "LobbyBadRequest",
          "LobbyDoesNotExist",
          "LobbyRateLimitExceeded",
          "LobbyServerMismatch",
          "LobbyServerNotFound"
        ]
      }
    },
    "/Match/CancelAllMatchmakingTicketsForPlayer": {
      "post": {
        "operationId": "CancelAllMatchmakingTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel all active tickets the player is a member of in a given queue.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelallmatchmakingticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelAllMatchmakingTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelAllMatchmakingTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cancels all tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the title crashes for instance) and want to \"reset\". The Entity field is optional if the caller is a player and defaults to that player. Players may not cancel tickets for other people. The Entity field is required if the caller is a server (authenticated as the title).",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelAllServerBackfillTicketsForPlayer": {
      "post": {
        "operationId": "CancelAllServerBackfillTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel all active backfill tickets the player is a member of in a given queue.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelallserverbackfillticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelAllServerBackfillTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelAllServerBackfillTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Cancels all backfill tickets of which the player is a member in a given queue that are not cancelled or matched. This API is useful if you lose track of what tickets the player is a member of (if the server crashes for instance) and want to \"reset\".",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelMatchmakingTicket": {
      "post": {
        "operationId": "CancelMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a matchmaking ticket.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelmatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers and ticket members can cancel a ticket. The ticket can be in five different states when it is cancelled. 1: the ticket is waiting for members to join it, and it has not started matching. If the ticket is cancelled at this stage, it will never match. 2: the ticket is matching. If the ticket is cancelled, it will stop matching. 3: the ticket is matched. A matched ticket cannot be cancelled. 4: the ticket is already cancelled and nothing happens. 5: the ticket is waiting for a server. If the ticket is cancelled, server allocation will be stopped. A server may still be allocated due to a race condition, but that will not be reflected in the ticket. There may be race conditions between the ticket getting matched and the client making a cancellation request. The client must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket because players must consent to enter matchmaking again. Create a new ticket instead.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingPlayerHasNotJoinedTicket",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CancelServerBackfillTicket": {
      "post": {
        "operationId": "CancelServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a server backfill ticket.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/cancelserverbackfillticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CancelServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers can cancel a backfill ticket. The ticket can be in three different states when it is cancelled. 1: the ticket is matching. If the ticket is cancelled, it will stop matching. 2: the ticket is matched. A matched ticket cannot be cancelled. 3: the ticket is already cancelled and nothing happens. There may be race conditions between the ticket getting matched and the server making a cancellation request. The server must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket. Create a new ticket instead.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateMatchmakingTicket": {
      "post": {
        "operationId": "CreateMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a client.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/creatematchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The client specifies the creator's attributes and optionally a list of other users to match with.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateServerBackfillTicket": {
      "post": {
        "operationId": "CreateServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a backfill matchmaking ticket as a server. A backfill ticket represents an ongoing game. The matchmaking service automatically starts matching the backfill ticket against other matchmaking tickets. Backfill tickets cannot match with other backfill tickets.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/createserverbackfillticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members, their teams and their attributes, and the server details if applicable.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/CreateServerMatchmakingTicket": {
      "post": {
        "operationId": "CreateServerMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a server. The matchmaking service automatically starts matching the ticket against other matchmaking tickets.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/createservermatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members and their attributes.",
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingNumberOfPlayersInTicketTooLarge",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetMatch": {
      "post": {
        "operationId": "GetMatch",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a match.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getmatch"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "When matchmaking has successfully matched together a collection of tickets, it produces a 'match' with an Id. The match contains all of the players that were matched together, and their team assigments. Only servers and ticket members can get the match.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingMatchNotFound",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetMatchmakingQueue": {
      "post": {
        "operationId": "GetMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "SDK support is limited to C# and Java for this API. Get a matchmaking queue configuration.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking-admin/getmatchmakingqueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakingQueueResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the current configuration for a queue.",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueNotFound"
        ]
      }
    },
    "/Match/GetMatchmakingTicket": {
      "post": {
        "operationId": "GetMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking ticket by ticket Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getmatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the invited players, their attributes if they have joined, the ticket status, the match Id when applicable, etc. Only servers, the ticket creator and the invited players can get the ticket.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetQueueStatistics": {
      "post": {
        "operationId": "GetQueueStatistics",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get the statistics for a queue.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getqueuestatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetQueueStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetQueueStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the matchmaking statistics for a queue. These include the number of players matching and the statistics related to the time to match statistics in seconds (average and percentiles). Statistics are refreshed once every 5 minutes. Servers can access all statistics no matter what the ClientStatisticsVisibility is configured to. Clients can access statistics according to the ClientStatisticsVisibility. Client requests are forbidden if all visibility fields are false.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/GetServerBackfillTicket": {
      "post": {
        "operationId": "GetServerBackfillTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking backfill ticket by ticket Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/getserverbackfillticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetServerBackfillTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetServerBackfillTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the players, their attributes, their teams, the ticket status, the match Id and the server details when applicable, etc. Only servers can get the ticket.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingRequestTypeMismatch",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/JoinMatchmakingTicket": {
      "post": {
        "operationId": "JoinMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Join a matchmaking ticket.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/joinmatchmakingticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/JoinMatchmakingTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Add the player to a matchmaking ticket and specify all of its matchmaking attributes. Players can join a ticket if and only if their EntityKeys are already listed in the ticket's Members list. The matchmaking service automatically starts matching the ticket against other matchmaking tickets once all players have joined the ticket. It is not possible to join a ticket once it has started matching.",
        "x-ms-docs-errors": [
          "MatchmakingAlreadyJoinedTicket",
          "MatchmakingAttributeInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerAttributesTooLarge",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketMembershipLimitExceeded",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/ListMatchmakingQueues": {
      "post": {
        "operationId": "ListMatchmakingQueues",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "SDK support is limited to C# and Java for this API. List all matchmaking queue configs.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking-admin/listmatchmakingqueues"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMatchmakingQueuesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMatchmakingQueuesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a list of all the matchmaking queue configurations for the title.",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ]
      }
    },
    "/Match/ListMatchmakingTicketsForPlayer": {
      "post": {
        "operationId": "ListMatchmakingTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "List all matchmaking ticket Ids the user is a member of.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/listmatchmakingticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMatchmakingTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMatchmakingTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If the caller is a title, the EntityKey in the request is required. If the caller is a player, then it is optional. If it is provided it must match the caller's entity.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/ListServerBackfillTicketsForPlayer": {
      "post": {
        "operationId": "ListServerBackfillTicketsForPlayer",
        "tags": [
          "Matchmaking"
        ],
        "description": "List all server backfill ticket Ids the user is a member of.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/listserverbackfillticketsforplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListServerBackfillTicketsForPlayerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListServerBackfillTicketsForPlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "List all server backfill ticket Ids the user is a member of.",
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNotFound",
          "MatchmakingRateLimitExceeded",
          "MatchmakingUnauthorized"
        ]
      }
    },
    "/Match/RemoveMatchmakingQueue": {
      "post": {
        "operationId": "RemoveMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "SDK support is limited to C# and Java for this API. Remove a matchmaking queue config.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking-admin/removematchmakingqueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RemoveMatchmakingQueueResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes the configuration for a queue. This will permanently delete the configuration and players will no longer be able to match in the queue. All outstanding matchmaking tickets will be cancelled.",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueNotFound"
        ]
      }
    },
    "/Match/SetMatchmakingQueue": {
      "post": {
        "operationId": "SetMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "SDK support is limited to C# and Java for this API. Create or update a matchmaking queue configuration.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking-admin/setmatchmakingqueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SetMatchmakingQueueResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Use this API to create or update matchmaking queue configurations. The queue configuration defines the matchmaking rules. The matchmaking service will match tickets together according to the configured rules. Queue resources are not spun up by calling this API. Queues are created when the first ticket is submitted.",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueConfigInvalid",
          "MatchmakingQueueLimitExceeded"
        ]
      }
    },
    "/Match/SubscribeToMatchmakingResource": {
      "post": {
        "operationId": "SubscribeToMatchmakingResource",
        "tags": [
          "Matchmaking"
        ],
        "description": "Subscribe to match resource notifications.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/subscribetomatchmakingresource"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscribeToMatchResourceRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SubscribeToMatchResourceResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Subscribe to match resource notifications. Match subscriptions have two types; MatchInvite and MatchTicketStatusChange",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized",
          "PubSubConnectionHandleInvalid",
          "PubSubConnectionNotFoundForEntity",
          "PubSubSubscriptionLimitExceeded"
        ]
      }
    },
    "/Match/UnsubscribeFromMatchmakingResource": {
      "post": {
        "operationId": "UnsubscribeFromMatchmakingResource",
        "tags": [
          "Matchmaking"
        ],
        "description": "Unsubscribe from match resource notifications.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/matchmaking/unsubscribefrommatchmakingresource"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UnsubscribeFromMatchResourceRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UnsubscribeFromMatchResourceResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Unsubscribe from a Match resource's notifications. For MatchInvite, players are expected to unsubscribe once they can no longer accept invites. For MatchTicketStatusChange, players are expected to unsusbcribe once the ticket has reached a canceled or matched state.",
        "x-AnyInclusiveFlags": [
          "RequiresOptionalValueSupport"
        ],
        "x-ms-docs-errors": [
          "MatchmakingAttributeInvalid",
          "MatchmakingBadRequest",
          "MatchmakingEntityInvalid",
          "MatchmakingTicketNotFound",
          "MatchmakingUnauthorized",
          "PubSubConnectionHandleInvalid",
          "PubSubConnectionNotFoundForEntity"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildAlias": {
      "post": {
        "operationId": "CreateBuildAlias",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build alias.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createbuildalias"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildAliasRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BuildAliasDetailsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build alias and returns the created alias.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuildAlias",
          "MultiplayerServer/GetBuildAlias",
          "MultiplayerServer/UpdateBuildAlias"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithCustomContainer": {
      "post": {
        "operationId": "CreateBuildWithCustomContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a custom container.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createbuildwithcustomcontainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithCustomContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithCustomContainerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a custom container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummariesV2"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerTitleQuotaCoresExceeded",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithManagedContainer": {
      "post": {
        "operationId": "CreateBuildWithManagedContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a managed container.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createbuildwithmanagedcontainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithManagedContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithManagedContainerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a managed container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummariesV2"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerTitleQuotaCoresExceeded",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithProcessBasedServer": {
      "post": {
        "operationId": "CreateBuildWithProcessBasedServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with the server running as a process.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createbuildwithprocessbasedserver"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithProcessBasedServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithProcessBasedServerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with the game server running as a process and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummariesV2"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerTitleQuotaCoresExceeded",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/CreateRemoteUser": {
      "post": {
        "operationId": "CreateRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createremoteuser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateRemoteUserResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/CreateTitleMultiplayerServersQuotaChange": {
      "post": {
        "operationId": "CreateTitleMultiplayerServersQuotaChange",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a request to change a title's multiplayer server quotas.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/createtitlemultiplayerserversquotachange"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateTitleMultiplayerServersQuotaChangeRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateTitleMultiplayerServersQuotaChangeResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a request to change a title's multiplayer server quotas.",
        "x-seeAlso": [
          "MultiplayerServer/GetTitleMultiplayerServersQuotaChange",
          "MultiplayerServer/ListTitleMultiplayerServersQuotaChanges"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/DeleteAsset": {
      "post": {
        "operationId": "DeleteAsset",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game asset for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deleteasset"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteAssetRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game asset for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListAssetSummaries"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteBuild": {
      "post": {
        "operationId": "DeleteBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletebuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummariesV2"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerBuildReferencedByMatchmakingQueue",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteBuildAlias": {
      "post": {
        "operationId": "DeleteBuildAlias",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server build alias.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletebuildalias"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildAliasRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server build alias.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildAlias",
          "MultiplayerServer/GetBuildAlias",
          "MultiplayerServer/UpdateBuildAlias"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBuildAliasReferencedByMatchmakingQueue",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteBuildRegion": {
      "post": {
        "operationId": "DeleteBuildRegion",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Removes a multiplayer server build's region.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletebuildregion"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRegionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Removes a multiplayer server build's region.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummariesV2",
          "MultiplayerServer/UpdateBuildRegion",
          "MultiplayerServer/UpdateBuildRegions"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteCertificate": {
      "post": {
        "operationId": "DeleteCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletecertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteContainerImageRepository": {
      "post": {
        "operationId": "DeleteContainerImageRepository",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a container image repository.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletecontainerimagerepository"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteContainerImageRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Removes the specified container image repository. After this operation, a 'docker pull' will fail for all the tags of the specified image. Morever, ListContainerImages will not return the specified image.",
        "x-seeAlso": [
          "MultiplayerServer/ListContainerImageTags"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteRemoteUser": {
      "post": {
        "operationId": "DeleteRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deleteremoteuser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteSecret": {
      "post": {
        "operationId": "DeleteSecret",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game secret.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/deletesecret"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteSecretRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game secret.",
        "x-seeAlso": [
          "MultiplayerServer/ListSecretSummaries",
          "MultiplayerServer/UploadSecret"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/EnableMultiplayerServersForTitle": {
      "post": {
        "operationId": "EnableMultiplayerServersForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Enables the multiplayer server feature for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/enablemultiplayerserversfortitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EnableMultiplayerServersForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EnableMultiplayerServersForTitleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Enables the multiplayer server feature for a title and returns the enabled status. The enabled status can be Initializing, Enabled, and Disabled. It can up to 20 minutes or more for the title to be enabled for the feature. On average, it can take up to 20 minutes for the title to be enabled for the feature.",
        "x-seeAlso": [
          "MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "CannotEnableMultiplayerServersForTitle",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetAssetDownloadUrl": {
      "post": {
        "operationId": "GetAssetDownloadUrl",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a URL that can be used to download the specified asset. A sample pre-authenticated url - https://sampleStorageAccount.blob.core.windows.net/gameassets/gameserver.zip?sv=2015-04-05&ss=b&srt=sco&sp=rw&st=startDate&se=endDate&spr=https&sig=sampleSig&api-version=2017-07-29",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getassetdownloadurl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetDownloadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAssetDownloadUrlResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a URL that can be used to download the specified asset.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListAssetSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetAssetUploadUrl": {
      "post": {
        "operationId": "GetAssetUploadUrl",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the URL to upload assets to. A sample pre-authenticated url - https://sampleStorageAccount.blob.core.windows.net/gameassets/gameserver.zip?sv=2015-04-05&ss=b&srt=sco&sp=rw&st=startDate&se=endDate&spr=https&sig=sampleSig&api-version=2017-07-29",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getassetuploadurl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetUploadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAssetUploadUrlResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the URL to upload assets to.",
        "x-seeAlso": [
          "MultiplayerServer/ListAssetSummaries",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetBuild": {
      "post": {
        "operationId": "GetBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getbuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetBuildResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the details about a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/ListBuildSummariesV2"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetBuildAlias": {
      "post": {
        "operationId": "GetBuildAlias",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a multiplayer server build alias.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getbuildalias"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildAliasRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BuildAliasDetailsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the details about a multiplayer server build alias.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildAlias",
          "MultiplayerServer/DeleteBuildAlias",
          "MultiplayerServer/UpdateBuildAlias"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetContainerRegistryCredentials": {
      "post": {
        "operationId": "GetContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the credentials to the container registry.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getcontainerregistrycredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContainerRegistryCredentialsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithCustomContainer",
          "MultiplayerServer/RolloverContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerDetails": {
      "post": {
        "operationId": "GetMultiplayerServerDetails",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server session details for a build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getmultiplayerserverdetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerDetailsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server session details for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerLogs": {
      "post": {
        "operationId": "GetMultiplayerServerLogs",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server logs after a server has terminated.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getmultiplayerserverlogs"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerLogsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerLogsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerSessionLogsBySessionId": {
      "post": {
        "operationId": "GetMultiplayerSessionLogsBySessionId",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server logs after a server has terminated.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getmultiplayersessionlogsbysessionid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerSessionLogsBySessionIdRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerLogsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server logs for a specific server id in a region. The logs are available only after a server has terminated.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GetRemoteLoginEndpoint",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/getremoteloginendpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetRemoteLoginEndpointResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus": {
      "post": {
        "operationId": "GetTitleEnabledForMultiplayerServersStatus",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the status of whether a title is enabled for the multiplayer server feature.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/gettitleenabledformultiplayerserversstatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleEnabledForMultiplayerServersStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleEnabledForMultiplayerServersStatusResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the status of whether a title is enabled for the multiplayer server feature. The enabled status can be Initializing, Enabled, and Disabled.",
        "x-seeAlso": [
          "MultiplayerServer/EnableMultiplayerServersForTitle"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetTitleMultiplayerServersQuotaChange": {
      "post": {
        "operationId": "GetTitleMultiplayerServersQuotaChange",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a title's server quota change request.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/gettitlemultiplayerserversquotachange"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleMultiplayerServersQuotaChangeRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleMultiplayerServersQuotaChangeResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a title's server quota change request.",
        "x-seeAlso": [
          "MultiplayerServer/CreateTitleMultiplayerServersQuotaChange",
          "MultiplayerServer/ListTitleMultiplayerServersQuotaChanges"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetTitleMultiplayerServersQuotas": {
      "post": {
        "operationId": "GetTitleMultiplayerServersQuotas",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the quotas for a title in relation to multiplayer servers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/gettitlemultiplayerserversquotas"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleMultiplayerServersQuotasRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleMultiplayerServersQuotasResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the quotas for a title in relation to multiplayer servers.",
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListArchivedMultiplayerServers": {
      "post": {
        "operationId": "ListArchivedMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists archived multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listarchivedmultiplayerservers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of archived multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListAssetSummaries": {
      "post": {
        "operationId": "ListAssetSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game assets for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listassetsummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListAssetSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListAssetSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game asset summaries for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildAliases": {
      "post": {
        "operationId": "ListBuildAliases",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists details of all build aliases for a title. Accepts tokens for title and if game client access is enabled, allows game client to request list of builds with player entity token.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listbuildaliases"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildAliasesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListBuildAliasesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildSummariesV2": {
      "post": {
        "operationId": "ListBuildSummariesV2",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists summarized details of all multiplayer server builds for a title. Accepts tokens for title and if game client access is enabled, allows game client to request list of builds with player entity token.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listbuildsummariesv2"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListBuildSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListCertificateSummaries": {
      "post": {
        "operationId": "ListCertificateSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game certificates for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listcertificatesummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificateSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListCertificateSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game certificates for a title.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImages": {
      "post": {
        "operationId": "ListContainerImages",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists custom container images for a title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listcontainerimages"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImagesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListContainerImagesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the container images that have been uploaded to the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials",
          "MultiplayerServer/ListContainerImageTags"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImageTags": {
      "post": {
        "operationId": "ListContainerImageTags",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists the tags for a custom container image.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listcontainerimagetags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImageTagsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListContainerImageTagsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the tags for a particular container image that exists in the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/ListContainerImages"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListMultiplayerServers": {
      "post": {
        "operationId": "ListMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/multiplayer/multiplayerserver/listmultiplayerservers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
[...]
