{
  "swagger": "2.0",
  "info": {
    "version": "181115",
    "title": "PlayFab Multiplayer API",
    "description": "API methods for managing multiplayer servers.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Match/CancelMatchmakingTicket": {
      "post": {
        "operationId": "CancelMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Cancel a matchmaking ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CancelMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CancelMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CancelMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Only servers and ticket members can cancel a ticket. The ticket can be in four different states when it is cancelled. 1: the ticket is waiting for members to join it, and it has not started matching. If the ticket is cancelled at this stage, it will never match. 2: the ticket is matching. If the ticket is cancelled, it will stop matching. 3: the ticket is matched. A matched ticket cannot be cancelled. 4: the ticket is already cancelled and nothing happens. There may be race conditions between the ticket getting matched and the client making a cancellation request. The client must handle the possibility that the cancel request fails if a match is found before the cancellation request is processed. We do not allow resubmitting a cancelled ticket because players must consent to enter matchmaking again. Create a new ticket instead.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingCancelTicketServerIdentityInvalid",
          "MatchmakingCancelTicketUserIdentityMismatch",
          "MatchmakingEntityInvalid",
          "MatchmakingQueueNameMissing",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketIdIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTicketNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/CreateMatchmakingTicket": {
      "post": {
        "operationId": "CreateMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a client.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The client specifies the creator's attributes and optionally a list of other users to match with.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingCreateRequestCreatorIdMissing",
          "MatchmakingCreateRequestCreatorMissing",
          "MatchmakingCreateRequestGiveUpAfterInvalid",
          "MatchmakingCreateRequestMissing",
          "MatchmakingCreateTicketClientIdentityInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerIdentityMismatch",
          "MatchmakingPlayerIdMissing",
          "MatchmakingQueueNameMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/CreateServerMatchmakingTicket": {
      "post": {
        "operationId": "CreateServerMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Create a matchmaking ticket as a server. The matchmaking service automatically starts matching the ticket against other matchmaking tickets.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateServerMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateServerMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The server specifies all the members and their attributes.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingCreateRequestGiveUpAfterInvalid",
          "MatchmakingCreateRequestUserListMissing",
          "MatchmakingCreateTicketServerIdentityInvalid",
          "MatchmakingEntityInvalid",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerIdMissing",
          "MatchmakingQueueNameMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/GetMatch": {
      "post": {
        "operationId": "GetMatch",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a match.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatch"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
                  "Members": []
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "When matchmaking has successfully matched together a collection of tickets, it produces a 'match' with an Id. The match contains all of the players that were matched together, and their team assigments. Only servers and ticket members can get the match.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingMatchIdIdMissing",
          "MatchmakingMatchIdMissing",
          "MatchmakingMatchNotFound",
          "MatchmakingQueueNameMissing",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/GetMatchmakingQueue": {
      "post": {
        "operationId": "GetMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "Get a matchmaking queue configuration.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatchmakingQueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchmakingQueueResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the current configuration for a queue.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueConfigNotFound",
          "NotAuthorized"
        ]
      }
    },
    "/Match/GetMatchmakingTicket": {
      "post": {
        "operationId": "GetMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get a matchmaking ticket by ticket Id.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "TicketId": "1c4b0daa-150e-47ae-9923-d770c0f9b07c",
                  "QueueName": "custom123",
                  "MatchId": "4e0c5fd7-80e9-4744-b0ce-061a7f067ff5",
                  "Created": "2016-08-23T12:33:14",
                  "Status": "MATCHED",
                  "GiveUpAfterSeconds": 100,
                  "MembersToMatchWith": [
                    {
                      "Id": "123123123",
                      "Type": "title_player_acount",
                      "TypeString": "title_player_acount"
                    }
                  ],
                  "Members": [],
                  "Creator": {
                    "Id": "123123123",
                    "Type": "title_player_acount",
                    "TypeString": "title_player_acount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The ticket includes the invited players, their attributes if they have joined, the ticket status, the match Id when applicable, etc. Only servers, the ticket creator and the invited players can get the ticket.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingGetMatchIdentityMismatch",
          "MatchmakingGetTicketUserMismatch",
          "MatchmakingQueueNameMissing",
          "MatchmakingTicketIdIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTicketNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/GetQueueStatistics": {
      "post": {
        "operationId": "GetQueueStatistics",
        "tags": [
          "Matchmaking"
        ],
        "description": "Get the statistics for a queue.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetQueueStatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetQueueStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetQueueStatisticsResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "NumberOfPlayersMatching": 563,
                  "TimeToMatchStatisticsInSeconds": {
                    "Average": 2.2,
                    "Percentile50": 2.1,
                    "Percentile90": 2.21,
                    "Percentile99": 3.0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the matchmaking statistics for a queue. These include the number of players matching and the statistics related to the time to match statistics in seconds (average and percentiles). Statistics are refreshed once every 5 minutes. Servers can access all statistics no matter what the ClientStatisticsVisibility is configured to. Clients can access statistics according to the ClientStatisticsVisibility. Client requests are forbidden if all visibility fields are false.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingEntityInvalid",
          "MatchmakingGetStatisticsIdentityInvalid",
          "MatchmakingQueueConfigNotFound",
          "MatchmakingQueueNameMissing",
          "MatchmakingStatisticsIdMissing",
          "MatchmakingTitleIdMissing",
          "NotAuthorized"
        ]
      }
    },
    "/Match/JoinMatchmakingTicket": {
      "post": {
        "operationId": "JoinMatchmakingTicket",
        "tags": [
          "Matchmaking"
        ],
        "description": "Join a matchmaking ticket.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/JoinMatchmakingTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/JoinMatchmakingTicketRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/JoinMatchmakingTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Add the player to a matchmaking ticket and specify all of its matchmaking attributes. Players can join a ticket if and only if their EntityKeys are already listed in the ticket's Members list. The matchmaking service automatically starts matching the ticket against other matchmaking tickets once all players have joined the ticket. It is not possible to join a ticket once it has started matching.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingAlreadyJoinedTicket",
          "MatchmakingEntityInvalid",
          "MatchmakingJoinRequestUserMissing",
          "MatchmakingJoinTicketServerIdentityInvalid",
          "MatchmakingJoinTicketUserIdentityMismatch",
          "MatchmakingMemberProfileInvalid",
          "MatchmakingPlayerAttributesInvalid",
          "MatchmakingPlayerIdentityMismatch",
          "MatchmakingPlayerIdMissing",
          "MatchmakingQueueNameMissing",
          "MatchmakingTicketAlreadyCompleted",
          "MatchmakingTicketIdIdMissing",
          "MatchmakingTicketIdMissing",
          "MatchmakingTicketNotFound",
          "MatchmakingTitleIdMissing"
        ]
      }
    },
    "/Match/ListMatchmakingQueues": {
      "post": {
        "operationId": "ListMatchmakingQueues",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "List all matchmaking queue configs.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListMatchmakingQueues"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMatchmakingQueuesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListMatchmakingQueuesResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a list of all the matchmaking queue configurations for the title.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthorized"
        ]
      }
    },
    "/Match/RemoveMatchmakingQueue": {
      "post": {
        "operationId": "RemoveMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "Remove a matchmaking queue config.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RemoveMatchmakingQueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RemoveMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/RemoveMatchmakingQueueResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes the configuration for a queue. This will permanently delete the configuration and players will no longer be able to match in the queue. All outstanding matchmaking tickets will be cancelled.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "NotAuthorized"
        ]
      }
    },
    "/Match/SetMatchmakingQueue": {
      "post": {
        "operationId": "SetMatchmakingQueue",
        "tags": [
          "Matchmaking Admin"
        ],
        "description": "Create or update a matchmaking queue configuration.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/SetMatchmakingQueue"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SetMatchmakingQueueRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/SetMatchmakingQueueResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Use this API to create or update matchmaking queue configurations. The queue configuration defines the matchmaking rules. The matchmaking service will match tickets together according to the configured rules. Queue resources are not spun up by calling this API. Queues are created when the first ticket is submitted.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MatchmakingQueueConfigInvalid",
          "NotAuthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithCustomContainer": {
      "post": {
        "operationId": "CreateBuildWithCustomContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a custom container.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithCustomContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithCustomContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateBuildWithCustomContainerResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ContainerRunCommand": "/data/Assets -startserver",
                  "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
                  "BuildName": "GameBuildName",
                  "CreationTime": "2014-04-07T09:04:28",
                  "Metadata": {
                    "MetadataKey": "MetadataValue"
                  },
                  "VmSize": "Standard_D2_v2",
                  "ContainerFlavor": "CustomLinux",
                  "Ports": [
                    {
                      "Name": "PortName",
                      "Num": 1243
                    }
                  ],
                  "RegionConfigurations": [
                    {
                      "Region": "EastUs",
                      "Status": "Initializing",
                      "MaxServers": 10,
                      "StandbyServers": 5
                    },
                    {
                      "Region": "WestUs",
                      "Status": "Succeeded",
                      "MaxServers": 12,
                      "StandbyServers": 8
                    },
                    {
                      "Region": "NorthEurope",
                      "Status": "Unhealthy",
                      "MaxServers": 7,
                      "StandbyServers": 3
                    }
                  ],
                  "GameAssetReferences": [
                    {
                      "FileName": "gameserver.zip",
                      "MountPath": "/data/Assets"
                    }
                  ],
                  "GameCertificateReferences": [
                    {
                      "Name": "CertName",
                      "GsdkAlias": "CertGsdkAlias"
                    }
                  ],
                  "MultiplayerServerCountPerVm": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a custom container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithManagedContainer": {
      "post": {
        "operationId": "CreateBuildWithManagedContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a managed container.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithManagedContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithManagedContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateBuildWithManagedContainerResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "StartMultiplayerServerCommand": "C:\\Assets\\gameserver.exe -startserver",
                  "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
                  "BuildName": "GameBuildName",
                  "CreationTime": "2014-04-07T09:04:28",
                  "Metadata": {
                    "MetadataKey": "MetadataValue"
                  },
                  "VmSize": "Standard_D2_v2",
                  "Ports": [
                    {
                      "Name": "PortName",
                      "Num": 1243
                    }
                  ],
                  "RegionConfigurations": [
                    {
                      "Region": "EastUs",
                      "Status": "Initializing",
                      "MaxServers": 10,
                      "StandbyServers": 5
                    },
                    {
                      "Region": "WestUs",
                      "Status": "Succeeded",
                      "MaxServers": 12,
                      "StandbyServers": 8
                    },
                    {
                      "Region": "NorthEurope",
                      "Status": "Unhealthy",
                      "MaxServers": 7,
                      "StandbyServers": 3
                    }
                  ],
                  "GameAssetReferences": [
                    {
                      "FileName": "gameserver.zip",
                      "MountPath": "C:\\Asset\\"
                    }
                  ],
                  "GameCertificateReferences": [
                    {
                      "Name": "CertName",
                      "GsdkAlias": "CertGsdkAlias"
                    }
                  ],
                  "MultiplayerServerCountPerVm": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a managed container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateRemoteUser": {
      "post": {
        "operationId": "CreateRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateRemoteUserResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteAsset": {
      "post": {
        "operationId": "DeleteAsset",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game asset for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteAsset"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteAssetRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game asset for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListAssetSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteBuild": {
      "post": {
        "operationId": "DeleteBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/DeleteCertificate": {
      "post": {
        "operationId": "DeleteCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteRemoteUser": {
      "post": {
        "operationId": "DeleteRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/EnableMultiplayerServersForTitle": {
      "post": {
        "operationId": "EnableMultiplayerServersForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Enables the multiplayer server feature for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/EnableMultiplayerServersForTitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EnableMultiplayerServersForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EnableMultiplayerServersForTitleResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Enables the multiplayer server feature for a title and returns the enabled status. The enabled status can be Initializing, Enabled, and Disabled. It can up to 20 minutes or more for the title to be enabled for the feature. On average, it can take up to 20 minutes for the title to be enabled for the feature.",
        "x-seeAlso": [
          "MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetAssetUploadUrl": {
      "post": {
        "operationId": "GetAssetUploadUrl",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the URL to upload assets to.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetAssetUploadUrl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetUploadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAssetUploadUrlResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "FileName": "gameserver.zip",
                  "AssetUploadUrl": "https://2mxyjirehzyc6.blob.core.windows.net/gameassets/gameserver.zip?sv=2015-04-05&ss=b&srt=sco&sp=rw&st=2018-08-21T20%3A27%3A47.5613204Z&se=2018-08-22T01%3A27%3A47.5613204Z&spr=https&sig=SJH%2B1rgFm6%2F6EkUWVPCI5pSR49W5EbZ4L51sDBlkAtE%3D&api-version=2017-07-29"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the URL to upload assets to.",
        "x-seeAlso": [
          "MultiplayerServer/ListAssetSummaries",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetBuild": {
      "post": {
        "operationId": "GetBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetBuildResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
                  "BuildName": "GameBuildName",
                  "CreationTime": "2014-04-07T09:04:28",
                  "Metadata": {
                    "MetadataKey": "MetadataValue"
                  },
                  "VmSize": "Standard_D2_v2",
                  "Ports": [
                    {
                      "Name": "PortName",
                      "Num": 1243
                    }
                  ],
                  "RegionConfigurations": [
                    {
                      "Region": "EastUs",
                      "Status": "Initializing",
                      "MaxServers": 10,
                      "StandbyServers": 5
                    },
                    {
                      "Region": "WestUs",
                      "Status": "Succeeded",
                      "MaxServers": 12,
                      "StandbyServers": 8
                    },
                    {
                      "Region": "NorthEurope",
                      "Status": "Unhealthy",
                      "MaxServers": 7,
                      "StandbyServers": 3
                    }
                  ],
                  "GameAssetReferences": [
                    {
                      "FileName": "gameserver.zip",
                      "MountPath": "C:\\Asset\\"
                    }
                  ],
                  "GameCertificateReferences": [
                    {
                      "Name": "CertName",
                      "GsdkAlias": "CertGsdkAlias"
                    }
                  ],
                  "StartMultiplayerServerCommand": "C:\\Assets\\gameserver.exe -startserver",
                  "MultiplayerServerCountPerVm": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the details about a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetCognitiveServicesToken": {
      "post": {
        "operationId": "GetCognitiveServicesToken",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a token for the cognitive services based on the specified service type.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetCognitiveServicesToken"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCognitiveServicesTokenRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCognitiveServicesTokenResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c",
                  "ServiceEndpoint": "https://westus.stt.speech.microsoft.com/speech/recognition/conversation/cognitiveservices/v1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a token for the cognitive services where translation queries can be sent to.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetContainerRegistryCredentials": {
      "post": {
        "operationId": "GetContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the credentials to the container registry.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetContainerRegistryCredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetContainerRegistryCredentialsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "DnsName": "registry.azurecr.io",
                  "Username": "RegistryUser",
                  "Password": "RegistryPassword"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithCustomContainer",
          "MultiplayerServer/RolloverContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerDetails": {
      "post": {
        "operationId": "GetMultiplayerServerDetails",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server session details for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMultiplayerServerDetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMultiplayerServerDetailsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
                  "ServerId": "AMultiplayerGameServer",
                  "VmId": "VmID1",
                  "IPV4Address": "10.250.24.54",
                  "Ports": [
                    {
                      "Name": "PortName",
                      "Num": 1243
                    }
                  ],
                  "Region": "SouthCentralUs",
                  "State": "Active",
                  "ConnectedPlayers": [
                    {
                      "PlayerId": "10931352888739351331"
                    },
                    {
                      "PlayerId": "10271352123739051532"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server session details for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerLogs": {
      "post": {
        "operationId": "GetMultiplayerServerLogs",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server logs.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMultiplayerServerLogs"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerLogsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetMultiplayerServerLogsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "LogDownloadUrl": "TheLogDownloadUrl"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server logs for a specific server id in a region.",
        "x-AnyInclusiveFlags": [
          "Beta"
        ],
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GetRemoteLoginEndpoint",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetRemoteLoginEndpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetRemoteLoginEndpointResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "IPV4Address": "10.250.24.54",
                  "Port": 1234
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus": {
      "post": {
        "operationId": "GetTitleEnabledForMultiplayerServersStatus",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the status of whether a title is enabled for the multiplayer server feature.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetTitleEnabledForMultiplayerServersStatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleEnabledForMultiplayerServersStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetTitleEnabledForMultiplayerServersStatusResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Status": "Disabled"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the status of whether a title is enabled for the multiplayer server feature. The enabled status can be Initializing, Enabled, and Disabled.",
        "x-seeAlso": [
          "MultiplayerServer/EnableMultiplayerServersForTitle"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListAssetSummaries": {
      "post": {
        "operationId": "ListAssetSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game assets for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListAssetSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListAssetSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListAssetSummariesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "AssetSummaries": [
                    {
                      "FileName": "gameserver.zip",
                      "Metadata": {
                        "MetadataKey": "MetaDataValue"
                      }
                    }
                  ],
                  "PageSize": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game asset summaries for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildSummaries": {
      "post": {
        "operationId": "ListBuildSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists summarized details of all multiplayer server builds for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListBuildSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListBuildSummariesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListCertificateSummaries": {
      "post": {
        "operationId": "ListCertificateSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game certificates for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListCertificateSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificateSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListCertificateSummariesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "CertificateSummaries": [
                    {
                      "Name": "GameCertificate1",
                      "Thumbprint": "Thumbprint1"
                    },
                    {
                      "Name": "GameCertificate2",
                      "Thumbprint": "Thumbprint2"
                    }
                  ],
                  "PageSize": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game certificates for a title.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImages": {
      "post": {
        "operationId": "ListContainerImages",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists custom container images for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListContainerImages"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImagesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListContainerImagesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Images": [
                    "ImageName1",
                    "ImageName2"
                  ],
                  "PageSize": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the container images that have been uploaded to the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials",
          "MultiplayerServer/ListContainerImageTags"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImageTags": {
      "post": {
        "operationId": "ListContainerImageTags",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists the tags for a custom container image.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListContainerImageTags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImageTagsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListContainerImageTagsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Tags": [
                    "ImageTag1",
                    "ImageTag2"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the tags for a particular container image that exists in the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/ListContainerImages"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListMultiplayerServers": {
      "post": {
        "operationId": "ListMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListMultiplayerServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListMultiplayerServersResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "MultiplayerServerSummaries": [
                    {
                      "ServerId": "AMultiplayerGameServer",
                      "VmId": "VmID1",
                      "Region": "SouthCentralUs",
                      "State": "Active",
                      "ConnectedPlayers": [
                        {
                          "PlayerId": "10931352888739351331"
                        },
                        {
                          "PlayerId": "10271352123739051532"
                        }
                      ]
                    },
                    {
                      "ServerId": "SomeOtherMultiplayerGameServer",
                      "VmId": "VmID2",
                      "Region": "SouthCentralUs",
                      "State": "Terminated",
                      "ConnectedPlayers": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListQosServers": {
      "post": {
        "operationId": "ListQosServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListQosServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersRequest"
          }
        ],
        "security": [
          {
            "None": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListQosServersResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "QosServers": [
                    {
                      "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
                      "Region": "WestUs"
                    },
                    {
                      "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
                      "Region": "SouthCentralUs"
                    },
                    {
                      "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
                      "Region": "EastUs"
                    },
                    {
                      "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
                      "Region": "NorthEurope"
                    },
                    {
                      "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
                      "Region": "WestEurope"
                    }
                  ],
                  "PageSize": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListVirtualMachineSummaries": {
      "post": {
        "operationId": "ListVirtualMachineSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists virtual machines for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListVirtualMachineSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualMachineSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListVirtualMachineSummariesResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "VirtualMachines": [
                    {
                      "VmId": "VmID1",
                      "State": "Running",
                      "HealthStatus": "Healthy"
                    },
                    {
                      "VmId": "VmID2",
                      "State": "Propping",
                      "HealthStatus": "Healthy"
                    }
                  ],
                  "PageSize": 10
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of virtual machines for a title.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RequestMultiplayerServer": {
      "post": {
        "operationId": "RequestMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Request a multiplayer server session. Accepts tokens for title and if game client accesss is enabled, allows game client to request a server with player entity token.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RequestMultiplayerServer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RequestMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/RequestMultiplayerServerResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
                  "ServerId": "AMultiplayerGameServer",
                  "VmId": "80c00b02-a559-4961-9b31-4a04b39e26a6",
                  "IPV4Address": "10.250.24.54",
                  "Ports": [
                    {
                      "Name": "PortName",
                      "Num": 1243
                    }
                  ],
                  "Region": "SouthCentralUs",
                  "State": "Active",
                  "ConnectedPlayers": [
                    {
                      "PlayerId": "10931352888739351331"
                    },
                    {
                      "PlayerId": "10271352123739051532"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Requests a multiplayer server session from a particular build in any of the given preferred regions.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RolloverContainerRegistryCredentials": {
      "post": {
        "operationId": "RolloverContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Rolls over the credentials to the container registry.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RolloverContainerRegistryCredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RolloverContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/RolloverContainerRegistryCredentialsResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "DnsName": "registry.azurecr.io",
                  "Username": "RegistryUser",
                  "Password": "NewRegistryPassword"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets new credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ShutdownMultiplayerServer": {
      "post": {
        "operationId": "ShutdownMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Shuts down a multiplayer server session.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ShutdownMultiplayerServer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ShutdownMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes the shutdown callback from the GSDK and terminates the multiplayer server session. The callback in the GSDK will allow for graceful shutdown with a 15 minute timeoutIf graceful shutdown has not been completed before 15 minutes have elapsed, the multiplayer server session will be forcefully terminated on it's own.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/UpdateBuildRegions": {
      "post": {
        "operationId": "UpdateBuildRegions",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Updates a multiplayer server build's regions.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UpdateBuildRegions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateBuildRegionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Updates a multiplayer server build's regions.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/UploadCertificate": {
      "post": {
        "operationId": "UploadCertificate",
        "tags": [
          "MultiplayerServer"
        ],
[...]
