{
  "swagger": "2.0",
  "info": {
    "version": "181128",
    "title": "PlayFab Multiplayer API",
    "description": "API methods for managing multiplayer servers.",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/MultiplayerServer/CreateBuildWithCustomContainer": {
      "post": {
        "operationId": "CreateBuildWithCustomContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a custom container.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithCustomContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithCustomContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithCustomContainerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a custom container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateBuildWithManagedContainer": {
      "post": {
        "operationId": "CreateBuildWithManagedContainer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a multiplayer server build with a managed container.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateBuildWithManagedContainer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateBuildWithManagedContainerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateBuildWithManagedContainerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a multiplayer server build with a managed container and returns information about the build creation request.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/CreateRemoteUser": {
      "post": {
        "operationId": "CreateRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Creates a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/CreateRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateRemoteUserResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Creates a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteAsset": {
      "post": {
        "operationId": "DeleteAsset",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game asset for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteAsset"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteAssetRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game asset for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListAssetSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteBuild": {
      "post": {
        "operationId": "DeleteBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/DeleteCertificate": {
      "post": {
        "operationId": "DeleteCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/DeleteRemoteUser": {
      "post": {
        "operationId": "DeleteRemoteUser",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Deletes a remote user to log on to a VM for a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/DeleteRemoteUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteRemoteUserRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes a remote user to log on to a VM for a multiplayer server build in a specific region. Returns user credential information necessary to log on.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser",
          "MultiplayerServer/GetRemoteLoginEndpoint"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/EnableMultiplayerServersForTitle": {
      "post": {
        "operationId": "EnableMultiplayerServersForTitle",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Enables the multiplayer server feature for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/EnableMultiplayerServersForTitle"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EnableMultiplayerServersForTitleRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EnableMultiplayerServersForTitleResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Enables the multiplayer server feature for a title and returns the enabled status. The enabled status can be Initializing, Enabled, and Disabled. It can up to 20 minutes or more for the title to be enabled for the feature. On average, it can take up to 20 minutes for the title to be enabled for the feature.",
        "x-seeAlso": [
          "MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus"
        ],
        "x-ms-docs-errors": [
          "CannotEnableMultiplayerServersForTitle",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetAssetUploadUrl": {
      "post": {
        "operationId": "GetAssetUploadUrl",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the URL to upload assets to.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetAssetUploadUrl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAssetUploadUrlRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAssetUploadUrlResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the URL to upload assets to.",
        "x-seeAlso": [
          "MultiplayerServer/ListAssetSummaries",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetBuild": {
      "post": {
        "operationId": "GetBuild",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetBuild"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetBuildRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetBuildResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns the details about a multiplayer server build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/GetContainerRegistryCredentials": {
      "post": {
        "operationId": "GetContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the credentials to the container registry.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetContainerRegistryCredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContainerRegistryCredentialsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithCustomContainer",
          "MultiplayerServer/RolloverContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetMultiplayerServerDetails": {
      "post": {
        "operationId": "GetMultiplayerServerDetails",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets multiplayer server session details for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetMultiplayerServerDetails"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetMultiplayerServerDetailsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetMultiplayerServerDetailsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets multiplayer server session details for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetRemoteLoginEndpoint": {
      "post": {
        "operationId": "GetRemoteLoginEndpoint",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetRemoteLoginEndpoint"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRemoteLoginEndpointRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetRemoteLoginEndpointResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets a remote login endpoint to a VM that is hosting a multiplayer server build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/CreateRemoteUser"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/GetTitleEnabledForMultiplayerServersStatus": {
      "post": {
        "operationId": "GetTitleEnabledForMultiplayerServersStatus",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Gets the status of whether a title is enabled for the multiplayer server feature.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/GetTitleEnabledForMultiplayerServersStatus"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleEnabledForMultiplayerServersStatusRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleEnabledForMultiplayerServersStatusResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets the status of whether a title is enabled for the multiplayer server feature. The enabled status can be Initializing, Enabled, and Disabled.",
        "x-seeAlso": [
          "MultiplayerServer/EnableMultiplayerServersForTitle"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListArchivedMultiplayerServers": {
      "post": {
        "operationId": "ListArchivedMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists archived multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListArchivedMultiplayerServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of archived multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListAssetSummaries": {
      "post": {
        "operationId": "ListAssetSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game assets for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListAssetSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListAssetSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListAssetSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game asset summaries for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetAssetUploadUrl",
          "MultiplayerServer/ListCertificateSummaries",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListBuildSummaries": {
      "post": {
        "operationId": "ListBuildSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists summarized details of all multiplayer server builds for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListBuildSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListBuildSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListBuildSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of summarized details of all multiplayer server builds for a title.",
        "x-seeAlso": [
          "MultiplayerServer/CreateBuildWithManagedContainer",
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListCertificateSummaries": {
      "post": {
        "operationId": "ListCertificateSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server game certificates for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListCertificateSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListCertificateSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListCertificateSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer server game certificates for a title.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/UploadCertificate"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImages": {
      "post": {
        "operationId": "ListContainerImages",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists custom container images for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListContainerImages"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImagesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListContainerImagesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the container images that have been uploaded to the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials",
          "MultiplayerServer/ListContainerImageTags"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListContainerImageTags": {
      "post": {
        "operationId": "ListContainerImageTags",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists the tags for a custom container image.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListContainerImageTags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListContainerImageTagsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListContainerImageTagsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of the tags for a particular container image that exists in the container registry for a title.",
        "x-seeAlso": [
          "MultiplayerServer/ListContainerImages"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListMultiplayerServers": {
      "post": {
        "operationId": "ListMultiplayerServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists multiplayer server sessions for a build.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListMultiplayerServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListMultiplayerServersRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListMultiplayerServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of multiplayer servers for a build in a specific region.",
        "x-seeAlso": [
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ListQosServers": {
      "post": {
        "operationId": "ListQosServers",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists quality of service servers.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListQosServers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListQosServersRequest"
          }
        ],
        "security": [
          {
            "None": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListQosServersResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of quality of service servers.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/ListVirtualMachineSummaries": {
      "post": {
        "operationId": "ListVirtualMachineSummaries",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Lists virtual machines for a title.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ListVirtualMachineSummaries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListVirtualMachineSummariesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListVirtualMachineSummariesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of virtual machines for a title.",
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RequestMultiplayerServer": {
      "post": {
        "operationId": "RequestMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Request a multiplayer server session. Accepts tokens for title and if game client accesss is enabled, allows game client to request a server with player entity token.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RequestMultiplayerServer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RequestMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RequestMultiplayerServerResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Requests a multiplayer server session from a particular build in any of the given preferred regions.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "MultiplayerServerBadRequest",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/RolloverContainerRegistryCredentials": {
      "post": {
        "operationId": "RolloverContainerRegistryCredentials",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Rolls over the credentials to the container registry.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/RolloverContainerRegistryCredentials"
        },
        "parameters": [
          {
            "$ref": "#/parameters/RolloverContainerRegistryCredentialsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/RolloverContainerRegistryCredentialsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Gets new credentials to the container registry where game developers can upload custom container images to before creating a new build.",
        "x-seeAlso": [
          "MultiplayerServer/GetContainerRegistryCredentials"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    },
    "/MultiplayerServer/ShutdownMultiplayerServer": {
      "post": {
        "operationId": "ShutdownMultiplayerServer",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Shuts down a multiplayer server session.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/ShutdownMultiplayerServer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ShutdownMultiplayerServerRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Executes the shutdown callback from the GSDK and terminates the multiplayer server session. The callback in the GSDK will allow for graceful shutdown with a 15 minute timeoutIf graceful shutdown has not been completed before 15 minutes have elapsed, the multiplayer server session will be forcefully terminated on it's own.",
        "x-seeAlso": [
          "MultiplayerServer/GetMultiplayerServerDetails",
          "MultiplayerServer/RequestMultiplayerServer"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/UpdateBuildRegions": {
      "post": {
        "operationId": "UpdateBuildRegions",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Updates a multiplayer server build's regions.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UpdateBuildRegions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateBuildRegionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Updates a multiplayer server build's regions.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteBuild",
          "MultiplayerServer/GetBuild",
          "MultiplayerServer/ListBuildSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerUnauthorized"
        ]
      }
    },
    "/MultiplayerServer/UploadCertificate": {
      "post": {
        "operationId": "UploadCertificate",
        "tags": [
          "MultiplayerServer"
        ],
        "description": "Uploads a multiplayer server game certificate.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/multiplayer/method/UploadCertificate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UploadCertificateRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Uploads a multiplayer server game certificate.",
        "x-seeAlso": [
          "MultiplayerServer/DeleteCertificate",
          "MultiplayerServer/ListCertificateSummaries"
        ],
        "x-ms-docs-errors": [
          "MultiplayerServerBadRequest",
          "MultiplayerServerConflict",
          "MultiplayerServerForbidden",
          "MultiplayerServerInternalServerError",
          "MultiplayerServerNoContent",
          "MultiplayerServerNotFound",
          "MultiplayerServerTooManyRequests",
          "MultiplayerServerUnauthorized",
          "MultiplayerServerUnavailable"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical Playfab error code",
          "type": "number",
          "x-actualtype": "int32"
        },
        "errorMessage": {
          "description": "Description for the Playfab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      }
    },
    "AssetReference": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name. This is a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        },
        "MountPath": {
          "description": "The asset's mount path.",
          "type": "string"
        }
      }
    },
    "AssetReferenceParams": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name. This must be a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        },
        "MountPath": {
          "description": "The asset's mount path.",
          "type": "string"
        }
      },
      "required": [
        "FileName",
        "MountPath"
      ]
    },
    "AssetSummary": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name. This is a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        },
        "Metadata": {
          "description": "The metadata associated with the asset.",
          "type": "object"
        }
      }
    },
    "AzureRegion": {
      "type": "object",
      "enum": [
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CentralUs",
        "EastAsia",
        "EastUs",
        "EastUs2",
        "JapanEast",
        "JapanWest",
        "NorthCentralUs",
        "NorthEurope",
        "SouthCentralUs",
        "SoutheastAsia",
        "WestEurope",
        "WestUs"
      ]
    },
    "AzureVmSize": {
      "type": "object",
      "enum": [
        "Standard_D1_v2",
        "Standard_D2_v2",
        "Standard_D3_v2",
        "Standard_D4_v2",
        "Standard_D5_v2",
        "Standard_A1_v2",
        "Standard_A2_v2",
        "Standard_A4_v2",
        "Standard_A8_v2",
        "Standard_A1",
        "Standard_A2",
        "Standard_A3",
        "Standard_A4"
      ]
    },
    "BuildRegion": {
      "type": "object",
      "properties": {
        "MaxServers": {
          "description": "The maximum number of multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The build region.",
          "type": "string",
          "x-isenum": true
        },
        "StandbyServers": {
          "description": "The number of standby multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Status": {
          "description": "The status of multiplayer servers in the build region.",
          "type": "string"
        }
      },
      "required": [
        "MaxServers",
        "StandbyServers"
      ]
    },
    "BuildRegionParams": {
      "type": "object",
      "properties": {
        "MaxServers": {
          "description": "The maximum number of multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The build region.",
          "type": "string",
          "x-isenum": true
        },
        "StandbyServers": {
          "description": "The number of standby multiplayer servers for the region.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Region",
        "MaxServers",
        "StandbyServers"
      ]
    },
    "BuildSummary": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        }
      }
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "Base64EncodedValue": {
          "description": "Base64 encoded string contents of the certificate.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the certificate. This is used to reference certificates in build configurations.",
          "type": "string"
        },
        "Password": {
          "description": "If required for your PFX certificate, use this field to provide a password that will be used to install the certificate on the container.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "Base64EncodedValue"
      ]
    },
    "CertificateSummary": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the certificate.",
          "type": "string"
        },
        "Thumbprint": {
          "description": "The thumbprint for the certificate.",
          "type": "string"
        }
      }
    },
    "ConnectedPlayer": {
      "type": "object",
      "properties": {
        "PlayerId": {
          "description": "The player ID of the player connected to the multiplayer server.",
          "type": "string"
        }
      }
    },
    "ContainerFlavor": {
      "type": "object",
      "enum": [
        "ManagedWindowsServerCore",
        "CustomLinux",
        "ManagedWindowsServerCorePreview"
      ]
    },
    "ContainerImageReference": {
      "type": "object",
      "properties": {
        "ImageName": {
          "description": "The container image name.",
          "type": "string"
        },
        "Tag": {
          "description": "The container tag.",
          "type": "string"
        }
      },
      "required": [
        "ImageName"
      ]
    },
    "CreateBuildWithCustomContainerRequest": {
      "type": "object",
      "properties": {
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container to create a build from.",
          "type": "string",
          "x-isenum": true
        },
        "ContainerRepositoryName": {
          "description": "The name of the container repository.",
          "type": "string"
        },
        "ContainerRunCommand": {
          "description": "The container command to run when the multiplayer server has been allocated, including any arguments.",
          "type": "string"
        },
        "ContainerTag": {
          "description": "The tag for the container.",
          "type": "string"
        },
        "GameAssetReferences": {
          "description": "The list of game assets related to the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReferenceParams"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReferenceParams"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "Metadata to tag the build.",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to host on a single VM.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports to map the build on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configurations for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegionParams"
          },
          "x-isclass": true
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size to create the build on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "ContainerRepositoryName",
        "BuildName",
        "MultiplayerServerCountPerVm",
        "Ports",
        "RegionConfigurations"
      ],
      "example": {
        "ContainerRunCommand": "/data/Assets -startserver",
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "/data/Assets"
          }
        ],
        "ContainerRepositoryName": "ContainerRepositoryName",
        "ContainerTag": "ContainerTag",
        "ContainerFlavor": "CustomLinux",
        "BuildName": "GameBuildName",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "MultiplayerServerCountPerVm": 10,
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ]
      }
    },
    "CreateBuildWithCustomContainerResponse": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID. Must be unique for every build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container of the build.",
          "type": "string",
          "x-isenum": true
        },
        "ContainerRunCommand": {
          "description": "The container command to run when the multiplayer server has been allocated, including any arguments.",
          "type": "string"
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "CustomGameContainerImage": {
          "$ref": "#/definitions/ContainerImageReference",
          "description": "The custom game container image reference information.",
          "type": "object",
          "x-isclass": true
        },
        "GameAssetReferences": {
          "description": "The game assets for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReference"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReference"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to host on a single VM of the build.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports the build is mapped on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configuration for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size the build was created on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "MultiplayerServerCountPerVm"
      ],
      "example": {
        "ContainerRunCommand": "/data/Assets -startserver",
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "BuildName": "GameBuildName",
        "CreationTime": "2014-04-07T09:04:28",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "ContainerFlavor": "CustomLinux",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "Status": "Initializing",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "Status": "Succeeded",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "Status": "Unhealthy",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "/data/Assets"
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ],
        "MultiplayerServerCountPerVm": 10
      }
    },
    "CreateBuildWithManagedContainerRequest": {
      "type": "object",
      "properties": {
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container to create a build from.",
          "type": "string",
          "x-isenum": true
        },
        "GameAssetReferences": {
          "description": "The list of game assets related to the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReferenceParams"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReferenceParams"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "Metadata to tag the build.",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to host on a single VM.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports to map the build on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configurations for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegionParams"
          },
          "x-isclass": true
        },
        "StartMultiplayerServerCommand": {
          "description": "The command to run when the multiplayer server is started, including any arguments.",
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size to create the build on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "StartMultiplayerServerCommand",
        "GameAssetReferences",
        "BuildName",
        "MultiplayerServerCountPerVm",
        "Ports",
        "RegionConfigurations"
      ],
      "example": {
        "StartMultiplayerServerCommand": "C:\\Assets\\gameserver.exe -startserver",
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "C:\\Asset\\"
          }
        ],
        "BuildName": "GameBuildName",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "MultiplayerServerCountPerVm": 10,
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ]
      }
    },
    "CreateBuildWithManagedContainerResponse": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID. Must be unique for every build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container of the build.",
          "type": "string",
          "x-isenum": true
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "GameAssetReferences": {
          "description": "The game assets for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReference"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReference"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to host on a single VM of the build.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports the build is mapped on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configuration for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        },
        "StartMultiplayerServerCommand": {
          "description": "The command to run when the multiplayer server has been allocated, including any arguments.",
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size the build was created on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "MultiplayerServerCountPerVm"
      ],
      "example": {
        "StartMultiplayerServerCommand": "C:\\Assets\\gameserver.exe -startserver",
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "BuildName": "GameBuildName",
        "CreationTime": "2014-04-07T09:04:28",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "Status": "Initializing",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "Status": "Succeeded",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "Status": "Unhealthy",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "C:\\Asset\\"
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ],
        "MultiplayerServerCountPerVm": 10
      }
    },
    "CreateRemoteUserRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of to create the remote user for.",
          "type": "string"
        },
        "ExpirationTime": {
          "description": "The expiration time for the remote user created. Defaults to expiring in one day if not specified.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of virtual machine to create the remote user for.",
          "type": "string",
          "x-isenum": true
        },
        "Username": {
          "description": "The username to create the remote user with.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID the multiplayer server is located on.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId",
        "Username"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "VmId": "VmID1",
        "Username": "AUsername",
        "ExpirationTime": "2014-04-07T09:04:28"
      }
    },
    "CreateRemoteUserResponse": {
      "type": "object",
      "properties": {
        "ExpirationTime": {
          "description": "The expiration time for the remote user created.",
          "type": "string"
        },
        "Password": {
          "description": "The generated password for the remote user that was created.",
          "type": "string"
        },
        "Username": {
          "description": "The username for the remote user that was created.",
          "type": "string"
        }
      }
    },
    "DeleteAssetRequest": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The filename of the asset to delete. This must be a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        }
      },
      "required": [
        "FileName"
      ],
      "example": {
        "FileName": "gameserver.zip"
      }
    },
    "DeleteBuildRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the build to delete.",
          "type": "string"
        }
      },
      "required": [
        "BuildId"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285"
      }
    },
    "DeleteCertificateRequest": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the certificate.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "GameCertificate1"
      }
    },
    "DeleteRemoteUserRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server where the remote user is to delete.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of the multiplayer server where the remote user is to delete.",
          "type": "string",
          "x-isenum": true
        },
        "Username": {
          "description": "The username of the remote user to delete.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID the multiplayer server is located on.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId",
        "Username"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "VmId": "VmID1",
        "Username": "AUsername"
      }
    },
    "EmptyResponse": {
      "type": "object",
      "properties": {}
    },
    "EnableMultiplayerServersForTitleRequest": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "EnableMultiplayerServersForTitleResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "$ref": "#/definitions/TitleMultiplayerServerEnabledStatus",
          "description": "The enabled status for the multiplayer server features for the title.",
          "type": "string",
          "x-isenum": true
        }
      },
      "example": {}
    },
    "GameCertificateReference": {
      "type": "object",
      "properties": {
        "GsdkAlias": {
          "description": "An alias for the game certificate. The game server will reference this alias via GSDK config to retrieve the game certificate. This alias is used as an identifier in game server code to allow a new certificate with different Name field to be uploaded without the need to change any game server code to reference the new Name.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the game certificate. This name should match the name of a certificate that was previously uploaded to this title.",
          "type": "string"
        }
      }
    },
    "GameCertificateReferenceParams": {
      "type": "object",
      "properties": {
        "GsdkAlias": {
          "description": "An alias for the game certificate. The game server will reference this alias via GSDK config to retrieve the game certificate. This alias is used as an identifier in game server code to allow a new certificate with different Name field to be uploaded without the need to change any game server code to reference the new Name.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the game certificate. This name should match the name of a certificate that was previously uploaded to this title.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "GsdkAlias"
      ]
    },
    "GetAssetUploadUrlRequest": {
      "type": "object",
      "properties": {
        "FileName": {
          "description": "The asset's file name to get the upload URL for. This must be a filename with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        }
      },
      "required": [
        "FileName"
      ],
      "example": {
        "FileName": "gameserver.zip"
      }
    },
    "GetAssetUploadUrlResponse": {
      "type": "object",
      "properties": {
        "AssetUploadUrl": {
          "description": "The asset's upload URL.",
          "type": "string"
        },
        "FileName": {
          "description": "The asset's file name to get the upload URL for. This must be a filename will be a file with the .zip, .tar, or .tar.gz extension.",
          "type": "string"
        }
      },
      "example": {
        "FileName": "gameserver.zip",
        "AssetUploadUrl": "https://2mxyjirehzyc6.blob.core.windows.net/gameassets/gameserver.zip?sv=2015-04-05&ss=b&srt=sco&sp=rw&st=2018-08-21T20%3A27%3A47.5613204Z&se=2018-08-22T01%3A27%3A47.5613204Z&spr=https&sig=SJH%2B1rgFm6%2F6EkUWVPCI5pSR49W5EbZ4L51sDBlkAtE%3D&api-version=2017-07-29"
      }
    },
    "GetBuildRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the build to get.",
          "type": "string"
        }
      },
      "required": [
        "BuildId"
      ],
      "example": {
        "BuildId": "53781fa8-006d-4e9c-b733-57433d579285"
      }
    },
    "GetBuildResponse": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the build.",
          "type": "string"
        },
        "BuildName": {
          "description": "The build name.",
          "type": "string"
        },
        "BuildStatus": {
          "description": "The current build status.",
          "type": "string"
        },
        "ContainerFlavor": {
          "$ref": "#/definitions/ContainerFlavor",
          "description": "The flavor of container of he build.",
          "type": "string",
          "x-isenum": true
        },
        "ContainerRunCommand": {
          "description": "The container command to run when the multiplayer server has been allocated, including any arguments. This only applies to custom builds. If the build is a managed build, this field will be null.",
          "type": "string"
        },
        "CreationTime": {
          "description": "The time the build was created in UTC.",
          "type": "string"
        },
        "CustomGameContainerImage": {
          "$ref": "#/definitions/ContainerImageReference",
          "description": "The custom game container image for a custom build.",
          "type": "object",
          "x-isclass": true
        },
        "GameAssetReferences": {
          "description": "The game assets for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetReference"
          },
          "x-isclass": true
        },
        "GameCertificateReferences": {
          "description": "The game certificates for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GameCertificateReference"
          },
          "x-isclass": true
        },
        "Metadata": {
          "description": "The metadata of the build.",
          "type": "object"
        },
        "MultiplayerServerCountPerVm": {
          "description": "The number of multiplayer servers to hosted on a single VM of the build.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Ports": {
          "description": "The ports the build is mapped on.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "RegionConfigurations": {
          "description": "The region configuration for the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildRegion"
          },
          "x-isclass": true
        },
        "StartMultiplayerServerCommand": {
          "description": "The command to run when the multiplayer server has been allocated, including any arguments. This only applies to managed builds. If the build is a custom build, this field will be null.",
          "type": "string"
        },
        "VmSize": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "The VM size the build was created on.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "MultiplayerServerCountPerVm"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "BuildName": "GameBuildName",
        "BuildStatus": "Deployed",
        "CreationTime": "2014-04-07T09:04:28",
        "Metadata": {
          "MetadataKey": "MetadataValue"
        },
        "VmSize": "Standard_D2_v2",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "RegionConfigurations": [
          {
            "Region": "EastUs",
            "Status": "Initializing",
            "MaxServers": 10,
            "StandbyServers": 5
          },
          {
            "Region": "WestUs",
            "Status": "Succeeded",
            "MaxServers": 12,
            "StandbyServers": 8
          },
          {
            "Region": "NorthEurope",
            "Status": "Unhealthy",
            "MaxServers": 7,
            "StandbyServers": 3
          }
        ],
        "GameAssetReferences": [
          {
            "FileName": "gameserver.zip",
            "MountPath": "C:\\Asset\\"
          }
        ],
        "GameCertificateReferences": [
          {
            "Name": "CertName",
            "GsdkAlias": "CertGsdkAlias"
          }
        ],
        "StartMultiplayerServerCommand": "C:\\Assets\\gameserver.exe -startserver",
        "MultiplayerServerCountPerVm": 10
      }
    },
    "GetContainerRegistryCredentialsRequest": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "GetContainerRegistryCredentialsResponse": {
      "type": "object",
      "properties": {
        "DnsName": {
          "description": "The url of the container registry.",
          "type": "string"
        },
        "Password": {
          "description": "The password for accessing the container registry.",
          "type": "string"
        },
        "Username": {
          "description": "The username for accessing the container registry.",
          "type": "string"
        }
      },
      "example": {
        "DnsName": "registry.azurecr.io",
        "Username": "RegistryUser",
        "Password": "RegistryPassword"
      }
    },
    "GetMultiplayerServerDetailsRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server to get details for.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer server is located in to get details for.",
          "type": "string",
          "x-isenum": true
        },
        "SessionId": {
          "description": "The title generated guid string session ID of the multiplayer server to get details for. This is to keep track of multiplayer server sessions.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "SessionId",
        "Region"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
        "Region": "SouthCentralUs"
      }
    },
    "GetMultiplayerServerDetailsResponse": {
      "type": "object",
      "properties": {
        "ConnectedPlayers": {
          "description": "The connected players in the multiplayer server.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "IPV4Address": {
          "description": "The IPv4 address of the virtual machine that is hosting this multiplayer server.",
          "type": "string"
        },
        "LastStateTransitionTime": {
          "description": "The time (UTC) at which a change in the multiplayer server state was observed.",
          "type": "string"
        },
        "Ports": {
          "description": "The ports the multiplayer server uses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer server is located in.",
          "type": "string",
          "x-isenum": true
        },
        "ServerId": {
          "description": "The string server ID of the multiplayer server generated by PlayFab.",
          "type": "string"
        },
        "SessionId": {
          "description": "The guid string session ID of the multiplayer server.",
          "type": "string"
        },
        "State": {
          "description": "The state of the multiplayer server.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID that the multiplayer server is located on.",
          "type": "string"
        }
      },
      "example": {
        "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
        "ServerId": "AMultiplayerGameServer",
        "VmId": "VmID1",
        "IPV4Address": "10.250.24.54",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "Region": "SouthCentralUs",
        "State": "Active",
        "ConnectedPlayers": [
          {
            "PlayerId": "10931352888739351331"
          },
          {
            "PlayerId": "10271352123739051532"
          }
        ]
      }
    },
    "GetRemoteLoginEndpointRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server to get remote login information for.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of the multiplayer server to get remote login information for.",
          "type": "string",
          "x-isenum": true
        },
        "VmId": {
          "description": "The virtual machine ID the multiplayer server is located on.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region",
        "VmId"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "VmId": "VmID1"
      }
    },
    "GetRemoteLoginEndpointResponse": {
      "type": "object",
      "properties": {
        "IPV4Address": {
          "description": "The remote login IPV4 address of multiplayer server.",
          "type": "string"
        },
        "Port": {
          "description": "The remote login port of multiplayer server.",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Port"
      ],
      "example": {
        "IPV4Address": "10.250.24.54",
        "Port": 1234
      }
    },
    "GetTitleEnabledForMultiplayerServersStatusRequest": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "GetTitleEnabledForMultiplayerServersStatusResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "$ref": "#/definitions/TitleMultiplayerServerEnabledStatus",
          "description": "The enabled status for the multiplayer server features for the title.",
          "type": "string",
          "x-isenum": true
        }
      },
      "example": {
        "Status": "Disabled"
      }
    },
    "ListAssetSummariesRequest": {
      "type": "object",
      "properties": {
        "PageSize": {
          "description": "The page size for the request.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged request.",
          "type": "string"
        }
      },
      "example": {
        "PageSize": 10
      }
    },
    "ListAssetSummariesResponse": {
      "type": "object",
      "properties": {
        "AssetSummaries": {
          "description": "The list of asset summaries.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetSummary"
          },
          "x-isclass": true
        },
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        }
      },
      "required": [
        "PageSize"
      ],
      "example": {
        "AssetSummaries": [
          {
            "FileName": "gameserver.zip",
            "Metadata": {
              "MetadataKey": "MetaDataValue"
            }
          }
        ],
        "PageSize": 10
      }
    },
    "ListBuildSummariesRequest": {
      "type": "object",
      "properties": {
        "PageSize": {
          "description": "The page size for the request.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged request.",
          "type": "string"
        }
      },
      "example": {
        "PageSize": 10
      }
    },
    "ListBuildSummariesResponse": {
      "type": "object",
      "properties": {
        "BuildSummaries": {
          "description": "The list of build summaries for a title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildSummary"
          },
          "x-isclass": true
        },
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        }
      },
      "required": [
        "PageSize"
      ]
    },
    "ListCertificateSummariesRequest": {
      "type": "object",
      "properties": {
        "PageSize": {
          "description": "The page size for the request.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged request.",
          "type": "string"
        }
      },
      "example": {
        "PageSize": 10
      }
    },
    "ListCertificateSummariesResponse": {
      "type": "object",
      "properties": {
        "CertificateSummaries": {
          "description": "The list of game certificates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateSummary"
          },
          "x-isclass": true
        },
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        }
      },
      "required": [
        "PageSize"
      ],
      "example": {
        "CertificateSummaries": [
          {
            "Name": "GameCertificate1",
            "Thumbprint": "Thumbprint1"
          },
          {
            "Name": "GameCertificate2",
            "Thumbprint": "Thumbprint2"
          }
        ],
        "PageSize": 10
      }
    },
    "ListContainerImagesRequest": {
      "type": "object",
      "properties": {
        "PageSize": {
          "description": "The page size for the request.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged request.",
          "type": "string"
        }
      },
      "example": {
        "PageSize": 10
      }
    },
    "ListContainerImagesResponse": {
      "type": "object",
      "properties": {
        "Images": {
          "description": "The list of container images.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        }
      },
      "required": [
        "PageSize"
      ],
      "example": {
        "Images": [
          "ImageName1",
          "ImageName2"
        ],
        "PageSize": 10
      }
    },
    "ListContainerImageTagsRequest": {
      "type": "object",
      "properties": {
        "ImageName": {
          "description": "The container images we want to list tags for.",
          "type": "string"
        }
      },
      "example": {
        "ImageName": "imageName1"
      }
    },
    "ListContainerImageTagsResponse": {
      "type": "object",
      "properties": {
        "Tags": {
          "description": "The list of tags for a particular container image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "Tags": [
          "ImageTag1",
          "ImageTag2"
        ]
      }
    },
    "ListMultiplayerServersRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer servers to list.",
          "type": "string"
        },
        "PageSize": {
          "description": "The page size for the request.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer servers to list.",
          "type": "string",
          "x-isenum": true
        },
        "SkipToken": {
          "description": "The skip token for the paged request.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs"
      }
    },
    "ListMultiplayerServersResponse": {
      "type": "object",
      "properties": {
        "MultiplayerServerSummaries": {
          "description": "The list of multiplayer server summary details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MultiplayerServerSummary"
          },
          "x-isclass": true
        },
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        }
      },
      "required": [
        "PageSize"
      ],
      "example": {
        "MultiplayerServerSummaries": [
          {
            "ServerId": "AMultiplayerGameServer",
            "VmId": "VmID1",
            "Region": "SouthCentralUs",
            "State": "Active",
            "ConnectedPlayers": [
              {
                "PlayerId": "10931352888739351331"
              },
              {
                "PlayerId": "10271352123739051532"
              }
            ]
          },
          {
            "ServerId": "SomeOtherMultiplayerGameServer",
            "VmId": "VmID2",
            "Region": "SouthCentralUs",
            "State": "Terminated",
            "ConnectedPlayers": []
          }
        ]
      }
    },
    "ListQosServersRequest": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "ListQosServersResponse": {
      "type": "object",
      "properties": {
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "QosServers": {
          "description": "The list of QoS servers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QosServer"
          },
          "x-isclass": true
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        }
      },
      "required": [
        "PageSize"
      ],
      "example": {
        "QosServers": [
          {
            "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
            "Region": "WestUs"
          },
          {
            "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
            "Region": "SouthCentralUs"
          },
          {
            "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
            "Region": "EastUs"
          },
          {
            "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
            "Region": "NorthEurope"
          },
          {
            "ServerUrl": "xblcxplatqos-wus-9-18-2-0.cloudapp.net",
            "Region": "WestEurope"
          }
        ],
        "PageSize": 10
      }
    },
    "ListVirtualMachineSummariesRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the virtual machines to list.",
          "type": "string"
        },
        "PageSize": {
          "description": "The page size for the request.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region of the virtual machines to list.",
          "type": "string",
          "x-isenum": true
        },
        "SkipToken": {
          "description": "The skip token for the paged request.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "Region"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "Region": "SouthCentralUs",
        "PageSize": 10
      }
    },
    "ListVirtualMachineSummariesResponse": {
      "type": "object",
      "properties": {
        "PageSize": {
          "description": "The page size on the response.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "SkipToken": {
          "description": "The skip token for the paged response.",
          "type": "string"
        },
        "VirtualMachines": {
          "description": "The list of virtual machine summaries.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachineSummary"
          },
          "x-isclass": true
        }
      },
      "required": [
        "PageSize"
      ],
      "example": {
        "VirtualMachines": [
          {
            "VmId": "VmID1",
            "State": "Running",
            "HealthStatus": "Healthy"
          },
          {
            "VmId": "VmID2",
            "State": "Propping",
            "HealthStatus": "Healthy"
          }
        ],
        "PageSize": 10
      }
    },
    "MultiplayerServerSummary": {
      "type": "object",
      "properties": {
        "ConnectedPlayers": {
          "description": "The connected players in the multiplayer server.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "LastStateTransitionTime": {
          "description": "The time (UTC) at which a change in the multiplayer server state was observed.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer server is located in.",
          "type": "string",
          "x-isenum": true
        },
        "ServerId": {
          "description": "The string server ID of the multiplayer server generated by PlayFab.",
          "type": "string"
        },
        "State": {
          "description": "The state of the multiplayer server.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID that the multiplayer server is located on.",
          "type": "string"
        }
      }
    },
    "Port": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name for the port.",
          "type": "string"
        },
        "Num": {
          "description": "The number for the port.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolType",
          "description": "The protocol for the port.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "Name",
        "Num",
        "Protocol"
      ]
    },
    "ProtocolType": {
      "type": "object",
      "enum": [
        "TCP",
        "UDP"
      ]
    },
    "QosServer": {
      "type": "object",
      "properties": {
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the QoS server is located in.",
          "type": "string",
          "x-isenum": true
        },
        "ServerUrl": {
          "description": "The QoS server URL.",
          "type": "string"
        }
      }
    },
    "RequestMultiplayerServerRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server to request.",
          "type": "string"
        },
        "InitialPlayers": {
          "description": "Initial list of players (potentially matchmade) allowed to connect to the game. The game server can use this list to validate players connecting to it.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "PreferredRegions": {
          "description": "The preferred regions to request a multiplayer server from.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureRegion"
          },
          "x-isenum": true
        },
        "SessionCookie": {
          "description": "Data encoded as a string that is passed to the game server when requested. This can be used to share a cryptographic secret for servers to authenticate clients or to communicate information such as game mode or map through the request flow.",
          "type": "string"
        },
        "SessionId": {
          "description": "A guid string session ID created track the multiplayer server session over its life.",
          "type": "string"
        }
      },
      "required": [
        "BuildId",
        "SessionId",
        "PreferredRegions"
      ],
      "example": {
        "BuildId": "21781fa8-096d-4d9c-b699-75433d579285",
        "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
        "SessionCookie": "U2Vzc2lvbkNvb2tpZQ==",
        "InitialPlayers": [
          "gamer1",
          "gamer2"
        ],
        "PreferredRegions": [
          "SouthCentralUs",
          "WestUs"
        ]
      }
    },
    "RequestMultiplayerServerResponse": {
      "type": "object",
      "properties": {
        "ConnectedPlayers": {
          "description": "The connected players in the multiplayer server.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectedPlayer"
          },
          "x-isclass": true
        },
        "IPV4Address": {
          "description": "The IPv4 address of the virtual machine that is hosting this multiplayer server.",
          "type": "string"
        },
        "LastStateTransitionTime": {
          "description": "The time (UTC) at which a change in the multiplayer server state was observed.",
          "type": "string"
        },
        "Ports": {
          "description": "The ports the multiplayer server uses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Port"
          },
          "x-isclass": true
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
          "description": "The region the multiplayer server is located in.",
          "type": "string",
          "x-isenum": true
        },
        "ServerId": {
          "description": "The string server ID of the multiplayer server generated by PlayFab.",
          "type": "string"
        },
        "SessionId": {
          "description": "The guid string session ID of the multiplayer server.",
          "type": "string"
        },
        "State": {
          "description": "The state of the multiplayer server.",
          "type": "string"
        },
        "VmId": {
          "description": "The virtual machine ID that the multiplayer server is located on.",
          "type": "string"
        }
      },
      "example": {
        "SessionId": "02bdef0e-e01e-4b29-8efe-ff9f47a06d8c",
        "ServerId": "AMultiplayerGameServer",
        "VmId": "80c00b02-a559-4961-9b31-4a04b39e26a6",
        "IPV4Address": "10.250.24.54",
        "Ports": [
          {
            "Name": "PortName",
            "Num": 1243
          }
        ],
        "Region": "SouthCentralUs",
        "State": "Active",
        "ConnectedPlayers": [
          {
            "PlayerId": "10931352888739351331"
          },
          {
            "PlayerId": "10271352123739051532"
          }
        ]
      }
    },
    "RolloverContainerRegistryCredentialsRequest": {
      "type": "object",
      "properties": {},
      "example": {}
    },
    "RolloverContainerRegistryCredentialsResponse": {
      "type": "object",
      "properties": {
        "DnsName": {
          "description": "The url of the container registry.",
          "type": "string"
        },
        "Password": {
          "description": "The password for accessing the container registry.",
          "type": "string"
        },
        "Username": {
          "description": "The username for accessing the container registry.",
          "type": "string"
        }
      },
      "example": {
        "DnsName": "registry.azurecr.io",
        "Username": "RegistryUser",
        "Password": "NewRegistryPassword"
      }
    },
    "ShutdownMultiplayerServerRequest": {
      "type": "object",
      "properties": {
        "BuildId": {
          "description": "The guid string build ID of the multiplayer server to delete.",
          "type": "string"
        },
        "Region": {
          "$ref": "#/definitions/AzureRegion",
[...]
