{
  "swagger": "2.0",
  "info": {
    "version": "250606",
    "title": "PlayFab Progression API",
    "description": "Manage entity statistics Manage entity leaderboards",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Leaderboard/CreateLeaderboardDefinition": {
      "post": {
        "operationId": "CreateLeaderboardDefinition",
        "tags": [
          "Leaderboards"
        ],
        "description": "Creates a new leaderboard definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/createleaderboarddefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateLeaderboardDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/DeleteLeaderboardDefinition"
        ],
        "x-ms-docs-errors": [
          "ApiNotEnabledForTitle",
          "DuplicateColumnNameFound",
          "DuplicateLinkedStatisticColumnNameFound",
          "EntityTypeMismatchWithStatDefinition",
          "ExternalEntityNotAllowedForTier",
          "InvalidBaseTimeForInterval",
          "LeaderboardCountLimitExceeded",
          "LeaderboardNameConflict",
          "LeaderboardSizeLimitExceeded",
          "LinkedStatisticColumnMismatch",
          "LinkedStatisticColumnNotFound",
          "LinkedStatisticColumnRequired",
          "LinkingStatsNotAllowedForEntityType",
          "MaxQueryableVersionsValueNotAllowedForTier",
          "MultipleLinkedStatisticsNotAllowed",
          "StatDefinitionAlreadyLinkedToLeaderboard",
          "StatisticNotFound"
        ]
      }
    },
    "/Leaderboard/DeleteLeaderboardDefinition": {
      "post": {
        "operationId": "DeleteLeaderboardDefinition",
        "tags": [
          "Leaderboards"
        ],
        "description": "Deletes a leaderboard definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/deleteleaderboarddefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteLeaderboardDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/CreateLeaderboardDefinition"
        ],
        "x-ms-docs-errors": [
          "LeaderboardDefinitionModificationNotAllowedWhileLinked",
          "LeaderboardNotFound"
        ]
      }
    },
    "/Leaderboard/DeleteLeaderboardEntries": {
      "post": {
        "operationId": "DeleteLeaderboardEntries",
        "tags": [
          "Leaderboards"
        ],
        "description": "Deletes the specified entries from the given leaderboard.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/deleteleaderboardentries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteLeaderboardEntriesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/UpdateLeaderboardEntries"
        ],
        "x-ms-docs-errors": [
          "ApiNotEnabledForTitle",
          "LeaderboardNotFound",
          "LeaderboardUpdateNotAllowedWhileLinked"
        ]
      }
    },
    "/Leaderboard/GetFriendLeaderboardForEntity": {
      "post": {
        "operationId": "GetFriendLeaderboardForEntity",
        "tags": [
          "Leaderboards"
        ],
        "description": "Get the friend leaderboard for the specified entity. A maximum of 25 friend entries are listed in the leaderboard.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/getfriendleaderboardforentity"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendLeaderboardForEntityRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "AccountNotFound",
          "ApiNotEnabledForTitle",
          "DownstreamServiceUnavailable",
          "ExpiredXboxLiveToken",
          "FacebookAPIError",
          "InvalidEntityType",
          "InvalidSignature",
          "InvalidSignatureTime",
          "InvalidXboxLiveToken",
          "LeaderboardNotFound",
          "NoLeaderboardForStatistic",
          "PlayerSecretNotConfigured",
          "StatisticNotFound",
          "XboxInaccessible",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Leaderboard/GetLeaderboard": {
      "post": {
        "operationId": "GetLeaderboard",
        "tags": [
          "Leaderboards"
        ],
        "description": "Get the leaderboard for a specific entity type and statistic.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/getleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetEntityLeaderboardRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "LeaderboardNotFound",
          "NoLeaderboardForStatistic",
          "SpecifiedVersionLeaderboardNotFound",
          "StatisticNotFound"
        ]
      }
    },
    "/Leaderboard/GetLeaderboardAroundEntity": {
      "post": {
        "operationId": "GetLeaderboardAroundEntity",
        "tags": [
          "Leaderboards"
        ],
        "description": "Get the leaderboard around a specific entity.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/getleaderboardaroundentity"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundEntityRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "LeaderboardNotFound",
          "NoLeaderboardForStatistic",
          "SpecifiedVersionLeaderboardNotFound",
          "StatisticNotFound"
        ]
      }
    },
    "/Leaderboard/GetLeaderboardDefinition": {
      "post": {
        "operationId": "GetLeaderboardDefinition",
        "tags": [
          "Leaderboards"
        ],
        "description": "Gets the specified leaderboard definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/getleaderboarddefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardDefinitionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/DeleteLeaderboardDefinition"
        ],
        "x-ms-docs-errors": [
          "ApiNotEnabledForTitle",
          "LeaderboardColumnLengthMismatchWithStatDefinition",
          "LeaderboardNotFound"
        ]
      }
    },
    "/Leaderboard/GetLeaderboardForEntities": {
      "post": {
        "operationId": "GetLeaderboardForEntities",
        "tags": [
          "Leaderboards"
        ],
        "description": "Get the leaderboard limited to a set of entities.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/getleaderboardforentities"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardForEntitiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetEntityLeaderboardResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "ApiNotEnabledForTitle",
          "LeaderboardNotFound",
          "NoLeaderboardForStatistic",
          "SpecifiedVersionLeaderboardNotFound",
          "StatisticNotFound"
        ]
      }
    },
    "/Leaderboard/IncrementLeaderboardVersion": {
      "post": {
        "operationId": "IncrementLeaderboardVersion",
        "tags": [
          "Leaderboards"
        ],
        "description": "Increment a leaderboard version.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/incrementleaderboardversion"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IncrementLeaderboardVersionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/IncrementLeaderboardVersionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/CreateLeaderboardDefinition"
        ],
        "x-ms-docs-errors": [
          "ConcurrentEditError",
          "InvalidVersionResetForLinkedLeaderboard",
          "LeaderboardDefinitionModificationNotAllowedWhileLinked",
          "LeaderboardNotFound",
          "VersionIncrementRateExceeded"
        ]
      }
    },
    "/Leaderboard/ListLeaderboardDefinitions": {
      "post": {
        "operationId": "ListLeaderboardDefinitions",
        "tags": [
          "Leaderboards"
        ],
        "description": "Lists the leaderboard definitions defined for the Title.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/listleaderboarddefinitions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListLeaderboardDefinitionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListLeaderboardDefinitionsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/DeleteLeaderboardDefinition"
        ]
      }
    },
    "/Leaderboard/UnlinkLeaderboardFromStatistic": {
      "post": {
        "operationId": "UnlinkLeaderboardFromStatistic",
        "tags": [
          "Leaderboards"
        ],
        "description": "Unlinks a leaderboard definition from it's linked statistic definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/unlinkleaderboardfromstatistic"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UnlinkLeaderboardFromStatisticRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/CreateLeaderboardDefinition"
        ],
        "x-ms-docs-errors": [
          "LeaderboardNotFound",
          "NoLinkedStatisticToLeaderboard"
        ]
      }
    },
    "/Leaderboard/UpdateLeaderboardDefinition": {
      "post": {
        "operationId": "UpdateLeaderboardDefinition",
        "tags": [
          "Leaderboards"
        ],
        "description": "Updates a leaderboard definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/updateleaderboarddefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateLeaderboardDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/DeleteLeaderboardDefinition"
        ],
        "x-ms-docs-errors": [
          "LeaderboardSizeLimitExceeded",
          "MaxQueryableVersionsValueNotAllowedForTier",
          "ResetIntervalCannotBeModified"
        ]
      }
    },
    "/Leaderboard/UpdateLeaderboardEntries": {
      "post": {
        "operationId": "UpdateLeaderboardEntries",
        "tags": [
          "Leaderboards"
        ],
        "description": "Adds or updates entries on the specified leaderboard.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/leaderboards/updateleaderboardentries"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateLeaderboardEntriesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Leaderboard/DeleteLeaderboardEntries"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "LeaderboardColumnLengthMismatch",
          "LeaderboardNotFound",
          "LeaderboardUpdateNotAllowedWhileLinked"
        ]
      }
    },
    "/Statistic/CreateStatisticDefinition": {
      "post": {
        "operationId": "CreateStatisticDefinition",
        "tags": [
          "Statistics"
        ],
        "description": "Create a new entity statistic definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/createstatisticdefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/DeleteStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "AggregationTypeNotAllowedForMultiColumnStatistic",
          "ApiNotEnabledForTitle",
          "DuplicateColumnNameFound",
          "DuplicateStatisticName",
          "ExternalEntityNotAllowedForTier",
          "InvalidBaseTimeForInterval",
          "MaxQueryableVersionsValueNotAllowedForTier",
          "StatisticCountLimitExceeded",
          "StatisticDefinitionHasNullOrEmptyVersionConfiguration",
          "StatisticNameConflict",
          "VersionConfigurationIsRequired"
        ]
      }
    },
    "/Statistic/DeleteStatisticDefinition": {
      "post": {
        "operationId": "DeleteStatisticDefinition",
        "tags": [
          "Statistics"
        ],
        "description": "Delete an entity statistic definition. Will delete all statistics on entity profiles and leaderboards.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/deletestatisticdefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "StatisticDefinitionModificationNotAllowedWhileLinked",
          "StatisticNotFound",
          "StatisticUpdateInProgress"
        ]
      }
    },
    "/Statistic/DeleteStatistics": {
      "post": {
        "operationId": "DeleteStatistics",
        "tags": [
          "Statistics"
        ],
        "description": "Delete statistics on an entity profile. This will remove all rankings from associated leaderboards.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/deletestatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteStatisticsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/UpdateStatistics"
        ]
      }
    },
    "/Statistic/GetStatisticDefinition": {
      "post": {
        "operationId": "GetStatisticDefinition",
        "tags": [
          "Statistics"
        ],
        "description": "Get current statistic definition information",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/getstatisticdefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStatisticDefinitionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition",
          "Statistic/DeleteStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/GetStatistics": {
      "post": {
        "operationId": "GetStatistics",
        "tags": [
          "Statistics"
        ],
        "description": "Gets statistics for the specified entity.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/getstatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStatisticsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/DeleteStatistics"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "InvalidEntityType",
          "NotAuthorized",
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/GetStatisticsForEntities": {
      "post": {
        "operationId": "GetStatisticsForEntities",
        "tags": [
          "Statistics"
        ],
        "description": "Gets statistics for the specified collection of entities.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/getstatisticsforentities"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStatisticsForEntitiesRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStatisticsForEntitiesResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/DeleteStatistics"
        ],
        "x-ms-docs-errors": [
          "InvalidEntityType",
          "NotAuthorized",
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/IncrementStatisticVersion": {
      "post": {
        "operationId": "IncrementStatisticVersion",
        "tags": [
          "Statistics"
        ],
        "description": "Increment an entity statistic definition version.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/incrementstatisticversion"
        },
        "parameters": [
          {
            "$ref": "#/parameters/IncrementStatisticVersionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/IncrementStatisticVersionResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "StatisticNotFound",
          "StatisticUpdateInProgress",
          "StatisticVersionIncrementRateExceeded",
          "VersionIncrementRateExceeded"
        ]
      }
    },
    "/Statistic/ListStatisticDefinitions": {
      "post": {
        "operationId": "ListStatisticDefinitions",
        "tags": [
          "Statistics"
        ],
        "description": "Get all current statistic definitions information",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/liststatisticdefinitions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListStatisticDefinitionsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListStatisticDefinitionsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition",
          "Statistic/DeleteStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "StatisticCountLimitExceeded"
        ]
      }
    },
    "/Statistic/UpdateStatisticDefinition": {
      "post": {
        "operationId": "UpdateStatisticDefinition",
        "tags": [
          "Statistics"
        ],
        "description": "Update an existing entity statistic definition.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/updatestatisticdefinition"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateStatisticDefinitionRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/CreateStatisticDefinition"
        ],
        "x-ms-docs-errors": [
          "ApiNotEnabledForTitle",
          "InvalidBaseTimeForInterval",
          "MaxQueryableVersionsValueNotAllowedForTier",
          "ResetIntervalCannotBeModified",
          "StatisticNotFound"
        ]
      }
    },
    "/Statistic/UpdateStatistics": {
      "post": {
        "operationId": "UpdateStatistics",
        "tags": [
          "Statistics"
        ],
        "description": "Update statistics on an entity profile. Depending on the statistic definition, this may result in entity being ranked on various leaderboards.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/progression/statistics/updatestatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/UpdateStatisticsRequest"
          }
        ],
        "security": [
          {
            "EntityToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/UpdateStatisticsResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Statistic/DeleteStatistics"
        ],
        "x-ms-docs-errors": [
          "APINotEnabledForGameClientAccess",
          "EntityTypeMismatchWithStatDefinition",
          "InvalidEntityType",
          "InvalidExternalEntityId",
          "NotAuthorized",
          "StatisticColumnLengthMismatch",
          "StatisticNotFound",
          "TransactionAlreadyApplied",
          "UpdatingStatisticsUsingTransactionIdNotAvailableForFreeTier"
        ]
      }
    }
  },
  "definitions": {
    "ApiErrorWrapper": {
      "description": "The basic wrapper around every failed API response",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numerical HTTP code",
          "type": "integer"
        },
        "status": {
          "description": "String HTTP code",
          "type": "string"
        },
        "error": {
          "description": "Playfab error code",
          "type": "string"
        },
        "errorCode": {
          "description": "Numerical PlayFab error code",
          "type": "integer"
        },
        "errorMessage": {
          "description": "Description for the PlayFab errorCode",
          "type": "string"
        },
        "errorDetails": {
          "description": "Detailed description of individual issues with the request object",
          "type": "object"
        }
      },
      "required": [
        "code",
        "errorCode"
      ]
    },
    "CreateLeaderboardDefinitionRequest": {
      "type": "object",
      "properties": {
        "Columns": {
          "description": "Leaderboard columns describing the sort directions, cannot be changed after creation. A maximum of 5 columns are allowed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LeaderboardColumn"
          },
          "x-isclass": true
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EntityType": {
          "description": "The entity type being represented on the leaderboard. If it doesn't correspond to the PlayFab entity types, use 'external' as the type.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the leaderboard, unique per title.",
          "type": "string"
        },
        "SizeLimit": {
          "description": "Maximum number of entries on this leaderboard",
          "type": "number",
          "x-actualtype": "int32"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the leaderboard definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Name",
        "EntityType",
        "VersionConfiguration",
        "Columns",
        "SizeLimit"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "EntityType": "title_player_account",
        "VersionConfiguration": {
          "MaxQueryableVersions": 1
        },
        "Columns": [
          {
            "Name": "Hits"
          }
        ],
        "SizeLimit": 1000
      }
    },
    "CreateStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "AggregationSources": {
          "description": "[In Preview]: The list of statistic definition names whose scores must be aggregated towards this stat. If AggregationSource is specified, the entityType of this definition MUST be Title (making it a CommunityStat). Currently, only one aggregation source can be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Columns": {
          "description": "The columns for the statistic defining the aggregation method for each column. A maximum of 5 columns are allowed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticColumn"
          },
          "x-isclass": true
        },
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EntityType": {
          "description": "The entity type allowed to have score(s) for this statistic.",
          "type": "string"
        },
        "Name": {
          "description": "Name of the statistic. Must be less than 150 characters. Restricted to a-Z, 0-9, '(', ')', '_', '-' and '.'.",
          "type": "string"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the statistic definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "Columns": [
          {
            "AggregationMethod": "Min"
          }
        ]
      }
    },
    "DeleteLeaderboardDefinitionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "The name of the leaderboard definition to delete.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel"
      }
    },
    "DeleteLeaderboardEntriesRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EntityIds": {
          "description": "The unique Ids of the entries to delete from the leaderboard.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "Points",
        "EntityIds": [
          "12802710371",
          "01849174301"
        ]
      }
    },
    "DeleteStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "Name of the statistic to delete.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel"
      }
    },
    "DeleteStatisticsRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "Statistics": {
          "description": "Collection of statistics to remove from this entity.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticDelete"
          },
          "x-isclass": true
        }
      },
      "required": [
        "Statistics"
      ],
      "example": {
        "Statistics": [
          {
            "Name": "TotalCarTime"
          },
          {
            "Name": "FastestTimesByMap",
            "Version": 15
          }
        ]
      }
    },
    "DeleteStatisticsResponse": {
      "type": "object",
      "properties": {
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity id and type.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Entity": {
          "Id": "184131840178",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "EmptyResponse": {
      "type": "object",
      "properties": {}
    },
    "EntityKey": {
      "description": "Combined entity type and ID structure which uniquely identifies a single entity.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique ID of the entity.",
          "type": "string"
        },
        "Type": {
          "description": "Entity type. See https://docs.microsoft.com/gaming/playfab/features/data/entities/available-built-in-entity-types",
          "type": "string"
        }
      },
      "required": [
        "Id"
      ]
    },
    "EntityLeaderboardEntry": {
      "description": "Individual rank of an entity in a leaderboard",
      "type": "object",
      "properties": {
        "DisplayName": {
          "description": "Entity's display name.",
          "type": "string"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "Entity identifier.",
          "type": "object",
          "x-isclass": true
        },
        "LastUpdated": {
          "description": "The time at which the last update to the entry was recorded on the server.",
          "type": "string"
        },
        "Metadata": {
          "description": "An opaque blob of data stored on the leaderboard entry. Note that the metadata is not used for ranking purposes.",
          "type": "string"
        },
        "Rank": {
          "description": "Position on the leaderboard.",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Scores": {
          "description": "Scores for the entry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "Rank",
        "LastUpdated"
      ]
    },
    "EntityStatistics": {
      "type": "object",
      "properties": {
        "EntityKey": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity for which the statistics are returned.",
          "type": "object",
          "x-isclass": true
        },
        "Statistics": {
          "description": "The statistics for the given entity key.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityStatisticValue"
          },
          "x-isclass": true
        }
      }
    },
    "EntityStatisticValue": {
      "type": "object",
      "properties": {
        "Metadata": {
          "description": "Metadata associated with the Statistic.",
          "type": "string"
        },
        "Name": {
          "description": "Statistic name",
          "type": "string"
        },
        "Scores": {
          "description": "Statistic scores",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Version": {
          "description": "Statistic version",
          "type": "number",
          "x-actualtype": "int32"
        }
      },
      "required": [
        "Version"
      ]
    },
    "ExternalFriendSources": {
      "type": "string",
      "enum": [
        "None",
        "Steam",
        "Facebook",
        "Xbox",
        "Psn",
        "All"
      ]
    },
    "GetEntityLeaderboardRequest": {
      "description": "Request to load a leaderboard.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "LeaderboardName": {
          "description": "Name of the leaderboard.",
          "type": "string"
        },
        "PageSize": {
          "description": "Maximum number of results to return from the leaderboard. Minimum 1, maximum 100.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "StartingPosition": {
          "description": "Index position to start from. 1 is beginning of leaderboard. ",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "Version": {
          "description": "Optional version of the leaderboard, defaults to current version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "LeaderboardName",
        "PageSize"
      ],
      "example": {
        "LeaderboardName": "Points",
        "Version": 2,
        "StartingPosition": 100,
        "PageSize": 20
      }
    },
    "GetEntityLeaderboardResponse": {
      "description": "Leaderboard response",
      "type": "object",
      "properties": {
        "Columns": {
          "description": "Leaderboard columns describing the sort directions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LeaderboardColumn"
          },
          "x-isclass": true
        },
        "EntryCount": {
          "description": "The number of entries on the leaderboard.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "NextReset": {
          "description": "The time the next scheduled reset will occur. Null if the leaderboard does not reset on a schedule.",
          "type": "string"
        },
        "Rankings": {
          "description": "Individual entity rankings in the leaderboard, in sorted order by rank.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityLeaderboardEntry"
          },
          "x-isclass": true
        },
        "Version": {
          "description": "Version of the leaderboard being returned.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Version",
        "EntryCount"
      ],
      "example": {
        "Version": 5,
        "Rankings": [
          {
            "Entity": {
              "Id": "1784371290HJA9",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            },
            "DisplayName": "FastHand",
            "Scores": [
              "4503"
            ],
            "Rank": 1
          },
          {
            "Entity": {
              "Id": "1947109JA18412",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            },
            "DisplayName": "Mouse",
            "Scores": [
              "4502"
            ],
            "Rank": 2
          }
        ]
      }
    },
    "GetFriendLeaderboardForEntityRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "ExternalFriendSources": {
          "$ref": "#/definitions/ExternalFriendSources",
          "description": "Indicates which other platforms' friends should be included in the response. In HTTP, it is represented as a comma-separated list of platforms.",
          "type": "string",
          "x-isenum": true
        },
        "LeaderboardName": {
          "description": "Name of the leaderboard.",
          "type": "string"
        },
        "Version": {
          "description": "Optional version of the leaderboard, defaults to current version.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "XboxToken": {
          "description": "Xbox token if Xbox friends should be included. Requires Xbox be configured on PlayFab.",
          "type": "string"
        }
      },
      "required": [
        "LeaderboardName"
      ],
      "example": {
        "LeaderboardName": "Points"
      }
    },
    "GetLeaderboardAroundEntityRequest": {
      "description": "Request to load a section of a leaderboard centered on a specific entity.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "LeaderboardName": {
          "description": "Name of the leaderboard.",
          "type": "string"
        },
        "MaxSurroundingEntries": {
          "description": "Number of surrounding entries to return (in addition to specified entity). In general, the number of ranks above and below will be split into half. For example, if the specified value is 10, 5 ranks above and 5 ranks below will be retrieved. However, the numbers will get skewed in either direction when the specified entity is towards the top or bottom of the leaderboard. Also, the number of entries returned can be lower than the value specified for entries at the bottom of the leaderboard.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "Version": {
          "description": "Optional version of the leaderboard, defaults to current.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "LeaderboardName",
        "MaxSurroundingEntries"
      ],
      "example": {
        "LeaderboardName": "Points",
        "Version": 2,
        "Entity": {
          "Id": "819478109412",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "GetLeaderboardDefinitionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "The name of the leaderboard to retrieve the definition for.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel"
      }
    },
    "GetLeaderboardDefinitionResponse": {
      "type": "object",
      "properties": {
        "Columns": {
          "description": "Sort direction of the leaderboard columns, cannot be changed after creation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LeaderboardColumn"
          },
          "x-isclass": true
        },
        "Created": {
          "description": "Created time, in UTC",
          "type": "string"
        },
        "EntityType": {
          "description": "The entity type being represented on the leaderboard. If it doesn't correspond to the PlayFab entity types, use 'external' as the type.",
          "type": "string"
        },
        "LastResetTime": {
          "description": "Last time, in UTC, leaderboard version was incremented.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the leaderboard, unique per title.",
          "type": "string"
        },
        "SizeLimit": {
          "description": "Maximum number of entries on this leaderboard",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Version": {
          "description": "Latest Leaderboard version.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the leaderboard definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Name",
        "EntityType",
        "Columns",
        "SizeLimit",
        "Version",
        "Created",
        "VersionConfiguration"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "EntityType": "title_player_account",
        "Columns": [
          {
            "Name": "Hits"
          }
        ],
        "SizeLimit": 1000,
        "Version": 89
      }
    },
    "GetLeaderboardForEntitiesRequest": {
      "description": "Request a leaderboard limited to a collection of entities.",
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "EntityIds": {
          "description": "Collection of Entity IDs to include in the leaderboard.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "LeaderboardName": {
          "description": "Name of the leaderboard.",
          "type": "string"
        },
        "Version": {
          "description": "Optional version of the leaderboard, defaults to current.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "LeaderboardName",
        "EntityIds"
      ],
      "example": {
        "LeaderboardName": "Points",
        "Version": 2,
        "EntityIds": [
          "12802710371",
          "01849174301"
        ]
      }
    },
    "GetStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "Name of the statistic. Must be less than 150 characters.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "Points"
      }
    },
    "GetStatisticDefinitionResponse": {
      "type": "object",
      "properties": {
        "AggregationDestinations": {
          "description": "The list of statistic definitions names this definition aggregates to. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AggregationSources": {
          "description": "The list of statistic definitions names whose values must be aggregated towards this stat. If AggregationSource is specified, the entityType of this definition MUST be Title (making it a CommunityStat). Currently, only one aggregation source can be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Columns": {
          "description": "The columns for the statistic defining the aggregation method for each column.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticColumn"
          },
          "x-isclass": true
        },
        "Created": {
          "description": "Created time, in UTC",
          "type": "string"
        },
        "EntityType": {
          "description": "The entity type that can have this statistic.",
          "type": "string"
        },
        "LastResetTime": {
          "description": "Last time, in UTC, statistic version was incremented.",
          "type": "string"
        },
        "LinkedLeaderboardNames": {
          "description": "The list of leaderboards that are linked to this statistic definition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Name": {
          "description": "Name of the statistic.",
          "type": "string"
        },
        "Version": {
          "description": "Statistic version.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the leaderboard definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Version",
        "Created"
      ],
      "example": {
        "Name": "Points",
        "Columns": [
          {
            "AggregationMethod": "Min"
          }
        ],
        "EntityType": "title_player_account",
        "Version": 89
      }
    },
    "GetStatisticsForEntitiesRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entities": {
          "description": "Collection of Entity IDs to retrieve statistics for.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityKey"
          },
          "x-isclass": true
        },
        "StatisticNames": {
          "description": "The list of statistics to return for the user. If set to null, the current version of all statistics are returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "Entities"
      ],
      "example": {
        "Entities": [
          {
            "Id": "A197412JDA",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          },
          {
            "Id": "B197412JDB",
            "Type": "title_player_account",
            "TypeString": "title_player_account"
          }
        ],
        "StatisticNames": [
          "SpeedRuns",
          "Boosts"
        ]
      }
    },
    "GetStatisticsForEntitiesResponse": {
      "type": "object",
      "properties": {
        "ColumnDetails": {
          "$ref": "#/definitions/StatisticColumnCollection",
          "description": "A mapping of statistic name to the columns defined in the corresponding definition.",
          "type": "object",
          "x-isclass": true
        },
        "EntitiesStatistics": {
          "description": "List of entities mapped to their statistics. Only the latest version of a statistic is returned.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityStatistics"
          },
          "x-isclass": true
        }
      },
      "example": {
        "EntitiesStatistics": [
          {
            "EntityKey": {
              "Id": "A197412JDA",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            },
            "Statistics": [
              {
                "Name": "SpeedRuns",
                "Scores": [
                  "89"
                ]
              },
              {
                "Name": "Boosts",
                "Scores": [
                  "3"
                ]
              }
            ]
          },
          {
            "EntityKey": {
              "Id": "B197412JDB",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            },
            "Statistics": [
              {
                "Name": "SpeedRuns",
                "Scores": [
                  "50"
                ]
              },
              {
                "Name": "Boosts",
                "Scores": [
                  "1"
                ]
              }
            ]
          }
        ]
      }
    },
    "GetStatisticsRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "StatisticNames": {
          "description": "The list of statistics to return for the user. If set to null, the current version of all statistics are returned.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "StatisticNames": [
          "SpeedRuns",
          "Boosts"
        ],
        "Entity": {
          "Id": "A197412JDA",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "GetStatisticsResponse": {
      "type": "object",
      "properties": {
        "ColumnDetails": {
          "$ref": "#/definitions/StatisticColumnCollection",
          "description": "A mapping of statistic name to the columns defined in the corresponding definition.",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity id and type.",
          "type": "object",
          "x-isclass": true
        },
        "Statistics": {
          "$ref": "#/definitions/EntityStatisticValue",
          "description": "List of statistics keyed by Name. Only the latest version of a statistic is returned.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "Statistics": {
          "SpeedRuns": {
            "Name": "SpeedRuns",
            "Scores": [
              "89"
            ]
          }
        },
        "Entity": {
          "Id": "184131840178",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "IncrementLeaderboardVersionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "The name of the leaderboard to increment the version for.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel"
      }
    },
    "IncrementLeaderboardVersionResponse": {
      "type": "object",
      "properties": {
        "Version": {
          "description": "New Leaderboard version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Version"
      ],
      "example": {
        "Version": 89
      }
    },
    "IncrementStatisticVersionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "Name of the statistic to increment the version of.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel"
      }
    },
    "IncrementStatisticVersionResponse": {
      "type": "object",
      "properties": {
        "Version": {
          "description": "New statistic version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Version"
      ],
      "example": {
        "Version": 56,
        "VersionToBeDeleted": 45
      }
    },
    "LeaderboardColumn": {
      "type": "object",
      "properties": {
        "LinkedStatisticColumn": {
          "$ref": "#/definitions/LinkedStatisticColumn",
          "description": "If the value for this column is sourced from a statistic, details of the linked column. Null if the leaderboard is not linked.",
          "type": "object",
          "x-isclass": true
        },
        "Name": {
          "description": "A name for the leaderboard column, unique per leaderboard definition.",
          "type": "string"
        },
        "SortDirection": {
          "$ref": "#/definitions/LeaderboardSortDirection",
          "description": "The sort direction for this column.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "Name",
        "SortDirection"
      ]
    },
    "LeaderboardDefinition": {
      "type": "object",
      "properties": {
        "Columns": {
          "description": "Sort direction of the leaderboard columns, cannot be changed after creation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LeaderboardColumn"
          },
          "x-isclass": true
        },
        "Created": {
          "description": "Created time, in UTC",
          "type": "string"
        },
        "EntityType": {
          "description": "The entity type being represented on the leaderboard. If it doesn't correspond to the PlayFab entity types, use 'external' as the type.",
          "type": "string"
        },
        "LastResetTime": {
          "description": "Last time, in UTC, leaderboard version was incremented.",
          "type": "string"
        },
        "Name": {
          "description": "A name for the leaderboard, unique per title.",
          "type": "string"
        },
        "SizeLimit": {
          "description": "Maximum number of entries on this leaderboard",
          "type": "number",
          "x-actualtype": "int32"
        },
        "Version": {
          "description": "Latest Leaderboard version.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the leaderboard definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Name",
        "EntityType",
        "Columns",
        "SizeLimit",
        "Version",
        "Created",
        "VersionConfiguration"
      ]
    },
    "LeaderboardEntryUpdate": {
      "type": "object",
      "properties": {
        "EntityId": {
          "description": "The unique Id for the entry. If using PlayFab Entities, this would be the entityId of the entity.",
          "type": "string"
        },
        "Metadata": {
          "description": "Arbitrary metadata to store along side the leaderboard entry, will be returned by all Leaderboard APIs. Must be less than 50 UTF8 encoded characters.",
          "type": "string"
        },
        "Scores": {
          "description": "The scores for the leaderboard. The number of values provided here must match the number of columns in the Leaderboard definition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "EntityId"
      ]
    },
    "LeaderboardSortDirection": {
      "type": "string",
      "enum": [
        "Descending",
        "Ascending"
      ]
    },
    "LinkedStatisticColumn": {
      "type": "object",
      "properties": {
        "LinkedStatisticColumnName": {
          "description": "The name of the statistic column that this leaderboard column is sourced from.",
          "type": "string"
        },
        "LinkedStatisticName": {
          "description": "The name of the statistic.",
          "type": "string"
        }
      },
      "required": [
        "LinkedStatisticName",
        "LinkedStatisticColumnName"
      ]
    },
    "ListLeaderboardDefinitionsRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        }
      },
      "example": {}
    },
    "ListLeaderboardDefinitionsResponse": {
      "type": "object",
      "properties": {
        "LeaderboardDefinitions": {
          "description": "List of leaderboard definitions for the title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LeaderboardDefinition"
          },
          "x-isclass": true
        }
      },
      "example": {
        "LeaderboardDefinitions": [
          {
            "Name": "HighestScoresByLevel",
            "EntityType": "title_player_account",
            "Columns": [
              {
                "Name": "Hits"
              }
            ],
            "SizeLimit": 1000,
            "Version": 89
          }
        ]
      }
    },
    "ListStatisticDefinitionsRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        }
      },
      "example": {}
    },
    "ListStatisticDefinitionsResponse": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "StatisticDefinitions": {
          "description": "List of statistic definitions for the title.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticDefinition"
          },
          "x-isclass": true
        }
      },
      "example": {
        "StatisticDefinitions": [
          {
            "Name": "Points",
            "Version": 89
          }
        ]
      }
    },
    "ResetInterval": {
      "type": "string",
      "enum": [
        "Manual",
        "Hour",
        "Day",
        "Week",
        "Month"
      ]
    },
    "StatisticAggregationMethod": {
      "type": "string",
      "enum": [
        "Last",
        "Min",
        "Max",
        "Sum"
      ]
    },
    "StatisticColumn": {
      "type": "object",
      "properties": {
        "AggregationMethod": {
          "$ref": "#/definitions/StatisticAggregationMethod",
          "description": "Aggregation method for calculating new value of a statistic.",
          "type": "string",
          "x-isenum": true
        },
        "Name": {
          "description": "Name of the statistic column, as originally configured.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "AggregationMethod"
      ]
    },
    "StatisticColumnCollection": {
      "type": "object",
      "properties": {
        "Columns": {
          "description": "Columns for the statistic defining the aggregation method for each column.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticColumn"
          },
          "x-isclass": true
        }
      }
    },
    "StatisticDefinition": {
      "type": "object",
      "properties": {
        "AggregationDestinations": {
          "description": "The list of statistic definitions names this definition aggregates to. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AggregationSources": {
          "description": "The list of statistic definitions names whose values must be aggregated towards this stat. If AggregationSource is specified, the entityType of this definition MUST be Title (making it a CommunityStat). Currently, only one aggregation source can be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Columns": {
          "description": "The columns for the statistic defining the aggregation method for each column.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticColumn"
          },
          "x-isclass": true
        },
        "Created": {
          "description": "Created time, in UTC",
          "type": "string"
        },
        "EntityType": {
          "description": "The entity type that can have this statistic.",
          "type": "string"
        },
        "LastResetTime": {
          "description": "Last time, in UTC, statistic version was incremented.",
          "type": "string"
        },
        "LinkedLeaderboardNames": {
          "description": "The list of leaderboards that are linked to this statistic definition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Name": {
          "description": "Name of the statistic.",
          "type": "string"
        },
        "Version": {
          "description": "Statistic version.",
          "type": "number",
          "x-actualtype": "uint32"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the leaderboard definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Version",
        "Created"
      ],
      "example": {
        "Name": "Points",
        "Version": 89
      }
    },
    "StatisticDelete": {
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the statistic, as originally configured.",
          "type": "string"
        }
      },
      "required": [
        "Name"
      ]
    },
    "StatisticUpdate": {
      "type": "object",
      "properties": {
        "Metadata": {
          "description": "Arbitrary metadata to store along side the statistic, will be returned by all Leaderboard APIs. Must be less than 50 UTF8 encoded characters.",
          "type": "string"
        },
        "Name": {
          "description": "Name of the statistic, as originally configured.",
          "type": "string"
        },
        "Scores": {
          "description": "Statistic scores for the entity. This will be used in accordance with the aggregation method configured for the statistics.The maximum value allowed for each individual score is 9223372036854775807. The minimum value for each individual score is -9223372036854775807The values are formatted as strings to avoid interop issues with client libraries unable to handle 64bit integers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Version": {
          "description": "Optional field to indicate the version of the statistic to set. When empty defaults to the statistic's current version.",
          "type": "number",
          "x-actualtype": "uint32"
        }
      },
      "required": [
        "Name"
      ]
    },
    "UnlinkLeaderboardFromStatisticRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "The name of the leaderboard definition to unlink.",
          "type": "string"
        },
        "StatisticName": {
          "description": "The name of the statistic definition to unlink.",
          "type": "string"
        }
      },
      "required": [
        "Name",
        "StatisticName"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "StatisticName": "HighestScoresByLevel"
      }
    },
    "UpdateLeaderboardDefinitionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "The name of the leaderboard to update the definition for.",
          "type": "string"
        },
        "SizeLimit": {
          "description": "Maximum number of entries on this leaderboard",
          "type": "number",
          "x-actualtype": "int32"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the leaderboard definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "VersionConfiguration": {
          "MaxQueryableVersions": 1
        },
        "SizeLimit": 1000
      }
    },
    "UpdateLeaderboardEntriesRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entries": {
          "description": "The entries to add or update on the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LeaderboardEntryUpdate"
          },
          "x-isclass": true
        },
        "LeaderboardName": {
          "description": "The name of the leaderboard.",
          "type": "string"
        }
      },
      "required": [
        "LeaderboardName"
      ],
      "example": {
        "LeaderboardName": "Points",
        "Entries": [
          {
            "Scores": [
              "100",
              "200"
            ],
            "EntityId": "12802710371"
          },
          {
            "Scores": [
              "120",
              "200"
            ],
            "EntityId": "01849174301"
          }
        ]
      }
    },
    "UpdateStatisticDefinitionRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Name": {
          "description": "Name of the statistic. Must be less than 150 characters. Restricted to a-Z, 0-9, '(', ')', '_', '-' and '.'.",
          "type": "string"
        },
        "VersionConfiguration": {
          "$ref": "#/definitions/VersionConfiguration",
          "description": "The version reset configuration for the statistic definition.",
          "type": "object",
          "x-isclass": true
        }
      },
      "required": [
        "Name"
      ],
      "example": {
        "Name": "HighestScoresByLevel",
        "VersionConfiguration": {
          "MaxQueryableVersions": 2
        }
      }
    },
    "UpdateStatisticsRequest": {
      "type": "object",
      "properties": {
        "CustomTags": {
          "description": "The optional custom tags associated with the request (e.g. build number, external trace identifiers, etc.).",
          "type": "object"
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The optional entity to perform this action on. Defaults to the currently logged in entity.",
          "type": "object",
          "x-isclass": true
        },
        "Statistics": {
          "description": "Collection of statistics to update, maximum 50.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatisticUpdate"
          },
          "x-isclass": true
        },
        "TransactionId": {
          "description": "Optional transactionId of this update which can be used to ensure idempotence. Using this field is still in testing stage.",
          "type": "string"
        }
      },
      "required": [
        "Statistics"
      ],
      "example": {
        "Statistics": [
          {
            "Name": "RoundsWon",
            "Metadata": "BestRun:34.13,Car:13452",
            "Scores": [
              "100",
              "200"
            ]
          },
          {
            "Name": "FastestTimesByMap",
            "Metadata": "Car:13452",
            "Scores": [
              "200",
              "300"
            ]
          },
          {
            "Name": "TotalCarTime",
            "Scores": [
              "300",
              "400"
            ]
          }
        ],
        "Entity": {
          "Id": "A197412JDA",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "UpdateStatisticsResponse": {
      "type": "object",
      "properties": {
        "ColumnDetails": {
          "$ref": "#/definitions/StatisticColumnCollection",
          "description": "A mapping of statistic name to the columns defined in the corresponding definition.",
          "type": "object",
          "x-isclass": true
        },
        "Entity": {
          "$ref": "#/definitions/EntityKey",
          "description": "The entity id and type.",
          "type": "object",
          "x-isclass": true
        },
        "Statistics": {
          "$ref": "#/definitions/EntityStatisticValue",
          "description": "Updated entity profile statistics.",
          "type": "object",
          "x-isclass": true
        }
      },
      "example": {
        "ProfileVersion": 56,
        "Statistics": {
          "SpeedRuns": {
            "Name": "SpeedRuns",
            "Value": 89
          }
        },
        "Entity": {
          "Id": "184131840178",
          "Type": "title_player_account",
          "TypeString": "title_player_account"
        }
      }
    },
    "VersionConfiguration": {
      "type": "object",
      "properties": {
        "MaxQueryableVersions": {
          "description": "The maximum number of versions of this leaderboard/statistic that can be queried. ",
          "type": "number",
          "x-actualtype": "int32"
        },
        "ResetInterval": {
          "$ref": "#/definitions/ResetInterval",
          "description": "Reset interval that statistics or leaderboards will reset on. When using Manual intervalthe reset can only be increased by calling the Increase version API. When using Hour interval the resetwill occur at the start of the next hour UTC time. When using Day interval the reset will occur at thestart of the next day in UTC time. When using the Week interval the reset will occur at the start ofthe next Monday in UTC time. When using Month interval the reset will occur at the start of the nextmonth in UTC time.",
          "type": "string",
          "x-isenum": true
        }
      },
      "required": [
        "ResetInterval",
        "MaxQueryableVersions"
      ]
    }
  },
  "parameters": {
    "CreateLeaderboardDefinitionRequest": {
      "name": "CreateLeaderboardDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateLeaderboardDefinitionRequest"
      }
    },
    "CreateStatisticDefinitionRequest": {
      "name": "CreateStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/CreateStatisticDefinitionRequest"
      }
    },
    "DeleteLeaderboardDefinitionRequest": {
      "name": "DeleteLeaderboardDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/DeleteLeaderboardDefinitionRequest"
      }
    },
    "DeleteLeaderboardEntriesRequest": {
      "name": "DeleteLeaderboardEntriesRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/DeleteLeaderboardEntriesRequest"
      }
    },
    "DeleteStatisticDefinitionRequest": {
      "name": "DeleteStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/DeleteStatisticDefinitionRequest"
      }
    },
    "DeleteStatisticsRequest": {
      "name": "DeleteStatisticsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/DeleteStatisticsRequest"
      }
    },
    "GetEntityLeaderboardRequest": {
      "name": "GetEntityLeaderboardRequest",
      "in": "body",
      "description": "Request to load a leaderboard.",
      "schema": {
        "$ref": "#/definitions/GetEntityLeaderboardRequest"
      }
    },
    "GetFriendLeaderboardForEntityRequest": {
      "name": "GetFriendLeaderboardForEntityRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetFriendLeaderboardForEntityRequest"
      }
    },
    "GetLeaderboardAroundEntityRequest": {
      "name": "GetLeaderboardAroundEntityRequest",
      "in": "body",
      "description": "Request to load a section of a leaderboard centered on a specific entity.",
      "schema": {
        "$ref": "#/definitions/GetLeaderboardAroundEntityRequest"
      }
    },
    "GetLeaderboardDefinitionRequest": {
      "name": "GetLeaderboardDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetLeaderboardDefinitionRequest"
      }
    },
    "GetLeaderboardForEntitiesRequest": {
      "name": "GetLeaderboardForEntitiesRequest",
      "in": "body",
      "description": "Request a leaderboard limited to a collection of entities.",
      "schema": {
        "$ref": "#/definitions/GetLeaderboardForEntitiesRequest"
      }
    },
    "GetStatisticDefinitionRequest": {
      "name": "GetStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetStatisticDefinitionRequest"
      }
    },
    "GetStatisticsForEntitiesRequest": {
      "name": "GetStatisticsForEntitiesRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetStatisticsForEntitiesRequest"
      }
    },
    "GetStatisticsRequest": {
      "name": "GetStatisticsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/GetStatisticsRequest"
      }
    },
    "IncrementLeaderboardVersionRequest": {
      "name": "IncrementLeaderboardVersionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/IncrementLeaderboardVersionRequest"
      }
    },
    "IncrementStatisticVersionRequest": {
      "name": "IncrementStatisticVersionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/IncrementStatisticVersionRequest"
      }
    },
    "ListLeaderboardDefinitionsRequest": {
      "name": "ListLeaderboardDefinitionsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/ListLeaderboardDefinitionsRequest"
      }
    },
    "ListStatisticDefinitionsRequest": {
      "name": "ListStatisticDefinitionsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/ListStatisticDefinitionsRequest"
      }
    },
    "UnlinkLeaderboardFromStatisticRequest": {
      "name": "UnlinkLeaderboardFromStatisticRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UnlinkLeaderboardFromStatisticRequest"
      }
    },
    "UpdateLeaderboardDefinitionRequest": {
      "name": "UpdateLeaderboardDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UpdateLeaderboardDefinitionRequest"
      }
    },
    "UpdateLeaderboardEntriesRequest": {
      "name": "UpdateLeaderboardEntriesRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UpdateLeaderboardEntriesRequest"
      }
    },
    "UpdateStatisticDefinitionRequest": {
      "name": "UpdateStatisticDefinitionRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UpdateStatisticDefinitionRequest"
      }
    },
    "UpdateStatisticsRequest": {
      "name": "UpdateStatisticsRequest",
      "in": "body",
      "description": "",
      "schema": {
        "$ref": "#/definitions/UpdateStatisticsRequest"
      }
    }
  },
  "responses": {
    "ApiErrorWrapper": {
      "description": "This is the outer wrapper for all responses with errors",
      "schema": {
        "$ref": "#/definitions/ApiErrorWrapper"
      }
    },
    "DeleteStatisticsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/DeleteStatisticsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Entity": {
              "Id": "184131840178",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            }
          }
        }
      }
    },
    "EmptyResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/EmptyResponse"
          }
        }
      }
    },
    "GetEntityLeaderboardResponse": {
      "description": "Leaderboard response",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetEntityLeaderboardResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Version": 5,
            "Rankings": [
              {
                "Entity": {
                  "Id": "1784371290HJA9",
                  "Type": "title_player_account",
                  "TypeString": "title_player_account"
                },
                "DisplayName": "FastHand",
                "Scores": [
                  "4503"
                ],
                "Rank": 1
              },
              {
                "Entity": {
                  "Id": "1947109JA18412",
                  "Type": "title_player_account",
                  "TypeString": "title_player_account"
                },
                "DisplayName": "Mouse",
                "Scores": [
                  "4502"
                ],
                "Rank": 2
              }
            ]
          }
        }
      }
    },
    "GetLeaderboardDefinitionResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetLeaderboardDefinitionResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Name": "HighestScoresByLevel",
            "EntityType": "title_player_account",
            "Columns": [
              {
                "Name": "Hits"
              }
            ],
            "SizeLimit": 1000,
            "Version": 89
          }
        }
      }
    },
    "GetStatisticDefinitionResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetStatisticDefinitionResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Name": "Points",
            "Columns": [
              {
                "AggregationMethod": "Min"
              }
            ],
            "EntityType": "title_player_account",
            "Version": 89
          }
        }
      }
    },
    "GetStatisticsForEntitiesResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetStatisticsForEntitiesResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "EntitiesStatistics": [
              {
                "EntityKey": {
                  "Id": "A197412JDA",
                  "Type": "title_player_account",
                  "TypeString": "title_player_account"
                },
                "Statistics": [
                  {
                    "Name": "SpeedRuns",
                    "Scores": [
                      "89"
                    ]
                  },
                  {
                    "Name": "Boosts",
                    "Scores": [
                      "3"
                    ]
                  }
                ]
              },
              {
                "EntityKey": {
                  "Id": "B197412JDB",
                  "Type": "title_player_account",
                  "TypeString": "title_player_account"
                },
                "Statistics": [
                  {
                    "Name": "SpeedRuns",
                    "Scores": [
                      "50"
                    ]
                  },
                  {
                    "Name": "Boosts",
                    "Scores": [
                      "1"
                    ]
                  }
                ]
              }
            ]
          }
        }
      }
    },
    "GetStatisticsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/GetStatisticsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Statistics": {
              "SpeedRuns": {
                "Name": "SpeedRuns",
                "Scores": [
                  "89"
                ]
              }
            },
            "Entity": {
              "Id": "184131840178",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            }
          }
        }
      }
    },
    "IncrementLeaderboardVersionResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/IncrementLeaderboardVersionResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Version": 89
          }
        }
      }
    },
    "IncrementStatisticVersionResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/IncrementStatisticVersionResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "Version": 56,
            "VersionToBeDeleted": 45
          }
        }
      }
    },
    "ListLeaderboardDefinitionsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ListLeaderboardDefinitionsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "LeaderboardDefinitions": [
              {
                "Name": "HighestScoresByLevel",
                "EntityType": "title_player_account",
                "Columns": [
                  {
                    "Name": "Hits"
                  }
                ],
                "SizeLimit": 1000,
                "Version": 89
              }
            ]
          }
        }
      }
    },
    "ListStatisticDefinitionsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/ListStatisticDefinitionsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "StatisticDefinitions": [
              {
                "Name": "Points",
                "Version": 89
              }
            ]
          }
        }
      }
    },
    "UpdateStatisticsResponse": {
      "description": "",
      "schema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
          },
          "status": {
            "type": "string",
            "description": "The Http status code as a string."
          },
          "data": {
            "$ref": "#/definitions/UpdateStatisticsResponse"
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": {
            "ProfileVersion": 56,
            "Statistics": {
              "SpeedRuns": {
                "Name": "SpeedRuns",
                "Value": 89
              }
            },
            "Entity": {
              "Id": "184131840178",
              "Type": "title_player_account",
              "TypeString": "title_player_account"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Leaderboards",
      "description": "Leaderboards APIs"
    },
    {
      "name": "Statistics",
      "description": "Statistics APIs"
    }
  ],
  "securityDefinitions": {
    "None": {
      "type": "apiKey",
      "in": "header",
      "name": "None",
      "description": "This API requires no authentication headers (usually provides one to other calls)."
    },
    "SessionTicket": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Authorization",
      "description": "This API requires a client session ticket, available from any Client Login function."
    },
    "SecretKey": {
      "type": "apiKey",
      "in": "header",
      "name": "X-SecretKey",
      "description": "This API requires a title secret key, available to title admins, from PlayFab Game Manager."
    },
    "EntityToken": {
      "type": "apiKey",
      "in": "header",
      "name": "X-EntityToken",
      "description": "This API requires an Entity Session Token, available from the Entity GetEntityToken method."
    }
  },
  "x-ms-docs-errors-mapping": {
    "Success": {
      "name": "Success"
    },
    "UnkownError": {
      "id": 500,
      "name": "UnkownError"
    },
    "InvalidParams": {
      "id": 1000,
      "name": "InvalidParams"
    },
    "AccountNotFound": {
      "id": 1001,
      "name": "AccountNotFound"
    },
    "AccountBanned": {
      "id": 1002,
      "name": "AccountBanned"
    },
    "InvalidUsernameOrPassword": {
      "id": 1003,
      "name": "InvalidUsernameOrPassword"
    },
    "InvalidTitleId": {
      "id": 1004,
      "name": "InvalidTitleId"
    },
    "InvalidEmailAddress": {
      "id": 1005,
      "name": "InvalidEmailAddress"
    },
    "EmailAddressNotAvailable": {
      "id": 1006,
      "name": "EmailAddressNotAvailable"
    },
    "InvalidUsername": {
      "id": 1007,
      "name": "InvalidUsername"
    },
    "InvalidPassword": {
      "id": 1008,
      "name": "InvalidPassword"
    },
    "UsernameNotAvailable": {
      "id": 1009,
      "name": "UsernameNotAvailable"
    },
    "InvalidSteamTicket": {
      "id": 1010,
      "name": "InvalidSteamTicket"
    },
    "AccountAlreadyLinked": {
      "id": 1011,
      "name": "AccountAlreadyLinked"
    },
    "LinkedAccountAlreadyClaimed": {
      "id": 1012,
      "name": "LinkedAccountAlreadyClaimed"
    },
    "InvalidFacebookToken": {
      "id": 1013,
      "name": "InvalidFacebookToken"
    },
    "AccountNotLinked": {
      "id": 1014,
      "name": "AccountNotLinked"
    },
    "FailedByPaymentProvider": {
      "id": 1015,
      "name": "FailedByPaymentProvider"
    },
    "CouponCodeNotFound": {
      "id": 1016,
      "name": "CouponCodeNotFound"
    },
    "InvalidContainerItem": {
      "id": 1017,
      "name": "InvalidContainerItem"
    },
    "ContainerNotOwned": {
      "id": 1018,
      "name": "ContainerNotOwned"
    },
    "KeyNotOwned": {
      "id": 1019,
      "name": "KeyNotOwned"
    },
    "InvalidItemIdInTable": {
      "id": 1020,
      "name": "InvalidItemIdInTable"
    },
    "InvalidReceipt": {
      "id": 1021,
      "name": "InvalidReceipt"
    },
    "ReceiptAlreadyUsed": {
      "id": 1022,
      "name": "ReceiptAlreadyUsed"
    },
    "ReceiptCancelled": {
      "id": 1023,
      "name": "ReceiptCancelled"
    },
    "GameNotFound": {
      "id": 1024,
      "name": "GameNotFound"
    },
    "GameModeNotFound": {
      "id": 1025,
      "name": "GameModeNotFound"
    },
    "InvalidGoogleToken": {
      "id": 1026,
      "name": "InvalidGoogleToken"
    },
    "UserIsNotPartOfDeveloper": {
      "id": 1027,
      "name": "UserIsNotPartOfDeveloper"
    },
    "InvalidTitleForDeveloper": {
      "id": 1028,
      "name": "InvalidTitleForDeveloper"
    },
    "TitleNameConflicts": {
      "id": 1029,
      "name": "TitleNameConflicts"
    },
    "UserisNotValid": {
      "id": 1030,
      "name": "UserisNotValid"
    },
    "ValueAlreadyExists": {
      "id": 1031,
      "name": "ValueAlreadyExists"
    },
    "BuildNotFound": {
      "id": 1032,
      "name": "BuildNotFound"
    },
    "PlayerNotInGame": {
      "id": 1033,
      "name": "PlayerNotInGame"
    },
    "InvalidTicket": {
      "id": 1034,
      "name": "InvalidTicket"
    },
    "InvalidDeveloper": {
      "id": 1035,
      "name": "InvalidDeveloper"
    },
    "InvalidOrderInfo": {
      "id": 1036,
      "name": "InvalidOrderInfo"
    },
    "RegistrationIncomplete": {
      "id": 1037,
[...]
