{
  "swagger": "2.0",
  "info": {
    "version": "220908",
    "title": "PlayFab Server API",
    "description": "Provides functionality to allow external (developer-controlled) servers to interact with user inventories and data in a trusted manner, and to handle matchmaking and client connection orchestration",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Server/AddCharacterVirtualCurrency": {
      "post": {
        "operationId": "AddCharacterVirtualCurrency",
        "tags": [
          "Player Item Management"
        ],
        "description": "Increments the character's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/addcharactervirtualcurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddCharacterVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ModifyCharacterVirtualCurrencyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/AddUserVirtualCurrency",
          "Server/SubtractCharacterVirtualCurrency"
        ],
        "x-ms-docs-errors": [
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Server/AddFriend": {
      "post": {
        "operationId": "AddFriend",
        "tags": [
          "Friend List Management"
        ],
        "description": "Adds the Friend user to the friendlist of the user with PlayFabId. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/friend-list-management/addfriend"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddFriendRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/GetFriendsList",
          "Server/RemoveFriend",
          "Server/SetFriendTags"
        ],
        "x-ms-docs-errors": [
          "UsersAlreadyFriends"
        ]
      }
    },
    "/Server/AddGenericID": {
      "post": {
        "operationId": "AddGenericID",
        "tags": [
          "Account Management"
        ],
        "description": "Adds the specified generic service identifier to the player's PlayFab account. This is designed to allow for a PlayFab ID lookup of any arbitrary service identifier a title wants to add. This identifier should never be used as authentication credentials, as the intent is that it is easily accessible by other players.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/addgenericid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddGenericIDRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/GetPlayFabIDsFromGenericIDs",
          "Server/RemoveGenericID"
        ],
        "x-ms-docs-errors": [
          "IdentifierAlreadyClaimed",
          "UserisNotValid"
        ]
      }
    },
    "/Server/AddPlayerTag": {
      "post": {
        "operationId": "AddPlayerTag",
        "tags": [
          "PlayStream"
        ],
        "description": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/playstream/addplayertag"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddPlayerTagRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddPlayerTagResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will trigger a player_tag_added event and add a tag with the given TagName and PlayFabID to the corresponding player profile. TagName can be used for segmentation and it is limited to 256 characters. Also there is a limit on the number of tags a title can have.",
        "x-seeAlso": [
          "Server/GetPlayerTags",
          "Server/RemovePlayerTag"
        ],
        "x-ms-docs-errors": [
          "PlayerTagCountLimitExceeded"
        ]
      }
    },
    "/Server/AddSharedGroupMembers": {
      "post": {
        "operationId": "AddSharedGroupMembers",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group (and the server) can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/shared-group-data/addsharedgroupmembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddSharedGroupMembersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddSharedGroupMembersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "InvalidSharedGroupId",
          "UserAlreadyAdded"
        ]
      }
    },
    "/Server/AddUserVirtualCurrency": {
      "post": {
        "operationId": "AddUserVirtualCurrency",
        "tags": [
          "Player Item Management"
        ],
        "description": "Increments the user's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/adduservirtualcurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/SubtractUserVirtualCurrency"
        ],
        "x-ms-docs-errors": [
          "InvalidVirtualCurrency",
          "VirtualCurrencyCurrentlyUnavailable"
        ]
      }
    },
    "/Server/AuthenticateSessionTicket": {
      "post": {
        "operationId": "AuthenticateSessionTicket",
        "tags": [
          "Authentication"
        ],
        "description": "Validated a client's session ticket, and if successful, returns details for that user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/authentication/authenticatesessionticket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AuthenticateSessionTicketRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AuthenticateSessionTicketResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-ms-docs-errors": [
          "InvalidSessionTicket"
        ]
      }
    },
    "/Server/AwardSteamAchievement": {
      "post": {
        "operationId": "AwardSteamAchievement",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Awards the specified users the specified Steam achievements",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/platform-specific-methods/awardsteamachievement"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AwardSteamAchievementRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AwardSteamAchievementResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "UserisNotValid"
        ]
      }
    },
    "/Server/BanUsers": {
      "post": {
        "operationId": "BanUsers",
        "tags": [
          "Account Management"
        ],
        "description": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/banusers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BanUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BanUsersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The existence of each user will not be verified. When banning by IP or MAC address, multiple players may be affected, so use this feature with caution. Returns information about the new bans.",
        "x-seeAlso": [
          "Server/GetUserBans",
          "Server/RevokeAllBansForUser",
          "Server/RevokeBans",
          "Server/UpdateBans"
        ]
      }
    },
    "/Server/ConsumeItem": {
      "post": {
        "operationId": "ConsumeItem",
        "tags": [
          "Player Item Management"
        ],
        "description": "Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/consumeitem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumeItemRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ConsumeItemResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "InvalidItemProperties",
          "ItemNotFound",
          "NoRemainingUses"
        ]
      }
    },
    "/Server/CreateSharedGroup": {
      "post": {
        "operationId": "CreateSharedGroup",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. When created by a server, the group will initially have no members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/shared-group-data/createsharedgroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreateSharedGroupResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If SharedGroupId is specified, the service will attempt to create a group with that identifier, and will return an error if it is already in use. If no SharedGroupId is specified, a random identifier will be assigned.",
        "x-ms-docs-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/DeleteCharacterFromUser": {
      "post": {
        "operationId": "DeleteCharacterFromUser",
        "tags": [
          "Characters"
        ],
        "description": "Deletes the specific character ID from the specified user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/deletecharacterfromuser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCharacterFromUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeleteCharacterFromUserResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This function will delete the specified character from the list allowed by the user, and will also delete any inventory or VC currently held by that character. It will NOT delete any statistics associated for this character, in order to preserve leaderboard integrity.",
        "x-ms-docs-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Server/DeletePlayer": {
      "post": {
        "operationId": "DeletePlayer",
        "tags": [
          "Account Management"
        ],
        "description": "Removes a user's player account from a title and deletes all associated data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/deleteplayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeletePlayerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeletePlayerResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes all data associated with the player, including statistics, custom data, inventory, purchases, virtual currency balances, characters and shared group memberships. Removes the player from all leaderboards and player search indexes. Does not delete PlayStream event history associated with the player. Does not delete the publisher user account that created the player in the title nor associated data such as username, password, email address, account linkages, or friends list. Note, this API queues the player for deletion and returns immediately. It may take several minutes or more before all player data is fully deleted. Until the player data is fully deleted, attempts to recreate the player with the same user account in the same title will fail with the 'AccountDeleted' error. This API must be enabled for use as an option in the game manager website. It is disabled by default.",
        "x-ms-docs-errors": [
          "APINotEnabledForGameServerAccess"
        ]
      }
    },
    "/Server/DeletePushNotificationTemplate": {
      "post": {
        "operationId": "DeletePushNotificationTemplate",
        "tags": [
          "Account Management"
        ],
        "description": "Deletes push notification template for title",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/deletepushnotificationtemplate"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeletePushNotificationTemplateRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeletePushNotificationTemplateResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "PushNotificationTemplateNotFound"
        ]
      }
    },
    "/Server/DeleteSharedGroup": {
      "post": {
        "operationId": "DeleteSharedGroup",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Deletes a shared group, freeing up the shared group ID to be reused for a new group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/shared-group-data/deletesharedgroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/DeregisterGame": {
      "post": {
        "operationId": "DeregisterGame",
        "tags": [
          "Matchmaking"
        ],
        "description": "Inform the matchmaker that a Game Server Instance is removed.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/matchmaking/deregistergame"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeregisterGameRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DeregisterGameResponse"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/RegisterGame"
        ]
      }
    },
    "/Server/EvaluateRandomResultTable": {
      "post": {
        "operationId": "EvaluateRandomResultTable",
        "tags": [
          "Player Item Management"
        ],
        "description": "Returns the result of an evaluation of a Random Result Table - the ItemId from the game Catalog which would have been added to the player inventory, if the Random Result Table were added via a Bundle or a call to UnlockContainer.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/evaluaterandomresulttable"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EvaluateRandomResultTableRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EvaluateRandomResultTableResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that if the Random Result Table contains no entries, or does not exist for the catalog specified (the Primary catalog if one is not specified), an InvalidDropTable error will be returned.",
        "x-ms-docs-errors": [
          "CatalogNotConfigured",
          "InvalidDropTable"
        ]
      }
    },
    "/Server/ExecuteCloudScript": {
      "post": {
        "operationId": "ExecuteCloudScript",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Executes a CloudScript function, with the 'currentPlayerId' set to the PlayFab ID of the authenticated player. The PlayFab ID is the entity ID of the player's master_player_account entity.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/server-side-cloud-script/executecloudscript"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteCloudScriptServerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExecuteCloudScriptResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "JavascriptException"
        ]
      }
    },
    "/Server/GetAllSegments": {
      "post": {
        "operationId": "GetAllSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/playstream/getallsegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAllSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetAllSegmentsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Request has no paramaters.",
        "x-seeAlso": [
          "Server/GetPlayersInSegment"
        ]
      }
    },
    "/Server/GetAllUsersCharacters": {
      "post": {
        "operationId": "GetAllUsersCharacters",
        "tags": [
          "Characters"
        ],
        "description": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/getalluserscharacters"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ListUsersCharactersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of every character that currently belongs to a user."
      }
    },
    "/Server/GetCatalogItems": {
      "post": {
        "operationId": "GetCatalogItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/getcatalogitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCatalogItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Server/GetCharacterData": {
      "post": {
        "operationId": "GetCharacterData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/character-data/getcharacterdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserData",
          "Server/UpdateCharacterData",
          "Server/UpdateCharacterInternalData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterInternalData": {
      "post": {
        "operationId": "GetCharacterInternalData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the user's character which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/character-data/getcharacterinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserInternalData",
          "Server/UpdateCharacterData",
          "Server/UpdateCharacterInternalData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterInventory": {
      "post": {
        "operationId": "GetCharacterInventory",
        "tags": [
          "Player Item Management"
        ],
        "description": "Retrieves the specified character's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/getcharacterinventory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterInventoryRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterInventoryResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "All items currently in the character inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included. Also returns their virtual currency balances.",
        "x-seeAlso": [
          "Server/GetUserInventory"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GetCharacterLeaderboard": {
      "post": {
        "operationId": "GetCharacterLeaderboard",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/getcharacterleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterLeaderboardResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that the Position of the character in the results is for the overall leaderboard.",
        "x-seeAlso": [
          "Server/GetCharacterStatistics",
          "Server/GetLeaderboardAroundCharacter",
          "Server/UpdateCharacterStatistics"
        ]
      }
    },
    "/Server/GetCharacterReadOnlyData": {
      "post": {
        "operationId": "GetCharacterReadOnlyData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the user's character which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/character-data/getcharacterreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom data will be returned.",
        "x-seeAlso": [
          "Server/GetCharacterData",
          "Server/GetCharacterInternalData",
          "Server/GetUserReadOnlyData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterStatistics": {
      "post": {
        "operationId": "GetCharacterStatistics",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves the details of all title-specific statistics for the specific character",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/getcharacterstatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterStatisticsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetCharacterStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Character statistics are similar to user statistics in that they are numeric values which may only be updated by a server operation, in order to minimize the opportunity for unauthorized changes. In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetUserStatistics",
          "Server/UpdateCharacterStatistics"
        ],
        "x-ms-docs-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GetContentDownloadUrl": {
      "post": {
        "operationId": "GetContentDownloadUrl",
        "tags": [
          "Content"
        ],
        "description": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/content/getcontentdownloadurl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContentDownloadUrlRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetContentDownloadUrlResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ]
      }
    },
    "/Server/GetFriendLeaderboard": {
      "post": {
        "operationId": "GetFriendLeaderboard",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked friends of the given player for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getfriendleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that the Position of the user in the results is for the overall leaderboard. If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired. If Xbox Live friends are included, make sure the access token from the previous LoginWithXbox call is still valid and not expired. ",
        "x-seeAlso": [
          "Client/GetLeaderboardAroundCurrentUser",
          "Server/GetLeaderboardAroundUser",
          "Server/GetUserStatistics"
        ],
        "x-ms-docs-errors": [
          "ExpiredXboxLiveToken",
          "FacebookAPIError",
          "InvalidXboxLiveToken",
          "LeaderboardVersionNotAvailable",
          "XboxInaccessible",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Server/GetFriendsList": {
      "post": {
        "operationId": "GetFriendsList",
        "tags": [
          "Friend List Management"
        ],
        "description": "Retrieves the current friends for the user with PlayFabId, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/friend-list-management/getfriendslist"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendsListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetFriendsListResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "If any additional services are queried for the user's friends, those friends who also have a PlayFab account registered for the title will be returned in the results. For Facebook, user has to have logged into the title's Facebook app recently, and only friends who also plays this game will be included. For Xbox Live, user has to have logged into the Xbox Live recently, and only friends who also play this game will be included.",
        "x-seeAlso": [
          "Server/AddFriend",
          "Server/GetPlayerProfile",
          "Server/RemoveFriend",
          "Server/SetFriendTags"
        ],
        "x-ms-docs-errors": [
          "AccountNotFound",
          "ExpiredXboxLiveToken",
          "FacebookAPIError",
          "InvalidXboxLiveToken",
          "XboxInaccessible",
          "XboxServiceTooManyRequests",
          "XboxXASSExchangeFailure"
        ]
      }
    },
    "/Server/GetLeaderboard": {
      "post": {
        "operationId": "GetLeaderboard",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getleaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that the Position of the user in the results is for the overall leaderboard.",
        "x-seeAlso": [
          "Server/GetLeaderboardAroundUser",
          "Server/GetUserStatistics",
          "Server/UpdateUserStatistics"
        ],
        "x-ms-docs-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Server/GetLeaderboardAroundCharacter": {
      "post": {
        "operationId": "GetLeaderboardAroundCharacter",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of ranked characters for the given statistic, centered on the requested user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/getleaderboardaroundcharacter"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundCharacterRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardAroundCharacterResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the character defaults to 0 when the character does not have the corresponding statistic.",
        "x-seeAlso": [
          "Server/GetCharacterLeaderboard",
          "Server/GetLeaderboard",
          "Server/UpdateCharacterStatistics"
        ]
      }
    },
    "/Server/GetLeaderboardAroundUser": {
      "post": {
        "operationId": "GetLeaderboardAroundUser",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked users for the given statistic, centered on the currently signed-in user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getleaderboardarounduser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardAroundUserResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetUserStatistics",
          "Server/UpdateUserStatistics"
        ],
        "x-ms-docs-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Server/GetLeaderboardForUserCharacters": {
      "post": {
        "operationId": "GetLeaderboardForUserCharacters",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of all of the user's characters for the given statistic.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/getleaderboardforusercharacters"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardForUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetLeaderboardForUsersCharactersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "NOTE: The position of the character in the results is relative to the other characters for that specific user. This mean the values will always be between 0 and one less than the number of characters returned regardless of the size of the actual leaderboard.",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetLeaderboardAroundCharacter",
          "Server/UpdateCharacterStatistics"
        ]
      }
    },
    "/Server/GetPlayerCombinedInfo": {
      "post": {
        "operationId": "GetPlayerCombinedInfo",
        "tags": [
          "Player Data Management"
        ],
        "description": "Returns whatever info is requested in the response for the user. Note that PII (like email address, facebook id) may be returned. All parameters default to false.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getplayercombinedinfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerCombinedInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerCombinedInfoResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Server/GetPlayerProfile": {
      "post": {
        "operationId": "GetPlayerProfile",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayerprofile"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerProfileResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-ms-docs-errors": [
          "PlayerNotInGame"
        ]
      }
    },
    "/Server/GetPlayerSegments": {
      "post": {
        "operationId": "GetPlayerSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/playstream/getplayersegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayersSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerSegmentsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/GetAllSegments"
        ]
      }
    },
    "/Server/GetPlayersInSegment": {
      "post": {
        "operationId": "GetPlayersInSegment",
        "tags": [
          "PlayStream"
        ],
        "description": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation. NOTE: This API is limited to being called 30 times in one minute. You will be returned an error if you exceed this threshold.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/playstream/getplayersinsegment"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayersInSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayersInSegmentResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Initial request must contain at least a Segment ID. Subsequent requests must contain the Segment ID as well as the Continuation Token. Failure to send the Continuation Token will result in a new player segment list being generated. Each time the Continuation Token is passed in the length of the Total Seconds to Live is refreshed. If too much time passes between requests to the point that a subsequent request is past the Total Seconds to Live an error will be returned and paging will be terminated. This API is resource intensive and should not be used in scenarios which might generate high request volumes. Only one request to this API at a time should be made per title. Concurrent requests to the API may be rejected with the APIConcurrentRequestLimitExceeded error.",
        "x-seeAlso": [
          "Server/GetAllSegments"
        ],
        "x-ms-docs-errors": [
          "ExpiredContinuationToken",
          "GetPlayersInSegmentRateLimitExceeded",
          "InvalidContinuationToken",
          "InvalidSearchTerm",
          "InvalidSegment",
          "SegmentNotFound",
          "UnknownError"
        ]
      }
    },
    "/Server/GetPlayerStatistics": {
      "post": {
        "operationId": "GetPlayerStatistics",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the current version and values for the indicated statistics, for the local player.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getplayerstatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerStatisticsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerStatisticsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Server/GetPlayerStatisticVersions",
          "Admin/UpdatePlayerStatisticDefinition",
          "Server/UpdatePlayerStatistics"
        ]
      }
    },
    "/Server/GetPlayerStatisticVersions": {
      "post": {
        "operationId": "GetPlayerStatisticVersions",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the information on the available versions of the specified statistic.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getplayerstatisticversions"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerStatisticVersionsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerStatisticVersionsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Admin/CreatePlayerStatisticDefinition",
          "Server/GetPlayerStatistics",
          "Admin/UpdatePlayerStatisticDefinition",
          "Server/UpdatePlayerStatistics"
        ],
        "x-ms-docs-errors": [
          "StatisticNotFound"
        ]
      }
    },
    "/Server/GetPlayerTags": {
      "post": {
        "operationId": "GetPlayerTags",
        "tags": [
          "PlayStream"
        ],
        "description": "Get all tags with a given Namespace (optional) from a player profile.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/playstream/getplayertags"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerTagsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayerTagsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will return a list of canonical tags which includes both namespace and tag's name. If namespace is not provided, the result is a list of all canonical tags. TagName can be used for segmentation and Namespace is limited to 128 characters.",
        "x-seeAlso": [
          "Server/AddPlayerTag",
          "Server/RemovePlayerTag"
        ]
      }
    },
    "/Server/GetPlayFabIDsFromFacebookIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromFacebookIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Facebook identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromfacebookids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromFacebookIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromFacebookIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Facebook identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPlayFabIDsFromFacebookInstantGamesIds": {
      "post": {
        "operationId": "GetPlayFabIDsFromFacebookInstantGamesIds",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Facebook Instant Games identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromfacebookinstantgamesids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromFacebookInstantGamesIdsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromFacebookInstantGamesIdsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Facebook Instant Games identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPlayFabIDsFromGenericIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromGenericIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of generic service identifiers. A generic identifier is the service name plus the service-specific ID for the player, as specified by the title when the generic identifier was added to the player account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromgenericids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromGenericIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromGenericIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For generic service identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-seeAlso": [
          "Server/AddGenericID",
          "Server/RemoveGenericID"
        ]
      }
    },
    "/Server/GetPlayFabIDsFromNintendoServiceAccountIds": {
      "post": {
        "operationId": "GetPlayFabIDsFromNintendoServiceAccountIds",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Nintendo Service Account identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromnintendoserviceaccountids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromNintendoServiceAccountIdsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromNintendoServiceAccountIdsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Nintendo Service Account identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPlayFabIDsFromNintendoSwitchDeviceIds": {
      "post": {
        "operationId": "GetPlayFabIDsFromNintendoSwitchDeviceIds",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Nintendo Switch Device identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromnintendoswitchdeviceids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromNintendoSwitchDeviceIdsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromNintendoSwitchDeviceIdsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Nintendo Switch Device identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPlayFabIDsFromPSNAccountIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromPSNAccountIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of PlayStation :tm: Network identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfrompsnaccountids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromPSNAccountIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromPSNAccountIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For PlayStation :tm: Network identifiers which have not been linked to PlayFab accounts, null will be returned.",
        "x-ms-trademark": {
          "description": "\"PlayStation\" is a registered trademark or trademark of Sony Interactive Entertainment Inc.",
          "type": "string"
        }
      }
    },
    "/Server/GetPlayFabIDsFromSteamIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromSteamIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Steam identifiers. The Steam identifiers are the profile IDs for the user accounts, available as SteamId in the Steamworks Community API calls.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromsteamids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromSteamIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromSteamIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Steam identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPlayFabIDsFromTwitchIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromTwitchIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of Twitch identifiers. The Twitch identifiers are the IDs for the user accounts, available as \"_id\" from the Twitch API methods (ex: https://github.com/justintv/Twitch-API/blob/master/v3_resources/users.md#get-usersuser).",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromtwitchids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromTwitchIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromTwitchIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For Twitch identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPlayFabIDsFromXboxLiveIDs": {
      "post": {
        "operationId": "GetPlayFabIDsFromXboxLiveIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the unique PlayFab identifiers for the given set of XboxLive identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getplayfabidsfromxboxliveids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayFabIDsFromXboxLiveIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPlayFabIDsFromXboxLiveIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For XboxLive identifiers which have not been linked to PlayFab accounts, null will be returned."
      }
    },
    "/Server/GetPublisherData": {
      "post": {
        "operationId": "GetPublisherData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom publisher settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/getpublisherdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPublisherDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetPublisherDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return publisher-specific values which can be read, but not written to, by the client. This data is shared across all titles assigned to a particular publisher, and can be used for cross-game coordination. Only titles assigned to a publisher can use this API. For more information email helloplayfab@microsoft.com. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-seeAlso": [
          "Server/SetPublisherData"
        ],
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetRandomResultTables": {
      "post": {
        "operationId": "GetRandomResultTables",
        "tags": [
          "Player Item Management"
        ],
        "description": "Retrieves the configuration information for the specified random results tables for the title, including all ItemId values and weights",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/getrandomresulttables"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetRandomResultTablesRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetRandomResultTablesResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "Note that if a specified Random Result Table contains no entries, or does not exist in the catalog, an InvalidDropTable error will be returned.",
        "x-seeAlso": [
          "Server/EvaluateRandomResultTable"
        ],
        "x-ms-docs-errors": [
          "CatalogNotConfigured",
          "InvalidDropTable"
        ]
      }
    },
    "/Server/GetServerCustomIDsFromPlayFabIDs": {
      "post": {
        "operationId": "GetServerCustomIDsFromPlayFabIDs",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the associated PlayFab account identifiers for the given set of server custom identifiers.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getservercustomidsfromplayfabids"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetServerCustomIDsFromPlayFabIDsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetServerCustomIDsFromPlayFabIDsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-responseDetails": "For a PlayFab account that isn't associated with a server custom identity, ServerCustomId will be null."
      }
    },
    "/Server/GetSharedGroupData": {
      "post": {
        "operationId": "GetSharedGroupData",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Retrieves data stored in a shared group object, as well as the list of members in the group. The server can access all public and private group data. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://docs.microsoft.com/gaming/playfab/features/social/groups/using-shared-group-data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/shared-group-data/getsharedgroupdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetSharedGroupDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetSharedGroupDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/GetStoreItems": {
      "post": {
        "operationId": "GetStoreItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the set of items defined for the specified store, including all prices defined, for the specified player",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/getstoreitems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetStoreItemsServerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetStoreItemsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "A store contains an array of references to items defined in one or more catalog versions of the game, along with the prices for the item, in both real world and virtual currencies. These prices act as an override to any prices defined in the catalog. In this way, the base definitions of the items may be defined in the catalog, with all associated properties, while the pricing can be set for each store, as needed. This allows for subsets of goods to be defined for different purposes (in order to simplify showing some, but not all catalog items to users, based upon different characteristics), along with unique prices. Note that all prices defined in the catalog and store definitions for the item are considered valid, and that a compromised client can be made to send a request for an item based upon any of these definitions. If no price is specified in the store for an item, the price set in the catalog should be displayed to the user.",
        "x-seeAlso": [
          "Server/GetCatalogItems"
        ],
        "x-ms-docs-errors": [
          "CatalogNotConfigured",
          "StoreNotFound"
        ]
      }
    },
    "/Server/GetTime": {
      "post": {
        "operationId": "GetTime",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the current server time",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/gettime"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTimeRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTimeResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This query retrieves the current time from one of the servers in PlayFab. Please note that due to clock drift between servers, there is a potential variance of up to 5 seconds.",
        "x-responseDetails": "Time is always returned as Coordinated Universal Time (UTC).",
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetTitleData": {
      "post": {
        "operationId": "GetTitleData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom title settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/gettitledata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return title specific values which can be read, but not written to, by the client. For example, a developer could choose to store values which modify the user experience, such as enemy spawn rates, weapon strengths, movement speeds, etc. This allows a developer to update the title without the need to create, test, and ship a new build. If an override label is specified in the request, the overrides are applied automatically and returned with the title data. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-seeAlso": [
          "Server/SetTitleData"
        ]
      }
    },
    "/Server/GetTitleInternalData": {
      "post": {
        "operationId": "GetTitleInternalData",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the key-value store of custom internal title settings",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/gettitleinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API is designed to return title specific values which are accessible only to the server. This can be used to tweak settings on game servers and Cloud Scripts without needed to update and re-deploy them. Note that there may up to a minute delay in between updating title data and this API call returning the newest value.",
        "x-seeAlso": [
          "Server/SetTitleInternalData"
        ]
      }
    },
    "/Server/GetTitleNews": {
      "post": {
        "operationId": "GetTitleNews",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the title news feed, as configured in the developer portal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/title-wide-data-management/gettitlenews"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetTitleNewsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetTitleNewsResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Server/GetUserAccountInfo": {
      "post": {
        "operationId": "GetUserAccountInfo",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the relevant details for a specified user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getuseraccountinfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserAccountInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserAccountInfoResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-seeAlso": [
          "Server/GetUserInventory"
        ]
      }
    },
    "/Server/GetUserBans": {
      "post": {
        "operationId": "GetUserBans",
        "tags": [
          "Account Management"
        ],
        "description": "Gets all bans for a user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/getuserbans"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserBansRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserBansResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Get all bans for a user, including inactive and expired bans. ",
        "x-seeAlso": [
          "Server/BanUsers",
          "Server/RevokeAllBansForUser",
          "Server/RevokeBans",
          "Server/UpdateBans"
        ],
        "x-ms-docs-errors": [
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetUserData": {
      "post": {
        "operationId": "GetUserData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getuserdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserInternalData",
          "Server/GetUserReadOnlyData",
          "Server/UpdateUserData",
          "Server/UpdateUserInternalData",
          "Server/UpdateUserReadOnlyData"
        ]
      }
    },
    "/Server/GetUserInternalData": {
      "post": {
        "operationId": "GetUserInternalData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getuserinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserData",
          "Server/GetUserReadOnlyData",
          "Server/UpdateUserData",
          "Server/UpdateUserInternalData",
          "Server/UpdateUserReadOnlyData"
        ]
      }
    },
    "/Server/GetUserInventory": {
      "post": {
        "operationId": "GetUserInventory",
        "tags": [
          "Player Item Management"
        ],
        "description": "Retrieves the specified user's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/getuserinventory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserInventoryRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserInventoryResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "All items currently in the user inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included.",
        "x-seeAlso": [
          "Server/GetUserAccountInfo"
        ]
      }
    },
    "/Server/GetUserPublisherData": {
      "post": {
        "operationId": "GetUserPublisherData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getuserpublisherdata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserPublisherInternalData",
          "Server/GetUserPublisherReadOnlyData",
          "Server/UpdateUserPublisherData",
          "Server/UpdateUserPublisherInternalData",
          "Server/UpdateUserPublisherReadOnlyData"
        ],
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetUserPublisherInternalData": {
      "post": {
        "operationId": "GetUserPublisherInternalData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getuserpublisherinternaldata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserPublisherData",
          "Server/GetUserPublisherReadOnlyData",
          "Server/UpdateUserPublisherData",
          "Server/UpdateUserPublisherInternalData",
          "Server/UpdateUserPublisherReadOnlyData"
        ],
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetUserPublisherReadOnlyData": {
      "post": {
        "operationId": "GetUserPublisherReadOnlyData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the publisher-specific custom data for the user which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getuserpublisherreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserPublisherData",
          "Server/GetUserPublisherInternalData",
          "Server/UpdateUserPublisherData",
          "Server/UpdateUserPublisherInternalData",
          "Server/UpdateUserPublisherReadOnlyData"
        ],
        "x-ms-docs-errors": [
          "PublisherNotSet"
        ]
      }
    },
    "/Server/GetUserReadOnlyData": {
      "post": {
        "operationId": "GetUserReadOnlyData",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves the title-specific custom data for the user which can only be read by the client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-data-management/getuserreadonlydata"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetUserDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GetUserDataResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserData",
          "Server/GetUserInternalData",
          "Server/UpdateUserData",
          "Server/UpdateUserInternalData",
          "Server/UpdateUserReadOnlyData"
        ]
      }
    },
    "/Server/GrantCharacterToUser": {
      "post": {
        "operationId": "GrantCharacterToUser",
        "tags": [
          "Characters"
        ],
        "description": "Grants the specified character type to the user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/characters/grantcharactertouser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantCharacterToUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantCharacterToUserResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Grants a character to the user of the type and name specified in the request."
      }
    },
    "/Server/GrantItemsToCharacter": {
      "post": {
        "operationId": "GrantItemsToCharacter",
        "tags": [
          "Player Item Management"
        ],
        "description": "Adds the specified items to the specified character's inventory",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/grantitemstocharacter"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantItemsToCharacterRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantItemsToCharacterResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This function directly adds inventory items to the character's inventories. As a result of this operations, the user will not be charged any transaction fee, regardless of the inventory item catalog definition. Please note that the processing time for inventory grants and purchases increases fractionally the more items are in the inventory, and the more items are in the grant/purchase operation.",
        "x-ms-docs-errors": [
          "CatalogNotConfigured",
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GrantItemsToUser": {
      "post": {
        "operationId": "GrantItemsToUser",
        "tags": [
          "Player Item Management"
        ],
        "description": "Adds the specified items to the specified user's inventory",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/grantitemstouser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantItemsToUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantItemsToUserResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This function directly adds inventory items to the user's inventories. As a result of this operations, the user will not be charged any transaction fee, regardless of the inventory item catalog definition. Please note that the processing time for inventory grants and purchases increases fractionally the more items are in the inventory, and the more items are in the grant/purchase operation.",
        "x-responseDetails": "Please note that the order of the items in the response may not match the order of items in the request.",
        "x-ms-docs-errors": [
          "CatalogNotConfigured"
        ]
      }
    },
    "/Server/GrantItemsToUsers": {
      "post": {
        "operationId": "GrantItemsToUsers",
        "tags": [
          "Player Item Management"
        ],
        "description": "Adds the specified items to the specified user inventories",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/player-item-management/grantitemstousers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GrantItemsToUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GrantItemsToUsersResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This function directly adds inventory items to user inventories. As a result of this operations, the user will not be charged any transaction fee, regardless of the inventory item catalog definition. Please note that the processing time for inventory grants and purchases increases fractionally the more items are in the inventory, and the more items are in the grant/purchase operation.",
        "x-responseDetails": "Please note that the order of the items in the response may not match the order of items in the request.",
        "x-ms-docs-errors": [
          "CatalogNotConfigured"
        ]
      }
    },
    "/Server/LinkNintendoServiceAccount": {
      "post": {
        "operationId": "LinkNintendoServiceAccount",
        "tags": [
          "Account Management"
        ],
        "description": "Links the Nintendo account associated with the token to the user's PlayFab account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/linknintendoserviceaccount"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkNintendoServiceAccountRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmptyResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/UnlinkNintendoServiceAccount"
        ],
        "x-ms-docs-errors": [
          "InvalidIdentityProviderId",
          "LinkedIdentifierAlreadyClaimed",
          "NintendoSwitchNotEnabledForTitle"
        ]
      }
    },
    "/Server/LinkNintendoSwitchDeviceId": {
      "post": {
        "operationId": "LinkNintendoSwitchDeviceId",
        "tags": [
          "Account Management"
        ],
        "description": "Links the NintendoSwitchDeviceId to the user's PlayFab account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/linknintendoswitchdeviceid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkNintendoSwitchDeviceIdRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkNintendoSwitchDeviceIdResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/UnlinkNintendoSwitchDeviceId"
        ],
        "x-ms-docs-errors": [
          "LinkedAccountAlreadyClaimed"
        ]
      }
    },
    "/Server/LinkPSNAccount": {
      "post": {
        "operationId": "LinkPSNAccount",
        "tags": [
          "Account Management"
        ],
        "description": "Links the PlayStation :tm: Network account associated with the provided access code to the user's PlayFab account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/linkpsnaccount"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkPSNAccountRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkPSNAccountResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/UnlinkPSNAccount"
        ],
        "x-ms-trademark": {
          "description": "\"PlayStation\" is a registered trademark or trademark of Sony Interactive Entertainment Inc.",
          "type": "string"
        },
        "x-ms-docs-errors": [
          "AccountAlreadyLinked",
          "InvalidPSNAuthCode",
          "InvalidPSNIssuerId",
          "LinkedAccountAlreadyClaimed",
          "PSNInaccessible",
          "RequestViewConstraintParamsNotAllowed"
        ]
      }
    },
    "/Server/LinkServerCustomId": {
      "post": {
        "operationId": "LinkServerCustomId",
        "tags": [
          "Account Management"
        ],
        "description": "Links the custom server identifier, generated by the title, to the user's PlayFab account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/linkservercustomid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkServerCustomIdRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkServerCustomIdResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "AccountNotFound",
          "LinkedIdentifierAlreadyClaimed"
        ]
      }
    },
    "/Server/LinkXboxAccount": {
      "post": {
        "operationId": "LinkXboxAccount",
        "tags": [
          "Account Management"
        ],
        "description": "Links the Xbox Live account associated with the provided access code to the user's PlayFab account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/account-management/linkxboxaccount"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LinkXboxAccountRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkXboxAccountResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/LoginWithXbox",
          "Server/UnlinkXboxAccount"
        ],
        "x-ms-docs-errors": [
          "AccountAlreadyLinked",
          "InvalidXboxLiveToken",
          "LinkedAccountAlreadyClaimed"
        ]
      }
    },
    "/Server/LoginWithServerCustomId": {
      "post": {
        "operationId": "LoginWithServerCustomId",
        "tags": [
          "Authentication"
        ],
        "description": "Securely login a game client from an external server backend using a custom identifier for that player. Server Custom ID and Client Custom ID are mutually exclusive and cannot be used to retrieve the same player account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/authentication/loginwithservercustomid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LoginWithServerCustomIdRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ServerLoginResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-ms-docs-errors": [
          "EvaluationModePlayerCountExceeded"
        ]
      }
    },
    "/Server/LoginWithSteamId": {
      "post": {
        "operationId": "LoginWithSteamId",
        "tags": [
          "Authentication"
        ],
        "description": "Signs the user in using an Steam ID, returning a session identifier that can subsequently be used for API calls which require an authenticated user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/playfab/server/authentication/loginwithsteamid"
        },
        "parameters": [
          {
            "$ref": "#/parameters/LoginWithSteamIdRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ServerLoginResult"
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If this is the first time a user has signed in with the Steam ID and CreateAccount is set to true, a new PlayFab account will be created and linked to the Steam account. In this case, no email or username will be associated with the PlayFab account. Otherwise, if no PlayFab account is linked to the Steam account, an error indicating this will be returned, so that the title can guide the user through creation of a PlayFab account. Steam users that are not logged into the Steam Client app will only have their Steam username synced, other data, such as currency and country will not be available until they login while the Client is open.",
        "x-ms-docs-errors": [
[...]
