{
  "swagger": "2.0",
  "info": {
    "version": "181015",
    "title": "PlayFab Server API",
    "description": "Provides functionality to allow external (developer-controlled) servers to interact with user inventories and data in a trusted manner, and to handle matchmaking and client connection orchestration",
    "termsOfService": "https://playfab.com/terms/",
    "contact": {
      "url": "https://community.playfab.com/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/PlayFab/API_Specs/blob/master/LICENSE"
    }
  },
  "host": "titleId.playfabapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Server/AddCharacterVirtualCurrency": {
      "post": {
        "operationId": "AddCharacterVirtualCurrency",
        "tags": [
          "Player Item Management"
        ],
        "description": "Increments the character's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AddCharacterVirtualCurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddCharacterVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ModifyCharacterVirtualCurrencyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "VirtualCurrency": "GC",
                  "Balance": 1500
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/AddUserVirtualCurrency",
          "Server/SubtractCharacterVirtualCurrency"
        ],
        "x-errors": [
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Server/AddFriend": {
      "post": {
        "operationId": "AddFriend",
        "tags": [
          "Friend List Management"
        ],
        "description": "Adds the Friend user to the friendlist of the user with PlayFabId. At least one of FriendPlayFabId,FriendUsername,FriendEmail, or FriendTitleDisplayName should be initialized.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AddFriend"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddFriendRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/GetFriendsList",
          "Server/RemoveFriend",
          "Server/SetFriendTags"
        ],
        "x-errors": [
          "AccountNotFound",
          "InvalidPublisherId",
          "UsersAlreadyFriends"
        ]
      }
    },
    "/Server/AddPlayerTag": {
      "post": {
        "operationId": "AddPlayerTag",
        "tags": [
          "PlayStream"
        ],
        "description": "Adds a given tag to a player profile. The tag's namespace is automatically generated based on the source of the tag.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AddPlayerTag"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddPlayerTagRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AddPlayerTagResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API will trigger a player_tag_added event and add a tag with the given TagName and PlayFabID to the corresponding player profile. TagName can be used for segmentation and it is limited to 256 characters. Also there is a limit on the number of tags a title can have.",
        "x-seeAlso": [
          "Server/GetPlayerTags",
          "Server/RemovePlayerTag"
        ],
        "x-errors": [
          "AccountNotFound",
          "PlayerTagCountLimitExceeded"
        ]
      }
    },
    "/Server/AddSharedGroupMembers": {
      "post": {
        "operationId": "AddSharedGroupMembers",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Adds users to the set of those able to update both the shared data, as well as the set of users in the group. Only users in the group (and the server) can add new members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AddSharedGroupMembers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddSharedGroupMembersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AddSharedGroupMembersResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-errors": [
          "AccountNotFound",
          "InvalidSharedGroupId",
          "UserAlreadyAdded"
        ]
      }
    },
    "/Server/AddUserVirtualCurrency": {
      "post": {
        "operationId": "AddUserVirtualCurrency",
        "tags": [
          "Player Item Management"
        ],
        "description": "Increments the user's balance of the specified virtual currency by the stated amount",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AddUserVirtualCurrency"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AddUserVirtualCurrencyRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ModifyUserVirtualCurrencyResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "B456AE0",
                  "VirtualCurrency": "GC",
                  "BalanceChange": 10,
                  "Balance": 1500
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/SubtractUserVirtualCurrency"
        ],
        "x-errors": [
          "InvalidVirtualCurrency"
        ]
      }
    },
    "/Server/AuthenticateSessionTicket": {
      "post": {
        "operationId": "AuthenticateSessionTicket",
        "tags": [
          "Authentication"
        ],
        "description": "Validated a client's session ticket, and if successful, returns details for that user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AuthenticateSessionTicket"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AuthenticateSessionTicketRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AuthenticateSessionTicketResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "UserInfo": {
                    "PlayFabId": "10931252888739651331",
                    "Username": "accountname"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-errors": [
          "InvalidSessionTicket"
        ]
      }
    },
    "/Server/AwardSteamAchievement": {
      "post": {
        "operationId": "AwardSteamAchievement",
        "tags": [
          "Platform Specific Methods"
        ],
        "description": "Awards the specified users the specified Steam achievements",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/AwardSteamAchievement"
        },
        "parameters": [
          {
            "$ref": "#/parameters/AwardSteamAchievementRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/AwardSteamAchievementResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "AchievementResults": [
                    {
                      "PlayFabId": "234974573892",
                      "AchievementName": "FinishLevel1",
                      "Result": true
                    },
                    {
                      "PlayFabId": "334353433",
                      "AchievementName": "FinishLevel1",
                      "Result": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Server/BanUsers": {
      "post": {
        "operationId": "BanUsers",
        "tags": [
          "Account Management"
        ],
        "description": "Bans users by PlayFab ID with optional IP address, or MAC address for the provided game.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/BanUsers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BanUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/BanUsersResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "BanData": [
                    {
                      "PlayFabId": "1679AF5CD04BD838",
                      "BanId": "E0B5FF89542D413C",
                      "IPAddress": "192.111.11.1",
                      "Created": "2016-08-13T05:04:03",
                      "Reason": "You cheated!"
                    },
                    {
                      "PlayFabId": "2329AF5CD04BF513",
                      "BanId": "EF43FF89542G1546",
                      "Created": "2016-05-13T05:04:03",
                      "Expires": "2016-09-13T05:04:03",
                      "Reason": "You used speed hack!",
                      "Active": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "The existence of each user will not be verified. When banning by IP or MAC address, multiple players may be affected, so use this feature with caution. Returns information about the new bans.",
        "x-seeAlso": [
          "Server/GetUserBans",
          "Server/RevokeAllBansForUser",
          "Server/RevokeBans",
          "Server/UpdateBans"
        ]
      }
    },
    "/Server/ConsumeItem": {
      "post": {
        "operationId": "ConsumeItem",
        "tags": [
          "Player Item Management"
        ],
        "description": "Consume uses of a consumable item. When all uses are consumed, it will be removed from the player's inventory.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/ConsumeItem"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ConsumeItemRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ConsumeItemResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-errors": [
          "AccountNotFound",
          "CharacterNotFound",
          "InvalidItemProperties",
          "ItemNotFound",
          "NoRemainingUses"
        ]
      }
    },
    "/Server/CreateSharedGroup": {
      "post": {
        "operationId": "CreateSharedGroup",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Requests the creation of a shared group object, containing key/value pairs which may be updated by all members of the group. When created by a server, the group will initially have no members. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/CreateSharedGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/CreateSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/CreateSharedGroupResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "SharedGroupId": "Clan Data"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "If SharedGroupId is specified, the service will attempt to create a group with that identifier, and will return an error if it is already in use. If no SharedGroupId is specified, a random identifier will be assigned.",
        "x-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/DeleteCharacterFromUser": {
      "post": {
        "operationId": "DeleteCharacterFromUser",
        "tags": [
          "Characters"
        ],
        "description": "Deletes the specific character ID from the specified user.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/DeleteCharacterFromUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteCharacterFromUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteCharacterFromUserResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {}
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This function will delete the specified character from the list allowed by the user, and will also delete any inventory or VC currently held by that character. It will NOT delete any statistics associated for this character, in order to preserve leaderboard integrity.",
        "x-errors": [
          "AccountNotFound",
          "CharacterNotFound"
        ]
      }
    },
    "/Server/DeletePlayer": {
      "post": {
        "operationId": "DeletePlayer",
        "tags": [
          "Account Management"
        ],
        "description": "Removes a user's player account from a title and deletes all associated data",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/DeletePlayer"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeletePlayerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeletePlayerResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Deletes all data associated with the player, including statistics, custom data, inventory, purchases, virtual currency balances, characters and shared group memberships. Removes the player from all leaderboards and player search indexes. Does not delete PlayStream event history associated with the player. Does not delete the publisher user account that created the player in the title nor associated data such as username, password, email address, account linkages, or friends list. Note, this API queues the player for deletion and returns immediately. It may take several minutes or more before all player data is fully deleted. Until the player data is fully deleted, attempts to recreate the player with the same user account in the same title will fail with the 'AccountDeleted' error. This API must be enabled for use as an option in the game manager website. It is disabled by default.",
        "x-errors": [
          "AccountDeleted",
          "AccountNotFound",
          "APINotEnabledForGameServerAccess"
        ]
      }
    },
    "/Server/DeleteSharedGroup": {
      "post": {
        "operationId": "DeleteSharedGroup",
        "tags": [
          "Shared Group Data"
        ],
        "description": "Deletes a shared group, freeing up the shared group ID to be reused for a new group. Shared Groups are designed for sharing data between a very small number of players, please see our guide: https://api.playfab.com/docs/tutorials/landing-players/shared-groups",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/DeleteSharedGroup"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteSharedGroupRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EmptyResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-errors": [
          "InvalidSharedGroupId"
        ]
      }
    },
    "/Server/DeleteUsers": {
      "post": {
        "operationId": "DeleteUsers",
        "tags": [
          "Player Data Management"
        ],
        "description": "Deletes custom data, all account linkages, and statistics.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/DeleteUsers"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeleteUsersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeleteUsersResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Note that this action cannot be undone. It will unlink all accounts, reset any statistics and leaderboards, and clear out any stored custom data for the user. This API must be enabled for use as an option in the game manager website. It is disabled by default.",
        "x-deprecation": {
          "ProposedAfter": "8/29/2018",
          "DeprecatedAfter": "9/29/2018",
          "ObsoleteAfter": "10/29/2018",
          "ReplacedBy": "DeletePlayer"
        },
        "x-errors": [
          "APINotEnabledForGameServerAccess",
          "InvalidPublisherId",
          "InvalidTitleId"
        ]
      }
    },
    "/Server/DeregisterGame": {
      "post": {
        "operationId": "DeregisterGame",
        "tags": [
          "Matchmaking"
        ],
        "description": "Inform the matchmaker that a Game Server Instance is removed.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/DeregisterGame"
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeregisterGameRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/DeregisterGameResponse"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": null
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/RegisterGame"
        ]
      }
    },
    "/Server/EvaluateRandomResultTable": {
      "post": {
        "operationId": "EvaluateRandomResultTable",
        "tags": [
          "Player Item Management"
        ],
        "description": "Returns the result of an evaluation of a Random Result Table - the ItemId from the game Catalog which would have been added to the player inventory, if the Random Result Table were added via a Bundle or a call to UnlockContainer.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/EvaluateRandomResultTable"
        },
        "parameters": [
          {
            "$ref": "#/parameters/EvaluateRandomResultTableRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/EvaluateRandomResultTableResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ResultItemId": "RareGreenAttackCard"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that if the Random Result Table contains no entries, or does not exist for the catalog specified (the Primary catalog if one is not specified), an InvalidDropTable error will be returned.",
        "x-errors": [
          "CatalogNotConfigured",
          "InvalidDropTable"
        ]
      }
    },
    "/Server/ExecuteCloudScript": {
      "post": {
        "operationId": "ExecuteCloudScript",
        "tags": [
          "Server-Side Cloud Script"
        ],
        "description": "Executes a CloudScript function, with the 'currentPlayerId' variable set to the specified PlayFabId parameter value.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/ExecuteCloudScript"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ExecuteCloudScriptServerRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ExecuteCloudScriptResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Revision": 3,
                  "FunctionResult": {
                    "newScore": 25
                  },
                  "Logs": [
                    {
                      "Level": "Info",
                      "Message": "Something normal happened",
                      "Data": {
                        "secondsAfterStart": 75
                      }
                    },
                    {
                      "Level": "Error",
                      "Message": "Something unexpected happened"
                    }
                  ],
                  "ExecutionTimeSeconds": 0.03670790046453476,
                  "MemoryConsumedBytes": 38904,
                  "APIRequestsIssued": 2
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-errors": [
          "CloudScriptAPIRequestCountExceeded",
          "CloudScriptAPIRequestError",
          "CloudScriptFunctionArgumentSizeExceeded",
          "CloudScriptHTTPRequestError",
          "CloudScriptNotFound",
          "JavascriptException"
        ]
      }
    },
    "/Server/GetAllActionGroups": {
      "post": {
        "operationId": "GetAllActionGroups",
        "tags": [
          "PlayStream"
        ],
        "description": "Retrieve a list of all PlayStream actions groups.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetAllActionGroups"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAllActionGroupsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAllActionGroupsResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ActionGroups": [
                    {
                      "Name": "Grant beta items",
                      "Id": "12389170481"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-deprecation": {
          "ProposedAfter": "8/14/2017",
          "DeprecatedAfter": "9/14/2017",
          "ObsoleteAfter": "10/14/2017",
          "ReplacedBy": "GetAllSegments"
        },
        "x-seeAlso": [
          "Server/GetAllSegments"
        ]
      }
    },
    "/Server/GetAllSegments": {
      "post": {
        "operationId": "GetAllSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "Retrieves an array of player segment definitions. Results from this can be used in subsequent API calls such as GetPlayersInSegment which requires a Segment ID. While segment names can change the ID for that segment will not change.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetAllSegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetAllSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetAllSegmentsResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Segments": [
                    {
                      "Id": "1337AA00",
                      "Name": "Fast Players"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Request has no paramaters.",
        "x-seeAlso": [
          "Server/GetPlayersInSegment"
        ]
      }
    },
    "/Server/GetAllUsersCharacters": {
      "post": {
        "operationId": "GetAllUsersCharacters",
        "tags": [
          "Characters"
        ],
        "description": "Lists all of the characters that belong to a specific user. CharacterIds are not globally unique; characterId must be evaluated with the parent PlayFabId to guarantee uniqueness.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetAllUsersCharacters"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ListUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/ListUsersCharactersResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Characters": [
                    {
                      "CharacterId": "3345677",
                      "CharacterName": "CoolDude",
                      "CharacterType": "StrongWarrior"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Returns a list of every character that currently belongs to a user."
      }
    },
    "/Server/GetCatalogItems": {
      "post": {
        "operationId": "GetCatalogItems",
        "tags": [
          "Title-Wide Data Management"
        ],
        "description": "Retrieves the specified version of the title's catalog of virtual goods, including all defined properties",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCatalogItems"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCatalogItemsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCatalogItemsResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Catalog": [
                    {
                      "ItemId": "shield_level_5",
                      "ItemClass": "shields",
                      "CatalogVersion": "5",
                      "DisplayName": "Level 5 Shield",
                      "Description": "Strong defense against projectile attacks",
                      "VirtualCurrencyPrices": {
                        "RM": 199,
                        "GV": 25
                      },
                      "RealCurrencyPrices": {
                        "GBP": 149,
                        "EUR": 169
                      }
                    },
                    {
                      "ItemId": "energy_boost_1",
                      "ItemClass": "boosts",
                      "CatalogVersion": "5",
                      "DisplayName": "Energy Drink Six-Pack",
                      "Description": "Get a quick burst of energy whenever you need it",
                      "VirtualCurrencyPrices": {
                        "RM": 199,
                        "GV": 25
                      }
                    },
                    {
                      "ItemId": "required_item_for_grant_a_1",
                      "ItemClass": "sets",
                      "CatalogVersion": "5",
                      "DisplayName": "Grant Set Item 1",
                      "Description": "Item 1 from the set of items needed to get Granted Item A for free",
                      "VirtualCurrencyPrices": {
                        "RM": 249,
                        "GV": 1500
                      }
                    },
                    {
                      "ItemId": "required_item_for_grant_a_2",
                      "ItemClass": "sets",
                      "CatalogVersion": "5",
                      "DisplayName": "Grant Set Item 2",
                      "Description": "Item 2 from the set of items needed to get Granted Item A for free",
                      "VirtualCurrencyPrices": {
                        "RM": 249,
                        "GV": 1500
                      }
                    },
                    {
                      "ItemId": "required_item_for_grant_a_3",
                      "ItemClass": "sets",
                      "CatalogVersion": "5",
                      "DisplayName": "Grant Set Item 3",
                      "Description": "Item 3 from the set of items needed to get Granted Item A for free",
                      "VirtualCurrencyPrices": {
                        "RM": 249,
                        "GV": 1500
                      }
                    },
                    {
                      "ItemId": "required_item_for_grant_a_4",
                      "ItemClass": "sets",
                      "CatalogVersion": "5",
                      "DisplayName": "Grant Set Item 4",
                      "Description": "Item 4 from the set of items needed to get Granted Item A for free",
                      "VirtualCurrencyPrices": {
                        "RM": 249,
                        "GV": 1500
                      }
                    },
                    {
                      "ItemId": "granted_item_a",
                      "ItemClass": "sets",
                      "CatalogVersion": "5",
                      "DisplayName": "Granted Item A",
                      "Description": "Bonus item granted for free once the full set of 4 Grant Set items are collected"
                    },
                    {
                      "ItemId": "consumable_item_1",
                      "ItemClass": "Consumables",
                      "CatalogVersion": "5",
                      "DisplayName": "Consumable Item 1",
                      "Description": "Item demonstrating usage-based consumables",
                      "VirtualCurrencyPrices": {
                        "GV": 500
                      },
                      "Consumable": {
                        "UsageCount": 3
                      }
                    },
                    {
                      "ItemId": "consumable_item_2",
                      "ItemClass": "Consumables",
                      "CatalogVersion": "5",
                      "DisplayName": "Consumable Item 2",
                      "Description": "Item demonstrating time-based consumables",
                      "VirtualCurrencyPrices": {
                        "GV": 750
                      },
                      "Consumable": {
                        "UsagePeriod": 3600,
                        "UsagePeriodGroup": "usage_group_1"
                      }
                    },
                    {
                      "ItemId": "sub_bundle_item_1",
                      "ItemClass": "Bundles",
                      "CatalogVersion": "5",
                      "DisplayName": "Bundled Item 1",
                      "Description": "Item which is added to the user inventory as part of a bundle"
                    },
                    {
                      "ItemId": "sub_bundle_item_2",
                      "ItemClass": "Bundles",
                      "CatalogVersion": "5",
                      "DisplayName": "Bundled Item 2",
                      "Description": "Item which is added to the user inventory as part of a bundle"
                    },
                    {
                      "ItemId": "item_bundle_1",
                      "ItemClass": "Bundles",
                      "CatalogVersion": "5",
                      "DisplayName": "Item bundle 1",
                      "Description": "Item which, when added to the user inventory, also adds other bundled items",
                      "VirtualCurrencyPrices": {
                        "RM": 599
                      },
                      "Bundle": {
                        "BundledItems": [
                          "sub_bundle_item_1",
                          "sub_bundle_item_2"
                        ],
                        "BundledResultTables": [
                          "random_result_1"
                        ],
                        "BundledVirtualCurrencies": {
                          "GV": 1000
                        }
                      }
                    },
                    {
                      "ItemId": "key_item_1",
                      "ItemClass": "Containers",
                      "CatalogVersion": "5",
                      "DisplayName": "Key Item 1",
                      "Description": "Key used to unlock Container 1",
                      "VirtualCurrencyPrices": {
                        "RM": 199
                      }
                    },
                    {
                      "ItemId": "sub_container_item_1",
                      "ItemClass": "Containers",
                      "CatalogVersion": "5",
                      "DisplayName": "Container Item 1",
                      "Description": "Item which is added to the user inventory as part of opening a container"
                    },
                    {
                      "ItemId": "sub_container_item_2",
                      "ItemClass": "Containers",
                      "CatalogVersion": "5",
                      "DisplayName": "Container Item 2",
                      "Description": "Item which is added to the user inventory as part of opening a container"
                    },
                    {
                      "ItemId": "item_container_1",
                      "ItemClass": "Containers",
                      "CatalogVersion": "5",
                      "DisplayName": "Item Container 1",
                      "Description": "Item which, when opened with Key Item 1, also adds the items it holds to the user inventory",
                      "VirtualCurrencyPrices": {
                        "RM": 499
                      },
                      "Consumable": {
                        "UsageCount": 1
                      },
                      "Container": {
                        "KeyItemId": "key_item_1",
                        "ItemContents": [
                          "sub_container_item_1",
                          "sub_container_item_2"
                        ],
                        "ResultTableContents": [
                          "random_result_1"
                        ],
                        "VirtualCurrencyContents": {
                          "GV": 1000
                        }
                      }
                    },
                    {
                      "ItemId": "item_container_2",
                      "ItemClass": "Containers",
                      "CatalogVersion": "5",
                      "DisplayName": "Item Container 2",
                      "Description": "Item which, when opened (no key needed), adds the items it holds to the user inventory",
                      "VirtualCurrencyPrices": {
                        "RM": 99
                      },
                      "Consumable": {
                        "UsageCount": 1
                      },
                      "Container": {
                        "VirtualCurrencyContents": {
                          "GV": 1000
                        }
                      }
                    },
                    {
                      "ItemId": "starterpack_1",
                      "ItemClass": "starterpacks",
                      "CatalogVersion": "5",
                      "DisplayName": "Super Starter Pack",
                      "Description": "Everything you need to get started fast track at the right price"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Server/GetCharacterData": {
      "post": {
        "operationId": "GetCharacterData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the user which is readable and writable by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCharacterData"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "2039475",
                  "DataVersion": 12,
                  "Data": {
                    "preferences": {
                      "Value": "alpha",
                      "LastUpdated": "2014-08-20T12:30:45",
                      "Permission": "Public"
                    },
                    "progress": {
                      "Value": "level_twenty",
                      "LastUpdated": "2014-09-01T10:12:30"
                    }
                  },
                  "CharacterId": "3945734562"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserData",
          "Server/UpdateCharacterData",
          "Server/UpdateCharacterInternalData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterInternalData": {
      "post": {
        "operationId": "GetCharacterInternalData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the user's character which cannot be accessed by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCharacterInternalData"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "2039475",
                  "DataVersion": 12,
                  "Data": {
                    "preferences": {
                      "Value": "alpha",
                      "LastUpdated": "2014-08-20T12:30:45",
                      "Permission": "Public"
                    },
                    "progress": {
                      "Value": "level_twenty",
                      "LastUpdated": "2014-09-01T10:12:30"
                    }
                  },
                  "CharacterId": "3945734562"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom user data will be returned.",
        "x-seeAlso": [
          "Server/GetUserInternalData",
          "Server/UpdateCharacterData",
          "Server/UpdateCharacterInternalData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterInventory": {
      "post": {
        "operationId": "GetCharacterInventory",
        "tags": [
          "Player Item Management"
        ],
        "description": "Retrieves the specified character's current inventory of virtual goods",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCharacterInventory"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterInventoryRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCharacterInventoryResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "204883457",
                  "CharacterId": "9890723423",
                  "Inventory": [
                    {
                      "ItemId": "shield_level_5",
                      "ItemInstanceId": "9879843",
                      "ItemClass": "shields",
                      "CatalogVersion": "5"
                    },
                    {
                      "ItemId": "energy_boost_1",
                      "ItemInstanceId": "3854637",
                      "ItemClass": "boosts",
                      "RemainingUses": 4,
                      "CatalogVersion": "5"
                    }
                  ],
                  "VirtualCurrency": {
                    "GC": 15
                  },
                  "VirtualCurrencyRechargeTimes": {
                    "GC": {
                      "SecondsToRecharge": 3600,
                      "RechargeTime": "2014-01-01T12:00:00",
                      "RechargeMax": 50
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "All items currently in the character inventory will be returned, irrespective of how they were acquired (via purchasing, grants, coupons, etc.). Items that are expired, fully consumed, or are no longer valid are not considered to be in the user's current inventory, and so will not be not included. Also returns their virtual currency balances.",
        "x-seeAlso": [
          "Server/GetUserInventory"
        ],
        "x-errors": [
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GetCharacterLeaderboard": {
      "post": {
        "operationId": "GetCharacterLeaderboard",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of ranked characters for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCharacterLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCharacterLeaderboardResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Leaderboard": [
                    {
                      "PlayFabId": "10931252888739651331",
                      "CharacterId": "9874325",
                      "DisplayName": "username",
                      "CharacterType": "blue_warriors",
                      "StatValue": 12
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the character in the results is for the overall leaderboard.",
        "x-seeAlso": [
          "Server/GetCharacterStatistics",
          "Server/GetLeaderboardAroundCharacter",
          "Server/UpdateCharacterStatistics"
        ]
      }
    },
    "/Server/GetCharacterReadOnlyData": {
      "post": {
        "operationId": "GetCharacterReadOnlyData",
        "tags": [
          "Character Data"
        ],
        "description": "Retrieves the title-specific custom data for the user's character which can only be read by the client",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCharacterReadOnlyData"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterDataRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCharacterDataResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "2039475",
                  "DataVersion": 12,
                  "Data": {
                    "preferences": {
                      "Value": "alpha",
                      "LastUpdated": "2014-08-20T12:30:45",
                      "Permission": "Public"
                    },
                    "progress": {
                      "Value": "level_twenty",
                      "LastUpdated": "2014-09-01T10:12:30"
                    }
                  },
                  "CharacterId": "3945734562"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Data is stored as JSON key-value pairs. If the Keys parameter is provided, the data object returned will only contain the data specific to the indicated Keys. Otherwise, the full set of custom data will be returned.",
        "x-seeAlso": [
          "Server/GetCharacterData",
          "Server/GetCharacterInternalData",
          "Server/GetUserReadOnlyData",
          "Server/UpdateCharacterReadOnlyData"
        ],
        "x-errors": [
          "CharacterNotFound",
          "UserisNotValid"
        ]
      }
    },
    "/Server/GetCharacterStatistics": {
      "post": {
        "operationId": "GetCharacterStatistics",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves the details of all title-specific statistics for the specific character",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetCharacterStatistics"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetCharacterStatisticsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetCharacterStatisticsResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "10931252888739651331",
                  "CharacterId": "98765432",
                  "CharacterStatistics": {
                    "Headshots": 18,
                    "Kills": 47
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "Character statistics are similar to user statistics in that they are numeric values which may only be updated by a server operation, in order to minimize the opportunity for unauthorized changes. In addition to being available for use by the title, the statistics are used for all leaderboard operations in PlayFab.",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetUserStatistics",
          "Server/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "AccountNotFound",
          "CharacterNotFound"
        ]
      }
    },
    "/Server/GetContentDownloadUrl": {
      "post": {
        "operationId": "GetContentDownloadUrl",
        "tags": [
          "Content"
        ],
        "description": "This API retrieves a pre-signed URL for accessing a content file for the title. A subsequent HTTP GET to the returned URL will attempt to download the content. A HEAD query to the returned URL will attempt to retrieve the metadata of the content. Note that a successful result does not guarantee the existence of this content - if it has not been uploaded, the query to retrieve the data will fail. See this post for more information: https://community.playfab.com/hc/en-us/community/posts/205469488-How-to-upload-files-to-PlayFab-s-Content-Service. Also, please be aware that the Content service is specifically PlayFab's CDN offering, for which standard CDN rates apply.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetContentDownloadUrl"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetContentDownloadUrlRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetContentDownloadUrlResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "URL": "https://..."
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Admin/DeleteContent",
          "Client/GetContentDownloadUrl",
          "Admin/GetContentList",
          "Admin/GetContentUploadUrl"
        ]
      }
    },
    "/Server/GetFriendLeaderboard": {
      "post": {
        "operationId": "GetFriendLeaderboard",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked friends of the given player for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetFriendLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Leaderboard": [
                    {
                      "PlayFabId": "10931252888739651331",
                      "DisplayName": "username",
                      "StatValue": 12,
                      "Profile": {
                        "AvatarUrl": "https://example.org/profile.jpg",
                        "Statistics": [
                          {
                            "Name": "Points",
                            "Version": 2,
                            "Value": 15
                          },
                          {
                            "Name": "XP",
                            "Version": 1,
                            "Value": 10
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard. If Facebook friends are included, make sure the access token from previous LoginWithFacebook call is still valid and not expired.",
        "x-seeAlso": [
          "Client/GetLeaderboardAroundCurrentUser",
          "Server/GetLeaderboardAroundUser",
          "Server/GetUserStatistics"
        ],
        "x-errors": [
          "FacebookAPIError"
        ]
      }
    },
    "/Server/GetFriendsList": {
      "post": {
        "operationId": "GetFriendsList",
        "tags": [
          "Friend List Management"
        ],
        "description": "Retrieves the current friends for the user with PlayFabId, constrained to users who have PlayFab accounts. Friends from linked accounts (Facebook, Steam) are also included. You may optionally exclude some linked services' friends.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetFriendsList"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetFriendsListRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetFriendsListResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Friends": [
                    {
                      "FriendPlayFabId": "93798903892789754",
                      "Username": "accountName",
                      "TitleDisplayName": "Davros01",
                      "Tags": [
                        "single blue eye",
                        "genius with robotics"
                      ],
                      "CurrentMatchmakerLobbyId": "2073",
                      "Profile": {
                        "AvatarUrl": "https://example.org/profile1.jpg",
                        "Statistics": [
                          {
                            "Name": "Points",
                            "Version": 2,
                            "Value": 7
                          },
                          {
                            "Name": "Points",
                            "Version": 1,
                            "Value": 40
                          },
                          {
                            "Name": "XP",
                            "Version": 1,
                            "Value": 10
                          }
                        ]
                      }
                    },
                    {
                      "FriendPlayFabId": "334907923945f",
                      "Username": "accountName",
                      "TitleDisplayName": "CyberLeader1",
                      "Tags": [
                        "allergic to gold",
                        "upgradeable"
                      ],
                      "CurrentMatchmakerLobbyId": "2073",
                      "Profile": {
                        "AvatarUrl": "https://example.org/profile2.jpg",
                        "Statistics": [
                          {
                            "Name": "Points",
                            "Version": 2,
                            "Value": 15
                          },
                          {
                            "Name": "XP",
                            "Version": 1,
                            "Value": 10
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "If any additional services are queried for the user's friends, those friends who also have a PlayFab account registered for the title will be returned in the results. For Facebook, user has to have logged into the title's Facebook app recently, and only friends who also plays this game will be included.",
        "x-seeAlso": [
          "Server/AddFriend",
          "Server/GetPlayerProfile",
          "Server/RemoveFriend",
          "Server/SetFriendTags"
        ],
        "x-errors": [
          "AccountNotFound",
          "FacebookAPIError"
        ]
      }
    },
    "/Server/GetLeaderboard": {
      "post": {
        "operationId": "GetLeaderboard",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked users for the given statistic, starting from the indicated point in the leaderboard",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetLeaderboard"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Leaderboard": [
                    {
                      "PlayFabId": "10931252888739651331",
                      "DisplayName": "username",
                      "StatValue": 12,
                      "Profile": {
                        "AvatarUrl": "https://example.org/profile.jpg",
                        "Statistics": [
                          {
                            "Name": "Points",
                            "Version": 2,
                            "Value": 15
                          },
                          {
                            "Name": "XP",
                            "Version": 1,
                            "Value": 10
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard.",
        "x-seeAlso": [
          "Server/GetLeaderboardAroundUser",
          "Server/GetUserStatistics",
          "Server/UpdateUserStatistics"
        ],
        "x-errors": [
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Server/GetLeaderboardAroundCharacter": {
      "post": {
        "operationId": "GetLeaderboardAroundCharacter",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of ranked characters for the given statistic, centered on the requested user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetLeaderboardAroundCharacter"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundCharacterRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundCharacterResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Leaderboard": [
                    {
                      "PlayFabId": "10931252888739651331",
                      "CharacterId": "987343220",
                      "CharacterName": "FighterDude",
                      "DisplayName": "username",
                      "CharacterType": "blue_warrior",
                      "StatValue": 12
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the character defaults to 0 when the character does not have the corresponding statistic.",
        "x-seeAlso": [
          "Server/GetCharacterLeaderboard",
          "Server/GetLeaderboard",
          "Server/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Server/GetLeaderboardAroundUser": {
      "post": {
        "operationId": "GetLeaderboardAroundUser",
        "tags": [
          "Player Data Management"
        ],
        "description": "Retrieves a list of ranked users for the given statistic, centered on the currently signed-in user",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetLeaderboardAroundUser"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardAroundUserRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardAroundUserResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Leaderboard": [
                    {
                      "PlayFabId": "10931252888739651331",
                      "DisplayName": "username",
                      "StatValue": 12
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note: When calling 'GetLeaderboardAround...' APIs, the position of the user defaults to 0 when the user does not have the corresponding statistic.",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetUserStatistics",
          "Server/UpdateUserStatistics"
        ],
        "x-errors": [
          "AccountNotFound",
          "LeaderboardVersionNotAvailable"
        ]
      }
    },
    "/Server/GetLeaderboardForUserCharacters": {
      "post": {
        "operationId": "GetLeaderboardForUserCharacters",
        "tags": [
          "Characters"
        ],
        "description": "Retrieves a list of all of the user's characters for the given statistic.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetLeaderboardForUserCharacters"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetLeaderboardForUsersCharactersRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetLeaderboardForUsersCharactersResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Leaderboard": [
                    {
                      "PlayFabId": "10931252888739651331",
                      "CharacterId": "987343220",
                      "CharacterName": "FighterDude",
                      "DisplayName": "username",
                      "CharacterType": "blue_warrior",
                      "StatValue": 12
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-resultDetails": "Note that the Position of the user in the results is for the overall leaderboard.",
        "x-seeAlso": [
          "Server/GetLeaderboard",
          "Server/GetLeaderboardAroundCharacter",
          "Server/UpdateCharacterStatistics"
        ],
        "x-errors": [
          "AccountNotFound"
        ]
      }
    },
    "/Server/GetPlayerCombinedInfo": {
      "post": {
        "operationId": "GetPlayerCombinedInfo",
        "tags": [
          "Player Data Management"
        ],
        "description": "Returns whatever info is requested in the response for the user. Note that PII (like email address, facebook id) may be returned. All parameters default to false.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetPlayerCombinedInfo"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerCombinedInfoRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerCombinedInfoResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayFabId": "4027527BF22653D1",
                  "InfoResultPayload": {
                    "AccountInfo": {
                      "PlayFabId": "4027527BF22653D1",
                      "Created": "2013-04-07T09:04:28",
                      "Username": "my name",
                      "TitleInfo": {
                        "Origination": "IOS",
                        "Created": "2014-01-08T11:03:18",
                        "LastLogin": "2014-04-07T09:04:28",
                        "FirstLogin": "2014-01-08T11:03:18",
                        "TitlePlayerAccount": {
                          "Id": "174812abf712",
                          "Type": "title_player_account",
                          "TypeString": "title_player_account"
                        }
                      },
                      "FacebookInfo": {
                        "FacebookId": "23525445454"
                      },
                      "SteamInfo": {
                        "SteamCountry": "US",
                        "SteamCurrency": "USD"
                      },
                      "GameCenterInfo": {
                        "GameCenterId": "someone"
                      }
                    },
                    "UserVirtualCurrency": {
                      "GC": 15
                    },
                    "UserVirtualCurrencyRechargeTimes": {
                      "GC": {
                        "SecondsToRecharge": 3600,
                        "RechargeTime": "2014-01-01T12:00:00",
                        "RechargeMax": 50
                      }
                    },
                    "UserData": {
                      "preferences": {
                        "Value": "alpha",
                        "LastUpdated": "2014-08-20T12:30:45",
                        "Permission": "Public"
                      },
                      "progress": {
                        "Value": "level_twenty",
                        "LastUpdated": "2014-09-01T10:12:30"
                      }
                    },
                    "UserDataVersion": 12,
                    "PlayerProfile": {
                      "TitleId": "TitleName",
                      "PlayerId": "10931252888739651331",
                      "Created": "0001-01-01T00:00:00",
                      "LastLogin": "0001-01-01T00:00:00",
                      "BannedUntil": "9999-12-31T23:59:59.9999999",
                      "DisplayName": "PlayerDisplayName",
                      "TotalValueToDateInUSD": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        }
      }
    },
    "/Server/GetPlayerProfile": {
      "post": {
        "operationId": "GetPlayerProfile",
        "tags": [
          "Account Management"
        ],
        "description": "Retrieves the player's profile",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetPlayerProfile"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayerProfileRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerProfileResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "PlayerProfile": {
                    "TitleId": "TitleName",
                    "PlayerId": "621EF20237534A44",
                    "Created": "0001-01-01T00:00:00",
                    "LastLogin": "0001-01-01T00:00:00",
                    "BannedUntil": "9999-12-31T23:59:59.9999999",
                    "DisplayName": "PlayerDisplayName",
                    "TotalValueToDateInUSD": 0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-requestDetails": "This API allows for access to details regarding a user in the PlayFab service, usually for purposes of customer support. Note that data returned may be Personally Identifying Information (PII), such as email address, and so care should be taken in how this data is stored and managed. Since this call will always return the relevant information for users who have accessed the title, the recommendation is to not store this data locally.",
        "x-errors": [
          "PlayerNotInGame",
          "ProfileDoesNotExist"
        ]
      }
    },
    "/Server/GetPlayerSegments": {
      "post": {
        "operationId": "GetPlayerSegments",
        "tags": [
          "PlayStream"
        ],
        "description": "List all segments that a player currently belongs to at this moment in time.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetPlayerSegments"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayersSegmentsRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayerSegmentsResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "Segments": [
                    {
                      "Id": "1337AA00",
                      "Name": "Fast Players"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ApiErrorWrapper"
          }
        },
        "x-seeAlso": [
          "Server/GetAllSegments"
        ]
      }
    },
    "/Server/GetPlayersInSegment": {
      "post": {
        "operationId": "GetPlayersInSegment",
        "tags": [
          "PlayStream"
        ],
        "description": "Allows for paging through all players in a given segment. This API creates a snapshot of all player profiles that match the segment definition at the time of its creation and lives through the Total Seconds to Live, refreshing its life span on each subsequent use of the Continuation Token. Profiles that change during the course of paging will not be reflected in the results. AB Test segments are currently not supported by this operation.",
        "externalDocs": {
          "url": "https://api.playfab.com/documentation/server/method/GetPlayersInSegment"
        },
        "parameters": [
          {
            "$ref": "#/parameters/GetPlayersInSegmentRequest"
          }
        ],
        "security": [
          {
            "SecretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "The basic wrapper around all successful api calls",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "description": "The Http status code. If X-ReportErrorAsSuccess header is set to true, this will report the actual http error code."
                },
                "status": {
                  "type": "string",
                  "description": "The Http status code as a string."
                },
                "data": {
                  "$ref": "#/responses/GetPlayersInSegmentResult"
                }
              },
              "example": {
                "code": 200,
                "status": 200,
                "data": {
                  "ProfilesInSegment": 15,
[...]
